.gridTable_table_container table tr td.ui-state-hover.appNameBgColor {
	background-color: #CFF1A5;
}
.titleColor {
	background-color: #CFF1A5;
}
.checkboxColor .box {
	background-color: #888 !important;
	pointer-events: none !important;
}