.kaf021-content{
    margin-left: 80px;
    margin-top: 10px;
}

#A1_2{
    width: 500px;
}

#tbl-control{
    margin-top: 10px;
    width: 1180px;
}

#tbl-control .cell:nth-child(1){
    width: 90px;
}

#tbl-control .cell:nth-child(2){
    width: auto;
}

#tbl-control .cell:nth-child(3){
    width: 200px;
    text-align: right;
}

#grid{
    margin-top: 10px;
}

.center-align {
    text-align: center;
}

.red-text {
    color: red;
}

.black-text {
    color: black;
}

.bg-alarm{
    background-color: #f6f636;
}

.bg-error{
    background-color: #fd4d4d;
}

.bg-special{
    background-color: #eb9152;
}