.employeeInfoSearch {
	margin-top: 10px;
	display: inline-flex;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.employeeAction {
		width: 600px;
		padding: 5px;
		margin-left: 50px;
	}
}

.infoKDL003 {
	width: 250px;
  display: inline-block;
}

.periodCovered {
	display: inline-flex;
	margin-top: 25px;
}

.lableInfo-work {
	margin-top: 8px;
	margin-left: 10px;
	width: 100%;
}

.lableInfo {
	margin-top: 8px;
	margin-left: 10px;
	width: 200px;
}

.selectionEmployee {
	margin: 0px 0px 0px 90px;
	padding: 5px;
	width: 600px;
}

.labelRangeDate {
	margin-left: 15px;
	width: 80px;
}

.labelWork {
	width: 80px;
}

#contents-area { 
	overflow-x: hidden;
}

.workInfo {
	display: inline-flex;
	width: 250px;
	padding-left: 15px;
}

.employeeWorkSetting {
  margin-top: 10px;
	margin-left: 15px;
}

.buttonWorkSetting {
  display: inline;
}
