.employeeInfoSearch {
	margin-top: 10px;
	display: inline-flex;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.employeeAction {
		width: 600px;
		padding: 5px;
		margin-left: 50px;
	}
}

.infoKDL003 {
	width: 250px;
	margin-top: -15px;
}

.periodCovered {
	display: inline-flex;
	margin-bottom: 10px;
}

.lableInfo-work {
	margin-top: 8px;
	margin-left: 10px;
	width: 100%;
}

.lableInfo {
	margin-top: 8px;
	margin-left: 10px;
	width: 200px;
}

.buttonWorkSetting {
	margin-left: -5px;
	height: 30px;
}

.infoButtonSetting {
	width: 200px;
	display: inline-flex;
}

.selectionEmployee {
	margin: 0px 30px 0px 90px;
	padding: 5px;
	width: 600px;
}

.labelRangeDate {
	margin-left: 15px;
	width: 120px;
}

.labelWork {
	margin-top: 30px;
	margin-left: 15px;
	width: 120px;
}

#contents-area { 
	overflow-x: hidden;
}

.workInfo {
	display: inline-flex;
	width: 250px;
	padding-left: 15px;
}
