/* #functions-area {
    height: 57px;
}    
#label2{
	margin: 8px 20px 4px 11px;
}
#label1{
	margin: 8px 20px 4px 11px;
}
#button2{
	margin: 8px 20px 4px 11px;
}
#button1{
	margin: 8px 20px 4px 11px;
} */