.padding-item {
	padding: 10px 0 0 10px;
}

#title{
	
	 margin: 15px 15px 15px 15px;
}

#center{

	 margin: 15px 15px 5px 15px; 
}
#F1_3{
	 margin: 15px 15px 5px 75px;
}

#F1_4 {
	margin: 15px 15px 5px 15px;
}
#functions-area-bottom {
	width: 95% !important;
	height: 50px;
}

#F1_8 {
	margin-left: 110px;
}
.F1_8{
	margin: 15px 15px 5px 15px;
	height: 20px;
}
#F1_7{
	
}


