.padding-item {
	padding: 10px 0 0 10px;
}

.fixed-flex-layout-left {
    margin-right: 10px;
}

.layout-right-column-1 {
	width: 480px;
}

.panel.ntsPanel.direction-right {
	margin-right: 0px;
}

.div-line {
	margin-bottom: 10px;
}
.column-1 {
	width: 170px;
}

#B1_6{ }
#B1_8{
	float: right;
	margin-right: 10px;
}
	
#B1_2{
	margin-left: 200px !important;
	
}

#B5_1{
	width: 40px !important;
}

.title-left{
	margin-left: 10px !important;
}
body{
	overflow: hidden;
	overflow-y: auto;
}
#contents-area {
    position: relative;
    padding: 10px;
    overflow: hidden;
}
