@CHARSET "UTF-8";

.border-all td{
	border: solid grey 1px;
	text-align: center;
	padding: 5px;
	min-width: 60px;
}

.border-all.ntsControl.nts-input {
	width: 50px;
}

.contents-area {
	margin-top: 20px !important;
	margin-left: 40px !important;
}
.bg-dark-green {
	background-color: #C7F391;
}