#ex_accept_wizard {
	width: 1200px;
	height: 480px;
}

#ex_accept_wizard>.steps {
	width: 250px;
	height: 485px;
}

#ex_accept_wizard>.content {
	width: 940px;
	height: 590px;
	background: none;
	margin-left: 5px;
	margin-right: 0px;
}
#ex_accept_wizard > .content > .body {
	padding-top: 0;
}
#file-upload {
	width: 100%;
}

#grd_Accept .img-icon {
	display: block;
	margin: 0 auto;
}

#grd_Accept .increment-col, #grd_Condition th.ui-iggrid-rowselector-class
	{
	background-color: #CFF1A5;
	text-align: right;
	height: 1em;
}

.img-icon {
	cursor: pointer;
}