#contents-area {
	margin: 20px;
	height: calc(100vh - 181px) !important;
	margin-bottom: 0px !important;
}
#master-wrapper {
	height: auto !important;
}

#tbl-control {
	width: 850px;
	margin-bottom: 10px;
}
#gridB_container {
	border: 1px solid #AAB7B8 !important;
}

.content-question {
	width: 60px;
}

.btn-question {
	float: right;
}
.ui-iggrid-header.ui-widget-header{
	text-align: center;
}
#gridB tbody tr td:NTH-CHILD(1){
	text-align: left;
}
#gridB tbody tr td:NTH-CHILD(2){
	text-align: center;
}
#gridB tbody tr td:NTH-CHILD(3){
	text-align: center;
}
#gridB tbody tr td:NTH-CHILD(4){
	text-align: center;
}
#gridB tbody tr td:NTH-CHILD(5){
	text-align: center;
}
#gridB tbody tr td:NTH-CHILD(6){
	text-align: center;
}

#gridB_headers thead th:NTH-CHILD(7){
	display: none;
}
#gridB tbody tr td:NTH-CHILD(7){
	display: none;
}
html{
	overflow: hidden;
}