.lbl_printingPosition {
	margin-left: 20px;
}

.lbl_printingPositionBig {
	margin-left: 135px;
}

.lbl_settingMarginDivision {
	margin-left: 40px;
}

#btn_helpSettingMarginDivision {
	margin-left: 40px;
	width: 40px;
	heigth: 40px;
}

.settingMargin {
	margin-left: 30px;
}

#lbl_settingOutput {
	margin-left: 30px;
}

#content_settingMargin {
	display: inline-block;
	margin-left: 70px;
}

#content_settingLineOutput  {
	margin-left: 50px;
	display: inline-block;
}

.content_printingPositionBig {
	display: inline-block;
}

.content_settingOutput {
	display: inline-block;
}

.comment-data {
	margin-left: 33px;
}

#selectSpliteLineOutput {
	margin-left: 50px;
	width: 100px;
}