body .fixed-flex-layout-left {
	padding-top: 20px;
	padding-left: 80px;
}

body .fixed-flex-layout-right {
	padding-top: 20px;
}

.inline-table {
	display: inline-table;
}

.date-range-picker {
	display: inline-block;
}

.kwr008-content .form-label {
	width: 100px;
	float: left;
}
.standardMonth{display: inline-block; position: relative; top: 2px; left: 5px;}

.panel {
	padding: 0px;
	margin-left: 10px;
}

#contents-area {
	height: calc(100vh - 161px) !important;
}
html {
	overflow: hidden;
}
.stage-frame {
	padding: 10px 20px;
	margin-left:75px;
	width: 552px;
	min-width: 552px;
	margin-bottom: 10px;
	height: 40px;
}
.item-inline {
	display: inline-block;
	padding: 5px;
}
.pt-7 {
	padding-top: 7px;
}
.switch-btn-custom.switchbox-wrappers .radio-wrapper span {
	width: 90px;
	text-align: center;
}
.custom-form-label-w50 {
	width: 50px !important;
}