body .fixed-flex-layout-left {
	padding-top: 20px;
	padding-left: 80px;
}

body .fixed-flex-layout-right {
	padding-top: 20px;
}

.inline-table {
	display: inline-table;
}

.date-range-picker {
	display: inline-block;
}

.form-label {
	width: 220px;
}
