.m4-table {
	margin-top: 5px;
	margin-bottom: 5px;
}
.m4-column1 {
	width: 150px;
	vertical-align: top;
}
.m4-column2 {
	vertical-align: middle;
}
.m4-time-editor {
	width: 100px;
	margin-top: 10px;
}
.m4-combo-box {
	width: 130px;
}