.form-group {
	margin-bottom: 5px;
}

#contents-area .drag-panel {
	display:inline-block;
	vertical-align: top;
	border: 2px solid #ccc;
	border-radius: 10px;
	width: 570px;
	padding: 25px;
	box-sizing: border-box;

}

table tr td {
    white-space: nowrap;
}
.cell1 {
	width: 150px;
}
.table {
	margin-top: 20px;
}
body {
	-ms-overflow-x: hidden;
}

.layout-date {
	display: flex;
	margin-top: -10px;
}

.va-bottom {
	vertical-align: bottom;
	margin: 1px;
}

.layout-list-date {
	display: inline-flex;
	flex-direction: column;
}

.pt-7 {
	padding-top: 7px !important;
}

.zero-display-type {
	margin-left: 44px;
}

.display-type {
	margin-left: 67px;
}

.switch-btn>button {
    width: 80px;
}

.switch-ml {
	margin-left: 61px;
}

.w-label-date {
	width: 60px;
}