.btn-stamp,
.div-btn-stamp {

  button {
    height: 100px;
    margin-bottom: 20px !important;
  }
}

#time {
  font-size: 3rem;
}

.second {
  font-size: 2rem;
}

.blue-link {
  cursor: pointer;
	color: #8d7565 !important;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 20px;
}

.row {
  margin: 0 !important;
}

.btn-kdps01a {
  border-radius: 7px;
  border: #01956A 2px solid !important;
}

.px-2 {
  padding-right: 10px !important;
  padding-left: 10px !important;
  margin-bottom: 20px !important;
}

.pt-2, .py-2 {
  padding-top: 1.5rem !important;
}

.pl-5, .px-5 {
  padding-left: 1.5rem !important;
}

.lh-1 {
  line-height: 1
}

#textComment{
  max-width: 19rem;
}