.btn-stamp,
.div-btn-stamp {
  height: 134px;
}
#date {
  font-size: 0.75rem;
}

#time {
  font-size: 2.5rem;
}

.second {
  font-size: 2rem;
}

.blue-link {
  cursor: pointer;
	color: rgb(37, 37, 238) !important;
	text-decoration: underline;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 20px;
}

.blue-link:hover {
	cursor: pointer;
	color: rgb(0, 0, 255) !important;
}

.row {
  margin: 0 !important;
}

.btn {
  border-radius: 10px !important;
}

.px-2 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.pt-2, .py-2 {
  padding-top: 1.5rem !important;
}

.pl-5, .px-5 {
  padding-left: 2rem !important;
}

.lh-1 {
  line-height: 1
}

img {
  margin: 17px;
}