.d-flex{
  display: flex;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.d-flex .checkbox-wrapper {
  width: 100px;
}

.smile-div {
  background: lightyellow;
  min-height: 50px;
  width: 900px;
  margin-top: 25px;
  border: 1px solid;
}

#component-left {
  padding-right: 8px !important;
}

#component-right {
  padding-left: 8px !important;
}

#component-right .ui-iggrid-scrolldiv tbody {
  line-height: 0px !important;
}

.mt-3px {
  margin-top: 3px;
}

.ml-10px {
  margin-left: 10px;
}

.mb-10px {
  margin-bottom: 10px;
}
