#contents-area .cf{padding: 10px 0 10px 40px;}
#contents-area{padding-top:25px;}
#contents-area .cf .left{float:left; width:170px;}
#contents-area .cf .right{float:left;}
#contents-area .cf .right input{width: 521px;}
#contents-area .cf .right #wording{width: 543px; margin-top: 10px;}
