#titleModule {
	float: right;
	margin-right: 10px;
	padding-bottom: 20px;
}

#ex_accept_wizard {
	width: 1400px;
	height: 480px;
}

#ex_accept_wizard>.steps {
	width: 250px;
	height: 640px;
}

#ex_accept_wizard>.content {
	width: 1140px;
	height: 590px;
	background: none;
	margin-left: 5px;
	margin-right: 0px;
}
#ex_accept_wizard > .content > .body {
	padding-top: 0;
}
#ex_accept_wizard, #ex_accept_wizard .content {
	overflow: visible;
}

.contentAll {
	width: 100%;
}

.contentL {
	float: left;
	width: 45%;
}

.contentR {
	float: right;
	width: 55%;
}

.tableContentL {
	border-spacing: 10px;
	border-collapse: separate;
}


#B5_2_1 {
	margin-left: 175px;
}

#B5_2_2 {
	margin-top: 8px;
}

#B8_3_1 {
	margin-left: 33px;
}
#B8_3_2 {
	margin-top: 5px;
}

#B9_2 {
	margin-left: 32px;
	width: 352px;
}

.flex {
	margin-left: 0px;
	margin-top: 10px;
}