#scrE table {
	border-collapse: collapse;
}

#scrE table th, #scrE table td{
	border: 1px solid  black;
	padding: 5px;
}

#scrE table td > span > input{
	/* background-color:transparent;
    border: 0px solid; */
    text-align: center;
}


#scrE.contents-area {
	padding-left: 50px;
	padding-top: 30px;
	margin-bottom: 60px;
}

#scrE > div:nth-child(3){
	padding-top: 30px
}

#scrE table thead tr th:nth-child(1) {
	width: 60px;
}
#opencdl028Dialog {
	margin-left: 60px;
}