#label11 {
	padding-left: 40px;
	padding-top: 40px;
}


#screen-d .check-box-atr {
	display:block;
	padding-top: 9px;
	margin-left: 60px;
}

.ntsRadioBox span.label{
	padding-left: 3px !important;
}


#screen-d .radio-error {
	margin-left: 90px;
	margin-top: 20px;
}

.ntsRadioBox {
	padding-left: 5px;
}

#checkBox21
{
width: 176px;
}
#checkBox31{
width: 147px;
}
#checkBox41{
width: 415px;
}
#checkBox51{
width: 415px;
}
#checkBox61{
width: 415px;
}
#checkBox71{
width: 415px;
}
#checkBox81{
width: 415px;
}
#checkBox91{
width: 415px;
}
#checkBox101{
width: 415px;
}
#checkBox111{
width: 415px;
}
#checkBox121{
width: 415px;
}
#checkBox131{
width: 415px;
}
#checkBox161{
width: 415px;
}

#label13{
	margin-top: 20px;
	margin-left: 95px;
	width: 230px;
}

#textbox{
    margin-left: 35px;
    height: 25px;
    width: 400px;
}