.header-text {
	display: inline-block;
	margin: 5px 1%;
}

.left-content {
	display: inline-block;
	width: 31%;
    margin: 5px 0 5px 2%;
}

.right-content {
	display: inline-block;
	width: 60%;
}

.nts-switch-button {
	width: 100px;
}

.ntsCheckBox  {
	margin: 5px 0;
}

.grayout {
	width: 40px;
}

#contents {
	width: 1250px;
}

#C4_4 {
	margin: 5px 0 5px 2%;
	width: 1000px;
}

#C4_4 th {
    height: 50px;
}

#C4_4, #C4_4 th, #C4_4 td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

.right-content label span {
	width: 100px;
	display: flex;
	justify-content: center;
}