#left-content {
	margin-top: 12px;
	padding: 20px;
	float: left;
	min-height: 500px;
}

#right-content {
	float: left;
	min-height: 500px;
	margin-top: 12px;
	padding: 20px;
	white-space: nowrap;
}


td{
	border: solid 1px #000;
	padding: 5px;
}

th{
	border: solid 1px #000;
	padding: 5px;
}

#row-nonboder th{
	border: none;
	!important;
}