@CHARSET "UTF-8";

.fix-button {
	min-width: 75px;
}

#left-content {
	margin: 10px 0px 0 20px !important;
	float: left;
}

#right-content {
	margin-left: 40px;
	margin-top: 10px;
	float: left;
	height: auto;
}

#right-content .upDown-container {
	padding-left: 10px;
}

#right-content .daysWorking .nts-input {
	width: auto !important;
	max-width: 30px;
	text-align: center;
}

#right-content .daysWorking1 {
	width: 0;
	position: relative;
	overflow: initial;
}

#right-content .daysWorking1 span {
	position: absolute;
	left: -10px;
	z-index: 1000;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
}

#right-content table.nts-grid tbody td:last-child,
#right-content table.ui-iggrid-headertable thead td:last-child {
	width: 0;
}

#right-content table td .nts-editor-wrapped {
	width: auto !important;
}

#right-content .nts-fixed-table .scroll-header {
	height: 30px !important;
}

#nts-input-name {
	width: 0px !important;
}

#right-content .nts-fixed-header-wrapper {
	display: flex;
	align-items: center;
}

#right-content .nts-fixed-header-wrapper .fixed-table-list {
	float: left;
}

#right-content .nts-fixed-header-wrapper .up-down-button {
	float: left;
	width: 30px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 20px;
}

#right-content .nts-fixed-header-wrapper .up-down-button button {
	margin: 5px 0;
}

.row {
	padding: 5px;
	height: 50px;
}

#inpPattern {
	width: 170px !important;
}

#single-list tr td {
	white-space: nowrap;
	nowrap: nowrap;
}

.border-all td {
	border: solid grey 1px;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	min-width: 100px;
	max-width: 200px;
}

.tbl-monthly .ntsControl {
	width: 50px !important;
}

.fixed-table thead tr th {
	height: 29px;
}

#fixedTable tbody tr td button {
	margin: 5px 0;
}

.work-cycle-header {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
}

.work-cycle-header .nts-editor-wrapped {
	margin: 0 5px;
}

.ksm003-content-area {
	overflow: hidden;
	padding-bottom: 50px;
}

.ui-iggrid-scrolldi.igscroll-touchscrollable {
	transition: all .5s;
}