#sidebar-area ~ div {
	float: left;
	width: calc(100vw - 140px);
}

.sidebar-content-header .title {
    font-size: 32px;
}

.view-l {
	margin-left: 20px;
}

.view-l .header-l {
    width: 580px;
}

.view-l .header-l ~ div {
    font-size: 20px;
}

.view-l .header-l hr {
    margin-top: 4px;
    
}

.view-l .header-l .header_title {
    margin-top: 15px;
}

.view-l .header-l .header_content {
    margin-top: 15px;
    margin-bottom: 15px;
}

.view-l .content {
    text-align: left;
    margin-left: 18px;
}

.view-l .content1 {
    text-align: center;
}

.view-l .content ~ div {
    margin-top: 15px;
    float: left;
}

.view-l #btn_year {
	margin-top: 15px;
	margin-bottom: 15px;
}

.view-l #btm_area {
    margin-top: -14px;
}

#right-side {
	padding-left: 40px;
}

#view-m-left-side {
	position: relative;
    bottom: 38px;
    padding-left: 30px;
}

#view-n-left-side {
	position: relative;
    bottom: 50px;
    padding-left: 30px;
}

#title {
	font-size: 20px;
}
