#sidebar-area ~ div {
	float: left;
	width: calc(100vw - 140px);
}

.sidebar-content-header .title {
    font-size: 32px;
}

.view-l {
	margin-left: 20px;
}

.view-l .header-l {
    width: 710px;
}

.view-l .header-l ~ div {
    font-size: 20px;
}

.view-l .header-l hr {
    margin-top: 3px;
    
}

.view-l .header-l .header_title {
    margin-top: 15px;
}

.view-l .header-l .header_content {
    margin-top: 15px;
    margin-bottom: 15px;
}

.view-l .header-l div.form-label{
    padding: 8px 10px 0 8px;
}

.view-l .content {
    text-align: left;
    margin-left: 18px;
}

.view-l .content1 {
    text-align: center;
    width: 125px;
}

.view-l .content ~ div {
    margin-top: 15px;
    float: left;
}

.view-l #btn_year {
	margin-top: 15px;
	margin-bottom: 15px;
}

.view-l #btm_area {
    margin-top: -14px;
}

#right-side {
	padding-left: 10px;
}

#view-m-left-side {
    padding-left: 30px;
    vertical-align: baseline;
    padding-top: 35px;
}

#view-n-left-side {
    padding-left: 30px;
    vertical-align: baseline;
    padding-top: 35px;
}

#view-o-left-side {
    padding-left: 85px;
    vertical-align: baseline;
    padding-top: 35px;
}

#title {
	font-size: 25px;
	padding-top: 4px;
}

.note {
	color: #4472C4;
}

.div_row {
    float: left;
    width: 100%;
    display: flex;
}

.box-year {
	display: inline-block;
}

.view-l-times-table {
	display: inline-block;
}

#nts-component-tree{
	padding: 20px !important;
}

.ntsControl .nts-input {
	text-align: center !important;
}

.selected-item {
	height: 18px;
    display: block;
}

#right-side div.form-label {
	padding: 8px 10px 0 8px;
}