@CHARSET "UTF-8";

.ntsSearchBox {
	width: 230px !important;
}

.controlSetting.caret-right:after {
	cursor: pointer;
	color: #2ECC71;
	border-width: 19px 10px;
	margin-top: -10px;
}
.controlSettingBg.caret-right:after {
	cursor: pointer;
	color: #2ECC71;
	border-width: 30px 14px;
	margin-top: -10px;
}

.contentkcp {
	min-height: 550px;
	max-width: 550px;
}

.centerkcp {
	/* Firefox */
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
	/* Safari and Chrome */
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	/* W3C */
	display: box;
	box-pack: center;
	box-align: center;
}

.accordion {
	max-width: 550px;
}
.btn-quick-search {
	cursor: pointer;
}
.btn_big {
	width: 255px;
	background-color: #2ECC71;
	padding-top: 9px;
	padding-bottom: 19px;
	margin-top: 5px;
	padding-left: 8px;
	margin-bottom: 10px;
	color: white;
	border-radius: 5px;
	display: inline-block;
}
.btn_big:hover {
	background-color: #2BBF6A;
}
.btn_small {
	width: 255px;
	background-color: #2ECC71;
	padding-bottom: 10px;
	margin-top: 5px;
	padding-left: 8px;
	margin-bottom: 10px;
	color: white;
	border-radius: 5px;
	display: inline-block;
}
.btn_small:hover {
	background-color: #2BBF6A;
}
.btn_apply {
	width: 550px;
	height: 25px;
	text-align: center;
	background-color: #2ECC71;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: white;
	display: inline-block;
	cursor: pointer;
}
.btn_apply:hover {
	background-color: #2BBF6A;
}

.caret-background.caret-bottom:after {
	left: 39%;
	color: #AEEE60;
	border-width: 18px 52px;
	margin-top: 4px;
}

#btn_apply {
	margin-left: 15px;
	width: 70px;
}

#workplaceList {
	float: left;
}

#btnDetailWorkplace {
	margin-top: 30px;
}

.icon-28-allemployee {
	background: url('icon/28_AllEmployee.png');
	width: 44px;
	height: 35px;
	background-size: 45px 42px;
}

.icon-26-onlyemployee {
	background: url('icon/26_OnlyMe.png');
	width: 44px;
	height: 35px;
	background-size: 45px 42px;
}

.icon-48-ofworkplace {
	background: url(icon/48_OfWorkplace.png);
	width: 25px;
	height: 25px;
	background-size: 25px 25px;
	margin-top: 5px;
}

.icon-49-workplacechild {
	background: url(icon/49_WorkplaceChild.png);
	width: 25px;
	height: 25px;
	background-size: 25px 25px;
	margin-top: 5px;
}

.labelBigButton {
	cursor: pointer;
	font-size: 14pt;
	vertical-align: super;
}

.labelSmallButton {
	cursor: pointer;
	font-size: 10pt;
	vertical-align: super;
	margin-left: 20px;
}