@CHARSET "UTF-8";

#contents-area {
	display: table;
}

.right-content {
	width: 75%;
	padding-left: 50px;
	display: table-cell;
}

#tab-panel {
	margin-top: 40px;
}

.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
	height: 280px;
	width: 683px;
}

button.nts-switch-button {
	min-width: 60px;
}

#combo-box {
	min-width: 44px !important;
	width: 76px;
	margin-left: 20px;
	vertical-align: middle;
}

#code-sphd {
	vertical-align: middle;
}

#input-code-sphd {
	width: 40px;
	margin-left: 45px;
}

div#memo .nts-editor-wrapped {
	position: absolute;
}

#insert_btn{
	margin-top: 70px;
	margin-left: 325px;
}

#remove-items{
	margin-top: 20px;
	margin-left: 325px;
}

.move-function{
	margin-top: -300px;
}

.chane-position-function{
	margin: -330px 0px 0px 660px;
	float: left;
}

.right-contents{
	margin-top: -176px;
	margin-left: 420px;
}

#swap-list{
	margin-top: 10px;
}


