#top-content > span,
#top-content > button {
	margin-left: 15px;
}

#functions-area {
	height: 0px;
}

.panel-left {
	background-color: #EDFAC2;
	width: 413px;
}

.panel-right {
	background-color: #FFDC73;
	width: 413px;
}

.center {
	width: 100px;
}

.middle-content {
	margin-top: 5px;
}

#A11_1 {
	margin: 0px 10px;
	font-size: large;
	width: 80px;
}

#A12_2 {
	width: 503px !important;
}

.middle-content .left {
	width: 435px;
}

.middle-content .center {
	width: 100px;
}

#ruled-line {
	height: 1px;
	background-color: #595959;
}

#A17_4 {
	font-size: large;
}

#A17_2, #A17_3 {
	margin-left: 15px;
}

#bottom-content .left {
	width: 700px;
}

#bottom-content {
	margin-top: 15px;
	margin-bottom: 20px;
}

#bottom-content .top {
	margin-bottom: 15px;
}

.dest-wkp {
	background-color: #FFDC73 !important;
}

.text-left {
	text-align: left !important;
}

.disabled {
	pointer-events: none;
}

#A2_3, #A5_3 {
	text-align: right;
}

#A2_4, #A5_4 {
	text-align: right;
	width: 290px;
}

.custom-link {
	text-decoration: underline !important;
	cursor: pointer;
	color: #0D86D1 !important;
}

.red { color: #FF0000 !important; }
.panel { border-radius: 5px; }
