div[class^=screen-i] {
	padding-left: 30px;
	padding-top: 10px;
}

.screen-i .panel.ntsPanel {
	margin-right: 35px;
}

.screen-i .infomation, .screen-i .panel.ntsPanel {
	float: left;
	display: block;
}

.screen-i .controls-group {
	padding-left: 30px;
}

.screen-i .form-group {
	margin-bottom: 10px;
}

.screen-i #ccgcomponent {
	margin: 0px 0 0 -30px;
}

.screen-i #kcpcomponent>div {
	padding: 20px !important;
}

.screen-i .right-content {
	padding-left: 60px;
	
}

.screen-i .right-content:after{
	display: block;
	clear: both;
	content: '';
}

.screen-i #kcpcomponent,
.screen-i .information {
	float: left;
}

.screen-i .information {
	min-width: 400px;
	padding-top: 20px;
	
}
.container-custom {
	display: flex;
	margin: 20px 0px 20px 0px;
}