.content-area-right {
	width: 483px;
	height: 100px;
	margin-top:50px;
	display: inline-block;
    vertical-align: top;
    white-space: normal;	
}

#wkp-list {
	display: inline-block;
}

.content-top {
	margin-left: 20px;
}

.content-area-left {
	margin-left: 20px;
	margin-top: 10px;
	display: inline-block;
}

.fix-combobox {
	margin-left: 10px;
}


.format-selected {
	float: left;
	width: 140px;	
	font-size: 12px;
}

.format-checkbox {
	float: left;
	margin-left: 25px;
	margin-top: 38px;
}

.bts-sendMail {
	margin-left: 550px;
}

.btn-excute {
	float: left;
}

.content-left-top {
	height: 100px;
	width: : auto;
}

.content-left-bottom {
	height: 50px;
	width: : auto;
}
.ntsRadioBox {
	margin-bottom: 20px;
}

.clear {
	clear:both;
}

#hierarchy {
	margin-left: 300px;
    margin-top: -70px !important;
    position: absolute; 
}
#combo-box-tree-component {
	margin-left: 5px;
    margin-top: 4px;
    position: absolute;
}
#contents-area {
	white-space: nowrap;
}
html {
	overflow: hidden;
}