.dialog-contents{
  width:600px;
  height: 300px;
}
.contents-area{
	margin-left:10px;
	padding-top:10px;
}
.bggreen {
	background-color: #BFEA60;
}
.cmf001_485{
	font-size: large;
	margin-bottom: 5px;
}
.cmf001_486{
	font-size: large;
	margin-bottom: 5px;
}
.settingzyouho{
	margin-bottom: 15px;
}

.setting-zyouhou {
	margin-top: 10px;
	margin-left: 30px;
	box-sizing: border-box;
	border: 1px solid black;
}
.setting-zyouhou td {
	border: 1px solid black;
}
.kekka {
	margin-top: 10px;
	margin-left: 30px;
	box-sizing: border-box;
	border: 1px solid black;
}
.kekka td {
	border: 1px solid black;
}
.kekkanaiyou{
	margin-bottom: 30px;
}
.button {
	text-align:center;
}
td {
	padding-top: 5px;
	padding-bottom: 5px;
}