<div id="kdl002">
    <ul class="list-group list-group-selection mb-5">
        <li class="list-group-item" v-for="(item, i) of listItems" v-on:click="chooseWorkType(item)">
            <div class="row">
                <div class="col-2">{{item.code}}</div>
                <div class="col-10">{{item.name}}</div>
            </div>
            <div>{{item.remark}}</div>
        </li>
    </ul>

    <div class="bg-primary fixed-bottom p-1 pl-3 pr-3 text-center">
        <button class="btn btn-secondary btn-block"><i class="far fa-save mr-2"></i>{{ 'save' | i18n }}</button>
    </div>
</div>