
.kdl023-content-area {
	height: calc(-110px + 100vh) !important;
}

.kdl023-content-area .pull-left * {
    font-size: 0.9rem;
}

#calendar-reflect-pattern {
	width: 990px;
}

#reflect-setting {
	padding: 5px 5px 10px 5px;
	width:360px;
	height: auto;
	margin-right: 20px;
	float: left;
}

.pad-top {
	margin-top: 37px;
}

.margin-left-30 {
	margin-left: 20px;
}
.margin-left-100 {
	margin-left: 80px;
}
.width-40 {
    width: 35%;
}
.width-40-sub{
    width: calc(40% - 30px);
}

.btn-apply-setting {
	min-height: 70px;
	border-radius: 7px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 12px;
	margin-right: 7px;
	max-width: 250px;
}
.priority {
	margin-top: 20px;
	margin-bottom: 20px;
}

.cbb-reflection{
	display: inline-block;
}

.label.warning.kdl023-warning {
	padding: 5px 10px;
	margin: 5px;
	width: calc(100% - 10px);
}

.pull-right.kdl023 {
	margin-bottom: 5px;
}

.kdl023-inline{
	display: inline-block;
}

#functions-area-bottom {
	height: auto;
	width: auto;
	padding: 5px;
	left: 0;
	right: 0;
}

#foot-btn {
	padding-top: 10px;
	left: 0;
	right: 0;
}

.kdl023-flex-display{
	display: flex;
	align-items: center;
}
.margin-bottom-15px{
	margin-bottom: 5px;
}
.calc-margin{
    float: right;
    margin-left: calc(40% - 10px);
}

.fc-row .fc-content-skeleton td.fc-event-container {
	text-align: center;
}
.reflection-btn-text{
	white-space: pre-wrap;
}
#btnDecide{
	margin-top: 10px;
}

.pull-left .control-group {
	margin-bottom: 3px;
}