#contents-area {
	padding: 20px;
}
#calendar-reflect-pattern {
	width: 1110px;
}
.reflect-setting {
	padding: 20px;
	width:420px;
	height: auto;
	margin-right: 50px;
	float: left;
}

.margin-left-30 {
	margin-left: 30px;
}
.margin-left-100 {
	margin-left: 80px;
}
.margin-left-300 {
	margin-left: 300px;
}
.btn-apply-setting {
	height: 70px;
	border-radius: 7px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 18px;
	margin-right: 5px;
}
.priority {
	margin-top: 20px;
	margin-bottom: 20px;
}

.cbb-reflection{
	display: inline-block;
}

.label.warning.kdl023-warning {
	padding: 5px 10px;
	margin: 5px;
}

.pull-right.kdl023 {
	margin-bottom: 10px;
}

.kdl023-inline{
	display: inline-block;
}

#functions-area-bottom {
	height: auto;
	width: auto;
	padding: 8px;
	left: 0;
	right: 0;
}

#foot-btn {
	padding-top: 10px;
	left: 0;
	right: 0;
}