.functions-area {
	text-align: center;
	border-top: 1px solid #ccc;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	padding: 10px 0;
}

.functions-area .x-large {
	background-color: #a4eeb0;
}

.contents-area {
	padding: 15px;
	margin-bottom: 71px;
}

.contents-area #K_LBL_001{
	padding-bottom: 10px;
}

.contents-area .form-group,
.contents-area .form-group-radio {
	padding-top: 10px;
}

.contents-area .form-group-radio:after {
	display: block;
	clear: both;
	content: '';
}

.contents-area .form-group-radio>#K_LBL_002,
.contents-area .form-group-radio>#K_LBL_002+div {
	float: left;
}

.contents-area #K_LBL_005,
.contents-area .form-group-radio>#K_LBL_002 {
	width: 140px;
}

.contents-area .form-group.padding-left {
	padding-left: 165px;
}


.contents-area #K_LBL_004>span:first-child {
	display: inline-block;
	width: 30px;
	text-align: center;
}

.contents-area .form-group-radio>#K_LBL_002+div {
	padding-top: 8px;
}

.contents-area .form-group-radio .ntsControl {
	display: block;
	padding-bottom: 10px;
}