#F1_4 {
	margin-left: 45px;
}
#F2_1 {
	margin-bottom: 15px;
}

#F2_4 {
	margin-left: 99px;
}

#F2_8 {
	margin-top : 20px;
	margin-left: 445px;
}

#F2_9 {
	
	margin-left: 445px;
}


.td-widget {
    color: #000;
    background-color: #CFF1A5;
}

#f3_1_container .nts-fixed-body-container{
	padding-right: 0px !important;
}

#f3_1_container .nts-fixed-body-container{
	padding-right: 0px !important;
}
#f3_1_2_container .nts-fixed-body-container{
	padding-right: 0px !important;
}
.ci_scroll_header {
	width: 17px !important;
}
.edge_scroll_header {
	width: 16px !important;
}


