body {
	overflow-x: hidden;
}
#contents-area{
	overflow: hidden !important;
}
#label-title-2{
	margin-top: 15px;
	margin-left: 270px;
	height: 40px;
}

.btn_8{
	width: 190px;
	height: 50px;
	font-size: 1.5rem;
}

#label-title{
    margin-left: 20px;
}

.btn-name {
	width: 165px;
	height: 120px;
	font-size: 15px;
	border-radius: 10px;
	margin-bottom: 8px;
}

.btn-close {
	font-size: 18px;
	border-radius: 10px;
}
#top-message{
	font-size: 15px;
	font-weight: bold;
}
#table-grid {
	padding: 0px 10px 0px 20px;
}
#table-grid btn:not(:first-child) {
   margin-left: 10px;
}