
#approval-count {
	margin-bottom: 20px;
}

#approval-count > div > .item {
	display: inline-block;
}

#approval-count > div > .item > div {
	display: inline-block;
}

#approval-count > div > .item:not(:first-child) {
	margin-left: 14px;
}

#filter-controls {
	background-color: #F5F5F5;
	padding: 20px;
	display: inline-block;
}

#filter-controls .status-filters {
}

#filter-controls .status-filters .checkbox-wrappers {
	display: inline-block;
}

#filter-controls .status-filters .filter-label {
	margin-right: 20px;
}

#filter-controls .main-filters {
	
}

#filter-controls .main-filters div {
	vertical-align: middle;
}

#filter-controls .main-filters .item {
	display: inline-block;
}

#filter-controls .main-filters .item:not(:first-child) {
	margin-left: 25px;
}

#filter-controls .main-filters .item > div {
	display: inline-block;
}

#filter-controls #search-option,
#filter-controls #execute-search {
	width: 120px;
}

.popup-panel-cmm045 {
	display: inline-block;
	padding: 10px 20px !important;
}

.popup-panel-cmm045 .row:not(:first-child) {
	margin-top: 20px;
}

.popup-panel-cmm045 .row > div {
	display: inline-block;
}

.popup-panel-cmm045 .row .row-header {
	width: 80px;
}

.popup-panel-cmm045 .row .row-content {
	width: 400px;
}

.popup-panel-cmm045 .checkbox-wrappers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.popup-panel-cmm045 .checkbox-wrappers .checkbox-wrapper span {
	width: 140px;
}

.unapprovalCell {
	background-color: #ffffff;
}
.approvalCell {
	background-color: #BFEA60;
}
.remandCell {
	background-color: #FD4D4D;
}
.denialCell {
	background-color: #FD4D4D;
}
.cancelCell {
	background-color: #F6F636;
}
.reflectCell {
	background-color: #CEE6FF;
}
/* .overdelivery {
	background-color: #ffff00;
} */
.preAppExcess {
	background-color: #ffc0cb;
}
.workingResultExcess{
	background-color: #ffff00;
}

.resizing-now {
	cursor: col-resize;
}

#app-grid-container {
	user-select: none;
	-ms-user-select: none;
}

#app-grid-container.with-ccg001 {
}

#app-resize.with-ccg001 {
	margin-top: 10px;
}

#app-resize #save-column-width {
	float: right;
	margin-bottom: 10px;
	margin-right: 49px;
}

#app-grid-container .nts-fixed-header-container,
#app-grid-container .nts-fixed-body-container {
	background: #f3f3f3;
}

#app-grid-container .nts-fixed-table .nts-fixed-body-container {
	overflow: scroll;
}

#app-grid-container .nts-fixed-table table.fixed-table {
	width: auto;
}

#app-grid-container th {
	text-align: center;
	height: 30px;
}

#app-grid td.details,
#app-grid td.appStatus,
#app-grid td.displayAppStatus,
#app-grid td.prePostAtr,
#app-grid td.appDate,
#app-grid td.inputDate {
	text-align: center;
}

#app-grid button {
	height: 25px;
}

#grid1 tbody tr td:NTH-CHILD(1){
	text-align: center;
}
#grid1 tbody tr td:NTH-CHILD(2){
	text-align: center;
}
#grid1 tbody tr td:NTH-CHILD(9){
	text-align: center;
}
#grid1 tbody tr td:NTH-CHILD(10){
	text-align: center;
}
#grid2 tbody tr td:NTH-CHILD(8){
	text-align: center;
}
#grid2 tbody tr td:NTH-CHILD(1){
	text-align: center;
}

.saturdayCell > div {
	color: #0000ff;
}

.saturdayCell > div {
	color: #0000ff;
}

.sundayCell > div {
	color: #ff0000;
}
.rec{
	height: auto;
}
.abs{
	height: auto;
}
.ui-iggrid-header.ui-widget-header{
	text-align: center;
}
.ui-iggrid-header.ui-widget-header{
	text-align: center;
}
.dateRange{
	float: left;
}
#grid1 > tbody > tr > td {
	text-overflow: ellipsis;
    white-space: nowrap;
}
#grid2 > tbody > tr > td {
	text-overflow: ellipsis;
    white-space: nowrap;
}
#A4_4_2{
	display: inline-block;
	margin-left: 30px;
	vertical-align: middle;
	margin-top: -24px !important;
}
.app-left {
}
#grid1_virtualContainer {
	border:1px solid #dddddd
}
#grid2_virtualContainer {
	border:1px solid #dddddd
}
#content-area{
	padding: 20px 20px 20px 60px;
}
html {
    overflow: auto;
}
.grid-text-label {
	padding-top: 6px;
	vertical-align: top;
}
.reflectionStatus, .opApprovalStatusInquiry {
	text-align: center;
}
.applicantName, .appDate, .appContent, .inputDate {
	padding-left: 5px !important;
}
th.ui-iggrid-rowselector-header> .ui-igcheckbox-normal> span {
	left: 0;
}
td.appType {
	white-space: normal !important;
}
td.appContent {
	min-width: 75px;
}

#multi-list_scrollContainer {
	overflow: hidden !important;
}

.bg-workinh-result-excess {
	background-color: #ffc0cb !important;	
}

.bg-pre-application-excess {
	background-color: #ffff00 !important;
}

