.unapprovalCell {
	background-color: #ffffff;
}
.approvalCell {
	background-color: #BFEA60;
}
.remandCell {
	background-color: #FD4D4D;
}
.denialCell {
	background-color: #FD4D4D;
}
.cancelCell {
	background-color: #F6F636;
}
.reflectCell {
	background-color: #CEE6FF;
}
/* .overdelivery {
	background-color: #ffff00;
} */
.preAppExcess {
	background-color: #ffc0cb;
}
.workingResultExcess{
	background-color: #ffff00;
}
#grid1 tbody tr td:NTH-CHILD(1){
	text-align: center;
}
#grid1 tbody tr td:NTH-CHILD(2){
	text-align: center;
}
#grid1 tbody tr td:NTH-CHILD(9){
	text-align: center;
}
#grid1 tbody tr td:NTH-CHILD(10){
	text-align: center;
}
#grid2 tbody tr td:NTH-CHILD(8){
	text-align: center;
}
#grid2 tbody tr td:NTH-CHILD(1){
	text-align: center;
}
.saturdayCell{
	color: #0000ff;
}	
.sundayCell{
	color: #ff0000;
}	
.rec{
	height: auto;
}
.abs{
	height: auto;
}
.ui-iggrid-header.ui-widget-header{
	text-align: center;
}
.ui-iggrid-header.ui-widget-header{
	text-align: center;
}
.dateRange{
	float: left;
}
#grid1 > tbody > tr > td {
	text-overflow: ellipsis;
    white-space: nowrap;
}
#grid2 > tbody > tr > td {
	text-overflow: ellipsis;
    white-space: nowrap;
}
#A4_4_2{
	display: inline-block;
	margin-left: 30px;
	vertical-align: middle;
	margin-top: -24px !important;
}