.unapprovalCell {
	background-color: #ffffff;
}
.approvalCell {
	background-color: #BFEA60;
}
.remandCell {
	background-color: #FD4D4D;
}
.denialCell {
	background-color: #FD4D4D;
}
.cancelCell {
	background-color: #F6F636;
}
.reflectCell {
	background-color: #CEE6FF;
}
/* .overdelivery {
	background-color: #ffff00;
} */
.preAppExcess {
	background-color: #ffc0cb;
}
.workingResultExcess{
	background-color: #ffff00;
}

.resizing-now {
	cursor: col-resize;
}

#app-grid-container {
	margin-left: 20px;
	user-select: none;
	-ms-user-select: none;
}

#app-grid-container.with-ccg001 {
	margin-left: 90px;
}

#app-resize.with-ccg001 {
	margin-left: 90px;
}

#app-grid-container .nts-fixed-header-container,
#app-grid-container .nts-fixed-body-container {
	background: #f3f3f3;
}

#app-grid-container .nts-fixed-table .nts-fixed-body-container {
	overflow: scroll;
}

#app-grid-container .nts-fixed-table table.fixed-table {
	width: auto;
}

#app-grid-container th {
	font-weight: bold;
	text-align: center;
}

#app-grid td.appStatus,
#app-grid td.displayAppStatus {
	text-align: center;
}

#app-grid button {
	height: 25px;
}

#grid1 tbody tr td:NTH-CHILD(1){
	text-align: center;
}
#grid1 tbody tr td:NTH-CHILD(2){
	text-align: center;
}
#grid1 tbody tr td:NTH-CHILD(9){
	text-align: center;
}
#grid1 tbody tr td:NTH-CHILD(10){
	text-align: center;
}
#grid2 tbody tr td:NTH-CHILD(8){
	text-align: center;
}
#grid2 tbody tr td:NTH-CHILD(1){
	text-align: center;
}
.saturdayCell{
	color: #0000ff;
}
.sundayCell{
	color: #ff0000;
}
.rec{
	height: auto;
}
.abs{
	height: auto;
}
.ui-iggrid-header.ui-widget-header{
	text-align: center;
}
.ui-iggrid-header.ui-widget-header{
	text-align: center;
}
.dateRange{
	float: left;
}
#grid1 > tbody > tr > td {
	text-overflow: ellipsis;
    white-space: nowrap;
}
#grid2 > tbody > tr > td {
	text-overflow: ellipsis;
    white-space: nowrap;
}
#A4_4_2{
	display: inline-block;
	margin-left: 30px;
	vertical-align: middle;
	margin-top: -24px !important;
}
.app-left {
	margin-left: 71px !important;
}
#grid1_virtualContainer {
	border:1px solid #dddddd
}
#grid2_virtualContainer {
	border:1px solid #dddddd
}
#content-area{
	overflow: auto;
}
html {
    overflow: auto;
}
.grid-text-label {
	padding-top: 10px;
	vertical-align: top;
}
.reflectionStatus, .opApprovalStatusInquiry {
	text-align: center;
}
.applicantName, .appDate, .appContent, .inputDate {
	padding-left: 5px !important;
}
th.ui-iggrid-rowselector-header> .ui-igcheckbox-normal> span {
	left: 0;
}
td.appType {
	white-space: normal !important;
}
td.appContent {
	min-width: 75px;
}