tr:hover > td {
    background-color: #ffffff !important;
}

.message {
    width: 850px !important;
}

.condition {
    border-bottom: none !important;
}

.p5 {
    padding: 5px 0 !important;
}
.pb5 {
    padding-bottom: 5px !important;
}

.table {
    margin-left: 10px;
}

.message-area .label {
    white-space: pre-wrap;
}

.setting {
    margin-top: 10px;
    min-width: 60px;
}