.column-1 {
    width: 190px;
}
.column-2 {
    margin-left: 190px;
}
.tab-row {
    margin-top: 10px;
}
.fixed-flex-layout > .fixed-flex-layout-left {
    margin-right: -10px;
}
.fixed-table-container{
    display: inline-block;
}
.fixed-table-container tr {
    height:34px;
}
.custom-fixed-table .ui-widget-header {
    color: #000;
    background-color: #CFF1A5;
}
.custom-fixed-table div {
    display: inline-block;
}
.custom-fixed-table td:first-child {
    text-align: center;
}
.large-caret::after{
    font-size: 3em;
    color: #97D155 !important;
}
.custom-fixed-table-body .nts-fixed-table{
    display: inline-block;
}
.ui-widget-header {
    color: #000;
    background-color: #CFF1A5;
}