#C4_6.table-basic-setting-list tbody tr td.table-basic-setting-list-td-label span.nts-editor-wrapped.ntsControl {
	margin-top: 7px;
	margin-bottom: -7px;
}

#C4_3 {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 382px;
}

#C4_4 {
	width: 291px;
}

#C4_5 {
	width: 82px;
}

#C4_16, #C4_25, #C4_30 {
	color: blue;
}