.tabpanel-1-contents-area-right-screen-c {
	width: 542px;
	margin-left: 40px;
	margin-top: 10px;
}

.table-basic-setting-list-td-label {
	background-color: #F7EFD4 !important;
	padding: 3px;
}

td.table-basic-setting-list-td-label span.nts-editor-wrapped.ntsControl {
	width: auto !important;
}

td.table-basic-setting-list-td-label.no-bottom-border {
	border-bottom-color: #F7EFD4;
}

td.table-basic-setting-list-td-label.no-right-border {
	border-right-color: #F7EFD4;
}

.table-basic-setting-list {
	width: 542px;
}

.table-basic-setting-list, th, td {
	border: 1px solid gray;
}

.time-editor-custom-width {
	width: 50px !important;
	margin: 5px !important;
}

.table-basic-setting-list th {
	height: 35px;
}

th {
	text-align: center;
}

td.wrap-white-space-pre-line {
	white-space: pre-line !important;
	word-break: keep-all;
	/*text-align: right;*/
}

#C4_6.table-basic-setting-list tbody tr td.table-basic-setting-list-td-label span.nts-editor-wrapped.ntsControl {
	margin-top: 7px;
	margin-bottom: -7px;
}

#C4_3 {
	margin-bottom: 15px;
	width: 382px;
}

#C4_4 {
	width: 291px;
}

#C4_5 {
	width: 82px;
}

#C4_16, #C4_25, #C4_30 {
	color: blue;
}