#message {
  display: inline-block;
}

.img {
  width: 20px;
  position: relative;
  top: 5px;
  padding-left: 20px;
}

#search-bar {
  display: inline-block;
}

/* #header #menu-header #logo-area > #user-info {
  top: -10px;
} */

#search-bar button.search-btn.caret-bottom.ntsSearchBox_Component {
  display: none;
}

#popup-search-category .ntsRadioBox {
  display: block;
  color: black;
}

#search-icon {
  background-size: auto !important;
  top: 10px;
  position: relative;
  cursor: pointer;
  left: 5px;
}

.result-search {
  display: block;
  line-height: 2;
  padding-left: 10px;
  padding-right: 10px;
  width: 163px;
}

#popup-result, #popup-search {
  min-width: 182px;
  padding: 0;
}

ul#list-box-search {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: context-menu;
}

#list-box {
  display: grid;
  color: black;
}

.img-timer {
  width: 30px;
  background-image: url("/nts.uk.com.js.web/lib/nittsu/ui/style/stylesheets/images/icons/numbered/173.png");
  background-repeat: no-repeat;
  display: block;  /* may not need this, but I've found I do */
}

.icon-close:hover {
  background-color:	#F2F2F2;
  border-radius: 50%;
}
.icon.icon-close {
  height: 30px;
  width: 14px;
  opacity: 0.5;
}

.result-search-history {
  height: 25px;
  margin: auto;
  padding-bottom: 6px;
  padding-left: 5px;
  padding-right: 5px;
  width: 162px;
  color: black;
}

.result-search-history:hover {
  background-color: #F2F2F2;
}

.text-li {
  padding-left: 35px;  /* width of the image plus a little extra padding */
  background-image: url("/nts.uk.com.js.web/lib/nittsu/ui/style/stylesheets/images/icons/numbered/173.png");
  background-repeat: no-repeat;
  height: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-size: contain;
  line-height: 20px;
  width: 110px;
  z-index: 101;
}
.custom-limited-label {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search-bar .ntsControl .nts-input.enterkey {
  background-image: none;
}

#popup-search-category label.ntsRadioBox {
  padding: 5px;
}

#popup-search-category {
  width: 150px;
}
.hide-class {
  display: none;
}
.ui-dialog .ui-dialog-content.notice-dialog > .text {
  width: 270px;
}
#img-avatar {
  width: 28px;
  top: 7px;
  position: relative;
  border-radius: 50%;
  display: inline;
}
div#user-image {
  display: inline;
}

#avatar_id {
  background-color: #eeeeee;
  font-size: 12px;
  color: blue;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(51 54 136);
  width: 10%;
  padding: 4px;
  border-radius: 50%;
  display: inline;
  position: relative;
  bottom: 2px;
}

#header #menu-header #logo-area > #user-info {
  position: absolute;
  top: -10px;
  right: 0px;
}

div#operation-info {
  display: none;
}

#new-notice-msg {
  position: relative;
  right: 15px;
  top: -8px;
  padding: 0;
}
