#right-content {
	margin-left: 40px;
	margin-top: 20px;
	/* float: left;
	width: 735px; */
}
#left-content{
	margin-left: 30px;
	margin-top: 30px;
	float: left;
}
.color-header{
	background-color: #CFF1A5;
}
.fixed-table.kaf022l{
	margin-top: 20px;
}
.ui-iggrid.kaf022l table tr th{
	height: 35px;
}
.ui-iggrid.kaf022l table tr td{
	height: 35px;
}
.ntsCheckBox.margin-left-style span.label{
	margin-left: 10px !important;
	width: 130px;
}
.ntsControl .nts-input.lagre-input-code{
	width: 310px !important;
}
.block-style{
	display: flex;
}
.group-margin-left{	
    margin-left: 34px;
}
.center-content-kaf022l{	
    display: inline-block;
}
.fixed-flex-layout-left{
    margin-left: 20px !important;
    margin-top: 20px !important;
}


#right-table th,
#right-table td {
	cursor: default;
	border: 1px solid #ccc;
	padding: 0 3px; 
	height: 40px; 
} 

td div {
	position: relative;
	vertical-align: middle;
}

.contents-area-kaf022l{
	height: 800px;
}