.kafs20a1 {
    label{
        color: red
    }
}
.icon-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
}
.name{
    display: block;
    height: 25px;
}
.btn{
    color: black
}