#tab-panel {
	margin: 57px 0px 0px 51px;
	display: inline-block;
}

#A_SEL_002 {
	vertical-align: middle;
	width: 70px !important;
}

#label2, #label3, #label4, #label5 {
	margin-left: 55px;
}

#single-list_container {
	float: left;
	display: inline-block;
}

#contents-area {
	padding-left: 20px;
}

#functions-area {
	padding-top: 20px;
	padding-bottom: 13px;
}

#button3 {
	margin-left: 256px;
}

#button2 {
	margin-left: 20px;
}

#button1 {
	margin-left: 37px;
}

#messageSwaplist {
	margin-left: 52%;
	width: 48%;
}

#swap-list2_container, #swap-list_container,#swap-list3_container {
	display: inline-block;;
}

#swap-list2 .ui-icon-triangle-1-e {
	margin-top: 1px;
}

#swap-list .ui-icon-triangle-1-e {
	margin-top: 1px;
}

#swap-list3 .ui-icon-triangle-1-e {
	margin-top: 1px;
}

 #swap-list2-grid1_horizontalScrollContainer {
	overflow: hidden !important; 
}

#swap-list2-grid1_displayContainer {
	min-height: 310.6px !important;
	
} 

#swap-list2-grid1_scrollContainer {
	min-height: 310.6px !important;
}

 #swap-list3-grid1_horizontalScrollContainer {
	overflow: hidden !important; 
}

#swap-list3-grid1_displayContainer {
	min-height: 310.6px !important;
	
} 

#swap-list3-grid1_scrollContainer {
	min-height: 310.6px !important;
}