.m3-column1 {
	width: 150px;
	vertical-align: top;
}
.m3-label {
	margin-left: 5px;
}
#m3-div {
	width: 530px;
	height: 343px;
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	position: relative;
}
#m3-table {
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	position: absolute;
	max-height: 343px;
	max-width: 510px;
}
#m3-table thead {
	background-color: #CFF1A5;
}
#m3-table > tbody > tr {
	border-top: 1px solid #999999;
}
#m3-table > thead > tr > td:FIRST-CHILD {
	border-right: 1px solid #999999;
	min-width: 100px;
}
#m3-table > tbody > tr > td:FIRST-CHILD {
	background-color: #CFF1A5;
	border-right: 1px solid #999999;
	min-width: 120px;
	width: 120px;
}
#m3-table > tbody > tr > td:LAST-CHILD {
	min-width: 409px;
	width: 409px;
}
#m3-backgroud {
	background-color: #CFF1A5;
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	width: 120px;
	height: 343px;
	position: absolute;
}
.m3-switch > .nts-switch-button {
	width: 80px;
}
.m3-time-detail-1 {
	margin-left: 10px;
	width: 75px;
}
.m3-time-detail-2 {
	margin-left: 10px;
	width: 95px;
}
.m3-table-div {
	width: 530px;
	height: 310px;
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
