@import url("../qmm005.css");

#functions-area #B_BTN_002 {
	background-color: rgb(164, 238, 176);
}

#functions-area #B_BTN_003 {
	margin-left: 35px;
	background-color: rgb(254, 211, 198);
}

#contents-area {
	padding-bottom: 0;
}

#contents-area .blst001-container {
	padding: 10px;
	border-radius: 3px;
	background-color: rgb(224, 245, 158);
}

#contents-area .blst001-container>div {
	position: relative;
	padding: 20px 0 0 20px;
	width: 220px;
	border: 1px solid rgb(128, 128, 128);
}

#contents-area #B_INP_001 {
	width: 60px;
	text-align: center;
}

#contents-area .blst001-container>div .divider {
	position: absolute;
	display: block;
	width: 21px;
	height: 21px;
	top: 0;
	left: 0;
	border: 1px solid rgb(128, 128, 128);
	border-top: none;
	border-left: none;
}

#contents-area .blst001-container>div #B_LST_001 {
	border: 1px solid rgb(128, 128, 128);
	border-right: none;
	border-bottom: none;
	width: 198px !important;
	height: 300px !important;
	overflow-y: scroll !important;
}

#contents-area .right-panel, #contents-area .blst001-container {
	float: left;
}

#contents-area .right-panel {
	padding-left: 30px;
	min-width: 600px;
	width: calc(100% - 300px);
}

#contents-area table.table th {
	background-color: rgb(226, 247, 159);
}

#contents-area table.table th.text-left {
	text-align: left;
}

#contents-area table.table td {
	width: 100px;
}

#contents-area table.table button.btn-collapse {
	width: 25px;
	min-width: 25px;
	max-height: 18px;
}

#contents-area table.table .double-border {
	border-right: 3px double #999;
}

#contents-area table.table .index-cols {
	width: 57px;
	min-width: 57px;
	max-width: 57px;
}

#contents-area table.table .date-cols {
	width: 100px;
	min-width: 100px;
	max-width: 100px;
}

#contents-area table.table .checkbox-cols {
	width: 40px;
	max-width: 40px;
	min-width: 40px;
	text-align: center;
}

#contents-area table.table th.checkbox-cols {
	white-space: pre-wrap;
}

#contents-area table.table div.form-group {
	margin: 0;
	max-width: 120px;
	min-height: initial;
}

#contents-area table.table .ntsDatepicker {
	width: calc(100% - 24px) !important;
	height: 24px;
	max-height: 24px;
	line-height: 22px;
	display: inline-block;
}

.ntsControl>label {
	width: initial;
}

td>.ntsControl span.label {
	display: none;
}

#contents-area .right-panel .form-label, #contents-area .right-panel .table
	{
	margin-top: 0;
}