.m2-inline-div {
	display: inline-block;
}
.m2-column1 {
	width: 150px;
	vertical-align: top;	
}
.m2-column2 {
	vertical-align: middle;
}
.m2-column3 {
	width: 95px;
}
.m2-panel {
	width: 650px;	
	margin-bottom: 3px;
	padding: 3px;
}
.m2-label {
	margin-top: 7px;
	margin-bottom: -5px;
	margin-left: 5px;
	width: 100px;
}
.m2-label.limited-label {
	width: 280px;
}
.m2-time-editor {
	width: 83px;
}
.m2DisableEdit {
	color: #999999;
}
.m2-checkBox {
	margin-left: 3px;
	margin-right: -7px;
}
