.row-1 {
	margin-top: 15px;
	margin-left: 27px;
}

.name-switch {
	display: inline-block;
	width: 130px;
}

.goback {
	margin-right: 35px;
}

.cf>button.nts-switch-button {
	width: 90px;
}

.d3_name {
	margin-left: 24px;
	margin-bottom: -7px;
	margin-top: 8px;
}

hr {
	margin-left: 24px;
}

#d3_7, #d4_7 {
	margin-left: 95px;
}

.ntsRadioBox {
	margin-left: 52px;
	padding-top: 2px;
}

#left-table {
	width: 400px;
	padding-left: 30px;
	vertical-align: top;
}

#right-table {
	width: 400px;
	padding-left: 200px;
	vertical-align: top;
}

#d4_1 {
	margin-top: 50px;
	padding-top: 8px;
}

#d4_1.form-label>label {
	max-height: 100%;
	font-size: 14px;
	line-height: 0px;
}

.dateInput {
	padding: 5px;
}

.d5_name {
	margin-top: 50px;
}

.d7_name {
	margin-top: 30px;
}

.d7_label {
	padding: 10px 30px;
	margin-left: 23px;
}

#dateInput {
	width: 50px;
}
div[tabindex]:focus {
	box-shadow: 0 0 1px 1px #0096f2;
	border-radius: 2px;
}