#panel1{
	margin: 20px 0px 0px 0px;
    height: 300px;
}

#tab-panel{
	width: 320px;
}

#functions-area {
    height: 57px;
}    

#button2{
	margin: 8px 20px 4px 11px;
}

#button1{
	margin: 8px 20px 4px 11px;
}