
#rightTable{
	margin: 4px 20px 20px 87px;
}

#leftPanel{
	margin: 73px 20px 20px 465px;
	display: inline-block;
}

#functions-area {
    height: 57px;
}    

#button2{
	margin: 8px 20px 4px 11px;
}

#button1{
	margin: 8px 20px 4px 11px;
}