.contents-area{
	margin-left:10px;
	padding-top:10px;
}
.bggreen{
	background-color: #BFEA60;
}
.cmf001_505{
	margin-bottom: 3px;
}
.cmf001_508{
	margin-bottom: 3px;
	margin-left: 10px;
}
.cmf001_515{
	top: 25px;
    position: relative;
}
.error-ichiran{
	margin: 5px;
	clear:both;
}
.settingzyouho{
	margin-bottom: 15px;
}
.kekkanaiyou{
	margin-bottom: 15px;
	margin-right: 60px;
	float: left;
}
.setting-zyouhou {
	margin: 10px;
	box-sizing: border-box;
}
.kekka-naiyou {
	margin: 10px;
	box-sizing: border-box;
}
.ichi-ran{
	margin-left: 10px;
	font-weight: normal;
	
}
table, th, td {
    border: 1px solid black;
}
.label-4{
	margin-top: 25px;
	margin-left: 10px;
	margin-bottom: 20px;
}
@media screen and (min-width:0\0) { 
.label-4{
	margin-top: 75px;
	margin-left: 10px;
	margin-bottom: 20px;
}
}
.kekka {
	margin: 5px;
	box-sizing: border-box;
}
.button {
	text-align:center;
	margin-bottom: 10px;
}
.btn-error-export{
	float: right;
	margin-right: 0 !important;
}

#grd_Accept .increment-col, #single-list th.ui-iggrid-rowselector-class
	{
	background-color: #CFF1A5;
	text-align: right;
	height: 1em;
}
#BTN_CLOSE {
	margin-top: 10px;
}
#BTN_ERROR_EXPORT{
	margin-top: 20px;
}
td {
	padding-top: 2px;
	padding-bottom: 2px;
}