#scrD #tableCommonMonth table {
	border-collapse: collapse;
}

#scrD #tableCommonMonth table th, #scrD #tableCommonMonth table td{
	border: 1px solid  black;
	padding: 5px;
}

#scrD #tableCommonMonth table td > span > input{
	/* background-color:transparent;
    border: 0px solid; */
    text-align: center;
}


#scrD.contents-area {
	padding-left: 50px;
	padding-top: 30px;
	margin-bottom: 60px;
}

#scrD > div:nth-child(2){
	/* padding-top: 30px; */
	padding-left: 80px;
}

#scrD.contents-area {
	display: flex
}

#scrD #includeTableMonthlyDay > div:nth-child(2) {
	padding-top: 20px;
	padding-bottom: 20px
}

#scrD #tableCommonMonth table thead tr th:nth-child(1) {
	width: 60px;
}

#scrD .caret-right.caret-background.bg-green{
	width: 377px !important;
}