
.large{
	width: 100px;
}

.body-left {
	width: 800px;
    margin-left: 60px;
    float: left;
	
}
td{
	padding-bottom: 10px;
}

button.nts-switch-button{
	width: 85px;
}

#table-infor th,#table-infor td{
	 border: 1px solid black;
}

#table-infor th,#table-label th{

}