.body-right {
	margin-left: 50px;
	float: left;
}

.layout-table td {
	padding-bottom: 7px;
}

button.nts-switch-button {
	width: 85px;
}

#table-infor th, #table-infor td {
	border: 1px solid black;
}

#table-infor th, #table-label th {
	
}

#master-wrapper {
	overflow: hidden !important;
}

#combo-box.ui-igcombo-wrapper {
	width: 220px !important;
}

#contents-area .fixed-flex-layout-right{
	margin-top: 30px;
}