<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"></meta>
	<title>Ignite Grid Sample</title>
	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../../../lib/generic/jqueryui/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="../../../lib/generic/igniteui/css/themes/infragistics/infragistics.theme.css" />
	<link rel="stylesheet" type="text/css" href="../../../lib/generic/igniteui/css/structure/infragistics.css" />
	<link rel="stylesheet" type="text/css" href="../../../lib/nittsu/ui/style/stylesheets/base.css" />
	<style>
		*{box-sizing:border-box;}
		.container{padding:40px;}
		a{color:#00B050;text-decoration: none;}
		h2{color:#00B050;font-size: 25px; margin-bottom:20px;}
	</style>
	
	<!-- Script -->
	<script src="../../../lib/generic/jquery/jquery-3.1.1.js"></script>
	<script src="../../../lib/generic/jqueryui/jquery-ui.min.js"></script>
	<script src="../../../lib/generic/knockoutjs/knockout-3.4.0.js"></script>
	<script src="../../../lib/generic/knockoutjs/knockout.mapping-2.4.1.js"></script>
	<script src="../../../lib/generic/lodash/lodash-4.16.6.min.js"></script>
	<script src="../../../lib/generic/igniteui/js/infragistics.core.js"></script>
	<script src="../../../lib/generic/igniteui/js/infragistics.lob.js"></script>
	<script src="../../../lib/generic/igniteui/js/extensions/infragistics.ui.grid.knockout-extensions.js"></script>
	<script src="data.js"></script>
	<script>
	    $(function () {
	        for (var i = 0; i < northwindProducts.length; i++) {
	            northwindProducts[i].ImageUrl = "http://lorempixel.com/50/50/food/" + (i % 10) + "/";
	        }
	        
	        $("#ig-grid").igGrid({
	            primaryKey: "ProductID",
	            width: '100%',
	            columns: [
	                { headerText: "Product ID", key: "ProductID", dataType: "number", width: "15%", hidden: true },
                    { headerText: "Image", key: "ImageUrl", dataType: "string", width: "15%", template: "<img src=\"${ImageUrl}\"/>" },
	                { headerText: "Product Name", key: "ProductName", dataType: "string", width: "25%" },
	                { headerText: "Category", key: "CategoryName", dataType: "string", width: "25%" },
	                { headerText: "Units In Stock", key: "InStock", dataType: "number", width: "35%" }
	            ],
	            autofitLastColumn: false,
	            autoGenerateColumns: false,
	            dataSource: northwindProducts,
	            responseDataKey: "results",
	            autoCommit: true,
	            features: [
	                {
	                    name: "Sorting",
	                    sortingDialogContainment: "window"
	                },
	                {
	                    name: "Filtering",
	                    type: "local",
	                    columnSettings: [
	                        {
	                            columnKey: "ImageUrl",
	                            allowFiltering: false
	                        },
	                        {
	                            columnKey: "InStock",
	                            condition: "greaterThan"
	                        }
	                    ]
	                },
	                {
	                    name: "Selection",
	                    mode: "row",
	                    multipleSelection: true,
	                    activation: true
	                },
	                {
	                    name: "Paging",
	                    pageSize: 10
	                },
	                {
	                    name: "Resizing"
	                },
	            ]
	        });
	        $("#ig-grid tbody").selectable({
	        	stop: customSelectRow,
	        	distance: 30,
	        	filter: "tr"
	        });
	        function customSelectRow(){
		        $grid = $('#ig-grid');
	        	$grid.igGridSelection("clearSelection");
		        var rows = $grid.find('.ui-selected');
		        rows.each(function(index){
		        	$grid.igGridSelection("selectRow", ($grid.igGrid("getElementInfo", $(this)).rowIndex));
		        })
	        }
	    });
	</script>
</head>
<body>
	<div class="container">
		<h2><a href="../../../test.html">&#9665;</a> Ignite Grid Example</h2>
		<table id="ig-grid"></table>
	</div>
</body>
</html>