#combo-box {
    width: 70px;
}

.padding-left-6{
    padding-left: 6px;
}
.padding-left-12{
    padding-left: 12px;
}
.padding-left-24{
    padding-left: 24px;
}

.margin-bottom-12 {
    margin-bottom: 12px;
}

.vertical-container {
    display: flex;
}
.vertical-child {
    margin: auto;
}
#button-wraper {
    text-align: center;
    height: 65px;
}