#D1 {
    margin: 20px auto;
}

#D1 td, #D1 th {
    border: 1px solid black;
}

#D1 .last-row td, #D1 .last-row th {
    border-top: 2px solid black;
}

#D1 th {
    background-color: #CCFF99;
    padding: 0 10px;
}

#D1 td {
    padding: 0 10px;
}