#content-left {
    margin-top: 15px !important;
    margin-right: 0 !important;
}

#D1_4 {
    margin-left: 60px;
}

#D1_2 {
    margin-left: 10px;
}

#D1_3 {
    margin-left: 10px;
}

#D1_5 {
    margin-left: 10px;
}

#D4_2 {
    width: 100px;

}

#D4_3 {
    margin-left: 8px;
}

#D4_4 {
    margin-top: 8px;
}

#D4_5 {
    width: 125px;
}

#D4_6 {
    margin-top: 8px;
}

#D4_7 {
    width: 125px;
}

#D4_8 {
    margin-top: 8px;
}

#D4_9 {
    width: 125px;
}

#D4_12 {
    width: 50px;
}

#D4_14 {
    margin-top: 8px;
}

#D4_15 {
    width: 410px !important;
}

#D4_16 {
    margin-left: 30px;
    margin-top: 10px;
    border-color: transparent;
}

#D4_17 {
    width: 410px !important;
}

#D4_18 {
    margin-top: 8px;
}

#D4_19 {
    width: 410px !important;
}

#D4_20 {
    margin-left: 30px;
    margin-top: 10px;
    border-color: transparent;
}

#D4_21 {
    margin-left: -30px;
    width: 410px !important;
}

#D4_22 {
    margin-top: 8px;
}

#D5_5 {
    margin-left: 5px;
}

#D5_8 {
    margin-left: 5px;
}

#D5_9 {
    margin-top: 8px;
}

#D5_15 {
    margin-top: 8px;
}

#D5_35 {
    width: 165px;
    margin-left: 10px;
}

#D5_38 {
    width: 165px;
    margin-left: 10px;
}

#D5_13 {
    margin-top: 8px;
}

#D5_6 {
    margin-top: 8px;
}

#D5_30 {
    margin-top: 8px;
}

#D5_33 {
    width: 370px;
    height: 60px;
}

.column-1 {
    width: 190px;
}

.column-1-tab-2 {
    width: 230px;
}

.margin-left-5px {
    margin-left: 5px;
}