#D1_4 {
	margin-left: 60px;
}
#D1_2 {
	margin-left: 10px;
}
#D1_3 {
	margin-left: 10px;
}
#D1_5 {
	margin-left: 10px;
}
 #D4_2 {
	width: 100px;
	
} 
#D4_3 {
	margin-left: 8px;
}
#D4_4 {
	margin-top: 8px;
}
#D4_5 {
	width: 125px;
}
#D4_6 {
	margin-top: 8px;
}
#D4_7 {
	width: 125px;
}
#D4_8 {
	margin-top: 8px;
}
#D4_9 {
	width: 125px;
}
#D4_12 {
	width: 50px;
}
#D4_14 {
	margin-top: 8px;
}
#D4_15 {
	width: 225px !important;
}
#D4_16 {
	margin-left: 13px;
}
#D4_17 {
	margin-left: 48px;
}
#D4_18 {
	margin-top: 8px;
}
#D4_19 {
	width: 315px;
}
#D4_20 {
	margin-left: 13px;
}
#D4_21 {
	margin-left: 48px;
	width: 360px !important;
}
#D4_22 {
	margin-top: 8px;
}
#D4_23 {
	width: 125px;
}
#D5_4 {
	width: 25px;
}
#D5_5 {
	width: 45px;
	margin-left: 5px;
}
#D5_7 {
	width: 25px;
}
#D5_8 {
	width: 45px;
	margin-left: 5px;
}
#D5_9 {
	margin-top: 8px;
}
#D5_12 {
	width: 45px;
}
#D5_14 {
	width: 85px;
}
#D5_15 {
	margin-top: 8px;
}
#D5_19 {
	width: 25px;
}
#D5_21 {
	width: 35px;
}
#D5_34 {
	margin-left: 124px;
}
#D5_35 {
	width: 75px;
	margin-left: 10px;
}
#D5_22 {
	margin-top: 8px;
}
#D5_24 {
	margin-top: -10px;
	width: 35px;
}
#D5_26 {
	width: 35px;
}
#D5_37 {
	margin-left: 125px;
}
#D5_38 {
	width: 75px;
	margin-left: 10px;
}
#D5_29 {
	width: 75px;
}
#D5_31 {
	width: 55px;
}
#D5_32 {
	
}
#D5_33 {
	width: 335px;
}
#D5_13 {
	margin-top: 8px;
}
#D5_6 {
	margin-top: 8px;
}
#D5_20 {
	margin-left: 5px;
}
#D5_30 {
	margin-top: 8px;
}