/* #button22 {
	font-size: 20px;
	height: 36px;
	width: 111px;
	margin-left: 580px;
    margin-top: 28px;
}

#kcp005{
	width: 562px;
    margin-left: 105px;
    margin-top: 2px;
}

#panel11{
	width: 562px;
    margin-left: 105px;
}

#daterangepicker{
	margin-left: 14px;
	display: inline-block;
}

#formLabe12{
	float: left;
}

#contents-area{
	overflow-y: hidden;
	overflow-x: hidden;
}

#left-content {
	padding: 10px 0px 0px 7px;
	float: left;
	width: 250px;
    height: 410px;    
	border-radius: 7px;
    box-sizing: border-box;
}
#right-content {
	margin-left: 55px;
	float: left;
	margin-top: 8px;
} */