.overtimeListQ5_1 tr {
	border: 1px solid black;
}

.overtimeListQ5_1 tr > td:nth-child(3) > div > label{
	border-left: 1px solid black;
	/*padding: 3px 0;*/
}

.overtimeListQ5_1 tr > td:nth-child(1){
	background-color: #CFF1A5;
	width: 120px;
}

.bg-header {
	background-color: #CFF1A5;
}

.overtimeListQ5_1 tr > td:nth-child(2){
	background-color: #CFF1A5;
	width: 60px;
}

.overtimeListQ5_1 tr > td:nth-child(3) > div > label:nth-child(1){
	width: 140px;
}

.overtimeListQ5_1 tr > td:nth-child(3) > div > label:nth-child(2){
	width: 140px;
}

.overtimeListQ5_1 tr > td:nth-child(3) > div > label:nth-child(3){
	width: 150px;
}

#tab-panel {
	width: 850px;
}

.constText1 {
	height: 180px;
	padding-left: 190px;
}

.tableQ8_1 tr {
	border: 1px solid black;
}

.tableQ8_1 td:nth-child(2) {
	border: 1px solid black;
}

.tableQ8_1 tr > td:nth-child(1) {
	background-color: #CFF1A5;
	width: 185px;
}

.tableQ8_1 tr > td:nth-child(2), .tableQ8_1 tr > td:nth-child(3) {
	background-color: #F2F2F2;
	width: 140px;
}

.divConst1 {
	display: flex;
}

.divConst1 > div:nth-child(1) {
	flex: 0 0 480px;
}

#imgq6_1 {
	position: absolute;
	left: 220px;
	top: 0;
}

#imgq6_2 {
	position: absolute;
	left: 250px;
	top: 56px;
}

#imgq6_3 {
	position: absolute;
	left: 361px;
	top: 0;
}

#imgq6_4 {
	position: absolute;
	left: 386px;
	top: 42px;
}

#imgq6_5 {
	position: absolute;
	left: 162px;
	top: -38px;
}

#imgq6_6 {
	position: absolute;
	left: 162px;
	top: -38px;
}

#imgq6_7 {
	position: absolute;
	left: 313px;
	top: 35%;
}

#img-chart {
	margin-top: 38px;
	position: relative;
}

#img-chart > img:nth-child(2) {
	/* margin-left: 275px */
}

.tableQ8_1 a {
	color: blue
}

.help-btn {
    margin-left: 185px;
}

#img-chart-tab-2 {
	display: flex;
	position:  relative;
}

#img-chart-tab-2 > div:nth-child(2) {
	padding-top: 37px;
	margin-left: 20px;
}

#imgq9_1 {
	margin-top: -4px;
}

#imgq9_2 {
	position:absolute;
	left: 472px;
	top: 0;
}

#imgq14_1 {
	position: absolute;
	left: 220px;
	top: 0px;
}

#imgq14_2 {
	position: absolute;
	left: 250px;
	top: 56px;
}

#imgq14_3 {
	position: absolute;
	left: 361px;
	top: 0px;
}

#imgq14_4 {
	position: absolute;
	left: 386px;
	top: 42px;
}

#imgq14_5 {
	position: absolute;
	left: 196px;
	top: -30px;
}

#imgq14_6 {
	position: absolute;
	left: 205px;
	top: -27px;
}

#img-chart-tab-2 > img {
	margin-top: -12px;
}

.tableQ8_1 tr > td:nth-child(3) {
	vertical-align: top
}

.panel-caret-warpper {
	margin-left: 464px;
}

.caret-bottom {
	color: #CFF1A5
}

.panel-caret-warpper .panel.panel-gray-bg {
	width: 220px
}

.panel-caret-warpper > div:nth-child(1) {
	margin-bottom: 5px;
	padding-top: 5px;
	padding-left: 30%
}

.table-col-border {
	border-left: 1px solid black;
}

#Q4_2 {

}

#Q4_3, #Q4_4 {
	width: 180px;
	text-align: center;
}

#Q4_5 {
	width: 167px;
}

#Q4_5_label {
	padding-left: 50%;
}

#Q6_1 {

}

#Q6_2 {
	padding-left: 240px;
}

#Q6_3 {
	padding-left: 95px;
}

.ntsRadioBox span.box {
	margin-left: 3px;
}

.tabs-panel.has-content {
	overflow: visible;
}

.nts-help-button-image {
  width: 370px !important;
}