.contents-area {
    padding: 20px;
}

.color-header {
    background-color: #CFF1A5;
    white-space: normal !important;
    padding-left: 10px !important;
}

td .nts-editor-wrapped.ntsControl {
    display: flex;
}

th.ui-widget-header .form-label {
    border: none;
    padding: 0;
}

#tabpanel-wkp .ntsRadioBox {
    display: block;
}

td .ntsRadioBox:first-child {
    width: 100px;
    margin-bottom: 5px;
}

td .ntsControl.radio-wrapper {
    margin-left: 20px;
}

#nts-component-tree {
    width: 413px;
}