@import url("base.css");

#content {
	width: 1200px;
	margin-bottom: 20px;
}

/* #A1_004 {
	margin-left: 15px !important;
}

#A1_001 {
	margin-left: 25px !important;
}

#functions-area button {
	width: 70px;
}

#content-left {
	width: 270px;
	height: 690px;
}

#content-right {
	margin-left: 30px;
	float: left;
	width: 850px;
	height: 875px;
}

#A2_001_container {
	margin-left: 15px;
}

#content-left>.caret-bottom:after {
	color: #97d155;
	font-size: 20px;
	border-right: 1.7em solid transparent;
	border-left: 1.6em solid transparent;
	margin-left: 0.6em;
}

#A3_003 {
	margin-left: 10px;
}

#content-left>.caret-bottom {
	margin-left: 80px;
	font-size: 20px;
}

#content-left>.caret-bottom:before {
	border-right: 2.2em solid transparent;
	border-left: 2.2em solid transparent;
	color: #C8EECF;
}

.auth_table {
	border-collapse: separate;
	border-radius: 2px;
	padding: 5px 5px;
}

.auth_table td, .auth_table th {
	border: 1px solid #CCC;
	height: 1.6em;
}

.auth_table td {
	background: white;
	height: 34px;
}

.auth_table th {
	color: #000;
	background-color: #CFF1A5;
	padding: 0 2px;
	font-weight: bold;
}

#file_permission_settings .nts-switch-button, .auth_table .nts-switch-button
	{
	width: 50px;
}

#padding_left_20 {
	padding-left: 20px;
}

#file_permission_settings_cover {
	width: 835px;
}

#file_permission_settings {
	padding: 10px 20px 10px 4px;
	display: flex;
	border-radius: 5px;
	background-color: white;
	margin: 10px 0px 0px 10px;
	float: left;
	width: 690px;
}

#file_permission_settings>div {
	flex: 1;
}

.margin_left_10 {
	margin-left: 10px;
}

#history_auth_table .ui-igcombo {
	width: 120px;
	min-width: 0px !important;
}

#auth_group_table {
	margin-left: 10px;
}

.selected_all_auth {
	display: block;
}

#selected_all_caret {
	font-size: 20px;
	margin: 5px 0px 0px 60px;
}

#selected_all_caret:after {
	color: #97d155;
	font-size: 20px;
	border-right: 1.7em solid transparent;
	border-left: 1.6em solid transparent;
	margin-left: 0.6em;
}

#selected_all_caret:before {
	border-right: 2.2em solid transparent;
	border-left: 2.2em solid transparent;
}

.ntsgrid-alarm {
	background-color: #FAEC82 !important;
}

#item_role_table_cover {
	width: 830px;
	position: relative;
	clear: both;
	margin-top: 15px;
	float: left;
}

#role_auth_cover {
	width: 550px;
}


#item_role_table_body_container {
	margin-top: 5px !important;
}

#item_role_table_body_container  .nts-switch-button {
	width: 70px;
}



#item_role_table_body tr>td:NTH-CHILD(2) {
	text-align: center;
}

.line_col_1 {
	float: left;
	display: inline;
}

.line_col_2 {
	float: left;
	display: inline;
}

.checkbox_float_left>div:FIRST-CHILD {
	float: left;
}
.grid-container{
    margin: 15px 0 0 0px;
}

.resize_Edittor{
	width: 80px !important;
}
#fixed_table td {
    padding-bottom: 10px;
    padding-left: 10px;
}

#tbl-detail tr>td:NTH-CHILD(1) {
	width: 140px !important;
}

#tbl-detail{
	padding-top: 20px;
}
#tbl-detail td {
    padding-bottom: 10px;
    padding-left: 10px;
    float: left;
}

#fixed_table tr>td:NTH-CHILD(1) {
	width: 140px !important;
}
#fixed_table tr>td:NTH-CHILD(2) {
	width:80px !important;
}
#fixed_table tr>td:NTH-CHILD(3) {
	width:80px !important;
}
#fixed_table tr>td:NTH-CHILD(4) {
	width:100px !important;
}
#fixed_table tr>td:NTH-CHILD(5) {
	width:80px !important;
} */

#single-list_container{
	margin: 10px 0px !important;
}
td{padding:5px 0px;}
.verTop{
	vertical-align: top;
}
.resize_Edittor{
	width: 70px !important;
}
.formularStyle{
	font-weight: bold;
	padding: 10px;
}

#subContent td.tdTxt{
	padding: 0px 40px; 
}

#subContent table>tbody>tr>td:nth-child(1){
	width: 70px;
}

th.ui-iggrid-header{
	white-space: unset !important;
}