@import url("common.css");

.ccg001searchkcp005 {
	min-width: 710px;
	display: inline-block;
}

.holidayAction {
	margin-left: 50px;
	margin-top: 40px;
	float: left;
	display: inline-block;
	min-width: 450px;
}

.selectionHoliday {
	border-radius: 5px;
	margin: 20px 30px 0px 90px;
}

#contents-area {
	display: flex;
}

.div_line_col_1 {
	width: 130px;
	float: left;
}

.div_line_col_2 {
	display: inline-block;
	line-height: 37px;
}

#date_type_group {
	margin-left: 35px;
}

#date_type_group .ntsRadioBox:nth-child(2) {
	margin-left: 145px;
}

#ref_type_group {
	width: 180px;
	margin-left: 60px;
	margin-top: 20px;
	display: inline-block;
}

#ref_type_group .ntsRadioBox {
	height: 40px;
}

.mt-10 {
	margin-top: 10px;
}

.ml-10 {
	margin-left: 10px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-15 {
	margin-right: 15px;
}

.ml-40 {
	margin-left: 40px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-22 {
	margin-top: 22px;
}


.display-inline {
	display: inline;
}

.date-range-a3_15 {
	display: inline-flex;
}

.a3_15 {
	margin-top: -6px;
    margin-left: 28px;
}

.ml-42 {
	margin-left: 42px;
}

.ml-120 {
	margin-left: 120px;
}

.ml-100 {
	margin-left: 100px;
}

.pageBreak > .nts-switch-button {
	width: 75px;
}

.w-75 {
	width: 75px;
}

.w-100 {
	width: 100px;
}

.align-seft-center {
	align-self: center;
}


.drag-panel {
	display:inline-block;
	vertical-align: top;
	border: 2px solid #ccc;
	border-radius: 10px;
	width: 570px;
	padding: 25px;
	box-sizing: border-box;
}

.min-width-layout-1 {
	min-width: 570px;
}

.self-panel {
	display: inline-block;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    width: 810px;
    margin-left: 16px;
    margin-top: 10px;
    height: 620px;
}


@media screen and (min-width: 728px) {
	.holidayAction {
		margin-left: 15px;
		margin-top: 20px;
		display: inline-block;
		min-width: 450px;
	}

	.ml-40 {
		margin-left: 20px;
	}

	.min-width-layout-1 {
		min-width: 480px;
	}

	#employeeSearch > div {
		padding: 0px !important;
	}
}

@media screen and (max-width: 728px) {

	#employeeSearch > div {
		padding: 20px !important;
	}
}

.setting-label {
  width: 380px;
}

.label-zone {
  width: 150px;
}

.div_line .switchbox-wrappers > label.nts-input > span {
  width: 70px !important;
  text-align: center !important;
}