@import url("base.css");

/*A1_002*/
#emp_reg_info_wizard>.steps {
	height: 700px;
}

#init_setting_btn {
	margin-right: 200px;
	float: right;
}

#emp_reg_info_wizard>.content {
	background: none;
}

.nts-wizard {
	min-width: 1200px;
}

.content.clearfix {
	min-width: 890px;	
}

.nts-wizard .header .content {
	margin: 4px 0 5px 0;
	padding: 0.5em 1em 1em 3em;
}

.nts-wizard>.steps>ul>li.current>.nts-steps-middle>.nts-bridge>.nts-horizontal-line
	{
	width: calc(100% - 53px);
}

.nts-wizard>.steps>ul>li>.nts-steps-middle {
	padding-left: 31px;
}
/* step1 */
.step1_top_left_col1 {
	width: 150px;
	float: left;
}

.step1_top_left_col2 {
	float: left;
}

#step1_content_top_left {
	float: left;
	width: 600px;
}

#step1_content_top_right {
	float: right;
	width: 370px;
	background-color: #F2F2F2;
	padding: 10px;
	position: absolute;
	display: inline-block;
}

.nts-wizard.vertical>.steps {
	width: 250px !important;
}

.nts-wizard.vertical>.content {
	/* width: 1050px; */
	height: 800px;
}

#top_right_hr {
	margin-top: 40px;
}

.last_reg_title {
	width: 160px;
	float: left;
}

#top_hr {
	margin-top: 15px;
	width: 600px;
	float: left;
}

#step1_content_bottom {
	margin-top: 15px;
}

#step1_bot_des {
	margin-left: 20px;
}

#init_select {
	margin-left: 20px;
}

.step1_bot_col1 {
	float: left;
	width: 350px;
}

.step1_bot_col2 {
	float: left;
	width: 200px;
}

.lastHistName {
	margin-left: 8px;
	white-space: nowrap;
	width: 75px;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
}

.step1_bot_col2 .div_line:NTH-CHILD(1) {
	margin-top: 0px;
}

.step1_bot_col2 .div_line {
	margin-top: 5px;
}

.step1_bot_col2 .div_line button {
	width: 120px;
}

#step1_next_btn {
	margin-left: 50px;
}

.next_btn {
	width: 150px;
}
/* step1 */

/* step 2 */
#ccgcomponent {
	margin-left: 250px;
}

#step2_content {
	margin-left: 20px;
	display: inline-flex;
	width: 900px;
}

#step2_des {
	margin-left: -10px;
}

.step2_col1 {
	width: 150px;
	float: left;
}

.step2_col2 {
	float: left;
}

.step3_col1 {
	width: 120px;
	float: left;
}

.step3_col2 {
	float: left;
}

#search_panel {
	margin-top: 25px;
}

#search_box {
	height: 500px;
	position: relative;
	border-radius: 5px;
	padding: 0px 5px 10px 25px;
	margin-top: 25px;
}

#value_item {
	padding: 15px 0px 0px 30px;
}

.table_item {
	border-collapse: collapse;
}

#cover_table {
	width: 453px;
}

.table_item, th, td {
	border: 1px solid black;
	padding: 5px;
}

.table_item th {
	height: 40px;
}

.step3_col2 .table_item, th, td {
	padding: 8px;
}

/* step 2 */
.textLabel {
	line-height: 37px;
}

.step2_title {
	margin-left: 20px;
}

.requiredCell {
	background-color: #FAEC82;
}

.notRequiredCell {
	background-color: #E0F59E;
}

.disabledCell {
	background-color: #d9d9d9;
}
/* step 3 start */
#employeeAvatar {
	border: 1px solid #B1B1B1;
	width: 100px;
	height: 130px;
	border-radius: 5px;
}

.step3-title-name {
	width: 180px;
}

.step3-title-value {
	width: 300px;
}

.isAllowUpload {
	cursor: pointer;
}

.drag-panel {
	height: 500px !important;
}

.ellipsis_step3_title {
	white-space: nowrap;
	width: 320px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.valueCell {
	max-width: 250px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/* step 3 end */
.finish .ui-dialog-titlebar-close {
	display: none;
}

#hor-scroll-button-hide {
	position: absolute !important;
}

.nts-wizard > .content > .body {
	min-width: 820px;
}