@import url("base.css");

/*A1_002*/
#init_setting_btn {
	margin-right: 200px;
	float: right;
}
/* step1 */
.step1_top_left_col1 {
	width: 100px;
	float: left;
}

.step1_top_left_col2 {
	float: left;
}

#step1_content_top_left {
	float: left;
	width: 600px;
}

#step1_content_top_right {
	float: left;
	width: 250px;
}

.nts-wizard.vertical>.steps {
	width: 250px !important;
}

.nts-wizard.vertical>.content {
	width: 1000px;
}

#wizard {
	width: auto !important;
}

#top_right_hr {
	margin-top: 40px;
}

.last_reg_title {
	width: 160px;
	float: left;
}

#top_hr {
	margin-top: 15px;
	width: 600px;
	float: left;
}

#step1_content_bottom {
	margin-top: 15px;
}

#step1_bot_des {
	margin-left: 20px;
}

#init_select {
	width: 300px;
	margin-left: 20px;
}

.step1_bot_col1 {
	float: left;
	width: 300px;
}

.step1_bot_col2 {
	float: left;
	width: 200px;
}

.step1_bot_col2 .div_line:NTH-CHILD(1) {
	margin-top: 0px;
}

.step1_bot_col2 .div_line {
	margin-top: 5px;
}

.step1_bot_col2 .div_line button {
	width: 120px;
}

#step1_next_btn {
	margin-left: 50px;
	width: 120px;
}
/* step1 */