@import url("base.css");

/*A1_002*/
#init_setting_btn {
	margin-right: 200px;
	float: right;
}

.top_left_col1 {
	width: 100px;
	float: left;
}

.top_left_col2 {
	float: left;
}

#step1_content_top_left {
	float: left;
	width: 600px;
}

#step1_content_top_right {
	float: left;
	width: 250px;
}

.nts-wizard.vertical>.steps {
	width: 250px !important;
}

.nts-wizard.vertical>.content {
	width: 1000px;
}

#wizard {
	width: auto !important;
}

#top_right_hr {
	margin-top: 40px;
}

.last_reg_title {
	width: 160px;
	float: left;
}