.ntsUpDown {
	display: inline-block;
}

#swap-list_container {
	display: inline-block;
}

#swap-list-grid1_displayContainer {
	height: 145px !important;
}

#swap-list-grid1_scrollContainer {
	height: 145px !important;
}

#swap-list-grid2_displayContainer {
	height: 145px !important;
}

#swap-list-grid2_scrollContainer {
	height: 145px !important;
}

#up-down{
	padding-left: 30px;
}

.upDown-container {
	vertical-align: initial;
}

#up-down-up {
	margin-top: 55px;
}


#right-content {
	margin-left: 30px;
}

.text {
	margin-top: 15px;
	margin-left: 30px;
}
#master-wrapper {
    height: 95vh;
}
.btn-large{
    display: inline-block;
    margin-left: 16px;
    vertical-align: top;
    margin-top: 70px;
}
div.btn-large button{
	white-space: normal;
    word-wrap: break-word;
    width: 75px;
    height: 70px;
}
#swap-list-move-data.ntsMoveDataArea.ntsSwapComponent{
	padding-left: 10px;
	padding-right: 10px;
	
}
#swap-list-grid2_container{
	height: auto !important;
}
#swap-list-grid1_container{
	height: auto !important;
}
