input {
	text-align: center !important;
}
.adjustWidth {
	width: 160px !important;
}
.inlineBlockFirst {
	display: inline-block;
	/* margin-top: -20px; */
}
.labelFirst {
	float: left;
	width: 112px;
}
.blockSecond {
	display: block;
	margin-top: 7px;
	margin-left: 40px;
}
.inputBlockSecond {
	text-align: center !important; 
	margin-left: 80px; 
	float: left; 
	width: 50px;
}
.dropListBlockSecond {
	height: 30px; 
	margin-left: 25px;
	width: 100px;
}.marginCustome1 {
	margin-top: 5px !important;
	margin-bottom: 10px !important;
}
.marginCustome2 {
	margin-top: 2px !important;
	margin-bottom: 10px !important;
}
