#left-content {
	margin-left: 15px;
	margin-top: 30px;
	float: left;
	min-height: 600px;
}

#right-content {
	margin-left: 50px;
	margin-top: 50px;
	float: left;
	min-height: 600px;
}

.table_content td {
	padding-top: 20px;
}

.label {
	padding-left: 10px;
}

.history-button {
	margin-bottom: 10px;
}