#left-content {
	margin-left: 15px;
	margin-top: 20px;
	float: left;
	min-height: 400px;
}

#right-content {
	margin-left: 50px;
	/* margin-top: 50px; */
	float: left;
	min-height: 400px;
}

.table_content td {
	padding-top: 20px;
}

.label {
	padding-left: 10px;
}

.history-button {
	margin-bottom: 10px;
}

#list-box {
    margin-top: -20px;
}