.kaf018-d-header-wkpName {
	text-align: center !important;
	vertical-align: middle !important;
}

.kaf018-d-column-wkpName {
	vertical-align: middle !important;
	color: #0066CC;
	text-decoration: underline;
}

.kaf018-d-header-date {
	text-align: center !important;
	vertical-align: middle !important;
}

.kaf018-d-column-date {
	text-align: center;
}