.kaf018-d-header-empName {
	text-align: center !important;
	vertical-align: middle !important;
}

.kaf018-d-column-empName {
	vertical-align: middle !important;
	color: #0066CC;
	text-decoration: underline;
}

.kaf018-d-header-date {
	text-align: center !important;
	vertical-align: middle !important;
}

.kaf018-d-column-date {
	text-align: center;
}