.nts-switch-button {
    width: 180px !important;
}

.panel.ntsPanel {
	padding: 5px 20px;
	background-color: #EDFAC2;
}

.caret-background:after {
	border: 0;
}

.left-bottom {
	position: relative;
}

.arrow-top {
	position: absolute;
	top: 82px;
	left: 577px;
}

.arrow-bottom {
	position: absolute;
	top: 359px;
	left: 577px;
}

.content {
    width: 55%;
}

.top {
	margin-bottom: 10px;
	align-items: center;
	margin-right: 15px;
	display: flex;
}

.top > button {
	margin-right: 110px;
}

.caret-background.caret-right:after {
	left: 0 !important;
}

.btn-arrow {
	justify-content: center;
	padding-top: 7px;
	padding-bottom: 7px;
}

.btn-arrow > .btn-bak,
.btn-arrow > .btn-restore {
	height: 80px;
    width: 110px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 15px;
}

.btn-arrow > .btn-bak {
	background-image: url(/nts.uk.com.js.web/lib/nittsu/ui/style/stylesheets/images/icons/numbered/181.png);
}

.btn-arrow > .btn-restore {
	background-image: url(/nts.uk.com.js.web/lib/nittsu/ui/style/stylesheets/images/icons/numbered/183.png);
}

.d-flex {
	display: flex;
}

.icon-container {
	align-items: center;
	height: 100%;
}

.grid-container {
	height: 100%; 
	flex-grow: 1; 
	padding-left: 10px;
}

.ui-iggrid-tablebody {
	white-space: nowrap;
}

.ui-iggrid-tablebody > tr > td {
	padding: 0;
}

.nts-input > span { 
	width: 110px;
	text-align: center;
}

.left-bottom > div:nth-child(1), 
.left-bottom > div:nth-child(3) {
	display: flex;
	align-items: center;
}

.right {
	margin-left: 60px;
}