.link-button.goback {
    padding-left: 25px;
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}
#grid_pager_label{
	display: none !important;
	
}
#kdp003-grid{
	border: 1px solid #999999;
}
#contents-area{
	margin-left: 8px;
}
