#oViewModel #label, #oViewModel  #listWorkType, #oViewModel  #group-button,
	#oViewModel  #set-work-type, #oViewModel #set-work-time {
	float: left;
}

#oViewModel  #set-work-type, #oViewModel #set-work-time {
	position: absolute;
}

#oViewModel{
	top: 29px;
}

#set-work-time {
	top: 32px;
}

#oViewModel #time-edit1 {
	text-align: center !important;
	width: 43px !important;
	margin-left: 16px
}

#oViewModel #time-edit2 {
	text-align: center !important;
	width: 43px !important;
}

#oViewModel .reserved {
	margin-left: 10px;
}

#oViewModel #switch-o {
	margin-left: 10px;
}

#oViewModel #group-button {
	margin-left: 170px;
}

#oViewModel #image100 {
	margin-left: 280px;
	vertical-align: middle;
	background: url(../image/image100.png) no-repeat center;
	background-size: 20px 20px;
	height: 24px;
	width: 24px;
}

#oViewModel div.form-label {
	height: 27px
}

#oViewModel label {
	line-height: 27px;
}

.workstyleclassfication {
	width: 100px !important;
}

.inline {
	display: inline-block;
}

#listWorkTime{
	margin-left: 50px;
}
.inlineAc {
    display: inline-block;
}
.img-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.openDialogJA {
    width: 25px;
    height: 25px;
    vertical-align: top;
}
.closeAb{
    width: 25px;
    height: 25px;
}
.closeAb .icon.icon-close {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    margin-top: -3px;
}

#tableButton1 {
	background-color: rgb(237,250,194);
}

#tableButton1 button {
	width: 194px !important;
	height: 20px;
	line-height: 18px;
	box-shadow : 0 1px rgba(0, 0, 0, 0.4);
	border : 1px solid grey;
	color : black;
	padding: 0px;
}

#tableButton1 table td {
	padding: 3px 3px !important;
}

#screen-Ab2 .listLink {
	width: 990px;
	margin-bottom: -6px;
}
#screen-Ab2 .listLink .hyperlink {
	color: #0066CC;
	width: max-content;
	height: 25px;
	display: inline-block;
	padding: 3px;
}
#screen-Ab2 .listLink .hyperlink.active {
	background-color: #edfac2;
}