.lable-line {
	display: block;
	margin-bottom: 20px;
}

a.nounderline {
	text-decoration: none;
}

.ui-dialog-titlebar-close {
	display: none !important;
}

.date-range {
	margin-left: 60px;
}

table.fixed-table>tbody>tr>td {
	white-space: unset !important;
}

#detailContentMethod {
	/*white-space: pre !important;*/
}

#fixed-table {
	min-height:30px;
}