#J1_4 {
	margin-left: 45px;
}
#J2_1 {
	margin-bottom: 25px;
}

#J2_4 {
	margin-left: 100px;
}

#J2_8 {
	margin-top : 20px;
	margin-left: 445px;
}

#J2_9 {
	
	margin-left: 445px;
}
.td-widget {
    color: #000;
    background-color: #CFF1A5;
}
#J3_1_container .nts-fixed-body-container{
	padding-right: 0px !important;
}

.ci_scroll_header {
	width: 17px !important;
}
.edge_scroll_header {
	width: 16px !important;
}
