.radio{
    padding-left: 100px;
    margin-bottom: 10px;
}
#D1_1{
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
}
#D1_2{
    padding-right: 20px;
}
#D1_3{
    padding-right: 10px;
}
#A5_1, #A6_1, #A7_1, #A8_1, #A9_1{
    width: 120px;
    margin-left: 20px;
}
.radio{
    margin-left: 45px;
}
.item{
    padding: 5px 0px;
    width: 680px;
}
.insert{

}