.danger {
	margin-left: 15px !important;
	margin-right: 0px !important
}

span#workplaceCode {
	margin-left: 10px;
	margin-right: 10px;
}

hr {
	width: 940px;
	position: absolute;
	margin: 0px 30px 0px 30px;
}

#group-link-button-ja {
	height: 30px;
	width: 660px;
	margin-top: 10px;
	margin-left: 50px;
	white-space: nowrap;
}

#group-link-button-ja a {
	font-size: 13px;
	margin-top: 5px;
	margin-left: 5px;
	display: inline-block;
}

#test2 {
	background-color: #FBE5D6;
	width: 810px;
	padding: 3px;
	display: inline-block;
	margin-left: 8px;
}

#test2 button {
	width: 75px !important;
	height: 25px !important
}

#test2 table td {
	padding: 3px 3px !important;
}

#test * {
	font-size: 0.8rem
}

.caret-background.caret-bottom:after {
	left: 5% !important;
	border-width: 10px 30px !important;
}

.mt-10 {
	margin-top: 10px;
	margin-left: 50px;
}

#bt-clear {
	margin-left: 765px
}

#multiline-textbox {
	width: 791px !important;
}

#classification {
	margin-left: 150px
}

#multiline-textbox {
	margin-top: 15px;
}

#textName {
	margin-left: 8px;
}

#name {
	vertical-align: middle;
	margin-right: 8px
}

.color-gray {
	color: gray
}

#h-50 {
	height: 20px
}

#popup-area {
	border: solid 6px #fff !important;
	border-radius: 3.5px !important;
	box-shadow: 1px 1px 5px 2px #888 !important;
	padding: 12px;
	background-color: #F8EFD4 !important;
	visibility: hidden;
	z-index: 1000
}

#popup-area>div {
	margin-top: 10px;
}

#contents-area {
	overflow-y: hidden !important;
}

.color-gray {
	cursor: default;
	text-decoration: none;
}

.valign-center.control-group {
	margin-left: 50px;
}

.nts-switch-button.unselectable {
	width: 100px;
}

#test2 button {
	overflow: hidden;
	text-overflow: ellipsis;
}

a.hyperlink {
	width: 57px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}