build/
taskArtifacts/
.nb-gradle/
.gradle/
.classpath
.project
.settings/
nts.uk/.metadata/
nts.uk/pr/nts.uk.pr.web/WebContent/META-INF/
gradle_eclipse_all.bat
gradle_eclipse_one.bat
nts.uk/file/pr/nts.uk.file.pr.app/bin/
nts.uk/file/pr/nts.uk.file.pr.app/.gitignore
nts.uk/pr/shr/nts.uk.shr.com/bin/
nts.uk/pr/proto/nts.uk.pr.proto.ws/bin/
nts.uk/pr/file/nts.uk.pr.file.infra/bin/
*.class
*.js.map
*.orig
*.js
nts.uk/web/nts.uk.com.js.web/src/main/webapp/lib/nittsu/ui/style/.sass-cache/
*.launch
nts.uk/uk.pr/bin/
nts.uk/uk.pr/pr.web/bin/
nts.uk/uk.at/at.web/bin/
nts.uk/uk.at/bin/
nts.uk/uk.base/base.web/bin/
*/bin/*
nts.uk/uk.base/bin/
nts.uk/uk.com/bin/
nts.uk/uk.com/com.ctx/basic/bin/
nts.uk/uk.com/com.ctx/bin/
nts.uk/uk.com/com.web/bin/
nts.uk/uk.pr/pr.ctx/bin/
nts.uk/uk.pr/pr.file/bin/
nts.uk/uk.base/base.web/nts.uk.com.js.web/src/main/webapp/lib/nittsu/ui/style/.sass-cache/
