span.caret-bottom.outline{font-size: 6.2rem;margin-left: 200px;}
div.form-label.required{ margin-right: 40px;}
div.form-label{margin-left: 20px; margin-right: 40px;}
span.text{margin-left: 20px; display: inline-block;}
#contents-area{margin-left: 40px;}
.left-content{display: inline-block;}	
.right-content{display: inline-block; margin-left: 60px;}
#SlectUser{margin-top: 30px;}
