body{
    min-width: 711px;
    width: auto !important;
}
.container {
	margin-left: 15px;
}

.left-content {
	display: inline-block;
	vertical-align: top;
}

.right-content {
	display: inline-block;
	vertical-align: top;
}

.right-content-1 {
	display: inline-block;
	vertical-align: top;
	margin-left: 78px;
}

.form-label {
	margin-right: 10px;
}
.control-group {
	margin-bottom: 10px;
	margin-top: 10px;
}

#combo-box {
	width: 240px;
}

#combo-box2 {
	width: 240px;
}

.caret-bottom {
	font-size: 46px;
	margin-left: 78px;
	color: #E0F59E;
	vertical-align: top;
	line-height: 30px;
}

.caret-right.outline {
	font-size: 74px;
	margin: 10px 0px;
	height: 4em;
	margin-top: 30px;
}

.caret-right.outline:after {
	border-width: 1.4em 0.5em;
}

.caret-bottom:after {
	border-width: 0.8em 2em;
}

.rolelist-label {
	display: inline-block;
}

#btn-selectuser {
	margin-right: 10px;
	margin-top: 30px;
	margin-bottom: 20px;
}

#daterangepicker {
	display: inline-block;
}

label.ntsControl.limited-label {
	width : 125px;
    margin-left: 15px;
}

.ui-widget-header {
	background: #cff1a5;
}

.nts-gridlist.ui-iggrid table th.ui-widget-header {
	text-align: inherit;
}

.table-food-td{
    border: 1px solid #dddddd;
}

div.ntsLabel, label.ntsLabel, div.form-label, label.form-label {
    width: 55px;
}