<div id="time-component">
    
    <v-input-time
        v-model="time"
        :name="'time'"
        :disabled="disabled"
        time-input-type="time-with-day"
        :show-title="true"
        v-bind:constraint="validations.time"
        :errors-always="$errors.title"
        :columns="{title: 'col-md-2', input: 'col-md-4'}" />

    <v-input-time
        v-model="time"
        :name="'time'"
        :disabled="disabled"
        time-input-type="time-duration"
        :show-title="true"
        v-bind:constraint="validations.time"
        :errors-always="$errors.title"
        :columns="{title: 'col-md-2', input: 'col-md-4'}" />
</div>