#role{
	margin-left: 15px;
	margin-top: 5px;
}
#category{
	margin-left: 10px;
	width: 340px;
	margin-bottom: 10px;
}
#search{
	margin-left: 5px;
}
input.ntsSearchBox {
	width: 180px !important;
	margin-left: 3px;
	margin-top:10px;
}
button.search-btn,button.clear-btn{
	margin-top:10px;
	width: 30px !important;
}
#registration {
	margin-left: 90px !important;
	margin-right: 5px;
}
.distane{
	margin-bottom: 5px;
}
#roles_container{
	margin-left: 18px!important;
}

#roles{
	height: initial !important;
	width: 300px;
} 
#roleCode{
	margin-left: 10px;
	width:90px;
}
#roleName{
	width:100px;
}
#functions-area {
  border-bottom:none !important;
}