.ntsRadioBox {
  margin-left: 60px !important;
}

#A8_2_headers_v {
  width: 180px !important;
}

#A8_2_scrollContainer {
  overflow: hidden !important;
}

#A8_2_displayContainer {
  height: 96px !important;
}

#A8_2_container {
  margin-top: 30px !important;
  margin-right: 50px !important;
}

#A4_2 {
  border: 1px solid black;
  margin-top: 20px !important;
}

table#A4_2 tr td {
  border: 1px solid black;
  border-collapse: collapse;
	padding: 5px;
}

#A4_2 tr td[rowspan] {
  vertical-align: top;
  text-align: left;
}