#contents-area {
	width: 100%;
}

.goback {
	margin-right: 35px;
}

.nts-switch-button {
	width: 70px;
}

.switchbox-wrappers {
	display: inline-block;
}

.switchbox-wrappers .radio-wrapper span {
	width: 70px;
	text-align: center;
}

.control-group .child-lb {
	margin-left: 40px;
	margin-right: 20px;
	width: 170px;
}

.form-label {
	margin-left: 20px;
}