#group-btn {
	margin-left: 60px;
}

#title {
	margin: 30px;
}

.btn-css {
	display: block;
	margin-bottom: 30px !important;
	min-width: 320px;
}

table, td {
	border: 1px solid #CCC;
	border-collapse: collapse;
}

td {
	padding: 15px 0px 15px 5px;
	text-align: left;
}

thead td {
	color: #000;
	background-color: #CFF1A5;
}

.mg-left-50 {
	margin-left: 50px
}

#table {
	padding: 30px 0 0 30px;
}

.width-td-1 {
	width: 150px;
	font-weight: bold;
}

.width-td-2 {
	width: 455px;
	font-weight: bold;
}