#contents-area {
	text-align: center;
}

#error-message {
	font-size: 17pt;
	margin-top: 50px;
	margin-bottom: 50px;
}

#stop-use-message {
	font-size: 17pt;
	margin-top: 50px;
	margin-bottom: 50px;
}