@CHARSET "UTF-8";

.nts-switch-button {
	min-width: 80px;
	font-size: 13px !important;
	height: 30px !important;
	padding: 3px 7px !important;
	margin-bottom: 3px !important;
}

.btn-default {
	margin-left: 20px;
	min-width: 80px;
}

#contents-area {
	height: 800px;
	overflow-y: scroll;
}

#table {
	margin-top: 30px;
	margin-left: 50px;
	margin-bottom: 50px;
}

table#table tr td {
	padding-top: 15px;
	margin-left: 10px;
}

table#table tr td label.content-label {
	padding-left: 50px;
	padding-right: 20px;
}

.hr_width {
	width: 850px;
}

table#table tr td.title {
	padding-bottom: 35px;
}

#company-content {
	padding-top: 20px;
	padding-left: 20px;
}

#radio_group_work {
	display: inline-grid;
}

#radio_group_over {
	display: inline-grid;
}
.ntsRadioBox {
	padding: 10px;
}

#setting_tbl {
	margin-left: 50px;
}

.pad_left_30 {	
	padding-left: 30px;
}
.pad_left_60 {	
	padding-left: 60px;
}

.pad_left_70 {
	padding-left: 70px;
	text-align: right;
}

.inp_time {
	padding: 10px;
}

.link_label {
	float: right;
	padding: 20px;
}

.combo-box {
	width: 100px;
}

.float_right {
	float: right;
}
.padding_over{
	padding: 10px;
}
.lbl_text{
	width: 300px;
	padding-left: 40px;
}