#contents-area {
	/* width: 1200px !important; */
	display: flex;
	flex-direction: column;
}

#contents-area > div {
	display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.boder-style {
	float: left;
	clear: right;
	margin-top: 10px;
}

.contents-area-left {
	height: 400px;
	width: 240px;
	margin-left: 20px;
}

.contents-area-middle {
	height: fit-content;
	/* width: 306px; */
	text-align: center;
}

.contents-area-right {
    height: fit-content;
    /* width: 198px; */
    text-align: center;
}

.contents-area-caret-right {
    height: 168px;
    width: 51px;
    float: left;
    clear: right;
    padding-top: 0px;
}

.lbl-before-ready {
	padding: 20px;
	color: gray;
	background: #dcf4e7;
}

.panel-custom-font-size {
	font-size: 2em;
}

.lbl-unit-setting-explanation, .lbl-general-labor-explanation {
	margin-top: 7px;
}

.btn-area-middle, .btn-deformed-labor {
	margin-top: 10px;
	width: 205px;
}

.contents-area-right-caret {
	margin-left: 10px;
}

.lbl-general-labor-explanation-margin-top {
	margin-top: 30px;
}

.panel.panel-gray-bg {
	white-space: nowrap;
	width: 230px;
}

.panel.panel-frame {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contents-area > div:nth-child(2) {
	/* margin-top: 25px */
	margin-top: 0px;
}