@import url("common.css");

#totalTable {
	width: 250px;
}

#content-right {
	float: left;
	margin-left: 25px;
}

#holiday-info_table tr, #holiday-use_table tr {
	height: 25px;
}

#total {
	border: 1px solid #CCC;
	margin-top: 1px;
	padding: 0 2px;
	width: 596px;
	height: 20px;
}

#total-number {
	margin-left: 333px;
}



#title, #employeeInfo label {
	font-size: 1.1em;
	font-weight: bold;
}
#employeeInfo{
	margin-top: 0px;
}

#contents-area {
	padding-left: 20px;
	padding-top: 0px;
}

#component-items-list {
	margin-top: 55px;
}

#content-right_bottom_left, #content-right_bottom_right {
	display: inline-block;
}

#content-right_bottom_right {
	margin-left: 30px;
	vertical-align: top;
}

#content-right_top {
	display: inline-block;
	margin-top: 0px;
}
#functions-area-bottom button{
	margin-left: 0px;
}

.div_line{
	margin-top: 13px;
}