@CHARSET "UTF-8";

.contentSchedule {
	margin-top: 15px;
	margin-left: 20px;
}

.labelFirstBold {
	font-weight: bold;
}

.tableSchedule {
	margin-top: 20px;
}

.tableSchedule td {
	border: solid grey 1px;
}

.titleScheduleSetting {
	width: 200px;
}

.valueScheduleSetting {
	width: 350px;
}

.buttonErrorOutput {
	margin-top: 15px;
	float: right;
	margin-right: 15px;
}

.tableErrorLog {
	margin-top: 60px;
}

ul.countdown {
	list-style: none;
	/* margin: 15px 15px;
	padding: 0; */
	display: block;
	text-align: center;
}

ul.countdown li {
	display: inline-block;
}

ul.countdown li span {
	font-size: 18px;
	font-weight: 20;
	line-height: 20px;
}

ul.countdown li.seperator {
	font-size: 18px;
	line-height: 20px;
	vertical-align: top;
}

ul.countdown li p {
	color: #a7abb1;
	font-size: 14px;
}