@CHARSET "UTF-8";

.lableData {
	margin-left: 20px;
	width: 110px;
	margin-top: 10px;
	vertical-align: super;
}

.lableDataFull {
	margin-left: 20px;
	width: 96%;
	margin-top: 10px;
}

.settingColor {
	margin-top: 25px;
}

.border-all td {
	border: solid grey 1px;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	min-width: 85px;
	max-width: 100px;
}

.bg-dark-green {
	background-color: #C7F391;
}

.detailSetting {
	margin-top: 37px;
	height: 60px;
}

.settingTime {
	margin-left: 20px;
}

#comboYearlyCon {
	width: 100px;
	margin-left: 10px;
}
#comparison-target {
	margin-top: 45px;
}
#comp-target-label {
	float: left;
	width: 120px;
	margin-left: 20px;
}
#comp-target-content {
	float: left;
	width: 180px;
	margin-left: 20px;
	margin-top: 10px;
}
.com-target-detail {
	width: 160px;
}


#comp-target-content .ntsRadioBox {
	margin-bottom: 10px;
}

