@CHARSET "UTF-8";

.lableData {
	margin-left: 20px;
	width: 110px;
	margin-top: 10px;
}

.settingColor {
	margin-top: 25px;
}

.border-all td {
	border: solid grey 1px;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	min-width: 80px;
	max-width: 100px;
}

.bg-dark-green {
	background-color: #C7F391;
}