.widget-table{width:100%; min-width:268px; max-width:1200px; margin: 0 auto; table-layout: fixed;}
.widget-table .go-button{width: 40px;}
.widget-table .go-button button{width: 30px; border: 0; box-shadow: none; padding:0;}