#contents-area{padding:0;}
.widget-table{width:100%; max-width:130px; margin: 0 auto; table-layout: fixed;}
.widget-table .go-button{width: 40px;}
.widget-table .go-button button{width: 30px; border: 0; box-shadow: none; padding:0;}
.widget-table td{padding: 0;overflow: hidden;}
.widget-table .widget-table{height: 37px;}
#contents-area.ktg002{overflow-y: hidden;}
