**/build
**/bin
**/taskArtifacts
**/.nb-gradle
**/.gradle
**/.classpath
**/*.classpath
**/.project
**/.settings
**/base.web/.settings
**/.metadata/
**/nts.uk.pr.web/WebContent/META-INF
**/gradle_eclipse_all.bat
**/gradle_eclipse_one.bat
**/nts.uk.file.pr.app/bin
**/nts.uk.file.pr.app/.gitignore
**/nts.uk.shr.com/bin
**/nts.uk.pr.proto.ws/bin
**/nts.uk.pr.file.infra/bin
**/*.class
**/*.js.map
**/*.orig
**/*.js
**/*.d.ts
**/nts.uk.com.js.web/src/main/webapp/lib/nittsu/ui/style/.sass-cache
**/*.launch
**/.sonar
**/sonar-project*.properties
