#history_lst_grid {
	width: 266px;
}

#content-left {
	margin-top: 10px;
	margin-left: 10px !important;
}

#content-center {
	margin-top: 10px;
	width: 450px !important;
}

#content-right {
	margin-left: 40px;
	margin-top: 10px;
	width: 500px !important;
	float: left;
	margin-top: 10px;
}

#item_register_grid_headers {
	max-width: 310px;
	padding-right: 17px;
	width: 310px;
}

#sel_item_grid_container {
	width: 250px !important;
}

#sel_item_grid {
	height: initial !important;
	width: 200px;
}

#caret {
	margin-left: 94px;
	font-size: 2rem;
}

#history_lst-grid {
	width: 235px !important;
}

#history {
	margin-bottom: 10px;
}

.form-lable {
	width: 205px;
	float : left;
	margin-bottom: 5px;
}

.input {
	clear: both;	
	margin-left: 20px;
	margin-bottom: 10px;
}

#code {
	width: 90px;
}

#name {
	width: 280px !important;
}

#memoSelection {
	width: 400px;
	height: 100px;
}

.col1 {
	width: 150px;
}

.col2 {
	width: 150px;
}

#register {
	margin-top: 30px;
}

#itemRegisterLst {
	margin-top: 20px;
	width: 436px;
}

#externalCode {
	width: 100px;
}

#memo {
	width: 400px;
	height: 200px;
}

.distance {
	margin-top: 25px;
	/* 	margin-left: 10px; */
}

.formlabel {
	margin-top: 10px;
	width : 205px;
}

.valign-center {
	vertical-align: middle !important;
}

.divHeader {
	margin: 5px;
}

#A_BTN_NEW {
	margin-left: 19px;
	width: 85px;
}

#A_BTN_REGISTER {
	margin-left: 10px;
	width: 85px;
}

#A_BTN_COPPY {
	margin-left: 15px;
	width: 105px;
}

#functions-area button.danger {
	margin-left: 210px;
	margin-right: 90px;
}

#A_BTN_DELETE {
	margin-left: 100px;
	width: 80px;
}

#A_BTN_JUMP {
	margin-left: 100px;
	width: 120px;
}

#A_BTN_CPS016_4 {
	margin-left: 100px;
	margin-right: 140px;
	width: 120px;
}

#left-content {
	margin-left: 10px;
	margin-top: 12px;
	padding: 20px;
	float: left;
	min-height: 540px;
	width: 15%;
}

button.search-btn {
	/* margin: 5px; */
	margin-left: 23px;
	width: 77px;
}

#right-content {
	margin-left: 30px;
	margin-top: 14px;
	float: left;
	min-height: 600px;
	width: 700px;
}

.input_002 {
	display: inline-block;
}

.table_content td {
	border: 10px solid transparent;
	border-top: none;
	border-left: none;
	border-right: none;
}

.sub_table {
	width: 97px;
	height: 376px;
	background: #F3F3F3;
	margin-top: 62px;
	border: 5px solid white;
	border-left: none;
}

.clear-btn {
	/* 	visibility: hidden; */
	
}

div#left-content.relative.bg-green.caret-right.caret-background {
	width: 365px;
}

i.icon.icon-searchbox {
	top: 8px;
}

.layout-control .drag-panel {
	height: 500px !important;
}

#contents-area {
	width: 1380px;
	height: 800px;
}

#contents-area-left {
	width: 350px;
	height: 520px;
	float: left;
	clear: right;
	margin-left: 10px;
	margin-top: 10px;
}

#contents-area-right {
	width: 900px;
	height: 520px;
	float: left;
	clear: right;
	padding-left: 100px;
	margin-top: 10px;
}

#contents-area .form-group {
	margin-bottom: 20px;
}

#contents-area .form-group .row {
	padding-bottom: 15px;
}

#contents-area .form-group .coll {
	width: 180px;
	vertical-align: top; /*can cho len thang hang nhau:*/
}

#coll {
	width: 150px;
}

#history_lst_grid_displayContainer {
	height: 142px !important;
	width: 250px !important;
	max-width: 250px !important;
}

#history_lst_grid_scrollContainer {
	height: 142px !important;
}

#history_lst_grid_container {
	width: 267px !important;
	height: 142px !important;
}

#history_lst {
	width: 267px;
	height: 142px;
}

.ui-iggrid table tr .ui-state-active {
	width: 267px !important;
}

.ui-widget-content.ui-iggrid-tablebody.ui-ig-record.ui-iggrid-record th {
	background-color: #CFF1A5;
	color: #000;
}