@CHARSET "UTF-8";

.contents-area {
	min-width: 560px;
}

.form-default {
	width: 100%;
}

.form-default td {
	padding-top: 10px;
}

.row_head {
	border-bottom: 1px solid #7F7F7F;
}
#left-content-b {
	min-height: 200px;
	padding-left: 25px;
}

#left-content-c {
	width: 300px;
	min-height: 200px;
	padding: 25px;
}

#right-content-b {
	padding-left: 30px;
	padding-top: 25px;
	width: 600px;
	vertical-align: top;
}

#right-content-c {
	padding-left: 30px;
	padding-top: 25px;
	width: 600px;
	vertical-align: top;
}

.set-row {
	margin-left: -134px;
	margin-top: 43px;
	width: 143%;
}

.wrap-white-space-pre-line {
	white-space: pre-line !important;
}

tr.tr-common-height {
	height: 44px;
}

#right-content-b div.nts-fixed-table.cf {
	margin-top: 10px;
}

#right-content-c div.nts-fixed-table.cf {
	margin-top: 10px;
}

/* Fix top border disappeared */
.nts-fixed-table .nts-fixed-body-wrapper {
	margin: unset;
	border-left: unset;
}

#C4_6_header ,#B3_6_header th {
	text-align: center;
}

#B3_11, #C4_11 {
	border-bottom: 1px solid #E0F59E;
}

#B3_22, #C4_22 {
	border-bottom: 1px solid #E0F59E;
	border-right: 1px solid #E0F59E;
}

td .cell-with-background {
	background: #E0F59E !important;
}

td .vertical-align-bottom {
	vertical-align: bottom !important;
}

td span.nts-editor-wrapped.ntsControl {
	width: auto !important;
}

#C4_12, #C4_17, #C4_26, #C4_32,
#B3_12, #B3_17, #B3_26, #B3_32 {
	border-right: 1px solid #E0F59E;
}

#C4_5, #B3_5 {
	width: 96px;
}