.down-s {
	margin-bottom: 15px;
	margin-left: 30px;
}

.down-m {
	margin-bottom: 25px;
}

.down-l {
	margin-bottom: 35px;
}

#contents-area {
	padding: 20px;
}

.combo-box-holiday {
	min-width: 95px;
	width: 95px;
}

.combo-box-sub-holiday {
	min-width: 95px;
	width: 95px;
}

.combo-box-option-sub-holiday {
	min-width: 95px;
	width: 95px;
}

.labelTitle {
	width: 70px;
}

.sub-label-title {
	width: 100px;
}

.left-s {
	margin-left: 5px;
}

.left-m {
	margin-left: 10px;
}

.left-l {
	margin-left: 30px;
}

.nts-datepicker-wrapper .ntsDatepicker {
	min-width: 90px;
	width: 90px;
}

.margin-left-15 {
	margin-left: 15px;
}

.margin-left-0 {
	margin-left: 0;
}

.width-112 {
	width: 112px;
}

.grid {
	display: grid;
}

.margin-left-25 {
	margin-left: 25px;
}