.caret-right {
    position: initial;
}
.valign-center.control-group{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.text{
	margin-left: 20px;
}
.ui-iggrid-scrolldiv.ui-widget-content.ui-iggrid-virtualscrolldiv.igscroll-touchscrollable{
	height: 362px;	
}

.ui-widget.ui-helper-clearfix.ui-corner-all.ui-iggrid.nts-gridlist table tr:last-child {
	
}
