.form-label {
    width: 100px;
}

#swap-up-down {
    height: 268px !important;
}

#swap-list_container {
    height: 268px !important;
}

.upDown-container {
    height: 268px !important;
    padding-left: 10px;
}

.grid-col-text-right {
    text-align: right;
}

.move-button {
    margin: 10px 10px !important;
}

.ui-iggrid .ui-iggrid-tablebody td {
    height: 22px;
}

.radio-wrapper span {
    min-width: 85px;
    text-align: center;
}