.control-group.valign-center > * { vertical-align: middle; }
.control-group.valign-top > * { vertical-align: top; }
.control-group.valign-bottom > * { vertical-align: bottom; }
.item-valign-top { vertical-align: top; }
.halign-left { text-align: left; }
.halign-right { text-align: right; }
.halign-center { text-align: center; }
.bg-green {background-color: #E0F59E;}

.table {
	margin: 10px;
}
#premium-set-tbl .table {
	margin: auto;
}

.short-button {
	width: 70px;
}

input, textarea {
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.pull-left {
	width: 330px;
	height: 680px;
}

.caret-background {
	width: 240px; 
	height: 325px;
	margin-left: 10px;
	margin-top: 10px;
	padding: 15px;
}

.dateControlBtn { width: 80px; }
.dateControlBtn:FIRST-CHILD{ margin-left: 10px; }
.dateControlBtn:LAST-CHILD{ margin-left: 50px; }

#dateRange-list-content { 
	margin-left: 10px;
	margin-top: 10px;
}

.table:FIRST-CHILD {margin-top: 0px;}

.column1 {
	width: 250px;
}

#name-span {
	margin-left: 15px;
}

#memo {
	width: 100%;
	height: 85px;
	margin-top: 10px;
}

#premium-set-tbl tbody tr td:FIRST-CHILD { 
	background-color: #EDFAC2;
}

#premium-set-tbl td.percent-100 span {
	margin-right: 10px;
	display: inline-block;
}
.notUse {
	display: none;
}
#formula {
	width: 600px;
	height: 140px;
	background-color: #F2F2F2;
	border-radius: 5px;
}
#formula {
	width: 515px;
	height: 140px;
	background-color: #F2F2F2;
}
#formula >.table >.label:NTH-CHILD(1) {
	margin-top: 10px;
}
#formula > hr { 
	margin-top: -5px;
	margin-left: 10px;
	margin-bottom: -5px;
	width: 450px;
}
#formula > .table:NTH-CHILD(3) > .cell:NTH-CHILD(1){
	width: 300px;
	vertical-align: top;
}
#formula > .table:NTH-CHILD(3) > .cell:NTH-CHILD(1) > .label{
	margin-left: 20px;
	margin-bottom:5px;
}
#formula > .table:NTH-CHILD(3) > .cell:NTH-CHILD(1) > .label:NTH-CHILD(3){
	margin-left: 40px;
}
#formula > .table:NTH-CHILD(3) > .cell:NTH-CHILD(1) > .label:NTH-CHILD(5){
	margin-left: 40px;
}
#formula > .table:NTH-CHILD(3) > .cell:NTH-CHILD(2) {
	width: 40px;
}
#formula > .table:NTH-CHILD(3) > .cell:NTH-CHILD(3) > .cell{
	height: 40px;
}
.symbol-img {
	margin-top: 5px; 
	position: absolute;
    height: 90px;
}
#contents-area input.ui-igcombo-field {
	padding-left: 10px;
}
 .ui-igcombo-listitemholder .ui-igcombo-listitem {
	padding-left: 10px;
} 
#combo-box {
	width: 100px;
}

.cell-help-button {
	padding-left: 15px;
}
#premium-set-div {
	padding-bottom: 30px;
}
.two-columns {
	max-width: 900px;
	width: 100%;
}
.two-columns .cell {
	vertical-align: top;
}
.two-columns .cell-column-1 {
	width: 67%;
}
.two-columns .table {
	margin-left: 0;
	width: 100%;
}
.two-columns .cell-column-2 .nts-editor-wrapped {	
	width: calc(100% - 20px);
}
.three-columns .cell {
	width: auto;
	vertical-align: top;
	padding-right: 15px;
}
.three-columns .cell.column1 {
	width: 18%;
	max-width: 160px;
}
.three-columns .cell.column2 {
	width: 22%;
}
.three-columns .column3 {
	width: 30%;
	text-align: left;
}
.three-columns .column3 .cell:first-child {
	width: 45%;
	padding-right: 15px;
}
.three-columns .column2 .radio-wrapper {
	margin-top: 7px;
}
.three-columns .column2 .radio-wrapper .ntsRadioBox {
	margin-bottom: 5px;
}

.d-flex {
	display: flex;
	align-items: center;
}
.d-flex .combo-box {
	margin-left: 15px;
	width: 110px;
}
.d-flex .combo-box1 {
	margin-left: 15px;
	width: 170px;
}

.d-flex.control-group {
	margin-top: 10px;
}
.control-group .d-flex {
	margin-right: 15px;
}
.combo-box-a5-10 {
	width: 94px;
	margin-top: 3px;
}
td.valign-right {
	text-align: right;
	padding-right: 5px;
}

td input.premiumInput {
	margin-left: 5px;
}
#dateRange-list_headers > thead {
  display: none !important;
}

#premium-set-div .nts-fixed-table .nts-fixed-body-container {
	overflow-y: scroll;
	padding-right: 17px!important;
}
