.ccg025 {
  width: 350px;
}

.table .cell .form-label {
  line-height: 37px;
}

.comboBox {
  width: 70px;
  padding-left: 15px;
  padding-right: 15px;
}

.mt-5 {
  margin-top: 10px;
}

.divi {
  margin-top: 15px;
}