.contents-area-a{
	padding: 30px;
}

.combo-box{
	margin: 10px 5px;
}

.top-row{
	height: 50px;
	vertical-align: middle;
}

.block{
	float: left;
	padding-left: 20px
}

.contents-area-b{
	padding: 30px 0px;
}