.control-group.valign-center > * { vertical-align: middle; }
.valign-center.control-group {margin:15px 0px 0px 20px; }
.valign-center.control-group.row4 {margin-left : 90px; }
.block{display: block ; margin : 30px 0px 50px 30px;}
.header{border-bottom: 2px solid #ccc; padding-bottom: 10px; margin-left: 40px; margin-right: 300px;}
input.nts-editor.nts-input.reset-element{text-align: center; width: 45px ; margin :0px 25px 0px 35px;}
input#inputdate.ntsDatepicker.nts-input.reset-element{width: 85px; margin-left: 60px;}
input.col1.nts-editor.nts-input.reset-element {margin-left : 22px; }
input.col2.nts-editor.nts-input.reset-element {margin-left : 21px; }
div.ntsControl.ntsCheckBox{margin-left: 20px;}
label.applicant {margin-left: 20px;}
div#combo-box.reset-element.ui-igcombo-wrapper {margin-left: 30px;}
textarea.nts-editor.nts-input.reset-element {height: 150px;}
#multiline {display : inline-block;}
div.form-label.broken {vertical-align: top;}
#functions-area{margin-left: 30px; border-bottom: solid 2px #ccc; }
label.header{margin-left: 25px;}
.note-right{ height: 110px; width: 200px; background-color: #BEBEBE; float:right;}
#multiline {margin-left: 5px;}
