.content-right {
    margin: 10px;
}

.fixed-flex-layout {
    padding: 0 10px;
}

.block-right {
    display: inline-block;
    margin-left: 10px;
}

.time-padding {
    padding: 0 10px 5px 0;
}

.mv-13 {
	margin: 13px 0;
}