#processingYm {
	width: 322px;
	border: 1px solid #bbb;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
}
#label-contact-setting {
	margin-bottom: 10px;
}
#content-contact-setting {
	margin-left: 10px;
}
#inpSearch input{
	margin-left: 15px;
	margin-bottom: 15px;
	width: 200px !important;
}
.icon.icon-searchbox {
	position: relative;
	top: 10px;
	left: 15px;
}