.align-right {
	text-align: right;
}

#contents-area {
	padding: 10px 0px 0px 20px;
}

.tbl-control {
	width: auto;
	margin-bottom: 5px;
	min-width: 1180px;
}

.tbl-control td {
	padding: 0px 5px;
}

.fixed-table th {
	text-align: center;
	white-space: normal;
}

.xheader * {
	text-align: center;
}
.text-status {
	padding-left: 100px;
}
html {
	overflow: hidden;
}