td {
    padding-bottom: 10px
}

#C3 {
    background-color: #F7EFD4 !important;

    border: 1px solid #B1B1B1;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 2rem;
    padding-left: 10px;
    margin-bottom: 5px;
}

#C4 {
    margin: 5px 0;
}

#C4_3, #C4_4 {
    width: auto;
    margin: 0 20px;
}

#C9_3 {
    width: 30px;
}
#C9_2 span {
    display: inline;
}

#kcp005-component-left {
    margin: 0 10px;
}

#kcp005-component-right {
    margin: 0 10px;
}

#C11_2, #C11_3 {
    margin-bottom: 5px;
}