.caret-left-width {
	padding: 20px;
}

.checkbox_display {
	float: right;
	margin-bottom: 10px;
}

.screen-content-left {
	width: 280px;
	padding: 10px;
	vertical-align: top;
}

.screen-content-right {
	width: 920px;
	padding: 10px;
}

.td-cell {
	padding: 5px;
}

.memo-field {
	height: 50px;
}

.label_header {
	margin-left: 15px;
}

.label_memo {
	height: 60px !important;
}

.setting_header {
	margin-left: 10px;
	width: 910px;
}

.setting_header_br {
	margin-left: 10px;
	margin-top: 20px;
	display: inline-flex;
}
.icon-x {
	background: url("img/x.png");
	width: 10px;
	height: 10px;
	background-size: 10px 10px;
}

.cf .nts-switch-button {
	min-width: 80px;
} 

.control-group {
	display: inline-flex;
} 
.center-align {
	text-align: center;
}

.tab-outline {
	margin: 20px;
}

.tab-block {
	margin: 20px;
}

.tab-rows {
	margin-top: 20px;
	width: 100%;
	display: flex;
    align-items: center;
}

.tab-seperator {
	margin-top: 20px;
}

.tab-inline-rows {
	padding: 5px 0px;
	width: 100%;
	display: flex;
    align-items: center;
}

.tab-inline-item {
	padding: 0px 10px 0px 10px;
	display: inline-block;
}

.main-input {
	margin: 3px;
}

#tab-3, #tab-5 {
	overflow-x: visible;
}
