.caret-left-width {
	padding: 20px;
}

.checkbox_display {
	float: right;
	margin-bottom: 10px;
}

.screen-content-left {
	width: 280px;
	padding: 10px;
	vertical-align: top;
}

.screen-content-right {
	width: 920px;
	padding: 2px;
}

.td-cell {
	padding: 5px;
}

.memo-field {
	height: 50px;
}

.label_header {
	margin-left: 15px;
}

.label_memo {
	height: 60px !important;
}

.setting_header {
	margin-left: 10px;
	width: 863px;
}

.setting_header_br {
	margin-left: 10px;
	margin-top: 20px;
	display: inline-flex;
}
.icon-x {
	background: url("img/x.png");
	width: 10px;
	height: 10px;
	background-size: 10px 10px;
}

.cf .nts-switch-button {
	min-width: 80px;
} 

.control-group {
	display: inline-flex;
} 
.center-align {
	text-align: center;
}

.tab-outline {
	margin: 20px;
}

.tab-block {
	margin: 20px;
}

.tab-rows {
	margin-top: 20px;
	width: 100%;
	display: flex;
    align-items: center;
}

.tab-seperator {
	margin-top: 20px;
}

.tab-inline-rows {
	padding: 4px 0px;
	width: 100%;
	display: flex;
    align-items: center;
}

.tab-inline-item {
	padding: 0px 10px 0px 10px;
	display: inline-block;
}

.main-input {
	margin: 3px;
}

#tab-3, #tab-5 {
	overflow-x: visible;
}

#tab-1{
	padding: 1em 0.5em 1em 0.5em !important;
}
#tab-3{
    width: 739px;
}
#tab-3 .fixed-table-button{
	width: 673px !important;
}
.tab-a3 {
    margin-left: -7px;
}
html {
	overflow: hidden;
}
#switch-language {
	display: inline-block;
}
.disabled-panel{
	pointer-events: none;
    opacity: 0.35;
}

.nts-fixed-body-wrapper {
	height: auto !important;
}

#tab-panel > .tabs-list {
	width: auto !important;
}

.left-178 {
	margin-left: 178px !important;
}

.left-122 {
	margin-left: 122px !important;
}

.switchbox-wrappers {
	display: flex;
}

.tab-rows .ui-igcombo-wrapper {
	margin-top: 6px;
}

td > .ui-igcombo-wrapper {
	margin-top: 6px;
}