
.ccg001searchkcp005{
	float:unset;
	margin-left: 90px;
	height: 417px;
}

.holidayAction {
	margin-left: 10px;
	z-index: 100;
	padding-left: 30px;
	height: 200px;
}
.holidayAction table {
	margin-top: 20px;
}
.holidayAction table tr {
	display: flex;
	margin-bottom: 20px;
}

.holidayAction table tr td {
	display: inline-flex;
}

.periodCovered {
	display: inline-flex;
	margin-bottom: 10px;
}

.selectionHoliday {
	border-radius: 5px;
}

#contents-area {
	display: unset;
}
.panel.panel-frame {
	width: 525px;
	min-width: 525px;
	margin-top: 15px;
}
body {
	-ms-overflow-x: hidden;
}
.fixed-panel-dayselected {
	height: 150px;
}

.radios label {
	padding-bottom: 20px;
	margin-top: 5px;
}
#combo-box2 button{
	width: 65px;
}
.form-panel {
	display: flex;
}
div.form-label.required {
	border-color: #97D155; !important;
}