
.ccg001searchkcp005{
	float:left;
}

.holidayAction {
	/* border: 1px solid #ccc !important; */
	border-radius: 5px;
	float: right;
	width: 462px;
	padding: 5px;
	margin-top: 37px;
	height: 511px;
	margin-left: 10px;
}

.periodCovered {
	display: inline-flex;
	margin-bottom: 10px;
	/* padding-left: 40px; */
}

.selectionHoliday {
	/* border: 1px solid #ccc !important; */
	border-radius: 5px;
	margin: 0px 30px 0px 90px;
	padding: 20px;
	width: 600px;
}

#contents-area { 
	overflow-x: hidden;
}

#A4_1 {
	margin-top: 40px;
	
}