
.ccg001searchkcp005{
	float:left;
}

.holidayAction {
	margin-left: 50px;
	margin-top: 40px;
	z-index: 100;
}

.holidayAction table tr {
	display: flex;
	margin-bottom: 10px;
}

.holidayAction table tr td {
	display: inline-flex;
}

.periodCovered {
	display: inline-flex;
	margin-bottom: 10px;
}

.selectionHoliday {
	border-radius: 5px;
	margin: 20px 30px 0px 90px;
}

#contents-area { 
	display: flex;
}
