#ex_accept_wizard {
	width: 1200px;
	height: 480px;
}

#ex_accept_wizard>.steps {
	width: 250px;
	height: 640px;
}

#ex_accept_wizard>.content {
	width: 940px;
	height: 590px;
	background: none;
	margin-left: 5px;
	margin-right: 0px;
}

#ex_accept_wizard > .content > .body {
	padding-top: 0;
}

#ex_accept_wizard, #ex_accept_wizard .content {
	overflow: visible;
}

.title-right {
	float: right;
	margin-right: 20px;
}

.contentB {
	display: flex;
}

.fixed-flex-layout-left {
	width: 350px;
}

.pull-right {
	float: right;
}

.space {
    display: inline-block;
}

.button-bottom-area {
	text-align: center;
	margin-bottom: 20px;
}

#B3_15 {
	margin-left: 10px;
}

#B4_4_container {
	margin-left: 15px !important;
}

#B4_16, #B4_17, #B4_18 {
	display: inline-block;
}

#B4_12, #B4_30, #B4_34, .space {
	width: 125px;
}

#B4_33 {
	margin-left: 33px;
    margin-right: 24px;
}

#B4_35 {
	width: 325px;
}

