.kdp-003-f table {
	width: 100%;
}

.kdp-003-f table.layout tr:not(:last-child)>td {
	padding-bottom: 15px;
}

.kdp-003-f table.layout tr>td:first-child {
	width: 100px;
}

.kdp-003-f table.layout tr>td>div {
	line-height: 32px;
}

#func-notifier-errors {
	top: 150px !important;
}