#LBL_007{
	padding-right: 20px;
	margin-left: 5px;
}
#LBL_005{
	padding-right: 100px;
}
#LBL_002{
	margin-right: 65px;
}
#LBL_003{
	padding-right: 20px;
}
#INP_001{
	width: 70px !important;	
	padding-left: 0px !important;
}
.inlineInfor{
	display: flex;
}

#SEL_001{
	margin-left: 20px;
	margin-top: 5px;
	width: 270px;
}
.label009{
	margin-left: 150px;
}

.bottomStype{
	margin-top: 20px;
	margin-left: 350px;
}
#BTN_001{
	margin-right: 20px;

}

.lstBox{
	border: 2px solid gray;
    margin-left: 150px;
    padding-top: 5px;
    width: 750px;
    height: 205px;
    margin-top: 10px;
}
#header{
	display: none;
}
.timeInput{
	display: flex;
}