#kafs12-a1 {
    .topError {
        background-color: #f8d7da !important;
        margin-bottom: 5px;
        button {
            text-align: left;
            border-radius: 3px !important;
        }
    }
}
.control-label-block{
    border-left: none;
}

.kafs00p1{
    .position-absolute{
        top: 8px;
        right: 20px;
    }
}

.fa-plus-circle {
    color: #33b5e5;
}