.kafs12a1 {
    .topError {
        background-color: #f8d7da !important;
        margin-bottom: 5px;
        button {
            text-align: left;
            border-radius: 3px !important;
        }
    }
}
.control-label-block{
    border-left: none;
}
.position-absolute{
    top: 8px;
    right: 35px;
}