
#E1 {
	 margin-left: 10px; 
}
#E2 {
	margin-top: 20px;
	height:20px !important;
	
}
#E2_1 {
	 margin-left: 20px; 
}
#E2_2 {
	 margin-left:5px; 
}
#E2_3 {
	margin-left:10px;
}
#E2_4 {
	margin-left:5px;
}
#E2_5 {
	margin-left:5px;
}
#E4_1 {
	margin-left: 10px;
	margin-top: 10px;
}
#E4_2 {
	margin-left:175px;
}
#E5_1 {
	margin-left: 10px;
	margin-top: 20px;
}
#E5_2 {
	margin-left:20px;
}
#E6 {
	margin-left:210px;
	margin-top: -15px;
}