.combo-box{
	width: 80px;
	height: 23px;
	display: block;
}

#valOutFormat .name{
	height: 23px !important;
    line-height: 21px !important;
}

#B5_3 label{
	margin-right:30px;
}

#B5_3{
	margin-left:30px;
}

.headingName {
	height:12px;
}

#table-output-items tbody tr {
	height:28px;
}

#table-output-items .small {
	height:20px !important;
}

.nts-fixed-body-wrapper {
	height:100% !important;
}

#listStandardImportSetting_headers_v {
	width : 100% !important;
}

.limited-label-view {
	max-width: 1000px;
}

.multiMonthSet{
	margin-left: 5px;
}

.check_box_block{
	display: block;
	margin: 5px 0 0;
}
.label.check_box_block{
	margin: 5px 0 0 5px;
}
#combo-box_1{
	left: 5px;
	top: 10px;
}
.label36{
    margin-left: 20px;
}

.ui-igcombo-buttonicon {
	line-height: 20px !important;
}