.contents-area .container {
	margin: 25px;
}

.ntsControl .nts-input {
	padding: 2px 10px !important;
}

#div-fixed-table .nts-fixed-table .nts-fixed-body-container {
	overflow-x: hidden;
}

.mg-bot-10 {
	margin-bottom: 10px
}

.text-center {
	text-align: center;
}
.left-content {
	display: inline-block;
	vertical-align: top;
}


.right-content {
	display: inline-block;
	vertical-align: top;
	padding-top: 20px;
}

div[class^="tab-content"] {
	padding: 20px;
}

div[class="tab-content-1"] {
	padding: 0px !important;
}

div[class="tab-content-6"] {
	padding: 0px !important;
	padding-bottom: 10px !important;
}

#tab-6 > div > div > div.nts-fixed-table.cf > div.nts-fixed-body-container.ui-iggrid{
	overflow-x: hidden;
}

#tab-6 > div > div > div.nts-fixed-table.cf > div.nts-fixed-body-container.ui-iggrid > div{
	height: 171px !important;
}

.tab-content-1 button {
	width: 80px;
	margin: 0px 20px;
}

.tab-content-1 .control-group {
	margin: 30px;
}

.flabel {
	display: inline-block;
	width: 150px;
}

.ntsRadioBox .label {
	padding-right: 20px;
}

#div_table_check_conditions .nts-fixed-table .nts-fixed-body-container {
	overflow-x: hidden;
}

div .tab-content-3 .ntsControl.radio-wrapper.reset-element {
	margin-top: 20px;
}

label.label4w4d {
	margin-left: 30px;
	display: block;
}

.nameAlarm{
	width: 170px !important;
}

div .tab-content-5 .nts-fixed-table .nts-fixed-body-container{
	border-bottom-width:0px;
}

#multiple-months-content .nts-fixed-table.cf .nts-fixed-body-container.ui-iggrid .nts-fixed-body-wrapper{
	height: 171px !important;
}
#div_table_check_conditions .nts-fixed-table.cf .nts-fixed-body-container.ui-iggrid .nts-fixed-body-wrapper{
	height: 171px !important;
}

.tab-content-7 > div .nts-fixed-table.cf .nts-fixed-body-container.ui-iggrid .nts-fixed-body-wrapper{
	height: 386px ! important;
}
#div-fixed-table .nts-fixed-table.cf .nts-fixed-body-container.ui-iggrid .nts-fixed-body-wrapper{
	height: 256px ! important ;
}
#check-condition-table_category9{
	box-sizing: border-box;
}
#multiple-months-content #div_table_check_conditions .nts-fixed-table .nts-fixed-body-container{
	box-sizing: border-box;
}
#multiple-months-content #div_table_check_conditions .nts-fixed-table.cf .scroll-header.nts-fixed-header{
	    display: none;
}
#check-condition-table{
	box-sizing: border-box;
}
#daily-content #div_table_check_conditions .nts-fixed-table .nts-fixed-body-container{
	box-sizing: border-box;
}
#daily-content #div_table_check_conditions .nts-fixed-table.cf .scroll-header.nts-fixed-header{
	    display: none;
}
#fixed-table2{
	 box-sizing: border-box;
}

#category7 .nts-fixed-table .nts-fixed-body-container{
	box-sizing: border-box;
}
#category7 .nts-fixed-table.cf .scroll-header.nts-fixed-header{
	    display: none;
}
