#searchBtn {
	margin-left: 20px;
}

#list_headers th {
	text-align: center;
}

.linkLabel {
	text-decoration: none;
	color: #0D86D1 !important;
	background-color: inherit !important;
	font-size: 14px;
    font-family: "DroidSansMono", "Meiryo";
}

.linkLabel:hover {
	text-decoration: underline !important;
	color: #0D86D1 !important;
}