#grid2_container  tr td:NTH-CHILD(4) {
    border-left: none;
    border-right: none;
}

#grid2_container tr td:NTH-CHILD(3) {
    border-right: none;
}


#grid2_container  tr td:NTH-CHILD(7) {
    border-left: none;
    border-right: none;
}

#grid2_container tr td:NTH-CHILD(5) {
    border-left: none;
}
#grid2_container tr td:NTH-CHILD(6) {
    border-right: none;
}
#grid2_container tr td:NTH-CHILD(8) {
    border-left: none;
}

#grid2_container tr th:NTH-CHILD(4) {
    border-left: none;
    border-right: none;
}

#grid2_container tr th:NTH-CHILD(3) {
    border-right: none;
}

#grid2_container tr th:NTH-CHILD(7) {
    border-left: none;
    border-right: none;
}
#grid2_container tr th:NTH-CHILD(8) {
    border-left: none;
}

#grid2_container tr th:NTH-CHILD(5) {
    border-left: none;
}
#grid2_container tr th:NTH-CHILD(6) {
    border-right: none;
}

#img-calendar{
    position: absolute;
    z-index: 1;
    margin: -14px -11px;
}

#grid2_virtualContainer {
    border: 1px solid #AAB7B8 !important;
}
