#grid2_container  tr td:NTH-CHILD(4) {
    border-left: none;
    border-right: none;
}

#grid2_container tr td:NTH-CHILD(3) {
    border-right: none;
}


#grid2_container  tr td:NTH-CHILD(7) {
    border-left: none;
    border-right: none;
}

#grid2_container tr td:NTH-CHILD(5) {
    border-left: none;
}
#grid2_container tr td:NTH-CHILD(6) {
    border-right: none;
}
#grid2_container tr td:NTH-CHILD(8) {
    border-left: none;
}

#grid2_container tr th:NTH-CHILD(4) {
    border-left: none;
    border-right: none;
}

#grid2_container tr th:NTH-CHILD(3) {
    border-right: none;
}

#grid2_container tr th:NTH-CHILD(7) {
    border-left: none;
    border-right: none;
}
#grid2_container tr th:NTH-CHILD(8) {
    border-left: none;
}

#grid2_container tr th:NTH-CHILD(5) {
    border-left: none;
}
#grid2_container tr th:NTH-CHILD(6) {
    border-right: none;
}