.tab_11_setting_rows {
	margin-top: 20px;
	width: 100%;
	display: flex;
    align-items: center;
}

.tab_11_setting_header {
	width: 300px;
	margin-left: 20px;
}

.tab_11_inline_item {
	padding: 0px 0px 0px 0px;
	display: inline-block;
}

.padding-radio {
	padding: 10px 40px;
}

.padding-time {
	padding: 5px 0px;
	display: inline-block;
}