.bg-yellow{
	width: 90%;
	height: 70px;
	margin: auto !important;
}

.ntsRadioBox{
	margin-top: 10px;
	margin-left: 30px;
  float: left;
}

.itemName{
	width: 17%;
	float: left;
}

.DayInWeekItem{
	width: 17%;
	float: left;
}

.cell {
	vertical-align: top;
}

#radioButton{
	width: 100%;
	display: inline-grid;
	margin-left: 25px;
	margin-top: 5px;
}