.kaf021b-content{
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 20px;
}

#B1_2{
    margin-top: 5px;
    display: table;
}

#B1_2 .label{
    white-space: pre-wrap;
}

#tbl-control{
    margin-top: 5px;
    width: 100%;
    max-width: 1216px;
    min-width: 800px;
}

#tbl-control .cell:nth-child(1){
    width: 215px;
}

#tbl-control .cell:nth-child(2){
    width: auto;
}

#tbl-control .cell:nth-child(3){
    width: 200px;
    text-align: right;
}

#grid{
    margin-top: 5px;
}

#grid .mgrid-header td{
    vertical-align: middle !important;
}

#grid .mgrid-free:not(.mgrid-header) .mgrid-free-table tr:not(.mgrid-top-space):not(.mgrid-bottom-space){
    height: 50px !important;
}

#grid .mgrid-fixed:not(.mgrid-header) .mgrid-fixed-table tr:not(.mgrid-top-space):not(.mgrid-bottom-space){
    height: 50px !important;
}

#grid .cell-edit .medit-container{
    height: 47px !important;
}

#grid .padding-5{
    padding: 0px 5px;;
}

#grid .padding-10{
    padding: 0px 10px;;
}

#grid .break-jp-cell {
    line-break: strict;
}

.center-align {
    text-align: center;
}

.mgrid table th, .mgrid table td {
    border-color: #9c9fa2;
}