.kafs02a {
    .fs-smaller {
        font-size: 90%;
    }
}

.checkbox-text {
    font-size: small;
}

.topError {
    background-color: #f8d7da !important;
    margin-bottom: 5px;
    button {
        text-align: left;
        border-radius: 3px !important;
    }
}