
.width-common {
    width: 27px;
}

#A4_3 {
    width: 300px;
}

.pannel_padding {
    padding-left: 4px;
    padding-right: 4px;
}

.panel_common {
    height: 80px;
    vertical-align: middle;
    padding-top: 30px;
    width: 70px;
    word-break: break-all;
}

.bacg-active {
    background-color: #e7d3193b;
}

.init-width {
    width: 125px;
}

.bacg-inactive {
    background-color: #e0d6d6;
}

.item_a_6_1 {
    height: 50px;
}

.item_a_6_2 {
    height: 80px;
    padding-top: 79px;
}

.item_a_6_4_to_67 {
    height: 150px;
    width: 100px;
    margin-right: 1px;
}

.button_top_right_corner {
    position: absolute;
    top: 0;
    right: 0;
}

span.label.layout-setting.summary-item {
    word-break: break-all;
}