.panel {
	/* display: inline-block; */
	/* width: 91%; */
	padding: 5px;
	margin: 5px;
}

.A1_5, .A1_6 {
	display: inline-block;
	margin-left: 53px;
}

.A1_6 {
	/* width: 70%; */
}

.A5_1 {
	margin-bottom: 10px;
}

.td-left {
	/* padding-top: 4px; */
}

.td-right{
	width: 57%;
}

.table1 {
	width: 1200px;
	margin-left: 5%;
}

.A10_19{
	margin-left: 10px;
}

.A13_1{
	margin-left: 27px;
	width: 120px;
	display:  flex;
	flex-direction:  column;
}

.td-left .row {
	margin: 5px;
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.td-right .row {
	display: flex;
	align-items: center;
	margin-top:  12px;
	margin-bottom:  5px;
	margin-left: 15px;
}

.nts-switch-button {
	width: 80px;
}

#combo-box{
	margin-left: 55px;
	margin-right: 5px;
}

#combo-box-free-setting {
	margin-left: 55px;
	margin-right: 5px;
}

.A7_2 {
	margin-left: 50px;
}

td {
	vertical-align: top;
}

.left, .right {
	margin-top: 10px;
}

label {
	width: 85px;
}

.A10-left{
	width: 30px;
	/* display: flex; */
	/* flex-direction: column; */
}

.table2 {
	margin-left: 29px;
}

hr {
	margin: 30px 7px 30px 0px;
}

.td-center{
	vertical-align: bottom;
}

.td-left .panel.panel-frame {
	width: 545px;
}

.type-page-brake {
	margin-left: 36px;
}

.td-right .right .panel.panel-frame {
	padding: 10px;
}

.A13_1 label {
	width: 120px;
	margin-top: 5px;
}

#output-setting-content {
	height: 510px;
}

#btnSetErrorAlarmCd {
	margin-left: 20px;
}

#output-format {
	margin-left: 67px;
}

#nts-component-list {
	outline: none;
}
#checkedA10_7{
	width:200px;
}
#checkedA10_7>label{
	width:160px;
}

.A10-left label{
	width:105px;
}
#component-items-list > div{
	padding: 10px !important;
}
.work-place-accum {
	width: 298px;
	margin-left: 30px;
}

.ntsRadioBox span.label {
	padding-left: 3px;
}

.pt-7 {
	padding-top: 7px !important;
}

.zero-display-type {
	margin-left: 44px;
}

.display-type {
	margin-left: 67px;
}
