.image-left{
	float: left;
	margin-right: 20px;
}
.image-right{
	float: right;
	margin-right: 20px;
}

.clear {
	clear: both;
}

.navigation-label {
	margin-left: 20px;
	vertical-align: 12px;
	padding-bottom: 20px;
}

#buttonImport {
	background-size: 100%;
	width: 260px;
	height: 80px;
	background-repeat: no-repeat;
	margin-left: 20px;
}

#buttonSettingB,#buttonSettingE {
	background-size: 100%;
	width: 260px;
	height: 80px;
	background-repeat: no-repeat;
	margin-left: 20px;
}

.history-reference {
	background-size: 100%;
	width: 260px;
	height: 80px;
	background-repeat: no-repeat;
	margin-left: 20px;
}

