.label-action {
	margin-bottom: 10px;
}

.button-area{
	margin:0px 120px 0px 120px;
}

.image-left{
	float: left;
	margin-right: 20px;
}
.image-right{
	float: right;
	margin-right: 20px;
}

.clear {
	clear: both;
}