@CHARSET "UTF-8";

.contentDialog {
	margin-top: 10px;
	margin-left: 20px;
}

.bg-dark-green {
	background-color: #C7F391;
}

.overtime-border td {
	border: solid grey 1px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	min-width: 30px;
	max-width: 350px;
}
.tdcenter {
	text-align: center;
}


.selectProductNumber {
	width: 60px;
}
.overtime-border input {
	width: 150px;
}

/*.tbOvertime {*/
	/*margin-top: 20px;*/
/*}*/

#master-wrapper {
	height: auto;
}