#left-content { 
	margin-left: 20px; 
	margin-top: 12px; 
	padding: 20px; 
	float: left; 
	width: 380px; 
	height: 520px;
}
#right-content {
	padding-left: 40px; 
	float: left; 
	width: 810px;
	margin-top: 32px;
}

.right-layout td {border: solid #fff; border-width:0 10px 10px 0;}

.btn-upload,
.btn-download {min-width: 175px;}
.input-size {width: 40px;}
button {padding: 0px 20px 0px 20px;}
button#btnRegistry.proceed.btnSetting{margin-left: 20px; margin-right: 50px; }
button.btnSetting{margin-left: 20px;}
.container{width: 1350px;}
.no-wrap{white-space: nowrap;}
#flow-menu-list .icon-dot {margin-top:3px;} 
.ntsControl {display: inline;}