#left-content {margin-left: 20px;margin-top: 12px;padding: 20px 5px 10px 20px;float: left;width: 380px;height: 400px;}
#right-content {margin-left: 50px;float: left;width: 600px;margin-top: 32px;}
.right-layout td {border: solid #fff; border-width:0 10px 10px 0;}
.btn-download {min-width: 175px;}
.input-size {width: 40px;}
.container{width: 1100px;}
.no-wrap{white-space: nowrap;}
#flow-menu-list .icon-dot {margin-top:3px;} 
.ntsControl {display: inline;}
button.search-btn.caret-bottom {padding-left:10px; padding-right:10px ; margin-left : 15px;}
button.clear-btn {padding-left:10px; padding-right:10px ; margin-left : 10px;}
button#btnRegistry.proceed.btnSetting{margin-left: 5px; margin-right: 5px;}
button#btnDelete.danger.btnSetting{margin-right: 5px;}
#btn_new{margin-left: 25px; }
#btn_new{width: 70px;}
#btnRegistry{width: 70px;}
#btnDelete{width: 70px;}
#btn004{width: 70px;}
#file_upload{width: 361px; overflow: hidden;}
.form-label > i {white-space:nowrap;}