
#L1div {
	margin-top: 10px;
	margin-left: 10px;
}
#L2 {
	margin-top : 20px;
	margin-bottom: -55px;
}
#L3 {
	margin-top: 20px;
	margin-bottom: 20px;
}
#bottom {
	margin-left: 20px;
}
#L5 {
	margin-top: 20px;
	margin-bottom: 20px;
}
#L6_2 {
	margin-left: 2px;
}

#L9_2 {
	margin-left: 2px;
}
#K31_1 {
	margin-top: 10px;
}
#K31_2 {
	margin-top: 10px;
	width : 30px;
	margin-left: 5px;
}
#K31_3 {
	margin-top: 10px;
	padding-left: 5px;
}