.kdw003a {
    .mgrid-error{
        background-color: #FD4D4D;
    }
    .mgrid-alarm{
        background-color: #F6F636;
    }
    .mgrid-manual-edit-target{
        background-color: #94B7FE;
    }
    .mgrid-manual-edit-other{
        background-color: #CEE6FF;
    }
    .mgrid-reflect{
        background-color: #BFEA60;
    }
    .mgrid-calc{
        background-color: #F69164;
    }
    .mgrid-disable{
        background-color: #CCC;
        color: #333;
    }
    .mgrid-lock{
        background-color: #CCC;
    }
    .mgrid-hide{
        display: none;
    }
    .color-sunday {
        color: #FF2D2D !important;
    }   
    .color-saturday {
        color: #0086EA !important;
    }
    .button-active {
        font-weight: bold;
    }
    .button-deactive {
        font-weight: bold;
        color: #CCC;
    }
    .table-custom {
        th {
            vertical-align: middle;
        }
        td {
            vertical-align: middle;
            height: 42px;
        }
    }
}