@import url("../qmm005.css");

#functions-area .btn-group-left {
	width: 355px;
}

#functions-area #A_BTN_001 {
	background-color: rgb(164, 238, 176);
}

td>.caret {
	display: inline-block;
}

td>.ui-igcombo-wrapper, td>.caret>.ui-igcombo-wrapper {
	top: 0;
}

#A_SEL_001 {
	width: 60px;
}

#A_SEL_002 {
	width: 260px;
}

#A_SEL_003 {
	width: 50px;
}

#A_SEL_004 {
	width: 100px;
}

#A_SEL_005 {
	width: 80px;
}