#A2_3, #A2_6 {
	font-size: 18px !important;
	margin-top: 10px;
}

#btn-help-1 {
	margin-left: 27px;
	margin-top: 10px;
}

#btn-help-2 {
	margin-left: 99px;
	margin-top: 10px;
}

#area-left {
	float: left;
	margin-left: 50px;
}

#A2_23 {
	float: right;
	margin-right: 96px;
	margin-top: 18px;
}


#A2_21 {
	margin-right: 46px;
}

#A6_3 {
	float: right;
	margin-top: -21px;
}

#single-list>tbody>tr>td {
	border-bottom: 1px #CCC dotted;
}

#search-btn {
	min-width: 80px;
	margin-top: -32px;
	float: right;
	margin-right: 20px;
}

.img-icon {
	margin-left: -28px;
	margin-top: 3px;
	background-color: #30cc40;
    position: absolute;
    border-radius: 2px;
    background-size: contain;
    width: 25px;
    height: 25px;
	background-image:
		url("../../../../../nts.uk.com.js.web/lib/nittsu/ui/style/stylesheets/images/icons/numbered/1.png");
}
#input-search{
	margin-left: 20px;
}

