#emp-component table#employ_view {
	margin: 0 auto !important;
}


#single-list_container {
	margin: 20px 0px !important;
	width: 685px !important;
}

#function-tr td:nth-child(7) div {
	width: 50px;
}

#single-list_displayContainer {
	width: 666px !important;
    max-width: 685px !important;
}

#single-list_headers_v {
	width: 683px !important;
}