#emp-component table#employ_view {
	margin: 0 auto !important;
}


#single-list_container {
}

#emp-component td:nth-child(7) div {
	width: 50px;
}

#single-list_displayContainer {
    max-width: 910px !important;
}

#single-list td img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#single-list tr td:last-child {
	text-align: left;
}
.time{
	float: right;
	margin-right: 5px;
}
