.contents-area {
	width: 1260px;
}

.contents-area-tabpanel-3 {
	width: 1345px;
}

.dateControlBtn {
	width: 80px;
	margin-top: 10px;
}

.dateControlBtn:FIRST-CHILD {
	margin-left: 10px;
}

.dateControlBtn:LAST-CHILD {
	margin-left: 40px;
}

#sidebar-area {
	width: 60px;
}

#left-contents {
	width: 260px;
	height: 606px;
}

.contents-header td {
	padding: 5px 3px;
}

.contents-header {
	width: 920px;
}

.td-first-bg {
	background-color: #E0F59E !important;
}

table.contents-header td.name {
	width: 100px;
}

table.contents-header td.button_phase {
	text-align: center;
	padding: 5px 5px;
}

table.contents-header td.base-date {
	width: 150px;
}

table.contents-header td.allow-pay {
	width: 45px;
	text-align: center;
}

table.contents-header thead tr th {
	text-align: center;
}

.modeB {
	color: #000;
	font-weight: bold;
	background-color: #CFF1A5;
	padding: 0 2px;
	border: 1px solid #CCC;
}

table#fixed-tableB tbody td {
	border: 1px solid #CCC;
}

table#fixed-tableWpB tbody td {
	border: 1px solid #CCC;
}

table#fixed-tablePsB tbody td {
	border: 1px solid #CCC;
}

.fixName {
	white-space: nowrap;
	overflow: hidden;
}
/* #fixed-table {
	height: 550px !important;
}

#fixed-tableWp {
	height: 550px !important;
}

#fixed-tablePs {
	height: 550px !important;
} */
.nts-fixed-table .nts-fixed-body-container {
	overflow-x: hidden !important;
}

.nts-fixed-table table.fixed-table>tbody>tr {
	max-height: 50px !important;
}

table#fixed-tableB tbody tr {
	max-height: 50px !important;
}

table#fixed-tableWpB tbody tr {
	max-height: 50px !important;
}

table#fixed-tablePsB tbody tr {
	max-height: 50px !important;
}

.overflow-visible {
	overflow: visible !important;
}
.aaa{
	 text-overflow: clip !important;
}