@CHARSET "UTF-8";

.sidebar-html #master-content {
	height: calc(100% - 93px) !important;
}

#sidebar-area {
	width: 105px !important;
}

table.link-control {
	width: 85%;
	float: left;
	margin-left: 40px;
	margin-top: 15px;
}

table.link-control td {
	float: left;
	padding-right: 20px;
}

.item-panel {
	float: left;
	width: 92%;
	margin-left: 50px;
	margin-top: 15px;
	height: 500px;
	overflow-y: auto;
}

.block-1, .block-2, .block-3, .block-4, .block-5, .block-6, .block-7,
	.block-8 {
	float: left;
	width: 90%;
}

hr.nav {
	width: 640px;
	float: left;
	margin-left: 8px;
}

.basic-label {
	float: left;
	width: 100%;
	margin-left: 8px;
}

.sub-label-title {
	margin-left: -2px;
}

table.basic-items, table.type-items, table.period-items, table.activation-items,
	table.time-items, table.creation-items, table.complete-method-items,
	table.search-control-items {
	margin-left: 40px;
	margin-top: 37px;
}

table.basic-items td {
	padding-right: 60px;
	padding-bottom: 10px;
}

table.type-items td {
	padding-right: 88px;
	padding-bottom: 10px;
}

table.period-items td {
	padding-right: 13px;
	padding-bottom: 10px;
}

table.activation-items td {
	padding-right: 72px;
	padding-bottom: 10px;
}

table.time-items td {
	padding-right: 68px;
	padding-bottom: 10px;
}

table.creation-items td {
	padding-right: 66px;
	padding-bottom: 10px;
}

table.complete-method-items td {
	padding-right: 46px;
	padding-bottom: 10px;
	vertical-align: top;
}

table.search-control-items td {
	padding-right: 8px;
	padding-bottom: 10px;
	vertical-align: top;
}

table.complete-method-items td hr {
	margin-left: -2px !important;
	width: 126% !important;
}

.cbx-days {
	max-width: 42% !important;
	min-width: 0 !important;
}

.ntsControl.radio-wrapper {
	width: 210px;
	margin-top: 8px;
}

.ntsRadioBox {
	padding-bottom: 10px;
}

.txtcondition {
	width: 240px;
}

.contents-area-b .block-1, .contents-area-b .block-2, .contents-area-b .block-3
	{
	padding: 12px 0 0px 30px;
}

.contents-area-b .block-1 hr, .contents-area-b .block-2 hr,
	.contents-area-b .block-3 hr {
	width: 740px;
}

.txtQualificationMark {
	width: 10px;
}

.left-tbl, .right-tbl {
	float: left;
	padding-bottom: 10px;
}

.contents-area-b table.basic-items td {
	vertical-align: top;
}

.func-btn {
	width: 80px;
	float: left;
	padding: 0 24px;
}

.func-btn button {
	margin-top: 30px;
	width: 85px;
}

.contents-area-b .block-2 .ntsHelpButton {
	float: left;
	margin: -23px 102px;
}

.contents-area-b .block-3 .ntsHelpButton {
	float: left;
	margin: -24px 115px;
}

.contents-area-b .ntsHelpButton button {
	height: 25px;
}

.txtCredentialList, .txtWorkTypeList {
	width: 320px;
}

table.symbol-control {
	margin-left: 40px;
	margin-top: 37px;
}

table.symbol-control td {
	padding-right: 32px;
	padding-bottom: 10px;
}

.contents-area-c .block-1 {
	padding: 15px 30px;
}

button.nts-switch-button {
	width: 95px;
}

.items-tree {
	float: left;
	margin: 10px 8px;
}

.hyperlink-disable {
	color: #7f7f7f;
	text-decoration: underline;
	cursor: pointer;
}
/* Screen D */
.item-panel1 {
	margin-left: -25px;
	float: left;
	width: 92%;
	margin-top: 15px;
	height: 500px;
	overflow-y: scroll;
}

.panel-frame .panel-frame-title {
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	width: 470px;
	display: inline-block;
}

.link-control1 {
	margin-left: 40px;
	margin-top: 15px;
	margin-left: -23px !important;
}

.switchButton {
	margin-left: 60px;
}

.label-sw {
	margin-left: 15px;
}

.combo {
	margin-left: 186px;
}

.combo-d .ui-igcombo-wrapper {
	width: 65px;
}

.combo-d {
	margin-left: 245px;
	margin-top: -24px;
}
