.tables-container {
  margin-left: 50px;
  margin-top: 40px;
}

.setting-zone {
  justify-content: space-between;
}

.setting-delete {
  margin-right: 35px;
}

td.limited-label {
  display: table-cell;
}

.mt-20 {
  margin-top: 20px;
}

#F4_container {
  margin-left: 20px !important;
}