.kafs04a {
    .control-label{
        border-left: 0;
    }
}
.topError {
    background-color: #f8d7da !important;
    margin-bottom: 5px;
    button {
        text-align: left;
        border-radius: 3px !important;
    }
}

.position-absolute.right {
    right: 0px;
    top: 80px;
}