#contents-area, #functions-area-bottom {
	background-color: rgb(235, 255, 235);
}

#functions-area-bottom {
	height: 75px;
}

#functions-area-bottom-label {
	padding: 0px 10px 5px 10px; 
	text-align: left; 
	line-height: 0.6em; 
	height: 2em;
}

.w230 {
	width: 230px;
}

.w100 {
	width: 100px;
}

.p10 {
	padding: 10px;
}

.m-l-10 {
	margin-left: 10px;
}

.pre-wrap {
	white-space: pre-wrap;
}