#dialogSize {
	padding-bottom: 15px;
}
#inline{
	width:100%;
	height:auto;
	display:flex;
}

#C2_1{
	margin-left: 20px;
	margin:10px;
}
#C3_1{
	margin-left: 20px;
}
#C3_2{
	margin-left: 291px; 
	margin-bottom: 25px;
}
#swap-list{
	margin-left: 20px;
}
#C20_1 {
	margin-left: 300px; 
	margin-top: 15px;
}
#C20_2 {
	margin-left: 10px;
}
