.table tr td {
	padding-bottom: 10px;
}

.table > tbody > tr > td:nth-child(1) {
	width: 150px;
}

.span-middle {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.month-checkbox {
	margin-right: 10px;
	margin-bottom: 5px;
	width: 63px
}