#genText {
  margin-left: 20px;
}

#stamp-input {
  width: 800px;
}

#stamp-info {
  width: 400px;
}

#functions-area {
  height: 0px;
  border-bottom: none;
  padding-top: 0px;
}

#stamp-date {
  text-align: center;
}

#stamp-time {
  text-align: center;
  margin-top: 10px;
}
#stamp-header {
  padding: 10px;
}
#stamp-header .panel {
  padding: 0px;
}
#stamp-date-text {
  font-size: 2rem !important;
}
#stamp-time-text {
  font-size: 5rem !important;
}
