#d1_25 {
	padding: 0 40px;
}

.left-contents {
	float: left;
	padding: 25px 12px 0px 15px;
}

.right-contents {
	float: left;
	margin: -42px 10px;
}

.cbb-system-data {
	position: fixed;
}

.top-left-contents {
	padding: 0 15px;
}

#d1_13 {
	margin: 38px 30px;
	width: 260px;
	height: 50px;
	text-align: center;
}

.move-function {
	float: left;
	margin-top: 200px;
	width: 60px;
}

.move-function button {
	margin-bottom: 50px;
}

.chane-position-function {
	float: left;
	margin-top: 112px;
	width: 30px;
}

.chane-position-function button {
	margin-bottom: 50px;
}

.first-caret .caret-bottom {
	float: left;
	padding-left: 125px;
	margin-bottom: -18px;
	position: fixed;
}


#multi-list1_tooltips,
#multi-list2_tooltips {
	border: none;
	background: none;
	box-shadow: none;
	width: auto !important;
	max-width: 800px !important;
}

#multi-list1_tooltips .ui-tooltip-content,
#multi-list2_tooltips .ui-tooltip-content {
	white-space: nowrap;
	background: #ffc;
	border: solid 1px #b85;
	padding: 5px;
	width: auto !important;
	max-width: 800px !important;
}