@CHARSET "UTF-8";

.right-content {
	float: left;
	margin-left: 90px;
	width: 850px;
	height: 500px;
	border: 1px solid rgba(79, 79, 79, 0.85);
	border-radius: 4px;
}

#A_BTN_001 {
	padding:0px 10px;
	margin-top: 4px;
	margin-left: 100px
}

#A_BTN_002{
	padding:0px 10px;
	margin-left: 5px
}