.navigation-label {
	margin-left: 20px;
	vertical-align: 12px;
}

.create-creation {
	background-image: url(./IMG_KSC001_1.png);
	background-size: 100%;
	height: 109px;
	width: 327px;
	background-repeat: no-repeat;
	margin-left: 20px;
}

.history-reference {
	background-image: url(./IMG_KSC001_2.png);
	background-size: 100%;
	height: 109px;
	width: 327px;
	background-repeat: no-repeat;
	margin-left: 60px;
}

.contentB {
	margin-left: 85px;
}

.contentC {
	margin-left: 45px;
	margin-left: 45px;
}

.contentD {
	margin-top: 10px;
	margin-left: 45px;
	margin-left: 45px;
}

.contentE {
	margin-top: 10px;
	margin-left: 45px;
	margin-left: 45px;
}

.periodCovered {
	border: 1px solid #ccc !important;
	border-radius: 5px;
	padding: 5px;
	display: inline-flex;
	width: 600px;
}

.selectionEmployee {
	margin-top: 10px;
	border: 1px solid #ccc !important;
	border-radius: 5px;
	padding: 5px;
	width: 600px;
	border: 1px solid #ccc !important;
}

.buttonNext {
	margin-top: 8px;
	margin-left: 470px;
}

.selectionCase {
	margin-top: 10px;
	margin-left: 60px;
	padding: 10px;
	background-color: #eaeaea;
}

.periodChangeValue {
	margin-left: 15px;
}

.labelSchedule {
	margin-left: 30px;
	margin-top: 10px;
}

.helpButton {
	margin-left: 15px;
}

.selectImplementAtr {
	margin-left: 15px;
}

.labelRangeDate {
	margin-left: 15px;
}

button.nts-switch-button {
	min-width: 80px;
}

.radioboxCase {
	margin-top: 10px;
	margin-left: 20px;
}

.radioboxCaseAll {
	margin-top: 10px;
	margin-left: 30px;
}

.lableCaseAll {
	display: inline-flex;
	width: 100%;
}

.contentELable {
	margin-left: 20px;
}

.buttonCase {
	margin-left: 20px;
}

.radioboxProcessExecutionAtr {
	margin-top: 10px;
	margin-left: 20px;
}

.radioboxRebuildAtr {
	margin-top: 5px;
	margin-left: 10px;
}

.checkboxSetting {
	margin-top: 10px;
	margin-left: 65px;
}

.checkboxSetting-1 {
	margin-top: 10px;
	margin-left: 40px;
}

.checkboxSettingEnd {
	margin-top: 5px;
	margin-left: 70px;
	float: left;
}

.checkboxOne {
	width: 180px;
}

.checkboxOne-1 {
	width: 205px;
}

.labelSettingEnd {
	margin-left: 105px;
	float: left;
}

.nts-wizard{
	overflow: auto;
}

.nts-wizard.vertical>.steps {
	width: 300px;
}

.nts-wizard.vertical>.content {
	margin: 0 0 0 0;
	background: none;
}

.nts-wizard>.content>.body {
	padding: 0;
}

.buttonBeginNext {
	margin-left: 20px;
	float: left;
}

.buttonBeginPrevious {
	margin-top: 12px;
	float: left;
}

.labelSelection {
	width: 150px;
}

.labelContents {
	background-color: #eaeaea;
	width: 350px;
	white-space: pre-line;
	padding: 5px;
	max-height: 195px;
	overflow-y: scroll;
	position: relative;
}

.labelCenter {
	margin-top: 8px;
	white-space: pre;
}

.rangeLabel {
	padding: 10px 5px 6px 5px;
}

.rangeDatePicker {
	padding-top: 4px;
}

.ccg_tab_content_1 {
	height: 460px !important;
}

.ccg_tab_content_2 {
	height: 460px !important;
}

#employeeSearch #nts-component-list {
	padding: 10px 10px 10px 20px !important;
}

.labelContents label {
	display: block;
	margin: -15px 0px;
}

.contentE {
	min-height: 430px;
}

.contentE+div.btns {
	width: 682px;
	text-align: right;
}

.btns>.proceed {
	margin-left: 15px;
}

#wizard-p-3{
	position: relative !important;
}

