html, body, #master-wrapper {
	height: 100%;
}

#master-content {
	height: calc(100% - 50px);
}

.sidebar-content-header {
	line-height: 50px;
}

.sidebar-content-header .title {
	width: 165px;
}

.sidebar-content-header>div {
	display: inline-block;
}