.control-group.valign-center > * { vertical-align: middle; }
.control-group.valign-top > * { vertical-align: top; }
.control-group.valign-bottom > * { vertical-align: bottom; }
body {
	overflow-x: hidden;
}
.control-group { 
	margin: 0 0 -5px 15px;
	overflow: hidden;
  /* height: inherit; */
}
.label:FIRST-CHILD{
	font-size: large;
	margin-bottom: 5px;
	margin-left: 15px;
}
#search-div {
	/* padding-left: 120px; */
	margin-bottom: 5px;
}
/* #search-div span:NTH-CHILD(3) {
	font-size: x-large;
	margin-left: 10px;
	margin-right: 15px;
} */
.ui-igcombo-wrapper {
	width: 90px;
}
input.ui-igcombo-field {
	padding-left: 10px;
}
div.nts-column{
	padding-left: 10px;
}

#day-list-div {
	padding-left: 15px;
	padding-right: 15px;
}

#day-list-tbl > tbody > tr > td:LAST-CHILD > span{
   	display: inline-block;
}
#functions-area-bottom > button {
	margin-right: 10px;
}

#contents-area{
	overflow: hidden !important;
}
.inputTime {
	width: 100px;
  text-align: center !important;
}
#search-div .inputTime {
	width: 70px;
}
/* .label{
	margin-left: 10px;
} */
.search-by-code {
	width: 100%;
	margin-bottom: 10px;
}

.table .cell.cell-right {
	width: 62%;
	text-align: right;
}
.search-by-code .cell:last-child {
	text-align: right;
}

.search-by-code .cell:last-child .control-group {
	margin: 0;
}
.search-by-code .cell:last-child button {
	margin-top: 5px;
}
.search-by-code .cell.control-group .ntsCheckBox {
	margin-right: 40px;
}

.table .cell {
  height: 50px;
}

#A2_6 {
  width: 135px !important;
}