.row {
    text-align: center;
}

.title{
    margin-bottom: 16px;
    color: #ff0000;
    font-size: 28px;
}
.contents-area{
	padding: 20px;
}
.inforAuthent{
	height: 55px;
    font-size: 19px;
    font-weight: 600;
}
.time {
	margin-bottom: 46px;
}
.divBtn{
	margin-top: 19px;
	text-align: center;
}
.divBtn button {
	width: 150px;
}
.row b {
	font-weight: 600;
    font-size: 16px;
	
}