@import url("base.css");

#contents-area {
	text-align: center;
}

#content-header {
	position: relative;
	padding: 10px;
	border-bottom: solid 1px #B1B1B1;
	height: 350px;
}

#A_LBL_Guide {
	margin: 20px 0px 0px 20px;
}

#A_LBL_MainlyUsedItems {
	font-weight: bold;
	margin-left: 30px;
}

#A_BTN_001 {
	margin-top: 20px;
}

#A_BTN_001, #A_BTN_002, #A_BTN_003 {
	margin-left: 50px;
	width: 150px;
}

#A_BTN_002, #A_BTN_003 {
	margin-top: 10px;
}

#A_LBL_ItemDescription {
	padding: 10px 0px 0px 30px;
	display: inline-block;
}

#A_BTN_Close {
	margin-left: 20px;
}

#A_SEL_TypeItem button {
	display: flex;
	margin-bottom: 10px;
	width: 170px;
	height: 35px;
	box-shadow: 0 3px rgba(0, 0, 0, 0.4);
}

#A_SEL_TypeItem button:ACTIVE {
	top: 3px;
	box-shadow: 0 0 #999;
}

#A_SEL_TypeItem {
	margin: 10px 0px 0px 50px;
}

#Group1, #Group2, #Group3, #Group4 {
	display: none;
}

#A_LBL_NavigationMessage {
	padding-left: 20px;
	padding-right: 20px;
	display: block;
	text-indent: 20px;
}
#A_LBL_MainlyUsedItems {
	font-weight: bold;
}