@CHARSET "UTF-8";

#contents-area {
	/*  width: 1000px; */
	
}

#functions-area {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
}

.btn-default {
	margin-left: 10px;
	min-width: 75px;
}

#left-content {
	margin-left: 30px;
	padding: 20px;
	float: left;
	min-height: 400px;
}

#right-content {
	margin-left: 40px;
	float: left;
	min-height: 600px;
}

.nts-switch-button {
	min-width: 80px;
	font-size: 13px !important;
	height: 30px !important;
	padding: 3px 7px !important;
	margin-bottom: 3px !important;
}

.valign-top {
	vertical-align: top;
}

.control-group>td {
	padding-bottom: 8px
}

.v-align-top {
	vertical-align: top;
}

.wage-table-create-button {
	padding: 0 160px;
}

.wage-table-create-button.caret-bottom:after {
	border-top-width: 1.8em;
	border-right-width: 7.5em;
	border-left-width: 7.5em;
	margin-left: -7.5em;
	margin-top: 4px;
	color: #92D050;
}

.tab-content {
	width: 800px;
}

.tab-inline {
	padding-left: 20px;
}