.setting_header_tab1 {
	width: 180px;
	margin-left: 10px;
}

.setting_header_tab1_2 {
	width: 60px;
	margin-left: 10px;
}


.setting_rows {
	margin-top: 10px;
	width: 100%;
}

.setting_time {
	margin-left: 20px;
}

.label_time_tab1 {
	margin-left: 33px;
}
.pad_top_15 {
	padding-top: 15px;
}
.height-30 {
	height: 30px;
}

.pl-30 {
	padding-left: 30px;
}

.fr-13 {
	float: right;
	margin-right: 13px;
}

.mt-10 {
	margin-top: 10px !important;
}

.mt-25 {
	margin-top: 25px !important;
}
.mt-35 {
	margin-top: 35px !important;
}