.row1{margin-bottom: 20px;}
.left-contents{margin-top: 10px;float:left;}
.right-contents{margin-top: 10px;float:left; margin-left: 30px;}
#contents-area{margin-left: 10px;}
.ntsControl.nts-datepicker-wrapper{margin-right: 50px;}
.row1-left{margin-bottom:10px;}
.row1-right{margin: 5px 0px 15px 0px;}
.row2-right{margin-bottom: 15px;}
#datepicker{margin-left: 0px;}
#label2{margin-right: 42px;}
.container {width: 740px;}