#contents-area {
	padding: 25px;
}
	
.date-fixed-table {
	padding-top: 10px;
}

table#date-fixed-table {
    empty-cells: show;
}

table.fixed-table th {
    padding: 3px !important;
}

table#date-fixed-table tr {
    height: 25px;
}

table#date-fixed-table td {
    padding: 3px;
}

table.summary-table {
	margin-top: 5px;	
}

table.summary-table tr:first-child {
	border-top: 1px solid #CCC;
}

table.summary-table tr:last-child {
	border-top: double #CCC;
	border-bottom: 1px solid #CCC;
}

table.summary-table td {
	padding: 3px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-top: 1px #CCC dotted;
	border-bottom: 1px #CCC dotted;
}

table.summary-table td:first-child { 
    background-color: #CFF1A5;
}

table.summary-table td:nth-child(2), table.summary-table td:last-child { 
    text-align: center;
}


table.summary-table td:last-child { 
    border-left: none;
}