@CHARSET "UTF-8";

@import url("../a/base.css");

#functions-area {
	padding: 10px 10px 10px 20px;
	height: auto;
}

#contents-area {
	clear: both;
}

#contents-area-left {
	float: left;
	padding-left: 20px;
}

#contents-area-right {
	float: left;
	padding-left: 20px;
}

#J_HR_001 {
	clear: both;
}

#J_SEL_001 label {
	display: block;
}

#J_SEL_001 label:not(first-child ) {
	margin-top: 10px;
}

#J_SEL_002, #J_SEL_003 {
	min-width: 0px !important;
	width: 180px;
}

#J_BTN_002 {
	margin-left: 40px;
}