html {
	overflow: hidden;
}
.header-content {
	padding: 15px 0px 15px 30px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #b1b1b1;
}

.contents-area {
	margin: 20px 0px 0px 60px;
	overflow: auto;
	height: calc(100vh - 175px);
}

.spacer {
	height: 20px;
}