.panel.panel-frame {
	width: 570px;
	margin: 20px;
}

.info {
	margin-top: 15px;
	margin-bottom: 15px;
}

.ntsCheckBox {
	margin-right: 20px;
}

.calendarContent {
	margin: 20px;
}

.left-content {
	margin: 20px;
	float: left;
}

.right-content {
	float: left;
}

.workplaceInfoB {
	margin-top: 20px;
	margin-left: 15px;
}

.hrInfoB {
	margin-left: 15px;
}