.view-cli .float-left {
  float: left;
}

.view-cli .model-component {
  margin-left: 37px;
}

.model-component {
  float: right;
  margin-right: -13px;
}

.ntsSearchBox {
  width: 380px;
}

#item-list tbody tr td div {
  text-align: center;
}