@CHARSET "UTF-8";

#tab-2 .tbl-monthly tr td:nth-child(1) {
	min-width: 50px;
	max-width: 60px;
}

#tab-2 .tbl-monthly tr td:nth-child(2), 
#tab-2 .tbl-monthly tr td:nth-child(3) {
	max-width: 85px;
}

#tab-2 .tbl-monthly tr td:nth-child(2) input, 
#tab-2 .tbl-monthly tr td:nth-child(3) input {
	width: 60px;
}

#tab-1 .tbl-monthly {
	margin-left: 79px;
}

#tab-3 .tbl-monthly {
	margin-left: 79px;
}

