@CHARSET "UTF-8";

#D_SCH_001 input {
	width: 165px;
	height: 30px;
}

#D_INP_001 input, #D_INP_002 input, #D_INP_003 input, #D_INP_004 input {
	width: 100px;
}

#D_BTN_001, #D_BTN_002 {
	width: 120px;
}

#D_LBL_010>label {
	line-height: 22px;
}

#B_LBL_004>label {
	line-height: 22px;
}