#table-top {
    width: 100%;
}
#day-off {
    float: right;
    margin-right: 5px;
}
.nts-calendar-container {
    width: 26%;
    margin: 20px 40px;
}
#calendar-ksm004-f {
    width: 100% !important ;
}
#yearMonthList-ksm004-f {
    text-align: center;
}
.nts-calendar-header div {
    margin-left: 0;
}
.fc-basic-view .fc-body .fc-row {
    min-height: 4em;
    height: 50px !important;
}
.fc-scroller {
    -webkit-overflow-scrolling: touch;
    height: 336px !important;
}
#label-day-off {
    padding: 1px 6px;
    background-color: #fabf8f;
    color: #fabf8f;
}
.ksm004-f .holiday-calendar{
    margin: 9px;
}
