#LBL_007{
	padding-right: 20px;
}
#LBL_005{
	padding-right: 95px;
}
#INP_003, #INP_001{
	width: 55px !important;
	padding-left: 0px !important;
}
#LBL_004{
	padding-right: 93px;
}
.layoutSelect{
	display: flex;
	height: 45px;
	margin-left: 15px;
	margin-bottom: 5px;
}
#SEL_002{
	margin-left: 50px;
	margin-top: 15px;
}
#LBL_002{
	margin-left: 10px;
}
.selectDrop{
	margin-top: 20px;
	margin-left: 10px;
}
.bottomStype{
	margin-top: 20px;
	margin-left: 350px;
}
#BTN_001{
	margin-right: 20px;
}
.lstBox{
	border: 2px solid gray;
    margin-left: 150px;
    margin-top: 5px;
    padding-top: 5px;
    width: 750px;
    height: 205px;
}
#LBL_003{
	padding-left: 50px;
}
#header{
	display: none;
}
.timeLayout{
	display: flex;
}