.header-image-no-event {
    background-image: url(../image/121.png);
    background-size: contain;
    width: 16px;
    margin: auto;
    background-repeat: no-repeat;
}

.header-image-event:hover {
    background-image: url(../image/120.png);
    cursor: pointer;
}

.header-image-event {
    background-image: url(../image/120.png);
    background-size: contain;
    width: 16px;
    margin: auto;
    background-repeat: no-repeat;
}

.x-link {
    text-align: left;
}

#tab-1, #tab-2 {
	height: 525px;
}

#functon-area-row2 *, #contain-view-right * {
	font-size: 11.5px !important;
	vertical-align: middle;
}

#extable td, #extable td>* {
	font-size: 10.5px;
}

.xheader *, .ex-body-detail *, .ex-body-vert-sum *, .ex-body-horz-sum *
	{
	text-align: center;
}


.ex-header-vert-sum tr:NTH-CHILD(2) {
	font-size: 90%;
}

.ml-2 {
	margin-left: 2px;
}

table th, table td {
	padding: 2px 5px;
}

#functions-area>button {
	margin-left: 5px;
}

#A1_11 {
	margin-left: 48px !important;
}

#A1_12 {
	margin-left: 78px !important;	
}

.hope {
	margin-left: 5px !important;
}

#A1_7 {
	margin-left: 40px !important;
}

.generally, .simulation, .capture {
	width: 95px;
}

.simulation, .capture {
	margin-top: 15px;
}

.execution-popup3 {
	margin-right: 7px;
	float: right;
	margin-top: 23px;
	width: 80px;
}

.compensation, .paid, .exsess, .substitute, .fundedPaid , .supportsetting {
	width: 105px;
}

#work-setting, #person-setting, #sort-order-setting {
	margin-left: 10px;
}

#work-setting button, #person-setting button, #sort-order-setting button{
	width: 260px;
	margin-bottom: 10px;
}

.btnSelectMode {
	float: left;
}

#oViewModel, #qViewModel {
	float: left;
	width: 55%;
	margin-left: 15px;
}

#qViewModel {
	margin-top: 3px;
}

#oViewModel {
	margin-top: 3px;
}

#group-btmode {
	float: left;
	width: 9%;
}

#group-bt {
	float: left;
	width: 132px;
	border-right: 2px solid #ccc;
	height: 90px;
}

.setting-button {
	background: url(../image/image008.png) no-repeat center;
}

#A5 {
	background: url(../image/image099.png) no-repeat center;
}

.size-image-button1 {
	background-size: 20px 20px !important;
	width: 27px;
}

.size-image-button2 {
	background-size: 24px 24px !important;
	height: 27px !important;;
	width: 27px;
}

.size-image-button3 {
	background-size: 20px 20px !important;
	height: 24px !important;;
	width: 24px;
}

.icon.icon-button-arrow-right, .icon.icon-button-arrow-left {
	width: 12px !important;
}

#button-top {
	margin-left: 22px;
}

#button-bot {
	margin: 15px;
	margin-left: 22px;
}

#multi-list_container {
	margin-left: 7px !important;
	margin-top: 16px !important;
}

#A1_10_1 {
	width: 362px !important;
	height: 85px;
}

#A1_7_1 {
	width: 440px !important;
	height: 100px;
}

#A1_10_1, #A1_12_1, #A4_1,#A1_7_1, #A5_1, #A16 {
	border: solid 6px #fff !important;
	border-radius: 3.5px !important;
	box-shadow: 1px 1px 5px 2px #888 !important;
	padding: 12px;
	background-color: #F8EFD4 !important;
	display: none;
}

#multi-list {
	height: initial !important;
}

#generally-created, #simulation-explanation,
	#capture-explanationgenerally-created {
	margin-left: 10px;
}

#alarm-check-explanation {
	margin-left: 7px;
}

#A4_1 {
	width: 350px
}

#popup6-radioBox {
	width: 120px;
}

#popup6-radioBox>.ntsRadioBox, .div-popup {
	margin-bottom: 10px
}

#A5_1 {
	width: 470px
}

#A16{
	height: 90px;
}

.square {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: text-top;
}

.popup-div {
	width: 152px;
	display: inline-block;
	margin-bottom: 10px
}

.ml-20 {
	margin-left: 20px
}

#color-7 {
	background-color: #0000ff
}

#color-8 {
	background-color: #ff0000
}

#color-9 {
	background-color: #FF7F27
}

#paste {
	white-space: normal;
	width: 38px;
	height: 38px;
	font-size: 10px !important;
}

#copy {
	width: 38px;
	height: 38px;
	font-size: 10px !important;
}

#input {
	white-space: normal;
	width: 38px;
	height: 38px;
	font-size: 10px !important;
}

#undo {
	margin-top: 3px;
	background: url(../image/image030.png) no-repeat center;
	width: 38px;
	height: 38px !important; 
	background-color: #ffff;
}

#redo {
	margin-top: 3px;
	background: url(../image/image031.png) no-repeat center;
	width: 38px;
	height: 38px !important; 
	background-color: #ffff;
}

#prevMonth {
	background: url(../image/image050.png) no-repeat center;
}

#nextMonth {
	background: url(../image/image053.png) no-repeat center;
}

#contain-view-left{
	margin-left: 27px;
	margin-top: 10px;
    width: 83px;
    height: 92px;
    display: inline-block;
    float: left;
}

#contain-view-right {
	display: inline-block;
	margin-top: 5px;
	margin-left: 10px;
	border: 1px solid #cccccc;
	background: rgb(219, 238, 244);
	padding: 5px;
	width: 1085px;
	height: 92px;
}

#functon-area-row2 {
	height: 45px;
	margin-left: 27px;
	margin-top: 3px;
	padding-bottom: 2px;
	border-bottom: 1px solid #B1B1B1;
	white-space: nowrap;
}

#functon-area-row2-left {
	width: 634px;
	margin-top: 5px;
	height: 45px;
	display: inline-block;
}

#functon-area-row2-center {
	width: fit-content;
	height: 45px;
	display: inline-block;
}

#functon-area-row2-right {
	margin-top: 5px;
	width: fit-content;
	margin-left: 30px;
	height: 45px;
	display: inline-block;
}

#date-time-prev, #date-time-after {
	font-size: 12.5px !important
}

#set-work-time {
	margin-top: 2px
}

.ex-editor input {
	width: 100% !important;
	height: 100% !important;
	display: block !important;
	vertical-align: top;
	font-size: 0.8em;
	box-sizing: border-box;
	line-height: 0px
}

.h-90 {
	height: 90px
}

#input-heightExtable {
	width: 65px
}

.icon-leftmost {
	background-image: url(../image/7.png);
	height: 20px;
	width: 20px;
	left: 2px !important;
	margin-top: -4px !important
}

.mb-5 {
	margin-bottom: 5px
}

.ml-15 {
	margin-left: 15px
}

tbody a.x-link {
	color: black !important;
}

tbody a.x-link:hover {
  color: #0D86D1 !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

.xcell {
	text-align: center;
}

#oViewModel>div:FIRST-CHILD {
	position: relative;
}

.extable .xheader td.bg-daily-alter-other {
	background-color: #CEE6FF;
}

.extable .xheader td.bg-daily-alter-self {
	background-color: #94B7FE;
}

.extable .xheader td.bg-daily-reflect-application {
	background-color: #BFEA60;
}

.extable .xheader td.color-schedule-performance {
	color: #92D050;
}

.extable .xheader td.color-attendance {
	color: #0000ff;
}

.extable .xheader td.color-holiday {
	color: #ff0000;
}

.extable .xheader td.color-half-day-work {
	color: #FF7F27;
}

.extable .xheader td.color-schedule-sunday {
	color: #FF0000;
}

.extable .xheader td.color-schedule-saturday {
	color: #0000FF;
}

.extable .xheader td.color-weekdays {
	color: #404040;
}

.right-content {
	height: calc(100% - 80px);
	width: calc(100% - 1px);
   
}

html {
	overflow: hidden;
}

.marginleft15px {
	margin-left: 15px !important;
}

.marginleft45px {
	margin-left: 60px !important;
}

#A3_1 {
	background: #edfac2;
	width: max-content;
	padding: 5px;
	border: 1px solid #cccccc;
}

.area6-left {
	margin-bottom: 10px ; 
	display: inline-block; 
	width: 130px ; 
	text-overflow: ellipsis; 
	white-space: nowrap;
}

.area6-right {
	margin-bottom: 10px ; 
	display: inline-block; 
}

.inline {
	display: inline-block;
}

.toLeft {
	background: url(../image/toleft.png) no-repeat center;
	width: 27px;
	height: 15px;
	margin-left: 305px;  /* 190 */ 
	float: left;
}

.toRight {
	background: url(../image/toright.png) no-repeat center;
	width: 27px;
	height: 15px;
	margin-right: 58px;
	float: right;
}

.toDown {
	background: url(../image/todown.png) no-repeat center;
	height: 25px;
	margin-left: 6px;
	float: left;
}

.settingHeightGrid {
	background: url(../image/iconsetting.png) no-repeat center;
	width: 27px;
	height: 27px;
	float: right;
	right: 30px;
}

#A16 table td {
	border: 0px solid #ccc !important;
}

.color-attendance {background-color: #0000ff !important;}
.color-holiday {background-color: #ff0000 !important;}
.color-half-day-work {background-color: #FF7F27 !important; }
.color-schedule-performance {background-color:#92D050 !important;}

