.ScreenE td{
	padding-top: 1.5%; padding-bottom:1.5%; padding-right: 5%;
}
.ScreenE {
	margin-left: 2%;
	width: 80%
}
#E1_1 {
	margin-left: 0px !important;
}
.button {
	margin-left: 2%;
	padding-top: 5%;
}

 #buttonE2_2{
	padding-right: 10px !important;
} 
#butonE2_1{
	padding-right: 200px;
}
#E1_1{
	margin-bottom: 15px;
	margin-left: 15px;
}