.inline {
	display: inline-block;

}

.inline34 {
	display: inline-block;
	margin: center;

}
.ScreenD{
 	display: inline-block;
}
#D1_4{
	margin-left: 30px;
}
#D1_2  {
	margin-left: 11.5%;
	display: inline-block;
	width: 580px;
}

#D2_2{
	margin-left: 80px;
	width: 580px;
	height: 300px;
	margin-top: 2px;

}
#D2_5{
	margin-left: 10%px;
}
#D31_32_button{
}
#D3_1{
}
#D1_1 {
	margin-left: 40px;
}