
#ex_accept_wizard>.steps {
	width: 250px;	
}

#ex_accept_wizard>.content {
	width: auto;
	height: 590px;
	background: none;
	margin-left: 5px;
	margin-right: 0px;
	display: inline-table;
}

#ex_accept_wizard>.content>.body {
	padding-top: 0;
}

#ex_accept_wizard, #ex_accept_wizard .content {
	overflow: visible;
}

 #contents-area {
	overflow: hidden;	
} 

.contentF {
	margin-left: 20px;
	display: inline-block;
	height: calc(100% - 25px);
	width :965px;
}

#lable {
	width: 500px;
}

#tableLog {
	border-spacing: 10px;
    border-collapse: separate;
}
.contentB {
	margin: 10px;
	display: inline-block;
}
#list-box_b_grid_container {
	height: 95px !important;
	width: 153px !important;
}
#list-box_b_grid_scrollContainer {
	overflow-y: hidden !important ;
    overflow-x: hidden !important;
}
#title_b {
	margin-bottom: 30px;
}
.listbox-wrapper {
    margin-left: 20px;
    float: left;
}
#list-box_b_grid_displayContainer {
	height: 231px !important;
}
#button_next_b{
	margin-left: 492px;
	margin-top: 190px;
}

#F2 {
	width: 100%;
	height: 100%;
	
}
#F2_2 {
	height:20px;
	font-size :14px;
	width: 450px;
}

#F3_1 {
	width: 150px;
	margin-top: 2px;
}
.ui-iggrid-filterrow.ui-widget > td {
	border-width: 1px !important;
}
 #ccgcomponent{
	display:none; 
	margin-left: 252px;
} 

#igGridLog {
	white-space: nowrap;
}

  div#tab-2.ui-tabs-panel.ui-corner-bottom.ui-widget-content{
	/* height: 340px !important; */
	
	max-height:	calc(100% - 120px) !important;
}
div#tab-3.ui-tabs-panel.ui-corner-bottom.ui-widget-content{
	max-height: calc(100% - 120px) !important;
} 


input.ntsSearchBox.nts-editor.ntsSearchBox_Component{
	max-width: 330px !important;
}

div#list-box_b1 {
    float: left;
    height: 71px;
    width: 153px;
}
#caret{
	 float: left;
	 margin-top: 6px;
	 margin-left: 30px;
}
#list-box_b1_grid_scrollContainer {
	overflow-y: hidden !important ;
    overflow-x: hidden !important;
}

#ccg001-part-g {
	overflow-x: hidden !important;
}
#title_dataType {
	margin-bottom: 30px;
}

.ui-iggrid-expandcolumn{
	height: 26px !important;	
}
.ui-iggrid-headertext{
	font-weight: normal;
}

.ui-iggrid-childarea{
	overflow :visible !important;
}
.ui-iggrid-header.ui-widget-header{
	overflow :visible;
}

 .default-overflow{
	overflow :auto hidden !important;
}

.overflow-show{
	overflow :visible !important;
}

#igGridLog_tooltips.ui-tooltip {
	border: none;
	background: none;
	box-shadow: none;
	width: auto !important;
	max-width: 800px !important;
}

#igGridLog_tooltips.ui-tooltip .ui-tooltip-content {
	white-space: nowrap;
	background: #ffc;
	border: solid 1px #b85;
	padding: 5px;
	width: auto !important;
	max-width: 800px !important;
}