.ScreenE td{
	padding-top: 1.5%; padding-bottom:1.5%; padding-right: 5%;
}
.ScreenE {
	margin-left: 30px;
	width: 600px;
	display: inline-table;
	margin-top: 10px;
}

#E1_1 {
	margin-left: 0px !important;
}
.button {
	margin-left: 2%;
	padding-bottom: 20px;
}

 #buttonE2_2{
	padding-right: 10px !important;
} 
#butonE2_1{
	padding-right: 200px;
}

#E1_1{
	margin-bottom: 15px;
	margin-left: 15px;
}
#table{
	height: 350px;
}
#E2_1{
	margin-right: 200px;
}
.btn{
	margin-bottom: 10px;
	margin-left: 30px;
}
	
