.inline {
	display: inline-block;

}
.ScreenC{
	display: inline-block;
}

.inlinec {
	display: flex;
	margin: center;
}

#C1_1{
	margin-left: 40px;
}

#C1_2{
	margin-left: 80px;
	height: 40px;
	width: 580px;
}

#C1_4{
	margin-left: 10px;
}
#C2_2{
	margin-left: 80px;
	width: 580px;
	height: 320px;
	margin-top: 2px;
}
#C2_5{
	margin-left: 30px;
}

#C3 {
	width: 600px;
	margin-left: 10px;
}

#C3_1{
	margin-top: 2px;
	margin-left: 80px;
}
#C3_2{
	margin-top: 2px;
	float: right;

}
.validate_form{
	display: inline-block;
}
