.m1-inline-div {
	display: inline-block;
}
.m1-table {
	margin-top: 5px;
	margin-bottom: 5px;
}
.m1-column1 {
	width: 150px;
	vertical-align: top;	
}
.m1-column2 {
	vertical-align: middle;
}
.m1-column3 {
	width: 95px;
}
.m1-panel {
	width: 650px;	
	margin-bottom: 3px;
	padding: 3px;
}
.m1-label {
	margin-top: 7px;
	margin-bottom: -5px;
	margin-left: 5px;
	width: 100px;
}
.m1-label.limited-label {
	width: 280px;
}
.m1-time-editor {
	width: 83px;
}
.m1-switch > .nts-switch-button {
	width: 80px;
}
.m1DisableEdit {
	color: #999999;
}
.m1-checkBox {
	margin-left: 3px;
	margin-right: -7px;
}