.kdws03b {
    .mgrid-lock{
        background-color: #CCC !important;
    }
    .mgrid-reflect{
        background-color: #CBF3D2 !important;
    }
    .mgrid-manual-edit-other{
        background-color: #C1E6FE !important;
    }
    .mgrid-manual-edit-target{
        background-color: #BFC5FF !important;
    }
    .mgrid-calc{
        background-color: #F9D4A9 !important;
    }
    .mgrid-alarm{
        background-color: #FFF1BF !important;
    }
    .mgrid-error{
        background-color: #FFE5E5 !important;
    }
    .custom-show {
        .card-header {
            &.db-caret-right {
                &:before {
                    content: '\f105';
                }
            }  
        }
        &.show {
            .card-header {
                &:before {
                    transform: none;
                }
            }
        }
    }
}