.tab_12_setting_rows {
	margin-top: 20px;
	width: 100%;
	display: flex;
    align-items: center;
}

.tab_12_setting_header {
	width: 300px;
	margin-left: 20px;
}

.tab_12_inline_item {
	padding: 0px 10px 0px 10px;
	display: inline-block;
}