#grid-list {
	border-spacing: 0;
	padding-right: 20px;
}

#grid-list tbody {
	display: block; 
	height: 322px;
	overflow-y: scroll;
	border-bottom: solid 1px #AAB7B8;
}
	
#grid-list thead, #grid-list thead tr, #grid-list tbody tr {
	display: table-row;
}

#grid-list th {
	border: solid 2px #AAB7B8;
	height: 50px;
	padding: 0px 5px 0px 5px;
	font-weight: bold;
	background-color: #CFF1A5;
}

#grid-list td {
	border: solid 2px #AAB7B8;
	height: 30px;
	padding: 0px 5px 0px 5px;
}

.no-border {
	padding: 0 !important;
	border: none !important;
}

.header-text {
	font-weight: bold;
	text-align: center;
}

.header-workplace {
	width: 250px;
}

.header-closure {
	width: 160px;
}

.inside-table {
	width: 100%;
	display: table;
}

.inside-table tbody {
	height: auto !important;
	overflow-y: hidden !important;
	border-bottom: none !important;
}

.limited-label {
	padding-top: 4px;
}