input {
	border-radius: 3px;
	padding: 6px 12px;
	border-width: 1px;
}

td {
	padding-top: 10px;
	padding-bottom: 10px;
}

#mail_setting_register {
	margin-left: 25px;
}

#right-content {
	margin-left: 45px;
}

.input_002 {
	display: inline-block;
}

.input_002>input {
	margin-right: 5px;
}

#test_send_mail {
	display: inline-block
}

.table_content{
	width: 650px;
}

.method_info {
	width: 650px;
	margin-top: 50px;
	border: 1px solid #cccccc;
	border-radius: 6px;
	padding: 20px 35px;
}

.table_content_smtp {
	margin-left: 25px;
}

.table_content_imap {
	margin-left: 25px;
}

.table_content_pop {
	margin-left: 25px;
}

.table_content_setting_encrypt {
	margin-left: 25px;
}