table tr td{
    padding-left: 15px;
    padding-bottom: 20px;
}

table tr:nth-child(2) td{
    padding-bottom: 0;
}

#combo-box-month{
    width: 100px;
}

#combo-box-deadline{
    width: 100px;
}

.ntsRadioBox{
    min-width: 120px;
}