#settingButton {
	margin-left: 85%;
	margin-bottom: 10px;
}

.lbl-title-employeer-name{
	margin-bottom: 30px !important;
}

.tabpanel-1-contents-area-right {
	width: 400px;
	margin-top: 20px;
	float: left;
	clean: right;
}

#ccgcomponent{
	width: 28%; 
	float: left;
}

#component-items-list{
	width: 33%; 
	float: left; 
	margin-left: 30px;
}