/* 申請日付 */
.link-app-date-label-kaf007 {
	margin-left: 30px;
	margin-right: 30px;
}
/* 勤務就業選択*/
#workSelect-kaf007 {
	height: 70px;
	margin-left: 35px;
}
/* 勤務種類*/
.work-select-margin {
	margin: 5px 0px 0px 29px;
}

.valign-center.control-group-kaf007 {
	margin: 5px 0px 0px 00px;
}

.lblTitle-kaf007 {
	width: 143px;
}

button.nts-switch-button {
	width: 92px;
}

input#inputdatestart.inputdateend.nts-editor.nts-input.reset-element {
	width: 85px;
}
/*Set Width*/
input.col1.nts-editor.nts-input.reset-element {
	margin-left: 22px;
}

input.col2.nts-editor.nts-input.reset-element {
	margin-left: 21px;
}
/*workType, Sift */
.lblSiftCd, .lblWorkTypeCd {
	line-height: 40px;
	margin-left: 20px;
}

.control-group-kaf007.valign-center>* {
	vertical-align: middle;
}

.row-width {
	width: 230px;
}

.link-label-kaf007 {
	margin-right: 12px;
}

.check-work-time {
	margin-left: -5px;
}

.hr-style {
	border: none;
	height: 1px;
	width: 562px;
	/* Set the hr color */
	color: #333; /* old IE */
	background-color: #333; /* Modern Browsers */
}

#multiline-kaf007 {
	display: inline-block;
}

.row-cell-margin {
	margin: 5px 0px 5px 5px;
}

#inpReasonTextarea {
	min-height: 100px;
}

.block {
	display: block;
	margin: 30px 0px 50px 30px;
}

.header {
	border-bottom: 2px solid #808080;
	padding-bottom: 10px;
}

/*Set Width*/
input.nts-editor.nts-input.reset-element {
	text-align: center;
	width: 70px;
}

label.applicant {
	margin-left: 20px;
}

.ui-igcombo.ui-widget.ui-state-default.ui-corner-all.ui-unselecta
div#combo-box.reset-element.ui-igcombo-wrapper {
	margin-left: 17px;
}

textarea.nts-editor.nts-input.reset-element {
	height: 150px;
}

div.form-label.broken {
	vertical-align: top;
}

.panel.panel-gray-bg.panel-kaf007 {
	float: right;
	height: 350px;
	min-width: 230px;
}

.left-contents-kaf007 {
	margin-top: 20px;
	float: left;
}

.right-contents-kaf007 {
	margin-top: 20px;
	float: left;
	margin-left: 10px;
}

.btnSendMail {
	margin-left: 15px;
}

.workGroup {
	margin-left: 50px;
}

.mainScreen {
	height: auto;
}

#label-1 {
	
}

.lstApprover {
	
}

/*div cover label of comment*/
.lblComment {
	width: 255px;
}

.right-content-kaf007 {
	text-align: center !important;
}

.mode-style {
	display: inline-block;
}

.label-right {
	width: 80px;
	display: inline-block;
}

.cell.valign-center.colon-margin {
	margin-right: 5px;
	display: inline-block;
}

.overlay-reason-kaf007 {
	position: relative;
	z-index: 1;
}

.inputTime-kaf007 {
	width: 85px !important;
}


.bold {
	font-weight: bold;
}

 #singleDate, #daterangepicker {
	display: inline-block;
	vertical-align: middle;
}