#contents-area {
	padding: 20px 60px 0 60px;
}

#contents-area>div:first-child {
	padding: 0 10px;
	margin: 10px 0 20px 0;
}

#contents-area table.ui-iggrid-headertable th {
	padding: 3px 5px;
}

#contents-area tbody.ui-iggrid-tablebody td {
	cursor: pointer;
	display: block;
	padding: 3px 5px;
	color: #000 !important;
	background-color: #fff !important;
	border: 1px solid #ccc !important;
	border-top: 0 !important;
}

#contents-area tbody.ui-iggrid-tablebody tr.ui-sortable-helper>td {
	cursor: pointer;
	border-top: 1px solid #ccc !important;
}

#contents-area tbody.ui-iggrid-tablebody tr.ui-sortable-placeholder>td {
	visibility: visible !important;
}