.control-group.valign-center>* {
	vertical-align: middle;
}
#workSelect{
	margin-left: 20px;
}

.valign-center.control-group {
	margin: 5px 0px 0px 0px;
}

.row-cell-margin {
	margin: 5px 0px 5px 5px;
}

.block {
	display: block;
	margin: 30px 0px 50px 30px;
}

.header {
	border-bottom: 2px solid #808080;
	padding-bottom: 10px;
}
/*Set margin button */
.location-button-009 {
	margin: 0px 0px 0px -130px;
}

.link-label {
	margin-left: 70px;
}
/*Set Width*/
input.nts-editor.nts-input.reset-element {
	text-align: center;
	width: 70px;
}

button.nts-switch-button {
	width: 92px;
}

input#inputdate.nts-editor.nts-input.reset-element {
	width: 85px;
}
/*Set Width*/
input.col1.nts-editor.nts-input.reset-element {
	margin-left: 22px;
}

input.col2.nts-editor.nts-input.reset-element {
	margin-left: 21px;
}

label.applicant {
	margin-left: 20px;
}

.ui-igcombo.ui-widget.ui-state-default.ui-corner-all.ui-unselecta
div#combo-box.reset-element.ui-igcombo-wrapper {
	margin-left: 17px;
}

textarea.nts-editor.nts-input.reset-element {
	height: 150px;
}

#inpReason {
	display: inline-block;
}

div.form-label.broken {
	vertical-align: top;
}

.kaf009-panel {
	float: right;
	height: 300px;
	width: 250px;
	margin-top: 20px;
}

.left-contents-009 {
	margin-top: 10px;
	float: left;
	width: 72%;
}

.right-contents {
	margin-top: 10px;
	float: left;
	margin-left: 30px;
}

.lblTitleKAF009 {
	width: 143px;
}

.btnSendMail {
	margin-left: 15px;
}

.workGroup {
	margin-left: 50px;
}

.mainScreen {
	height:1000	px;
}

.lstApprover {
}
/*workType, Sift */
.lblSiftCd, .lblWorkTypeCd {
	line-height: 40px;
	margin-left: 20px;
}
/*div cover label of comment*/
.kaf009-lblComment {
	width: 260px;
}
.clsWorkType{
	margin-left: 50px !important;
}

.overlay-reason {
	position: relative;
	z-index: 1;
}
.mode-style{
	display: inline-block;
}
.inputTime-kaf009 {
	width: 85px !important;	
}