.two-panel .right-panel {
    padding-right: 0!important;
}

.form-label {
    width: 130px;
}

#swap-list_container {
    display: inline-block;
}

#B2_1 tr {
    height: 24px;
}

.checkbox-area {
    width: 585px;
}

.checkbox-area .checkbox-wrapper:nth-child(1) {
    width: 155px;
}

.checkbox-area .checkbox-wrapper:nth-child(2) {
    width: 155px;
}

.switchbox-wrappers  .radio-wrapper {
    flex-direction: column;
    width: 100px;
    text-align: center;
}