@CHARSET "UTF-8";

#contents-area {
	width: 1300px;
	margin-top: 10px;
}

.right-content{
	float: left;
	margin-left: 100px;
}

#A_BTN_001 {
	margin: 4px 8px 0px 110px;
	padding: 0px 20px
}

#A_BTN_002 {
	margin-right: 850px;
	padding: 0px 20px
}

#A_BTN_003 {
	padding: 0px 20px;
	background-color: rgb(241, 247, 205);
	margin:0px 20px;
}

#A_BTN_004 {
	padding: 0px 20px
}

#A_LBL_002 {
	margin: 0px 5px
}

#A_INP_001 {
	margin: 0px 5px
}

.config{
	width: 180px;
    height: 30px;
    padding: 12px;
    border-radius: 5px;
}

.control-group {
	padding: 8px;
	border: 1px solid rgba(79, 79, 79, 0.85);
	width: 1150px
}