#grid-data tr td:nth-child(1) {
	color: #000;
	/*background-color: #CFF1A5;*/
	text-align: right;
}

/*#grid-data_headers_v {*/
	/*position: relative;*/
	/*width: 227px !important;*/
/*}*/

/*#grid-data_headers {*/
	/*max-width: 210px !important;*/
/*}*/

#grid-data_headers_v::after {
	content: '';
	width: 17px;
	height: 48px;
	background-color: white;
	position: absolute;
	left: 100%;
	top: 0;
	margin-left: -17px;
}

#grid-data_scrollContainer {
	visibility: hidden;
}

#grid-data_displayContainer, #grid-data {
	max-width: 227px !important;
	width: 227px !important;
}

.order-table {
	margin-left: 35px;
	/*margin-top: 10px;*/
}

.guide-message {
	padding: 10px;
}

#grid-up-down .upDown-container #grid-up-down-up {
	margin-top: 6px;
	margin-left: 17px;
}

#grid-up-down .upDown-container #grid-up-down-down {
	margin-top: 13px;
	margin-left: 17px;
}


    