@CHARSET "UTF-8";

#label_1{
	margin-left: 20px;
	margin-top: 15px;
}

#check_1{
	margin-left: 45px;
    margin-top: 20px;
}

#check_2{
	margin-left: 45px;
    margin-top: 10px;
}

#check_3{
	margin-left: 45px;
    margin-top: 10px;
}

#label_2{
	margin-left: 20px;
	margin-top: 20px;
}

#check_4{
	margin-left: 45px;
    margin-top: 20px;
}