.kafs08a2 {

}
.iconWarn {
    float:left; 
    margin-left: 6px;
    margin-top: 6px;
    margin-right: 6px;
}
.contentError {
    text-align: left;
    padding: 4px; 
    color:#78252C
}
.error {
    background-color:#F8D7DA; 
    border: 1px solid red; 
    text-align: center;  
    display: block;
    justify-content: center;
    align-items: left; 
    padding:0px;
    height: auto;
}
.a7_2{
    margin-left: 25px;
}
.a7_4{
    margin-left: 25px;
}
.a7_6{
    margin-left: 12px;
}
.a7_5{
    margin-right: 20px;
}
.a7_7{
    margin-right: 20px;
}
.table thead th{
    border: 1px solid #ddd;
}
.table td{
    border: 1px solid #ddd;
}
.icon-right{
    float: right;
}
