#ksm007d {
    width: 1200px;
}
.form-label {
    width: 150px;
}
#register-form-d {
    margin-top: 35px;
}
.ntsRadioBox{
    margin-right: 10px;
}

#workplace-group-pannel{
	margin-top: 0px !important;
}

#register-form {
    margin-top: 30px;
}

#form-title-d {
    border-bottom: 1px solid black;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 14px 0px;
}