#combo-box {
	width: 180px;
}

.div-line {
	display: inline;
}

.contents-header-under {
	display: inline-flex;
	padding-top: 10px;
}

.ml-25 {
	margin-left: 25px;
}

.ml-5 {
	margin-left: 5px;
}

.w-85 {
	width: 85px;
}

.w-85 {
	width: 85px;
}

.margin-panel {
	margin: 20px 15px 20px 15px;
}

.flex {
	display: flex;
}

.mb-10 {
	margin-bottom: 10px;
}

.w-75 {
	width: 75px;
}

.ml-10 {
	margin-left: 10px;
}

.mt-5 {
	margin-top: 5px;
}
.display-none {
	display: none;
}