#left-content {
	padding: 10px 0px 0px 7px;
	float: left;
	width: 260px;
    height: 410px;
    
	border-radius: 7px;
    box-sizing: border-box;
}
#right-content {
	margin-left: 55px;
	float: left;
	margin-top: 8px;
}

.container-custom {	
	display: flex;
	margin-top: 5px;
	width: 410px;
}

.container-tab-custom {	
	display: flex;
	margin-bottom: 10px;
	width: 560px;
}

.tab-content-fixsize{
	width: 630px;
	height: 320px;
}

.tab1-content-fixsize{
	width: 630px;
	height: 600px;
}


/* .tab-content-2{
	margin-top: 10px;
} */

.tab-panel{
	margin-top: 10px !important;
}
.ui-widget-header {
	text-align: center !important;
}
    
.ntsMoveDataArea {
    width: 200px !important;
}

/* #swap-list-grid2_container{
	margin-left: 10px !important;
} */

/* #swap-list-grid1_container, #swap-list-grid2_container{
	margin-left: 10px !important;
	margin-right: 10px !important;
} */

td[role ="rowheader"]{
	background-color: #CFF1A5 !important;
}

.ui-iggrid table .ui-igcheckbox-normal-on {
    top: 0px;
	left: 0px;
}