#contents-area{
	margin: 20px;
	height: calc(100vh - 181px) !important;
	margin-bottom: 0px !important;
}
#tbl-control{
	width: 1000px;
	margin-bottom: 10px;
}
#tbl-control td{
	padding: 5px;
}
.ui-iggrid-header.ui-widget-header{
	text-align: center;
}

#gridE tbody tr td:NTH-CHILD(1){
	text-align: left;
}
#gridE tbody tr td:NTH-CHILD(2){
	text-align: center;
}
#gridE tbody tr td:NTH-CHILD(3){
	text-align: center;
}
#gridE tbody tr td:NTH-CHILD(4){
	text-align: center;
}
#gridE tbody tr td:NTH-CHILD(5){
	text-align: center;
}
#gridE tbody tr td:NTH-CHILD(6){
	text-align: center;
}
#gridE tbody tr td:NTH-CHILD(7){
	text-align: center;
}
#gridE_headers thead th:NTH-CHILD(6){
	display: none;
}
#gridE tbody tr td:NTH-CHILD(8){
	display: none;
}
#gridE_container {
	border: 1px solid #AAB7B8 !important;
}
html {
	overflow: hidden;
}