.table-orgin {
    margin-top: 10px;
    margin-left: 10px;
    width: 1210px;
}

.table-orgin > .cell:nth-child(1) {
    width: 370px;
}

.table-orgin > .cell:nth-child(2) {
    width: 535px;
}

.table-orgin > .cell:nth-child(3) {
    width: 305px;
    padding-left: 5px;
}

.table-orgin hr {
    margin-bottom: 15px;
}

.table-orgin .label-annotate-first {
    margin-top: 10px;
    margin-left: 26px;
}

.table-orgin .label-annotate {
    margin-left: 40px;
}

.table-search {
    width: 280px;
}

.table-search:nth-child(1) {
    margin-bottom: 5px;
}

.table-search > .cell:nth-child(1) {
    width: 90px;
}

.table-search > .cell:nth-child(2) {
    width: 190px;
}

.table-col-3, .table-error-alarm, .table-col-2, .table-col-4 {
    width: 535px;
    margin-bottom: 5px;
}

.table-col-3 > .cell:nth-child(1) {
    width: 130px;
}

.table-col-3 > .cell:nth-child(2) {
    width: 60px;
}

.table-col-3 > .cell:nth-child(3) {
    width: 340px;
}

.table-error-alarm > .cell:nth-child(1) {
    width: 130px;
}

.table-error-alarm > .cell:nth-child(2) {
    width: 235px;
}

.table-error-alarm > .cell:nth-child(3) {
    width: 170px;
}

.table-col-2 > .cell:nth-child(1) {
    width: 130px;
}

.table-col-2 > .cell:nth-child(2) {
    width: 395px;
}

.table-col-4 > .cell:nth-child(1) {
    width: 130px;
}

.table-col-4 > .cell:nth-child(2) {
    width: 60px;
}

.table-col-4 > .cell:nth-child(3) {
    width: 50px;
}

.table-col-4 > .cell:nth-child(4) {
    width: 285px;
}

#btn-register {
    margin-top: 5px;
    width: 100%;
}

.table-orgin .acc-content {
    padding: 10px;
}

.table-orgin .acc-content table {
    width: 250px;
}

.table-orgin .acc-content table tr td:first-child {
    background-color: #CFF1A5;
}