#contents-area {
	display: flex;
	justify-content: center;
	padding-top: 70px;
}

.kdp-003-a .control-panel {
}

.kdp-003-a .control-panel > div {
	display: inline-block;
	vertical-align: top;
}

.kdp-003-a .control-panel > .time-sheet,
.kdp-003-a .control-panel > .dummy-spacer {
	width: 300px;
}

.kdp-003-a .control-panel > .time-stamp {
	width: 500px;
}

.kdp-003-a .control-panel > .time-stamp .time * {
	font-family: Quicksand !important;
	font-weight: bold;
}

.kdp-003-a .control-panel:not(.has-time-sheet) .time-sheet {
	display: none;
}

.kdp-003-a .time-sheet .nts-datepicker-wrapper input {
	border-radius: 0;
    background-color: #6A6A6A;
    color: #fff;
    border: none;
}

.kdp-003-a #stamp-input {
}

.kdp-003-a .not_used_label {
	color: red;
	font-size: 1.2rem !important;
}
.pageComent {
	position: absolute;
	bottom: 30px;
	right: 30px;
}
