.kdp-003-a {
	padding: 10px;
}

.kdp-003-a .time-sheet,
.kdp-003-a .time-stamp {
	float:left;
}

.kdp-003-a .time-sheet {
	width: 260px;
	margin-right: 10px;
}

.kdp-003-a #stamp-input.time-stamp {
	min-width: 100%;
}

.kdp-003-a .has-time-sheet #stamp-input.time-stamp {
	min-width: calc(100% - 270px);
}

.kdp-003-a .control-panel {
	margin: 0 auto;
	width: 720px;
}

.kdp-003-a .control-panel.has-time-sheet {
	width: 990px;
}

.kdp-003-a .control-panel:not(.has-time-sheet) .time-sheet {
	display: none;
}

.kdp-003-a .not_used_label {
	color: red;
	font-size: 1.2rem !important;
}