span.caret-bottom.outline{font-size: 6.2rem;margin-left: 200px;}
div.form-label.required{margin-left: 20px; margin-right: 40px;}
div.form-label{margin-left: 20px; margin-right: 40px;}
span.text{margin-left: 20px; display: inline-block;}	