#left-content{
	float: left;
	margin-left: 40px !important;	
	margin-top: 30px;
	width: 360px;
	height: 430px;
}
#label{
	margin-top: 30px;
	overflow: inline-block;
}
.nts-input{
	width: 45px;
}
#inpPattern{
	width: 170px !important;
}
#label_caret{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}
#label_down{
	margin-top: 10px;
}
#help{
	margin-left: 300px; 
}

table td.radio-text{
    vertical-align: top;
}

div#button_radio{
	    width: 310px;
    margin: 20px 0;
}

table.data-items thead {
	background-color: #c7f391;
}

table.data-items tr {
	height: 32px;
}

table.data-items td {
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	padding: 4px 12px;
    text-align: center;
}

table.data-items thead, table.data-items tbody {
	display: block;
}

table.data-items tbody {
	height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #CCC;
}

td.hidden-right-border{
	    border-right-style: hidden;
}

.data-items{
	    width: 296px;
}