.head-title {
    margin-bottom: 20px;
}

.ntsCheckBox {
    margin-bottom: 16px;
}

.wrapper {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    display: inline-block;
}

.company {
    margin-left: 30px;
    margin-bottom: 20px;
}

#I1_1 {
    white-space: pre-wrap;
}

#contents-area {
    text-align: center;
}

.head-title {
    text-align: left;
}