.container-custom-btn{
    display: flex;
    justify-content: center;  
    margin-left: 550px;
} 
.container-custom {
    display: flex; 
    justify-content: center;   
    margin-top: 20px;
    margin-bottom: -30px;   
}
.btn-custom {
    padding: 10px 0px;
}

.fc-title {
	text-align: center;
	font-size: 14px;    
    padding-top: 20% ;    
}
.header-image-event {
    background-image: url(./img/prev.png);
    background-size: contain;
    width: 16px;
    margin: auto;
    background-repeat: no-repeat;
}