#kaf000-a-component6 {
	margin-top: 5px;
	margin-bottom: 5px;	
}

#kaf000-a-component6 #listApproverRootState #table-phase, #table-phase td, #table-phase th {
	border: 1px solid black;
	text-align: center;
	height: 25px;
}
#kaf000-a-component6 #listApproverRootState #table-phase td {
	height: 25px;
}
#kaf000-a-component6 #listApproverRootState #label-1 {
	width: 120px;
	vertical-align: top;
}