#kaf000-a-component6 {
	display: inline-block;
}

#kaf000-a-component6 .limited-label {
	width: 100%;
}

.approver-block {
	display: inline-block;
	margin-right: 10px;
	text-align: left;
	width: 100px;
}