#kaf000-a-component6 {
	display: inline-block;
}

#kaf000-a-component6 .approver-block {
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

#kaf000-a-component6 .limited-label {
	width: 100%;
}