#ruredLine{
    height: 1px;
    background-color: #7f7f7f;
    margin-bottom: 12px;
    width: 792px;
}

.m1 {
    margin: 1px;
}

.input {
    margin: 3px;
    width: 118px;
    text-align: right !important;
}

#kaf020-component .nts-fixed-body-wrapper {
    height: auto !important;
}

#kaf020-component #kaf020-fixed-table .nts-input {
    width: 87px;
}

#kaf020-component .nts-fixed-table .nts-fixed-body-container {
    border-bottom-width:0;
}

#kaf020-component .table-name {
    max-width: 120px;
}