// Options
//$web-font-path: '' !default;
//$enable-rounded: false !default;
//$enable-shadows: false !default;

$primary: #258F7E !default;
$info: #33b5e5 !default;
//$secondary: #a6c !default;
$success: #258F7E !default;
$danger: #ff3547 !default;
$warning: #fb3 !default;

$default: #2bbbad !default;

$bg-menu-color: #01956A;
$color-required: #FFD966;
$header-gray: #6a6a6a;
