body {
    .wrapper {
        .sidebar {
            &+.container,
            &+.container-fluid {
                padding-top: 55px;
                min-height: 100vh;
                transition: all 0.6s cubic-bezier(0.810, -0.330, 0.345, 1.375);
            }
        }
    }
}