.modal {

    //-webkit-overflow-scrolling: touch;
    &-backdrop {
        &.show {
            opacity: 0.05;
        }
    }

    &-open {
        overflow: hidden;
    }

    &.show {
        display: block;

        .modal-dialog {
            &.modal-info {
                &.type {
                    &-info {
                        .modal-content {
                            border: 1px solid darken($color: $info, $amount: 25%);

                            .modal {
                                &-header {
                                    color: #fff;
                                    border-radius: 0;
                                    background-color: darken($color: $info, $amount: 15%);
                                    border-bottom-color: darken($color: $info, $amount: 25%);

                                    .modal-title {
                                        &>span {
                                            &:before {
                                                content: '\f05a';
                                                font-family: "Font Awesome 5 Free";
                                                font-weight: 900;
                                                margin-right: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &-warn {
                        .modal-content {
                            border: 1px solid darken($color: $warning, $amount: 25%);

                            .modal {
                                &-header {
                                    color: #fff;
                                    border-radius: 0;
                                    background-color: darken($color: $warning, $amount: 15%);
                                    border-bottom-color: darken($color: $warning, $amount: 25%);

                                    .modal-title {
                                        &>span {
                                            &:before {
                                                content: "\f06a";
                                                font-family: "Font Awesome 5 Free";
                                                font-weight: 900;
                                                margin-right: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &-error {
                        .modal-content {
                            border: 1px solid darken($color: $danger, $amount: 25%);

                            .modal {
                                &-header {
                                    color: #fff;
                                    border-radius: 0;
                                    background-color: darken($color: $danger, $amount: 15%);
                                    border-bottom-color: darken($color: $danger, $amount: 25%);

                                    .modal-title {
                                        &>span {
                                            &:before {
                                                content: "\f071";
                                                font-family: "Font Awesome 5 Free";
                                                font-weight: 900;
                                                margin-right: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &-confirm {
                        .modal-content {
                            border: 1px solid darken($color: $primary, $amount: 25%);

                            .modal {
                                &-header {
                                    color: #fff;
                                    border-radius: 0;
                                    background-color: darken($color: $primary, $amount: 15%);
                                    border-bottom-color: darken($color: $primary, $amount: 25%);

                                    .modal-title {
                                        &>span {
                                            &:before {
                                                content: "\f059";
                                                font-family: "Font Awesome 5 Free";
                                                font-weight: 900;
                                                margin-right: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.animated {
                -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;

                &.slideOutUp {
                    -webkit-animation-duration: 0.2s;
                    animation-duration: 0.2s;
                }
            }

            .modal-content {
                border-radius: 2px;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .5);
            }

            &.modal-popup {
                &:not(.modal-info) {
                    .modal-content {
                        width: 300px;
                    }
                }

                .modal-content {
                    margin: auto;

                    .modal-header,
                    .modal-footer {
                        padding: 0.5rem 1rem;
                    }

                    .modal-header {
                        .close {
                            display: none;
                        }
                    }

                    .modal-footer {
                        display: block;
                    }
                }
            }

            .modal-footer {
                &.top {
                    border-bottom: 1px solid #ccc;
                    border-radius: 0;
                    padding: 0.5rem;

                    &.text-left {
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 575px) {
    .modal {
        &.show {
            .modal-dialog {

                &.modal-popup {
                    .modal-content {
                        max-width: 95vw;
                    }
                }

                &:not(.modal-popup) {
                    margin: 0;
                    min-width: 100vw;

                    .modal-content {
                        border: 0;
                        border-radius: 0;
                        min-width: 100vw;
                        min-height: 100vh;
                        min-height: calc(var(--vh, 1vh) * 100);

                        .modal-header {
                            padding: 0.6rem 1rem;

                            .modal-title {
                                line-height: 1rem;
                            }
                        }

                        .modal-footer {
                            padding: 0.6rem 1rem;
                        }
                    }
                }
            }
        }
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 576px) {
    .modal-dialog-scrollable {
        margin: 2.75rem auto;
        max-height: calc(100% - 7.5rem);
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}