.card {
    .card-header {
        &.nav-tabs {
            padding: 0;

            .nav-link {
                border: 0;
                &:hover,
                &.active {
                    border: 0;
                    margin-top: 6px;
                    margin-bottom: 6px;
                    padding-bottom: 0.5rem;
                    background-color: transparent;
                }
            }
        }
    }
}