.time-range-search-box {

    text-align: center;

    .time-input {
        display: inline-block;
        width: 35%;
    }
    
    .connect-letter {
        display: inline-block;
        width: 6%;
    }
    
    .search-button {
        display: inline-block;
        width: 20%;
    }

}