
#J1 {
	margin-left: 100px;
}
#J2 {
	margin-top: 20px;
	height:20px !important;
	
}
#J2_1 {
	margin-left: 100px;
}
#J2_2 {
	margin-left:5px;
}
#J2_3 {
	margin-left:10px;
}
#J2_4 {
	margin-left:5px;
}
#J2_5 {
	margin-left:5px;
}
#J4_1 {
	margin-left: 100px;
	margin-top: 10px;
}
#J4_2 {
	margin-left:290px;
}
#J5_1 {
	margin-left: 100px;
	margin-top: 20px;
}
#J5_2 {
	margin-left:20px;
}
#J6 {
	margin-left:410px;
	margin-top: -15px;
}