
#J1 {
	 margin-left: 10px; 
}
#J2 {
	margin-top: 20px;
	height:20px !important;
	
}
#J2_1 {
	 margin-left: 20px; 
}
#J2_2 {
	 margin-left:5px; 
}
#J2_3 {
	margin-left:10px;
}
#J2_4 {
	margin-left:5px;
}
#J2_5 {
	margin-left:5px;
}
#J4_1 {
	margin-left: 10px;
	margin-top: 10px;
}
#J4_2 {
	margin-left:175px;
}
#J5_1 {
	margin-left: 10px;
	margin-top: 20px;
}
#J5_2 {
	margin-left:20px;
}
#J6 {
	margin-left:210px;
	margin-top: -15px;
}