<div id="reset-pass">
        <div class="text-center page-title">{{ 'reset_pass_title' | i18n }}</div>
        <div class="text-left page-info alert-light alert">
            <div>{{ model.userName }}　さん</div>
            <div>{{ 'CCG007_29' | i18n }}<br/>
                {{ 'CCG007_30' | i18n }}
            </div>
        </div>
        <fieldset class="login-form">
            <nts-input-password
                class="control-label-inline"
                v-model="model.newPassword"
                name='CCG007_16'
                v-bind:disabled="disabled"
                v-bind:show-title="true"
                v-bind:constraint="validations.model.newPassword"
                v-bind:errors-always="$errors.model.newPassword"
                v-bind:columns="{ title: 'col-md-2', input: 'col-md-4' }" />
    
            <nts-input-password
                class="control-label-inline"
                v-model="model.newPasswordConfirm"
                name='CCG007_17'
                v-bind:disabled="disabled"
                v-bind:show-title="true"
                v-bind:constraint="validations.model.newPasswordConfirm"
                v-bind:errors-always="$errors.model.newPasswordConfirm"
                v-bind:columns="{ title: 'col-md-2', input: 'col-md-4' }" />
    
            <div class="accordion" v-nts-accordion v-if="policy.isUse">
                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-link" type="button">
                            {{ 'CCG007_59' | i18n }}
                        </button>
                    </div>
                    <div class="collapse">
                        <div class="card-body">
                            <span>最低桁数：　{{ policy.lowestDigits }}文字</span>
                            <span v-if="policy.alphabetDigit > 0 || policy.numberOfDigits > 0 || policy.symbolCharacters > 0">
                                <br/>
                                複数条件：<span v-if="policy.alphabetDigit > 0">　英字{{ policy.alphabetDigit }}桁</span> 
                                            <span v-if="policy.numberOfDigits > 0">　数字{{ policy.numberOfDigits }}桁</span>
                                            <span v-if="policy.symbolCharacters > 0">　記号{{ policy.symbolCharacters}}桁</span>
                            </span><br/>
                            <span v-if="policy.historyCount > 0">履歴回数：　1度使ったパスワードは<br/>
                            　　　　　　過去{{ policy.historyCount }}回まで使用できません<br/></span>
                            <span v-if="policy.validPeriod > 0">有効期間：　{{ policy.validPeriod}}日<br/></span>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="mb-2">
                <button class="btn btn-primary btn-block" v-click:500="changePass">変更してログインする</button>
            </div>
        </fieldset>
    </div>