.flex-layout {
	display: flex;
}

.flex-layout-row {
    flex-direction: column;
}

.main-content {
	margin-left: 90px;
	padding-top: 10px;
}

.output-item-cond-panel {
	margin-left: 10px;
}

.period-panel {
	margin-bottom: 10px;
}

.output-item-cond-panel > div:nth-child(1) {
	margin-top: 20px;
}

.output-item-cond-panel > div:nth-child(2) {
	margin-top: 20px;
	margin-left: 40px
}

.output-item-cond-panel > div:nth-child(3) {
	margin-top: 20px;
	margin-left: 40px
}

#btn-configure {
	margin-left: 10px;
	margin-right: 100px;
}

.layer-cover {
	background-color: rgba(217, 217, 217, 0.4);
	height: 479px;
	z-index:  998;
	position:  absolute;
	width: 569px;
	bottom: 10px;
}

.disable-cursor {
	cursor: not-allowed;
    pointer-events: none;
    user-select: none;
}
div.data{
	 margin-left: 85px;
}
.rangeDate{
	margin : 10px 0px 20px 85px;
}
#daterangepicker{
	display: inline-block;
    margin-left: 55px;
    vertical-align: top;
}
#daterangepicker .ntsDateRange_Container .ntsRangeButton_Container {
	padding: 0;
}

.proseccselect{
	margin-left: 140px;
}
.proseccselect>label{
	display: block;
}

.ntsRadioBox{
	display: block;
	margin: 10px 0px 10px 0px;
}
#employee-list{
	margin-left: 30px;
}
tbody{
	border: 1px solid #dddddd;
}
.mark-overlay{
	position: absolute;
	top: 0px;
	bottom :0px;
	left: 0px;
	right: 0px;
	background: #fff;
	opacity: 0.7; 
	z-index: 10;
}
.mark-overlay-employee{
	position: inherit;
	top: 0px;
	bottom :0px;
	left: 0px;
	right: 0px;
	background: #fff;
	opacity: 0.7; 
	z-index: 10;
}
.employee-list-container{
	position: relative;
}
#com-ccg001.disabled {
	opacity: 0.3;
	pointer-events: none;
}