.float-left {
  float: left;
}

/* margin css */
.ml-7 {
  margin-left: 7px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-40 {
  margin-left: 40px;
}

/* padding css */
.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-10 {
  padding-right: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pd-0 {
  padding: 0 0 0 0;
}

.pt-30 {
  padding-top: 30px;
}

.w-100 {
  width: 100%;
}

.w-490 {
  width: 493px;
  display: block;
}

.fix_items_center {
  display: flex;
  align-items: center;
}

.items-center {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.inline_row {
  display: inline-flex;
}

.fix_margin_layout {
  margin: 20px 0px 0px 20px;
}

.width_left {
  width: 38%;
}

.fix-margin {
  height: 3px;
}

.widget_contents {
  width: 466px;
}

.height_panel {
  height: 500px;
}

.box-container {
  height: 500px;
}

/* css item drag drop */
.box-item {
  z-index: 1000;
}

.border_items {
  border: 1px solid #c5c5c5;
}

.scroll_container_2 {
  overflow: scroll;
}

.item_opacity {
  opacity: 0.4;
}

.fix_style_item {
  left: 0px !important;
  top: 0px !important;
}

.click_icons_item {
  cursor: pointer;
}

#container2 {
  overflow: auto;
}

.table_fix {
  width: calc(100% - 40px);
  margin: 0 20px;
}

.text_bold {
  font-weight: bold;
}

.fix_panel {
  padding-right: 0;
  padding-top: 2px;
  padding-left: 2px;
}

.w-col-icon {
  width: 50px;
  display: block;
}

.panel_left {
  vertical-align: top;
}

.fix-text {
  display: block;
}

/* Refactor CSS */
.main-area {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header-area {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.header-area > .header-label {
  width: 250px;
  margin-bottom: 20px;
}
.header-area > .layout-label {
  margin-bottom: 5px;
}

.contents-area {
  display: flex;
  flex-direction: row;
}

.arrow-container {
  width: 50px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-container > .arrow {
  color: #e0f59e;
  border-width: 35px 20px;
  border-left: 1em solid;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  font-size: 1em;
}

/* Left section */
.contents-area > #menu-item-container {
  width: 200px;
  height: 100%;
  box-sizing: border-box;
}
.contents-area > #menu-item-container > .menu-note {
  padding: 10px 5px;
}
.menu-creation-option {
  width: 100%;
  max-width: 200px;
  height: 40px;
  border: 1px solid #bcbcbc;
  cursor: grab;
  box-sizing: border-box;
  background-color: #eeeeee;
  padding: 5px;
  display: flex;
  align-items: center;
  opacity: 1;
}
.menu-creation-option.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Right section */
.contents-area > #menu-creation-layout {
  width: calc(100% - 200px - 50px);
  height: 470px;
  border: solid 2px #607d8b;
  overflow: auto;
}
.menu-creation-item-container {
  margin: 2px;
  box-sizing: border-box;
  width: calc(100% - 4px);
  min-height: 60px;
  border: 1px solid #aaaaaa;
}

.widget-setting {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  background-color: bisque;
}
.widget-setting > i:not(:last-child) {
  margin-right: 5px;
}

.widget-frame {
  width: 100%;
}
