.F1_9 {
    display: inline-block;
    width: 130px;
}

.F1_1 {
    display: inline-block;
    width: 160px;
}

.F1_2 {
    display: inline-block;
    width: 20px;
    margin-right: 30px;
}

.F1_3 {
    display: inline-block;
    width: 100px;
}

.row-mb {
    margin-bottom: 10px;
}

.proceed {
	width: 100px;
	height: 40px;
	font-weight: 550px;
}