#button-1D {
	margin-top: 174px;
    margin-left: 457px;
}

#screenView {
	margin-left: 60px;
	margin-top: 40px;
}

#label-D {
	margin-left: 50px;
	margin-top: 30px;
}

#label1-D3_2, #label1-D3_3, #label1-D4_2, #label1-D5_2 {
	margin-left: 50px;
}

#label1-D4_4 {
	margin-left: 30px;
}