.label-left{
	margin-left: 120px;
}

#D1_3 {
	margin-top: 15px;
}

#D1_5 {
	margin-top: 15px;
	
}

#D2_1 {
	margin-top: 15px;
	margin-left: 230px;
}

#D2_3 {
	margin-top: 15px;
	margin-left: 230px;
}

#D2_5 {
	margin-top: 15px;
	margin-left: 230px;
}

#D3_1 {
	margin-top: 15px;
	margin-left: 160px;
	width: 90px;
}

#D3_2 {
	margin-top: 15px;
	margin-left: 36px;
}