@CHARSET "UTF-8";

.contents-area {
	min-width: 560px;
}

.form-default {
	width: 100%;
}

.form-default td {
	padding-top: 10px;
}

.row_head {
	border-bottom: 1px solid #7F7F7F;
}

#left-content {
	width: 300px;
	min-height: 200px;
	padding: 25px;
	padding-top: 25px;
}

#right-content {
	padding-left: 30px;
	padding-top: 25px;
	width: 600px;
	vertical-align: top;
}

.set-row {
	margin-left: -134px;
	margin-top: 43px;
	width: 143%;
}

.wrap-white-space-pre-line {
	white-space: pre-line !important;
}

/*div.for-spacing {*/
	/*margin-top: 10px;*/
	/*border: 1px solid #CCC;*/
/*}*/
tr.tr-common-height {
	height: 44px;
}

#right-content div.nts-fixed-table.cf {
	margin-top: 10px;
}
table
{
	border-collapse: collapse !important;
	border-spacing: 0px;
	border: 1px solid #DDD;
}