@import url("common.css");

#totalTable {
	width: 250px;
}

#content-left {
	width: 352px;
	height: 355px;
}

#contents-area {
	padding: 10px !important;
}
.width_td{
	width: 90px;
}
.total_css{
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}