#totalTable {
	width: 250px;
}

#content-left {
	float: left;
}

#contents-area {
	padding: 10px !important;
}

#table_Hd_Grant td {
	padding-left: 5px !important; 
}
#table_tmp td {
	padding-left: 5px !important; 
}
.total_css{
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
.float-right {
	float: right !important;
}

.display_flex {
	display: flex;
}

.div_line {
	margin-top: 10px;
	float: left;
	clear: both;
}
.table_dta{
	margin-top: 20px;
	float: left;
	clear: both;
}
hr {
	clear: both;
}

#message-area {
	padding: 10px;
}

.text_line {
	line-height: 37px;
}

.bold {
	font-weight: bold;
}