@import url("common.css");

#totalTable {
	width: 250px;
}

#content-left {
	width: 352px;
	height: 355px;
}

#contents-area {
	padding: 10px !important;
}

.total_css{
	border: 1px solid #CCC;
}
#table_Hd_Grant td {
	padding-left: 5px !important; 
}
#table_tmp td {
	padding-left: 5px !important; 
}