#master-content {
    padding: 15px;
}

#swap-list-move-data {
    padding-left: 20px;
    padding-right: 20px;
}

.nts-searchbbox-wrapper {
    /*margin-bottom: 10px;*/
}

#B1_1 {
    padding-bottom: 15px;
}

#B6_1 {
    margin-top: 20px;
    margin-bottom: 15px;
}