@CHARSET "UTF-8";

#contents-area {
	margin-top: 20px;
	margin-left: 50px;
	min-width: 560px;
	height: auto !important;
}

.open-page {
	width: 250px;
	margin: 30px;
}

.open-dialog:after {
	border-width: 16px;
	color: #97D155 !important;
}
