@CHARSET "UTF-8";

@import url("../a/base.css");

@import url("../c/style.css");

@import url("../d/style.css");

@import url("../e/style.css");

@import url("../g/style.css");

#B_BTN_001 {
	margin-left: 15px;
	margin-top: 10px;
}

#functions-area {
	height: 55px;
}

#B_BTN_003 {
	margin-left: 100px;
}

#B_BTN_004 {
	margin-left: 40px;
}

#B_BTN_005, #B_BTN_006 {
	margin-left: 20px;
}

#B_BTN_006 {
	width: 120px;
}

#B_BTN_008 {
	margin-top: 10px;
	float: right;
	margin-right: 70px;
	width: 150px;
}

.nts-left-content {
	float: left;
	border-radius: 5px;
	padding: 20px;
	width: 390px;
	margin-left: 20px;
	background-color: #E2F79F;
	margin-top: 10px;
}

.nts-right-content {
	float: left;
	margin: 10px 0px 0px 40px;
}

#B_SEL_001 {
	margin: 3px 0px 0px 10px;
	width: 163px;
	min-width: 160px !important;
}

#B_SEL_002 {
	margin: 7px 0px 0px 5px;
}

.B_LST_001 {
	display: inline-block;
	margin-top: 10px;
}

.form-label span {
	font-size: 0.8rem;
}

#B_INP_002, #B_INP_003 {
	float: left;
}

#B_INP_002 input {
	width: 35px;
}

#B_INP_003 input, #B_INP_002 input, #B_INP_004 input {
	height: 17px;
}

#B_INP_003 input {
	margin-left: 5px;
	width: 270px;
}

#B_SEL_003 {
	margin-top: 2px;
}

#B_DIV_HELP {
	padding: 5px;
	margin-left: 30px;
	margin-top: -3px;
	background-color: #fcf1c8;
}

#B_BTN_HELP {
	width: 25px;
	margin-left: 10px;
	margin-top: -2px;
}

#B_INP_004 input {
	width: 250px;
	margin-top: 5px;
}

#B_LBL_007 {
	margin-top: 10px;
}

#B_BTN_007 {
	margin-top: 5px;
	width: 45px;
}

#B_LBL_009 {
	margin: 10px 0px 0px 30px;
}

#right-content-top {
	overflow: auto;
	padding-bottom: 10px;
	border-bottom: solid 2px #B1B1B1;
	width: 740px;
}

#B_SCH_001 input {
	width: 165px;
	height: 30px;
}

.divLineCol1 {
	width: 135px;
	min-height: 1px;
}

.divLineCol2>* {
	display: inline-block;
	vertical-align: middle;
}

.NoIcon {
	margin-left: auto;
	margin-right: auto;
	width: 20px;
	height: 20px;
	background-image:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABeUlEQVQ4T7WUzUoDQQzHk7TgRR+iM+0TKB5FBcUPsOpNvKkIPpEKehGvfpxUKnoQvCl436Z9BvHQCiWRAbdk19k9FLvHTPKbbP7/DMI/f/jPPBg/sFarzSLiYaVSuUiS5CX2B977RUTcFZHjTqfzZnMyHQYYADwR0aSIfBPRJjM/2ALn3LqqXhHRhIh8EdECM7+nORmgc+4MEffTw1/oFjPfh5iFmUtOmPkoCmw0GnODwaAVbrdQRNwGAEw7M7AeACwx82sUGILe+xURuc1Dw5mNAUBfRDa63e5j4QzTA+/9qojc5AC2LgoLCYW2cc6tqep1BNpHxGa73W7FHFAGHKppC4vUL5xhiZpDbhn0T4cF1ggzw7xQMZ9mgGEDROQur2aYmapSTP1qtbpsNyoDrNfr56q6Z2aWESBmKQAoNrZzbkZVn4loCgB6ItLM+ywH/SSi+SRJPsqMPQ0ABwBwaTfAKh02SkR2iOjUwkp9OOo7Of73cNTO0rof+F/YFTl3u+8AAAAASUVORK5CYII=")
}

#screenC, #screenD, #screenE, #screenF {
	display: none;
}

#B_SCH_001 .search-btn {
	width: 100px;
	margin-left: 9px;
}
}