html {
	overflow: hidden;
}
#ksm015b{
    width: 1200px;
}
#left-content{
  float: left;
  width: 425px;
}
#registration-form {
    float: left;
    width: 700px;
}
.control-group { margin-bottom: 20px; }
.control-group.valign-center > * { vertical-align: middle; }
.control-group.valign-top > * { vertical-align: top; }
.control-group.valign-bottom > * { vertical-align: bottom; }
.control-group .form-label {width: 100px;}
.b73-desc{
    width: 300px;
    display: inline-block;
    margin-left: 20px;
}
.work-lable, .work-time-lable {
    display: inline-block;
    width: 100px;
}
#create-new{
    margin-left: 45px !important;
}

/* B9_2_1 */
#help-button{
	margin-left: -80px !important;
}

#colorpicker{
	margin-left: -5px !important;
}

/* B9_2_2 */
#test-color{
	margin-left: 42px;
}

/* B9_2_3 */
#label-test-color{
	border-width: 1px !important;;
	margin-left: 17px;
	border-color: #AAB7B8 !important;
	min-width: 40px;
	height: 33px;
	text-align: center;
	line-height: 26px !important;
}
#worktype-chose{
	width: 73px;
}
.sp-replacer{
	width: 62px !important;
}

.sp-preview {
	width: 45px;
}

.caret-right, .caret-inline{
	margin-left: 2px !important;
	color: #666 !important;
}