@CHARSET "UTF-8";

.description-top {
	margin-top: 10px;
	margin-left: 30px;
	white-space: pre-line;
}

.companyInfo {
	margin-left: 65px;
	margin-top: 25px;
}

.checkSetting {
	margin-top: 20px;
	margin-left: 30px;
}

.imageSettings {
	float: right;
	margin-top: 15px;
	text-align: center;
	position: initial;
}