#message-area {
	background-color: #f8efd4;
	width: 822px;
	padding: 0 !important;
}
.comment{
	width: 50px;
    padding-left: 15px;
	display: inline-block;
}

.message-td {
	padding-top: 5px;
	padding-bottom: 5px;
}
.message-td-1 {
	padding-left: 12px;
	width: 95px;
}

#table-phase, #table-phase td, #table-phase th {
	border: 1px solid black;
	text-align: center;
	height: 25px;
}

#table-phase td {
	height: 25px;
}

#label-1 {
	margin-top: 20px;
	float: left;
}

#table-1 {
	margin-top: 10px;
	margin-left: 150px;
}

.divKaf009 {
	height: 600px;
}

.container {
    width: 1300px;
}	
.displayControlFalse {
	display: none;
}
.approverContent {
	text-align: left !important;
	padding-left: 5px;
}
.controlButtonCell_kaf000 {
	display: inline-block;
}
.kaf000-function-btn {
	margin-left: 0.1vw !important;
	margin-right: 0px !important;
}
.kaf000-function-div-update{
	margin-left: calc(10vw - 102px);
	display: inline-block;
}
.kaf000-function-div-delete {
	margin-left: calc(10vw - 102px);
	display: inline-block;
}
.kaf000-function-div-cancel {
	margin-left: calc(15vw - 153px);
	display: inline-block;
}
#returnReason {
	padding: 10px 10px;
}