@CHARSET "UTF-8";

.sidebar-content-header {
	white-space: nowrap;
}
.select-table {
	min-width: 500px;
}
#classification-content {
	height: calc(100vh - 143px);
    overflow: auto;
}
#workplace-content {
	height: calc(100vh - 143px);
    overflow: auto;
}
#companyWide-content {
	height: calc(100vh - 161px);
    overflow: auto;
    min-width: 700px;
}

#companyWide-content-detail {
	width: 90%;
	margin: 20px 25px 20px 40px;
}

#ruledLine1 {
	margin-top: 2px;
	height: 1px;
	background-color: #7f7f7f;
	width: 50%;
	min-width: 447px;
}

.ruledLine2 {
	margin-top: 15px;
	height: 1px;
	background-color: #7f7f7f;
	
}

.td-width-100 {
	width: 100px;
}
.tr-heigh {
	height: 50px;
}

.right-content {
    padding-top: 15px;
    width: 500px;
    vertical-align: top;
}
#nts-component-tree {
	padding-right: 5px !important;
}
html {
	overflow :hidden;
}