#checkbox3{
	padding: 10px 10px 10px 0px;
}
#checkbox2{
	padding: 10px 10px 10px 0px;
}
#checkbox1{
	padding: 10px 10px 10px 0px;
}
#checkboxArea{
	margin: 10px 10px 10px 19px;
}
#functions-area {
    height: 57px;
}    
#label2{
	margin: 8px 20px 4px 11px;
}
#label1{
	margin: 8px 20px 4px 11px;
}
#button2{
	margin: 8px 20px 4px 11px;
}
#button1{
	margin: 8px 20px 4px 11px;
}