.contents-area {
	width: 1158px;
	height: calc(100vh - 161px);
	overflow: auto;
}
#sidebar-area {
	min-width: 60px;
}
.leftExtend {
	padding-top: 20px;
    padding-left: 20px;
    display: inline-block;	
}
.rightExtend {
	margin-left: 40px;
	margin-top: 10px;
	display: inline-block;
    vertical-align: top;
}
.titleTable:FIRST-CHILD label{
	font-size: large;
}
.noteTable {
	margin-bottom: 10px;
	width: 600px;
}
.infoTable {
	padding: 0px;
	width: 310px;
}
.infoTable .panel {
	padding: 0px;
}
.infoTable > div:FIRST-CHILD {
	height: 25px;
	background: #C5E0B4;
	border-bottom: 2px solid #B1B1B1;
	padding-top: 5px;
    padding-left: 10px;
}
.infoTable > div:LAST-CHILD {
	padding: 5px 5px;
}
.labelSqr {
	padding-top: 5px !important;
	display: inline-block;
	text-align: center;
    width: 76px;
    height: 40px;
    vertical-align: middle;
    margin-left: 6.5px;
    margin-right: 6.5px;
}
.labelSqr1 > span {
	color: #31859C;
}
.labelSqr2 > span {
	color: #FF3B3B;
}
.labelSqr3 > span {
	color: #FF3B3B;
}
.fc-title {
	text-align: center;
	font-size: small;
	vertical-align: middle;
}
.round-green {
	background-color: #92F29B !important;
	border-radius: 20px;
}
#nts-component-tree {
	padding-right: 5px !important;
}
.panel-frame-btn {
	width: 90px;
	height: 50px;
	margin: 5px;
    border-radius: 7px;
}
.frame-btn {
	display: inline-flex;
}
.button-sqr1 {
	color: rgb(85,142,213);
}
.button-sqr2 {
	color: rgb(255,0,0);
}
.button-sqr3 {
	color: rgb(255,0,0);
}