#contents-area {
	/* width: 100%; */
}

.boder-style {
	float: left;
	clear: right;
	margin-top: 10px;
}

.contents-area-left {
	height: 400px;
	width: 240px;
	margin-left: 20px;
}

.contents-area-middle {
	height: 201px;
	width: 230px;
	text-align: center;
}

.contents-area-right {
	height: 250px;
	width: 176px;
	text-align: center;
}

.contents-area-caret-right {
	height: 300px;
	width: 65px;
	float: left;
	clear: right;
	padding-top: 20px;
}

.lbl-before-ready {
	padding: 20px;
	color: gray;
	background: #dcf4e7;
}

.panel-custom-font-size {
	font-size: 2em;
}

.lbl-unit-setting-explanation, .lbl-general-labor-explanation {
	margin-top: 7px;
}

.btn-area-middle, .btn-deformed-labor {
	margin-top: 10px;
	width: 175px;
}

.contents-area-right-caret {
	margin-left: 10px;
}

.lbl-general-labor-explanation-margin-top {
	margin-top: 30px;
}

.goback {
	margin-right: 35px;
}

#contents-area {
	display: flex;
	/* flex-shrink: 3; */
	flex-wrap: nowrap;
	white-space: nowrap;
}

#contents-area > div:nth-child(1) {
	/* flex: 0.5; */
	margin-top:10px;
	margin-left:20px;
}

#contents-area > div:nth-child(2) {
	display: flex;
	flex-direction: column;
	/* flex: 0.75; */
	margin-top:10px;
	margin-left: 100px;
}

.style-radio {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.style-radio label{
	margin-top: 5px;
}

.out-manage, .emboss-set {
	display: flex;
}

.out-manage .label, .emboss-set .label {
    width: 180px;
}

.out-manage, .emboss-set {
	margin-left: 30px;
}

.out-manage {
	margin-top: 6px;
}

#h2_3 > .nts-switch-button{
	width: 90px	
}