@CHARSET "UTF-8";

.contents {
	margin: 20px;
	position: absolute;
}

.period_labels {
	margin-top: 10px;
}

.employee_labels {
	margin-top: 20px;
}

.workday_labels {
	width: 385px;
	margin-left: 20px;
	margin-top: 20px;
}

.lableData {
	width: 135px;
}

.contentDetail {
	width: 150px;
	margin-left: 20px;
}

#functions-area-bottom {
	height: 100px;
}

#checkOverWriteSetting {
	height: 30px;
	display: block;
}