#button-del {
	margin: 0 10px !important;
}

#combobox1 {
	margin-top: 2px;
}

#combobox {
	margin-top: 7px;
}

#correc-label1 {
	margin-top: 7px;
}

#correc-label {
	float: left;
}

#combobox1 {
	width: 112px;
}

#comment-text {
	width: 235px;
}

#right-area tr td:nth-child(1) {
	width: 110px;
}

#right-area tr td:nth-child(2) {
	width: 200px;
}

#right-area {
	margin-left: 165px;
	margin-top: -125px;
}

#combobox {
	width: 90px;
}

#item-panel {
	height: 410px;
	margin-top: 10px;
}

.btn_2, .btn_3, .btn_4 {
	margin-top: 18px;
	width: 100px;
	height: 100px;
	margin-left: 5px;
}

.btn_6, .btn_7, .btn_8 {
	width: 100px;
	height: 100px;
	margin-top: 20px;
	margin-left: 5px;
}

.btn_1 {
	margin-top: 18px;
	width: 100px;
	height: 100px;
	margin-left: 33px;
}

.btn_5 {
	width: 100px;
	height: 100px;
	margin-left: 33px;
	margin-top: 20px;
}

.sp-container{
	left: 130px !important;
}

.basic-items{
	width: 345px;
}

.stamp-rec-btn div {
	margin-top: 10px;
}

.btn-name{
	font-size: 32px;
}
.btn-name-2{
	font-size: 16px;
}
.popupButton {
	margin: 7px 0 23px;
	width: 90px;
}
.popup-area table{
    border: solid 1px #b1b1b1;
}
.popup-area tr td {
	padding: 4px 6px;
}
.popup-area tr td div{
    cursor: pointer;
}