@CHARSET "UTF-8";

#link-icon {
	width: 30px;
	vertical-align: middle;
}

#A1-6 {
	margin-left: 2px;
	vertical-align: middle;
}

.sidebar-content-header button {
	width: 90px;
}

#A1-4 {
	margin: 0 20px 0 50px;
}

#A1-6 {
	margin-left: 420px;
}

#A2-1 {
	margin: 25px 60px 0px 50px;
}

#A2-2 {
	margin-right: 30px;
}

#A2-3 {
	width: 90px;
}

#A2-4 {
	margin: 15px 0 0 50px !important;
}

.nts-switch-button {
	width: 90px
}