#content {
	/* 	width: 1200px;
	margin-bottom: 20px; */
	
}

.float-right {
	float: right !important;
}

#content-left {
	width: 260px;
	height: 590px;
	float: left;
}

.requiredCell {
	background-color: #FAEC82;
}

.notrequiredCell {
	background-color: #CFF1A5;
}

#content-right {
	float: left;
	width: 900px;
}

#category_grid_container {
	margin-left: -3px !important;
}

#item_grid_container {
	margin-top: 10px !important;
	width: 250px;
}

.distane {
	margin-bottom: 5px;
}

#ctgName {
	width: 200px;
}

#ctgCode {
	width: 80px;
}

button.search-btn, button.clear-btn {
	width: 40px;
}

.nts-searchbbox-wrapper button.search-btn, .nts-searchbbox-wrapper button.clear-btn
	{
	vertical-align: top;
	margin-left: 5px;
	min-width: 50px;
}

input.ntsSearchBox {
	width: 150px !important;
}

#sub-content-right {
	margin-top: 10px;
}

#sub-left {
	width: 300px;
	height: 590px;
	float: left;
}

#sub-right {
	float: left;
	width: 600px;
}

#history {
	margin-left: 220px;
}

#grid2__container {
	margin-left: 20px !important;
	margin-top: 20px !important;
}

#grid2_virtualContainer {
	margin-top: 16px !important;
}

/* #grid2_displayContainer {
	max-width: 600px !important;
	width: 600px !important;
}
 */
#grid2_headers_v, #grid2_virtualContainer td:FIRST-CHILD, #grid2_combo {
	overflow: visible !important;
}

#grid2_displayContainer_a {
	position: fixed !important;
}