#contents-area {
	width: 1280px;
	height: 100%;
	overflow-y: hidden !important;
}

.float-right {
	float: right !important;
}

#content-left {
	width: 288px !important;
	height: 407px !important;
	float: left;
}

.requiredCell {
	background-color: #FFC000;
}

.notrequiredCell {
	background-color: #C7F391;
}

.input-units {
	width: 209px !important;
	min-height: 16px !important;
	max-height: 16px !important;
}

.sub-input-units {
	width: 150px !important;
	margin-left: 1px !important;
	margin-right: 3px !important;
	border: 0px !important;
	text-align: right !important;
	max-height: 12px !important;
}

.nts-datepicker-wrapper .ntsDatepicker {
	width: 161px !important;
}

#date {
	border: 0px solid #999999 !important;
}

#content-right {
	float: left;
	width: 900px;
}

#category_grid_container {
	margin-left: -3px !important;
}

#item_grid_container {
	margin-top: 10px !important;
	width: 250px;
}

.distane {
	margin-bottom: 5px;
}

#ctgName {
	width: 200px;
}

#ctgCode {
	width: 80px;
}

button.search-btn, button.clear-btn {
	width: 40px;
}

.nts-searchbbox-wrapper button.search-btn {
	vertical-align: top;
	margin-left: 5px;
	min-width: 67px;
	margin-bottom: 0px !important;
}

.nts-searchbbox-wrapper button.clear-btn {
	vertical-align: top;
	margin-left: 5px;
	min-width: 50px;
}

.nts-searchbbox-wrapper {
	margin-bottom: 0px !important;
}

input.ntsSearchBox {
	width: 150px !important;
}

#sub-content-right {
	margin-top: 10px;
}

#sub-left {
	width: 265px;
	height: 590px;
	float: left;
}

#sub-right {
	float: left;
	width: 600px;
	margin-left: 30px;
}

#search_his {
	margin-top: 38px;
	margin-bottom: 15px;
}

#history {
	float: left;
	margin-left: 200px;
}

.contents-header {
	width: 100%;
	margin-top: 10px !important;
}

.contents-data {
	width: 100%;
	height: 400px !important;
}

.contents-data  td {
	border: 1px solid #CCC;
	text-align: left;
	min-height: 16px !important;
	max-height: 16px !important;
}

.contents-data  tr {
	min-height: 16px !important;
	max-height: 16px !important;
}

table.contents-data thead, table.contents-data tbody {
	display: block !important;
}

table.contents-data tbody {
	height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #CCC;
}

thead {
	background-color: #CFF1A5;
}

table.contents-data tr {
	min-height: 16px !important;
	max-height: 16px !important;
}

table tr td, table tr th {
	font-size: 14px;
	font-family: "DroidSansMono", "Meiryo";
}

.ui-igcombo-buttonicon, .ui-igcombo-clearicon {
	top: 20% !important;
	margin-top: -8px !important;
	position: inherit !important;
}

.ui-igcombo-wrapper {
	position: relative;
	display: inline-block;
	overflow: visible;
	width: 140px;
	height: 15px;
}

.value {
	width: 200px !important;
}

#combox1 {
	height: 18px;
	margin-left: 16px;
}

.contents-header td {
	border: 1px solid #CCC;
	text-align: left;
	height: 15px;
	padding: 0px 0px;
	font-weight: bold;
}

#COL_1 {
	width: 210px !important;
}

#COL_2 {
	width: 170px;
}

#COL_3 {
	width: 240px;
}

#A2_012 {
    margin-left: 15px;
	width: 97px;
	height: 21px;
	padding: 0px 0px !important;
}

#help {
	width: 20px;
	height: 20px;
	margin-left: 5px;
	padding: 0px 0px !important;
}

#combo-box {
	margin-left: 9px;
	min-width: 100px !important;
	height: 20px;
}

.input-units-1 {
	min-width: 196px !important;
	max-width: 196px !important;
}

.input-units-2 {
	min-width: 159px !important;
	max-width: 159px !important;
}

.input-units-3 {
	min-width: 205px !important;
	max-width: 240px !important;
}

#notdata {
	min-width: 239px !important;
}

#sub-center {
	width: 25px !important;
	float: left;
}

span.caret-background.caret-right.direction-right {
	position: fixed !important;
}

#string {
	width: 200px !important;
}

.table-container {
	color: #000;
	position: relative;
	border: 1px solid #ccc;
}

.table-container>div {
	overflow-y: auto;
	overflow-x: hidden;
	height: 355px !important;
	border-top: 1px solid #ccc;
}

.table-container>div table {
	width: 100%;
	border-collapse: collapse;
}

th>div {
	top: 0;
	padding: 3px;
	color: #000;
	line-height: 32px;
	position: absolute;
	border-left: 1px solid #ccc;
	background-color: #CFF1A5 !important;
}

th {
	height: 0;
	line-height: 0;
	padding: 0;
	border: none;
	white-space: nowrap;
	font-weight: bold;
	background-color: #CFF1A5 !important;
}

th:first-child div {
	border: none;
	background-color: #CFF1A5 !important;
}

td {
	padding: 0px !important;
	border: 1px solid #ccc;
}

tbody tr:first-child td {
	border-top: none;
}

label[for] {
	line-height: 20px !important;
	right: 48px !important;
}

#date1 {
	width: 85px !important;
	margin-left: 5px !important;
}

#A3_13 {
	width: 22px !important;
	margin-left: 5px !important;
	height: 27px !important;
}

#A3_15 {
	margin-left: 5px !important;
}