html{
  overflow: hidden;
}
#contents-area {
	overflow-y: auto;
    height: calc(100vh - 20px);
}
#kdp004a {
	width: 100%;
    margin: 0 auto;
    max-width: 480px;
}

.kdp004a {
  padding: 10px;
  background: linear-gradient(#EBFCF6, #F5F5F5);
}

#genText {
  margin-left: 20px;
}

/* #stamp-input {
  min-width: 63vmin;
} */

#stamp-info {
  min-width: 37vmin;
}

#stamp-date {
  text-align: center;
}

#stamp-time {
  text-align: center;
  margin-top: 10px;
}
#stamp-header .panel {
  padding: 0px;
}
.full-width{
  width: 100%;
}

#stamp-history-tbl #tbl-header, #tbl-header-time {
  border: 1px solid #CCC;
  background-color: #CFF1A5;
  padding: 5px 0 5px 5px;
  text-align: center;
}

#tbl-header {
  font-weight: bold;
}
.inline-bl{
  display: inline-block;
  width: 30px;
}
.ui-widget.ui-tabs > .ui-tabs-nav > li {
  max-width: 22vmin;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  width: 10.4vmin;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 1.7vmin;
}
#stamp-history-tbl th {
  text-align: center;
}
#time-card-list td {
  text-align: center;
}

#tab-1, #tab-2, #tab-3, #tab-4, #tab-5{
  min-width: 63vmin;
}

.not_used_label {
	color: red;
	font-size: 1.2rem !important;
}
.pageComent {
	word-break: break-all !important;
	white-space: pre-wrap !important;
}
