.ktg-005 .float-right {
	float: right !important;
}

.ktg-005 .display_flex {
	display: flex;
}

.ktg-005 #contents-area {
	padding: 20px 0px 0px 20px;
}

.ktg-005 .float_left {
	float: left !important;
}

.ktg-005 .display_block {
	display: block;
}

.ktg-005 #content-left {
	float: left;
	padding: 5px;
}

.ktg-005 .div_line {
	margin-top: 10px;
	float: left;
	clear: both;
	width: 100%;
}

.ktg-005 .toggle_div {
	background-color: #F2F2F2;
	margin-top: 10px;
	border-radius: 5px;
	float: left;
	padding: 10px 20px 10px 10px;
}

.ktg-005 .expand_symbol {
	display: inline-block;
	float: right;
	line-height: 37px;
}

.ktg-005 hr {
	clear: both;
}

.ktg-005 .ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: 37px;
}
.ktg-005 .pl-15{
	padding-left: 15px;
}