@import url("base.css");

.chung-dep-trai .col_line_1,.chung-dep-trai  .col_line_2 {
	display: inline-block;
}

.chung-dep-trai .col_line_1 {
	width: 150px;
}

.chung-dep-trai #functions-area {
	padding-top: 0px;
}

.chung-dep-trai .button-group {
	height: 29px;
	width: 29px;
	border: 0;
	margin: 0;
	box-shadow: none;
	background-size: auto;
	background-color: transparent;
}

.chung-dep-trai #functions-area {
	padding-left: 0px;
}

.chung-dep-trai .col_line_2 {
	float: right;
	display: flex;
}

.chung-dep-trai #master-wrapper div#contents-area {
	padding: 0px;
}

.chung-dep-trai #top_title {
	border-bottom: 1px solid #B1B1B1;
	border-left: 5px solid #0096F2;
	height: 45px;
	display: flex;
}

.chung-dep-trai .div_line {
	margin-top: 0px;
	height: 40px;
	vertical-align: middle;
	line-height: 40px;
}

.chung-dep-trai .border {
	border-bottom: solid thin #B1B1B1;
}

.chung-dep-trai #content {
	overflow-y: auto;
}

.chung-dep-trai #contents-area {
	width: 305px;
	margin: 0 auto;
	border: 1px solid #B1B1B1;
	border-top: 0;
	height: auto !important;
	min-height: 258px;
}