@import url("base.css");

.col_line_1, .col_line_2 {
	display: inline-block;
}

.col_line_1 {
	width: 200px;
}

#functions-area {
	padding-top: 0px;
}

.button-group {
	height: 38px;
	width: 38px;
	border: 0;
	margin: 0;
	box-shadow: none;
	background-size: auto;
	background-color: transparent;
}

#functions-area {
	padding-left: 0px;
}

.col_line_2 {
	float: right;
	display: flex;
}

#master-wrapper div#contents-area {
	padding: 0px;
}

#top_title {
	border-bottom: 1px solid #B1B1B1;
	height: 45px;
	border-left: 5px solid #0096F2;
	padding: 8px 5px 0px 0px;
}