@CHARSET "UTF-8";

.master_setting {
	width: 250px;
    height: 225px;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	border-radius: 6%;
	margin-left: 35px;
	margin-top: 40px;
}

.master_title_left {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 15px;
	width: 210px;
	height: 55px;
	background-color: #E7E6E6;
}

.master_title_right {
	margin-top: 20px;
	margin-left: 15px;
	margin-bottom: 15px;
	width: 275px;
	height: 55px;
	background-color: #E7E6E6;
}

.label_master {
	font-size: 2em;
	padding-top: 10px;
	padding-left: 10px;
	display: block;
}

.label_tips {
	margin-top: 5px;
	margin-left: 20px;
}

.btnconfig {
	margin-top: 15px;
	margin-left: 20px;
}

.master_setting_caret.caret-right:after {
	color: #92D050;
	border-width: 51px 25px;
	margin-top: 95px;
	margin-left: 3px;
}

.large.btnconfig.caret-bottom:after {
	border-width: 22px 45px;
	margin-top: 0.5em;
	color: #92D050;
	left: 40% !important;
}