@CHARSET "UTF-8";

.master_setting {
	width: 250px;
    height: 225px;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	border-radius: 6%;
	margin-left: 35px;
	margin-top: 40px;
}

.master_title_left {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
	width: 190px;
	height: 80px;
	background-color: #f2f2f2;
	border-radius: 5px;
}

.master_title_right {
	margin-top: 20px;
	margin-left: 15px;
	margin-bottom: 10px;
	width: 275px;
	height: 80px;
	background-color: #f2f2f2;
	border-radius: 5px;
}

.label_master {
	font-size: 20pt;
	padding-top: 20px;
	padding-left: 20px;
	display: block;
}

.label_tips {
	font-size: 9pt;
	margin-top: 5px;
	margin-left: 20px;
}

.btnconfig {
	margin-top: 15px;
	margin-left: 20px;
}

.master_setting_caret.caret-right:after {
	color: #97D155;
	border-width: 51px 26px;
	margin-top: 95px;
}