@CHARSET "UTF-8";

#contents-area {
	display: table;
	padding: 20px;
}

.container {
    padding-left: 15px;
}

.link-button.goback {
	width: 150px;
}

#left-content {
    float: left;
}

.right-content {
    float: left;
    padding-left: 40px;
}

table.top-content-tbl tr {
	height: 60px;
}

table.top-content-tbl td {
	vertical-align: top;
}

.code {
	width: 25px;
}

.name {
	width: 120px;
}

.workTypes {
    width: 630px;
}

.memo {
    width: 700px;
    height: 100px;
}