<div id="login">
    <fieldset class="login-form">
        <legend>{{ 'login_title' | i18n }}</legend>
            <nts-dropdown
                v-model="model.comp"
                v-bind:name="'model.comp'"
                v-bind:disabled="false"
                v-bind:show-title="true"
                v-bind:constraint="validations.model.comp"
                v-bind:errors-always="$errors.model.comp"
                v-bind:columns="{ title: 'col-md-2', input: 'col-md-4' }">
                <option value="">--- Choose options ---</option>
                <option v-for="(comp,k) in companies" :value="comp.companyId">{{comp.companyCode}}&nbsp;&nbsp;&nbsp;{{comp.companyName}}</option>
            </nts-dropdown>
            
            <v-input-string
                v-model="model.username"
                v-bind:name="'login_name'"
                v-bind:disabled="disabled"
                v-bind:show-title="true"
                v-bind:constraint="validations.model.username"
                v-bind:errors-always="$errors.model.username"
                v-bind:columns="{ title: 'col-md-2', input: 'col-md-4' }" />

            <v-input-password
                v-model="model.password"
                v-bind:name="'login_password'"
                v-bind:disabled="disabled"
                v-bind:show-title="true"
                v-bind:constraint="validations.model.password"
                v-bind:errors-always="$errors.model.password"
                v-bind:columns="{ title: 'col-md-2', input: 'col-md-4' }" />

            <div class="text-right">
                <hr />
                <button class="btn btn-primary" v-on="$click(login.bind(this, 1, 2, 3))"><i class="fa fa-key"></i> {{'login_btn' | i18n}}</button>
            </div>
    </fieldset>
</div>