#stamp-employee-selection {
	padding: 10px;
	width: 260px;
	box-sizing: border-box;
}

#stamp-employee-selection .ntsControl.nts-datepicker-wrapper,
#stamp-employee-selection .ntsControl.nts-datepicker-wrapper .ntsDatepicker {
	width: 100%;
	box-sizing: border-box;
}

#stamp-employee-selection .ntsControl.nts-datepicker-wrapper .ntsDatepicker {
	text-align: center;
}

#stamp-employee-selection .button-group-filter {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 5px;
}

#stamp-employee-selection .button-group-filter button {
	width: 50px;
	margin-top: 10px;
}

#stamp-employee-selection .button-group-filter button.extend {
	width: 113px;
}

#stamp-employee-selection .button-group-filter button.selected {
	background-color: #01956A;
	color: #fff;
}

#stamp-employee-selection .button-group-filter button:focus {
	box-shadow: none;
}

#stamp-employee-selection .button-group-filter button:active:enabled {
	top: 0;
}

#stamp-employee-selection .list-group {
	margin-top: 30px;
}

#stamp-employee-selection .list-group .check-out-of-list {
	padding: 15px 5px;
    line-height: 25px;
    height: auto;
    width: 100%;
    border: 0;
    box-shadow: none;
    top: 0;
    margin: 0;
    text-align: left;
    border-radius: 0;
	background-color: #a9a9a9;
}

#stamp-employee-selection .list-group .check-out-of-list.active {
	color: #fff;
	background-color: #007fff;
}

#stamp-employee-selection .list-group .check-out-of-list:hover {
	color: #000;
	background-color: #c5f1f7;
}

#stamp-emplouee-selection .ui-tooltip-content {
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 200px	
}

#stamp-employee-selection .list-group .ui-iggrid table tr {
	height: 45px;
	outline: none !important;
}

#stamp-employee-selection .list-group .ui-iggrid table tr td {
    text-overflow: ellipsis;
    white-space: nowrap;
}

#stamp-employee-selection .list-group .ui-iggrid table tr th,
#stamp-employee-selection .list-group .ui-iggrid table tr td {
	border: none !important;
	padding-left: 8px;
}

#stamp-employee-selection .list-group .ui-iggrid table tr td.ui-state-active {
	background-color: #01956A;
	color: #fff;
	font-weight: normal;
}