#contents-area{
	padding-top: 2px !important;
}

#text-b6-2, #text-b2-2, #text-b3-2, #label-b3-2 {
	margin-left: 72px;
}

#label-b5-2, #text-b3-3 {
	margin-left: 41px;
}

#text-b4-2 {
	margin-left: 43px;
}

#table-stamp {
	width: 450px;
	margin-top: 5px;
}

#text-b8-1 {
	margin-left: 20px;
	padding-left: 10px;
	padding-top: 10px;
	border: 1px solid black;
}

.inline-bl {
	display: inline-block;
	width: 30px;
}

#text-b20-1 {
	margin-top: 4px;
	margin-right: 5px;
	font-size: 17px;
	float: left;
	margin-top: 5px;
}

#text-b20-2 {
	float: left;
	margin-top: 5px;
	margin-top: 5px;
}

.workPlaceName {
	min-height: 22px;
}

.title * {
	font-family: Quicksand !important;
}

.title .date .ddd {
	font-family: "Noto Sans JP" !important;
}

.title .time {
	font-size: 35px;
	font-weight: bold;
	margin-top: 0px;
	line-height: 1.2;
}

.title .commuting {
	font-size: 30px;
	color: #0033cc;
	margin-top: 10px;
	font-weight: bold;
	line-height: 1.3;
}

.workPlaceName {
	margin-top: 5px;
}

.currentDate {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #EAE8F2;
	background-color: #F2F2F2;
	width: 440px;
}

.btn-showNoti {
	height: 34px;
	width: 130px;
	margin-top: 10px;
}

.btn-showNoti i {
	float: left;
}

.btn-showNoti div {
	margin-top: 5px;
}

.btn-emoji, .btn-happy {
	margin-left: 5px;
	border: none;
	background-color: transparent;
	box-shadow: 0 0px rgb(0 0 0 / 40%);
	min-width: 0 !important; /* function-area�̃{�^���ɑ΂���min-width�𖳌��� */
}

.nts-gridlist.ui-iggrid {
	height: auto !important;
}