#link_web.hyperlink {display: inline; background-color: #a4eeb0; vertical-align: middle; margin: 0px 30px 0px 100px; }
.link-button {margin-left: 30px;}
.icon_link {width: 30px; vertical-align: middle; }
.container {width: 1200px;}
#left-content { margin-left:20px; margin-top: 12px; padding: 20px 5px 10px 20px; float: left; width: 400px; height: 480px; }
#right-content {padding-left:60px; float: left; margin-top: 32px;  width: calc(100% - 520px); }
#texteditor1.ntsControl .nts-input{ border: 1px solid #999999;}
#new{margin-left: 30px;}
button{padding-left: 30px; padding-right: 30px;margin-left: 15px;}
#delete{margin-left: 50px;}
button.x-large.fixbtn {width: 200px; height: 70px; margin: 30px 0px 0px 0px;}
#titleMenuCD {margin-left: 60px;}
.preview-container {padding:10px; border:1px solid #a0a0a0; margin-top:25px; border-radius: 3px;}
#preview-iframe {width:700px; height:300px;}
.ntsSearchBox.nts-editor {width: 280px;}