html, body {background-color:#dedede;height:100%;}
a{color:#00B050;text-decoration: none;}
b{font-weight:bold;}
i{font-style: italic;}
h1{color:#00B050;font-size: 25px; margin:15px 0;}
h2{color:#00B050;font-size: 20px; margin:15px 0 7px;}
h3{font-size:16px;margin:5px 0;font-weight:bold;}
h4{font-size:14px;margin:3px 0;font-weight:bold;}
hr{margin: 20px 0;}
table{border-collapse: collapse;}
table th, table td{padding: 5px 5px;border:1px solid #ccc;}
/*table th{background:#eee;}
table a{color:#00B050;}*/
pre{background:#eee;padding:10px;margin:10px 0;border-radius:5px;box-shadow: 0 0 1px 1px rgba(0,0,0,0.15) inset;}
note{position:relative;display:block;background:#ffc;box-shadow:1px 2px 3px 0px rgba(0,0,0,0.3);padding:20px;margin:20px 5px;}
note:before{position:absolute;display:block;content:'';width:50px;height:15px;left:15px;top:-8px;background:rgba(255,255,255,0.35);box-shadow:0 0 2px 1px rgba(0,0,0,0.2), 0 0 1px 1px rgba(255,255,255,0.7) inset;transform: rotate(-8deg);}
.color{color:#00B050;}
.pull-left{float:left;}
.pull-right{float:right;}

#functions-area {background:#fff;}
#contents-area {background:#f5f5f5;width:85%;height:100%;margin:25px auto; padding:0px; border:1px solid #B1B1B1; box-shadow: 0 0 2px 0px rgba(0,0,0,0.2);}

#side-menu {float:left;height:100%; width:250px; background:#f5f5f5;padding-bottom:15px;overflow:hidden;box-sizing:border-box;box-shadow:-1px 0 2px 0 rgba(0,0,0,0.15) inset;}
#side-menu h1{background:#fff;color:#000;border:1px solid #e0e0e0;border-left:5px solid #97D155;padding:6px 8px 6px 16px;margin:10px 0 5px;font-size:15px;font-weight:bold;text-transform:uppercase;box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);}
#side-menu ul{}
#side-menu ul ul{margin-left: 17px;}
#side-menu a{position:relative;display:block;color:#444;text-decoration:none;line-height:24px;padding-left:15px;}
#side-menu a:before{content:'\203A';padding-right:10px;font-size:18px;font-weight:bold;}
#side-menu a:hover{background-color:#e0e0e0;}
#side-menu a.active{font-weight:bold;background:#fff;color:#00B050;box-shadow: 0 0 5px 1px rgba(0,0,0,0.15);z-index:1;}

#content{overflow:hidden;background:#fff;height:100%;padding:10px 10px;box-sizing:border-box;}
#content .tabs{margin:25px 0;}
#content ul:not([role='tablist']){list-style:disc;margin-left:20px;}
#content .footer{margin-top:35px;}
#content .footer button.previous{float: left;}
#content .footer button.next{float: right;}

/*** Component ***/
.feature-box {display:inline-block;width:calc(100% - 30px);border:1px solid #bbb;border-radius: 5px;overflow:hidden;margin:5px 15px;box-sizing:border-box;transition:box-shadow 0.2s;}
.feature-box:hover {box-shadow:0 1px 5px 1px rgba(0,0,0,0.25);}
.feature-box > .header {background:linear-gradient(to bottom, #fafafa, #cccccc 100%);padding:7px 10px;}
.feature-box > .header > * {margin:0;}
.feature-box > .content {padding:10px;}

/*** Overwrite ***/
.ui-widget, .ui-widget button{font-family: "Meiryo UI";}

/*** Animation ***/
.flash {
	animation: flash 1.1s ease-out;
	animation-iteration-count: 1;
}

@keyframes flash {
    0% { background-color: none;}
    50% { background-color: #ffb;}
    100% { background-color: none;}
}