@CHARSET "UTF-8";

.description-top {
	margin-top: 20px;
	margin-left: 40px;
	white-space: pre-line;
}

.content-center {
	margin-top: 30px;
}

.description-right {
	margin-left: 20px;
	margin-top: 50px;
	white-space: pre-line;
}

.arrow-black-down {
	margin-left: 30px;
	height: 150px;
}
#master-wrapper {
	overflow: hidden !important;
}