div#login {
    .page-title{
        width: 160px;
        height: 113px;
        background-image: url(/nts.uk.mobile.web/dist/resources/logo.svg);
        background-repeat: no-repeat;
        margin: auto;
    }
}