div#login {
    .page-title{
        width: 112px;
        height: 79px;
        background-image: url(/nts.uk.mobile.web/dist/resources/logo.svg);
        background-repeat: no-repeat;
        margin: 10px auto 0 auto;
    }
}