#screen-d #label11 {
	margin-left: 40px;
	margin-top: 40px;
}


#screen-d .check-box-atr {
	display:block;
	margin-top: 20px;
	margin-left: 60px;
}

.ntsRadioBox span.label{
	padding-left: 3px !important;
}


#screen-d .radio-error {
	margin-left: 90px;
	margin-top: 20px;
}

.ntsRadioBox {
	padding-left: 5px;
}

#checkBox21,#checkBox31{
width: 147px;
}
#checkBox41{
width: 215px;
}
#checkBox51{
width: 158px;
}
#checkBox61{
width: 173px;
}
#checkBox71{
width: 232px;
}
#checkBox81{
width: 415px;
}