.border-alignment {
  padding: 20px;
}
.padding-table {
  padding-bottom: 20px;
  float: left;
  width: 100%;
}

.border-alignment > .header-alignment {
  padding-bottom: 20px;
}

.border-alignment > .table-alignment {
  padding-bottom: 20px;
}

.padding-button{
  margin-top: 13px;
}
