.fixed-flex-layout{
	width: 1254px;
}
.fixed-flex-layout-right {
	padding: 5px;
	margin-top: 37px;
	padding-right: 100px;
}

.periodCovered {
	display: inline-flex;
	margin-bottom: 10px;
	padding-left: 10px;
}

.lableInfo {
	margin-top: 8px;
	margin-left: 10px;
	width: 100%;
}

.buttonWorkSetting {
	margin-left: -5px;
	height: 60px;
}

.infoButtonSetting {
	display: inline-flex;
}

.label{
	margin-left: 20px;
	margin-top: 5px;
}

.selectionEmployee {
	margin-left: 90px;
	padding-top: 10px;
}

.labelRangeDate {
	/*margin-top: 30px;*/
	margin-left: 15px;
	width: 120px;
}
.labelRangeDate1 {
	/*padding-top: 30px;*/
	margin-left: 15px;
	width: 120px;
}

.labelWork {
	margin-top: 10px;
	margin-left: 15px;
	width: 115px;
}
.employeeWorkSetting{
	padding-left: 10px;
}

#contents-area { 
	overflow-x: hidden;
}
#A3_2 {
	margin-bottom: 20px;
}

#A3_10 {
	margin-top: 20px;
	
}
#A2_2{
	margin: 0px 30px 0px 90px;
    padding-bottom: 10px;
    width: 600px;
}
