.div_line {
	margin-top: 5px;
	float: left;
	clear: both;
	width: 100%;
}
.ilb {
	display: inline-block;
}

#contents-area {
	padding: 20px 0px 0px 20px;
}
.label .div_line{
	width: 275px;	
}
.header{
	border-bottom: 1px solid black;
	background-color: #CFF1A5;
	height: 28px;
}
.column-1 {
	padding: 2px;
	margin-left: 20px;
}
.column-1 .itemLabel{
	width: 85px;
}
.column-1 .panel{
	padding: 5px;
}

.column-1 table td{
	border-bottom: 1px dotted black; 
	border-left: 1px solid black;
}
.column-1 table button{
	width: 114px;
}
.column-1 .checkbox{
	    margin-left: 12px;
		margin-top: 6px;
}
.column-2{
	margin-top: 130px;
	margin-left: -75px;
}
.restart{
	border-bottom: 1px solid black;
	background-color: #ffff00;
	height: 28px;
}
.column-2 table td{
	border-bottom: 1px dotted black; 
	border-left: 1px solid black;
}
.column-2 .checkbox{
	    margin-left: 12px;
		margin-top: 6px;
}
#functions-area-bottom > button {
	margin-top: 11px;
}
/* popup show unstable position --> override css */
#func-notifier-errors {
    top: 10px !important;
    left: 50px !important;
}
table.terminalInfo tr td{
	vertical-align: top;
	border: 0px !important; 
}
.testcss {
	color: red;	
}