

table th{
    border: 1px solid #CCC;
    height: 30px;
    text-align: center;

}
table td:nth-child(3) {
    text-align: left;
}

table td {
	text-align: center;
	height: 30px;
	border: 1px solid #CCC;
}

