.dialog-content{
	width:325px; 
	height:460px;
	margin-left:40px;
	margin-right:40px;
}
.dialog-title{
	margin-top:15px; 
}
.dialog-components {
	margin-top:15px; 
}
.auto-increment {
    counter-reset: tableCount;     
}

.auto-increment th[role="rowheader"]:before {              
    content: counter(tableCount); 
    counter-increment: tableCount;
    
}

.auto-increment th[role="rowheader"] {
 text-align: right !important;
 background-color: #CFF1A5;
}