.dialog-content{
	height:460px;
	margin-left:40px;
	margin-right:40px;
}
.dialog-title{
	margin-top:15px; 
}
.dialog-components {
	margin-top:15px; 
}

.auto-increment th[role="rowheader"] {
 text-align: right !important;
 background-color: #CFF1A5;
}