#boxSearch {
	display: flex;
	vertical-align: middle;
	margin-left: 20px;
}

.btnMenu {
	width: 70px;
}

#btnSelectedClear {
	margin-bottom: 15px;
	margin-top: 5px;
}

#total {
	width: 620px;
}

#process {
	width: 620px;
	text-align: center;
	vertical-align:middle;
}

#label {
	line-height: 40px;
	text-align: left;
}
