#sidebar-area ~ div {
	float: left;
	width: 100vh;
}

.sidebar-content-header .title {
    font-size: 32px;
}

/*ViewC*/
.view-c-kmk004 {
	padding: 10px;
	width: 100vw;
	float: left;
}

.view-c-kmk004 .left-content {
	width: 515px;
	padding: 12px;
	float: left;
}

.view-c-kmk004 .right-content {
	width: 415px;
	float: left;
	margin-left: 50px;
}

.view-c-kmk004 .right-content p {
	font-size: 20px;
}

.sidebar-content-header {
	width: 100vw;
}

.view-c-kmk004 .right-content .setting {
	margin-top: 30px;
}

.view-c-kmk004 .right-content .content-data {
	margin-top: 20px;
}

.view-c-kmk004 .right-content .label1 {
	margin-top: 20px;
}

.view-c-kmk004 .right-content .year {
	float: left;
}

.view-c-kmk004 .right-content .year .box-year {
	margin-top: 20px;
}

.view-c-kmk004 .right-content .time-work {
	margin-left: 190px;
}

/* View D */
.view-d-kmk004 {
	padding: 10px;
	width: 100vw;
	float: left;
}

.view-d-kmk004 .left-content {
	width: 330px;
	padding: 12px;
	float: left;
}

.view-d-kmk004 .right-content {
	width: 415px;
	float: left;
	margin-left: 50px;
}

.view-d-kmk004 .right-content p {
	font-size: 20px;
}

.view-d-kmk004 .sidebar-content-header {
	width: 100vw;
}

.view-d-kmk004 .right-content .setting {
	margin-top: 30px;
}

.view-d-kmk004 .right-content .content-data {
	margin-top: 20px;
}

.view-d-kmk004 .right-content .label1 {
	margin-top: 20px;
}

.view-d-kmk004 .right-content .year {
	float: left;
}

.view-d-kmk004 .right-content .year .box-year {
	margin-top: 20px;
}

.view-d-kmk004 .right-content .time-work {
	margin-left: 190px;
}

/* View E */
.view-e-kmk004 {
	padding: 10px;
	width: 100vw;
	float: left;
}

.view-e-kmk004 .left-content {
	width: 650px;
	padding: 12px;
	float: left;
}

.view-e-kmk004 .left-content .cpn-kcp005 {
	margin-left: 85px;
}

.view-e-kmk004 .right-content {
	width: 415px;
	float: left;
	margin-left: 50px;
}

.view-e-kmk004 .right-content p {
	font-size: 20px;
}

.view-e-kmk004 .sidebar-content-header {
	width: 100vw;
}

.view-e-kmk004 .right-content .setting {
	margin-top: 30px;
}

.view-e-kmk004 .right-content .content-data {
	margin-top: 20px;
}

.view-e-kmk004 .right-content .label1 {
	margin-top: 20px;
}

.view-e-kmk004 .right-content .year {
	float: left;
}

.view-e-kmk004 .right-content .year .box-year {
	margin-top: 20px;
}

.view-e-kmk004 .right-content .time-work {
	margin-left: 190px;
}

/* ListTimeWork */
.list-time .label-column1 {
	padding: 3px;
	border-left: solid 1px #AAAAAA;
	border-right: solid 1px #AAAAAA;
	border-bottom: solid 1px #AAAAAA;
	text-align: center;
	width: 50px;
	background: #E0F59E;
	max-width: 50px;
	height: 24px;
}
.list-time .label-row1 {
	border: solid 1px #AAAAAA;
	padding: 3px;
	text-align: center;
	background: #97D155;
	max-width: 50px;
	height: 24px;
}
.list-time .label-column2 {
	padding: 3px;
	border-right: solid 1px #AAAAAA;
	border-bottom: solid 1px #AAAAAA;
	text-align: center;
	width: 125px;
	max-width: 125px;
	height: 24px;
}
.list-time .label-row2 {
	border-top: solid 1px #AAAAAA;
	border-right: solid 1px #AAAAAA;
	border-bottom: solid 1px #AAAAAA;
	padding: 3px;
	text-align: center;
	background: #97D155;
	max-width: 125px;
	height: 24px;
}
.list-time .lable-input {
	width: 60px;
	text-align: center;
	height: 13px;
}

/* View B */

.view-b {
	padding: 10px;
}

.view-b .header-b {
	width: 435px;
}

.view-b .header-b ~ div {
	font-size: 20px;
}

.view-b .header-b hr {
	margin-top: 4px;
}

.view-b .header-b .header_title {
	margin-top: 15px;
}

.view-b .header-b .header_content {
	margin-top: 15px;
	margin-bottom: 15px;
}

.view-b .content {
	text-align: left;
	margin-top: 15px;
}

.view-b .content ~ div {
	margin-top: 15px;
	float: left;
}

.view-b .content .data {
	margin-top: 20px;
	float: left;
	display: flex;
}

.view-b .content .data .box-year {
	display: inline-block;
}

.view-b .content .data .time-work {
	display: inline-block;
	margin-left: 100px;
}

/*Box Year*/

.listbox {
	max-width: 150px;
}

.node {
	color: #4472C4;
}