.align-right {
	text-align: right;
}

#contents-area {
	padding: 10px 0px 0px 20px;
}

.tbl-control {
	margin-bottom: 5px;
	min-width: 1230px;
}

.tbl-control td {
	padding: 0px 5px;
}

.fixed-table th {
	text-align: center;
	white-space: normal;
}

#extable .extable-header-leftmost td {
	white-space: inherit !important;
}

.xheader *, .extable-body-detail *, .extable-body-leftmost tr td:NTH-CHILD(2),
	.extable-body-leftmost tr td:NTH-CHILD(3), .extable-body-leftmost tr td:NTH-CHILD(4)
	{
	text-align: center;
}

.extable-header-leftmost tr td {
	padding-left: 2px;
	padding-right: 2px;
}

.extable-body-leftmost tr td:NTH-CHILD(1) {
	padding-left: 4px;
	padding-right: 4px;
}

.bg-actual-verified {
	background-color: #ffffff !important;
}

.bg-actual-person-unverified {
	background-color: #F6F636 !important;
}

.bg-actual-excluded {
	background-color: #a9a9a9 !important;
}

.legend-item .legend-item-symbol{
	border: solid 1px gray;	
}
html {
	overflow: hidden;
}