@CHARSET "UTF-8";

#left-content {
	width: 330px;
	float: left;
	margin: 0px 10px;
}

#left-content-top {
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 45px;
}

.caret-background.caret-bottom:after {
	left: 160px !important;
}

#left-content-bottom {
	/* width: 100%; */
	padding: 15px;
	border-radius: 5px;
}

#right-content {
	width: 900px;
	float: left;
	margin-left: 20px;
	/* margin-top: 10px; */
}

.middle {
	vertical-align: middle;
}

#line-one {
	margin-bottom: 10px;
}

#targetRadioBox {
	width: 340px
}

#targetCheckBoxes {
	width: 460px
}

.execSetting {
	margin-top: 10px;
}

.subExecSetting {
	margin-left: 17px;
	margin-top: 5px;
}

#targetGroup {
	margin-left: 25px;
}

#targetGroup .ntsRadioBox {
	margin-right: 50px;
}

#b212224 {
	display: block;
	float: left;
}


#b858988 {
	display: block;
	width: 500px;
	margin-left: 13px;
}
.container {
    width: 1280px !important;
}

[dropdown-for="combobox-daily-per-id"] .nts-combo-column-0 {
  width: 390px !important;
}