.screen-b .caret-left {
	border-width: 15px 20px;
	margin-top: -15px;
	color: #D90000;
}

.screen-b .left-content>.bg-green {
	width: 187px;
	background-color: #E0F59E;
}

.screen-b .left-content .b-btns-34 {
	padding-bottom: 10px;
}

.screen-b .left-content .b-btns-34:after {
	content: '';
	display: block;
}

.screen-b .left-content #B_BTN_004 {
	float: right;
}

.screen-b #B_LST_001, .screen-b #B_LST_001_grid_container, .screen-b #B_LST_001_grid_virtualContainer,
	.screen-b #B_LST_001_grid_displayContainer, .screen-b  #B_LST_001 #B_LST_001_grid td
	{
	width: 170px !important;
	max-width: none !important;
	max-width: initial !important;
}

.screen-b #B_LST_001_grid_virtualContainer {
	background-color: #FCFCFC;
}

.screen-b #B_LST_001_grid_displayContainer {
	background-color: #FCFCFC !important;
}

.screen-b #B_LST_001_container {
	margin-top: 10px;
}

.screen-b  #B_LST_001 #B_LST_001_grid tr:focus {
	outline: none;
	background-color: #c3f1f7 !important;
}

.screen-b #B_LST_001 #B_LST_001_grid .nts-column:focus {
	outline: none;
}

.screen-b .ntsListBox tbody tr .nts-column {
	color: #68737b;
}

.screen-b .ntsListBox tbody tr .ui-iggrid-selectedcell, .screen-b #B_LST_001 #B_LST_001_grid .nts-column.ui-iggrid-selectedcell.ui-state-active
	{
	background-color: #c3f1f7 !important;
}

.screen-b .ui-iggrid-rowselector-header, .screen-b .ui-iggrid-rowselector-class
	{
	width: 0px !important;
}

.screen-b .right-content {
	width: 600px;
	padding-top: 20px;
	padding-left: 35px;
}

.screen-b .right-content #B_LBL_001 {
	display: block;
	padding-left: 15px;
	padding-bottom: 10px;
}

.screen-b .right-content .triangle-label {
	display: block;
	padding-left: 40px;
}

.screen-b .right-content .triangle-label:after {
	content: '';
	display: block;
	clear: both;
}

.screen-b .right-content .triangle-label>div {
	float: left;
	display: block;
	position: relative;
}

.screen-b .right-content .triangle-label>div label {
	display: block;
	line-height: 25px;
	width: 120px;
}

.screen-b .right-content .triangle-label>div li {
	list-style-type: disc;
}

.screen-b .right-content .triangle-label>div label#B_LBL_004 {
	top: 12px;
	width: 250px;
	position: absolute;
}

.screen-b .right-content .bottom-group {
	padding-top: 10px;
	padding-left: 20px;
}

.screen-b .right-content .bottom-group .form-group {
	padding-bottom: 10px;
}