.goback {
	margin-right: 35px;
}

.name-label {
	margin-left: -15px;
}

.left-contents {
	padding-left: 40px;
	width: 394px;
	height: 100%;
	vertical-align: top;
}

.left-contents .ntsRadioBox {
	/* margin-top: 5px; */
	/* margin-bottom: 6px; */
	margin-left: 18px;
}

.input-time {
	width: 45px;
}

.time {
	margin-left: 60px;
	margin-bottom: 10px;
}

.right-contents {
	vertical-align: top;
	padding-left: 20px;
	width: 800px;
}

.mutil-line.form-label>label {
	line-height: 18px;
}

.ntsCheckBox {
	display: block;
	margin-left: 40px;
}

.ntsRadioBox {
	display: block;
	margin-left: 8px;
}

#table-b {
	width: 680px;
	height: 420px;
}

.b5_inner_left, .b8_inner_left {
	width: 126px;
	vertical-align: top;
	background-color: #CFF1A5;
}

.b5_inner_left>.label, .b8_inner_left>.label {
	margin-top: 10px;
}

table.table-right th, table.table-right td {
	border-right: 1px solid #000 ;
	border-left: 1px solid #000 ;
	border-bottom: 1px solid #000 ;
	border-top: 1px solid #000 ;
}

#b5_8, #b7_8 {
	padding-left: 90px;
}

#b5_9, #b5_22, #b5_23, #b7_9, #b7_23, #b7_24 {
	margin-left: 80px;
}

#b6_8, #b6_16, #b6_23, #b6_21, #b6_22 {
	margin-left: 69px;
}

.caret-bottom.outline {
	width: 3em;
	height: 1em;
	margin-left: 109px;
	/* margin-top: 9px; */
	font-size: 2.3rem;
}

#tab-panel table {
	width: 100%;
}

#b8_9, #b8_23, #b8_22 {
	margin-left: 80px
}

#b2_28, #b_33 {
	
}

#b2_27, #b2_32 {
	width: 80%;	
}

#b2_36, #b2_37 {
	margin-left: 25px;	
}

.time-hd-add-method {
	margin-left: 15px;
}

#b6_24 {
	padding-left: 105px;
}

#b6_25, #b6_26 {
	padding-left: 120px;
}    

#tab-panel {
	margin-top: 20px
}