.data-layout {
	padding-left: 90px;
}

.data-layout .form-groups,
.data-layout .layout-multi-control {
	position: relative;
}

.data-layout .form-group {
	margin-bottom: 15px;
	z-index: 9999;
}

.data-layout .form-group>div,
.data-layout .form-group>label,
.data-layout .form-group>button{
	vertical-align: top;
	display: inline-block;
}
.data-layout .form-group>label {
	line-height: 37px;
}

.data-layout .form-group.margin-left {
	margin-left: 35px;
}

.data-layout .form-group:not(.margin-left) .fixed-width {
	width: 125px;
}

.data-layout .form-group .ntsRadioBox {
	margin-right: 20px;
}

.data-layout .form-groups {
	z-index: 9;
}

.data-layout .layout-multi-control {
	z-index: 0;
	margin-top: -60px;
}