@CHARSET "UTF-8";
/**dudt**/
#header {
	display: none;
}

#tblContent {
	margin: 25px !important;
}

.ntsRadioBox {
	margin-top: 5px;
}
/**dudt**/
.separate-button {
	margin-left: 10px;
	margin-top: 5px;
}

.header {
	margin: 5px;
	padding: 5px;
	border-bottom: 1px solid #aaa;
	height: 30px;
	width: 100%;
}

.body {
	padding: 10px;
}

.row {
	padding: 10px;
}

#lbl_003 {
	/**dudt**/
	/**float: right;**/
	/**dudt**/
	margin-left: 10px;
}

#radio {
	display: inline-block;
	}

#inp_001 {
	/**dudt**/
	/**float: left;**/
	width: 100px;
	/**dudt**/
}
/**dudt**/
/**.div {
	border-top: 1px solid #aaa;
	height: 70px;
	margin-top: 10px;
	padding-top: 15px;
}

#btn_001 {
	margin-left: 100px;
	padding-bottom: 10px;
}**/
.div {
	text-align: center;
	padding-top: 20px;
}
/**dudt**/