#contents-area {
	width: 1200px !important;
}

.boder-style {
	float: left;
	clear: right;
	margin-top: 10px;
}

.contents-area-left {
	height: 250px;
	width: 230px;
	margin-left: 20px;
}

.contents-area-middle {
	height: 250px;
	width: 230px;
}

.contents-area-right {
	height: 140px;
	width: 200px;
	margin-left: 40px;
}

.contents-area-caret-right {
	height: 300px;
	width: 65px;
	float: left;
	clear: right;
}

.lbl-before-ready {
	padding: 20px;
	color: gray;
	background: #dcf4e7;
}

.panel-custom-font-size {
	font-size: 2em;
}

.lbl-unit-setting-explanation, .lbl-general-labor-explanation {
	margin-top: 7px;
}

.btn-unit-setting, .btn-deformed-labor {
	margin-left: 10px;
	margin-top: 10px;
}

.contents-area-right-caret {
	margin-left: 10px;
}

.lbl-general-labor-explanation-margin-top {
	margin-top: 30px;
}

.caret-right-kmk008 {
	margin-left: 47px;
}

.master_setting_caret.caret-right:after {
	color: #92D050;
	border-width: 51px 25px;
	margin-top: 20px;
	margin-left: 3px;
}

.master_setting_caret.caret-bottom:after {
	color: #92D050;
    border-width: 22px 45px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 20px;
}

.setting_caret.caret-right:after {
	color: #2ECC71;
    border-width: 13px 9px;
    margin-left: 1px;
}
