#contents-area {
	overflow-y: auto;
	overflow-x: auto;
}

#contents-area-inner {
	width: 780px;
}

.panel-row {
	float: left;
	padding: 0px 10px 0px 10px;
}
#caret-top-container {
	width: 755px;
	padding-top: 0px;
	padding-bottom: 3px;
}

#row2 {
	border: 2px solid #B1B1B1;
	border-radius: 7px;
	margin-left: 10px;
	margin-bottom: 5px;
	width: 729px;
}

.border-style {
	float: left;
	clear: right;
}

.panel-frame {
	height: 250px;
	width: 195px;
}

.no-border {
	border:none !important;
}

.contents-area-caret-right {
	height: 280px;
	width: 50px;
	float: left;
	clear: right;
	display: flex;
	justify-content: center;
	align-items: center;
}

.panel-spacing {
	height: 280px;
	width: 40px;
	float: left;
}

.contents-area-caret-top {
	height: 30px;
	width: 210px;
	float: right;
	clear: right;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lbl-before-ready {
	padding: 20px;
	color: gray;
	background: #dcf4e7;
}

.panel-custom-font-size {
	font-size: 1.5em;
	text-align: center;
}

.lbl-unit-setting-explanation, .lbl-general-labor-explanation {
	margin-top: 7px;
}

.btn-unit-setting {
	margin-top: 10px;
	width: calc(100% - 15px);
}

.btn-deformed-labor {
	margin-top: 10px;
	width: calc(100% - 15px);
}

.contents-area-right-caret {
	margin-left: 10px;
}

.lbl-general-labor-explanation-margin-top {
	margin-top: 36px;
}

.lbl-general-labor-explanation-margin-top2 {
	margin-top: 54px;
}

.lbl-general-labor-explanation-no-margin-top {
	margin-top: 0px;
}

.caret-kmk008 {
	text-align: center;
	margin: 3px;
}

.master_setting_caret.caret-right:after {
	color: #92D050;
	border-width: 51px 25px;
	margin-top: 20px;
	margin-left: 3px;
}

.master_setting_caret.caret-bottom:after {
	color: #92D050;
    border-width: 22px 45px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.master_setting_caret.caret-top:after {
	color: #92D050;
	border-width: 22px 45px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.setting_caret.caret-right:after {
	color: #2ECC71;
    border-width: 13px 9px;
    margin-left: 1px;
}

#A4_13 {
	margin-top: 40px;
	height: 30px;
	padding: 3px 7px;
	margin-bottom: 3px;
	border: 1px solid #999999;
	border-radius: 3px;
	text-align: center;
}

#A4_16 {
	margin-top: 0px;
}