#left-content{
    float: left;
    margin-left: 20px !important;
    margin-top: 12px;
    width: 280px;
    height: 400px;
}
#right-content{
	float: left;
    margin: 12px 0px 0 30px;
    height: 200px;
}
#label{
	
	overflow: inline-block;
	margin-left: 0px;
}
.nts-input{
	width: 45px;
}
#inpPattern{
	width: 170px !important;
}
#label_caret{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}
#label_down{
	margin-top: 10px;
}
#help{
	margin-left: 410px; 
}

table td.radio-text{
    vertical-align: top;
}

div#button_radio{
	    width: 310px;
    margin: 12px 0;
}
label.ntsRadioBox {
    height: 27px;
}	
table.data-items thead {
	background-color: #c7f391;
}

table.data-items thead td {
	text-align: left;
}

table.data-items tr {
	height: 32px;
}

table.data-items td {
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	padding: 4px 12px;
    text-align: center;
}

table.data-items thead, table.data-items tbody {
	display: block;
}

table.data-items tbody {
	height: 280px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #CCC;
}

td.hidden-right-border{
	/*border-right-style: hidden;*/
}

.data-items{
	    width: 296px;
	    margin-top: 10px;
}

#text{
	margin-left: 0px;
}

.caret-helpbutton {
	left: 316px !important;
}