#left-content{
    float: left;
    margin-left: 20px !important;
    margin-top: 12px;
    width: 280px;
    height: 400px;
}

#right-content{
	float: left;
    margin: 12px 0px 0 30px;
    height: 200px;
}

.provision-cbx {
	padding-top: 15px;
    padding-bottom: 10px;
}

.mid-content {
    width: 126%;
    float: left;
    display: inline-block;
    padding-bottom: 15px;
}

.text-lbl {
    float: left;
    line-height: 30px;
}

.ntsControl.ntsHelpButton {
	left: 500px;
}

hr {
    width: 100%;
}

.data-items{
    width: 296px;
    margin-left: 20px;
}

table.data-items thead {
    background-color: #c7f391;
}

table.data-items thead td {
    text-align: left;
}

table.data-items tr {
    height: 32px;
}

table.data-items td {
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    padding: 4px 12px;
    text-align: center;
}

table.data-items thead, table.data-items tbody {
    display: block;
}

table.data-items tbody {
    height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #CCC;
}

table.grant-classification {
    margin: 20px;
}

#btn_005 {
    float: right;
    margin-right: 600px;
    margin-top: -33px;
}


#btn_002 {
    float: right;
    margin-right: 790px;
}

#btn_004 {
    margin-top: -33px;
    margin-left: 124px !important;
}