<!doctype html>
<html style="overflow: hidden">
    <head>
        <title>CodeMirror Example : Full screen editor</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="lib/codemirror.css">
        <script src="lib/codemirror.js"></script>
        <script src="mode/javascript/javascript.js"></script>
        <script src="lib/jquery-3.1.1.js"></script>
        <link rel="stylesheet" href="addon/display/fullscreen.css">
        <script src="addon/display/fullscreen.js"></script>
        <style>
        	button,input {
        		margin: 5px;
        	}
        </style>
    </head>
    <body>
        <div id="content-wrapper" style="width: 70%; margin: auto">
            <h2>CodeMirror Example : Full screen editor</h2>           
            <div style="border: 1px solid black">
	            <textarea style="width: 100%; height: 100%" id="code1" name="code1">
	            </textarea>
            </div>
            <input type="file" onchange="loadfile(this)">
            <button onclick="saveFile()">Save</button>
            <button onclick="reload()">Discard changes</button>          
        </div>
        <script>
        	var myFile;
            window.onload = function() {
                initEditor();
            	//$.get("http://localhost:8080/localization-js/uk.knockout-extensions.checkbox.js", function(data, status){
                    //$("#code1").text(data.toString());                    
                //}, "text");       	                                      
            };
            function initEditor() {
	            window.editor = CodeMirror.fromTextArea(code1, {
	                mode: "javascript",
	                lineNumbers: true,
	                lineWrapping: true,
	                extraKeys: {
	                    //key binding for toggle full screen on/off
	                    "F11": function(cm) {
	                        cm.setOption("fullScreen", !cm.getOption("fullScreen"));
	                    },
	                    //key binding for switch full screen off
	                    "Esc": function(cm) {
	                        if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
	                    }
	                }
	            });
            }
            //setTimeout(initEditor, 200);
            function saveFile() {
                var textValue = window.editor.getValue('\n');
                console.log(textValue);
            }
            function reload() {
                if(myFile) loadfile(myFile);
            }
            function loadfile(input){
                myFile = input;
                var reader = new FileReader();
                reader.onload = function(e) {
                    window.editor.setValue(e.target.result);
                }
                reader.readAsText(input.files[0]);
            }                
        </script>
    </body>
</html>