#appType {
	margin-right: 45px;
}

.leftExtend {
	margin-top: 10px;
}

.selectApprover {
	padding-bottom: 0px;
	padding-top: 25px;
}

.approverSelect {
	margin-top: 5px;
}
#swap-list-gridArea2, #swap-list-grid2_displayContainer, #swap-list-grid2_scrollContainer, #swap-list-grid2_container{
	height:160px !important;
}
#swap-list-search-area-input {
	width: 180px !important;
}
table.ntsSwapGrid tbody tr td {
	white-space: nowrap !important;
}
#swap-list-search-area{
	height: 35px !important;
}
.ntsMoveDataArea, #swap-list-move-data,  .move-button, #swap-list-gridArea1{
	vertical-align: top;
	width: 45px !important;
}
#single-tree-grid_scroll, #single-tree-grid_container{
	height:307px !important;
}
.row-search {
	display:none;
}
.settingApprover {
	margin-top: 10px !important;
	height: 300px;
}
.titleSelect {
	width: 320px !important;
}
.nts-searchbbox-wrapper button.search-btn, .nts-searchbbox-wrapper button.clear-btn {
	min-width: 45px;
}
.ntsSearchBox {
	width: 250px !important;
}
.upDown-container {
	padding-left: 10px;
	height: 260px !important;
}
/*fix tam*/
#swap-list-move-data{
	padding-top: 40px !important;
	padding-left: 10px;
	padding-right: 10px;
}
.nts-column {
	width: 150px !important;
}
html{
	overflow:hidden;
}

.titleSelected {
	width: 60px;
}

#typeSetting {
	float: right;
	margin-right: 37px;
}

.swap-btn {
	width: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#prev-next-button {
	width: 75px;
	margin-top: 150px;
	margin-left: 22px !important;
}

#selected-approver {
	margin-left: 23px !important;
}