.w-100 {
  width: calc(100% - 12px);
  margin: 25px 0;
}

.kal012a table {
  margin-left: 5rem;
}

.kal012a table td {
  display: flex;
  align-items: center;
}

.kal012a .caret-inline:after {
  border-width: 1rem;
}

