#contents-area {
    height: 500px;
}

#single-list_virtualContainer {
    margin: 5px 4px 5px 5px;
}

#panel {
    display: inline-block;
    float: left;
    margin: 22px 0px 0px 34px;
}

#contents-area-label {
    margin-left: 10px;
    border-bottom: solid 1px #B1B1B1;
    padding-bottom: 8px;
}

#contents-area-label > span {
    margin-left: 20px;
}

#functions-area-content > button {
    width: 80px;
}

#contents-area-show-data-left, #contents-area-show-data-right {
    float: left;
    clean: right;
    margin-top: 30px;
}

#contents-area-show-data-left {
    margin-left: 35px;
}

#txt-year, #txt-year-error-time, #txt-year-alarm-time {
    width: 70px;
    margin-bottom: 20px;
}

#year-label, #year-error-time-label, #year-alarm-time-label {
    width: 100px;
    margin-bottom: 20px;
}

.control-group-2 {
    margin-bottom: 20px;
}

.control-group-2 .form-label,
.control-group-2 .nts-editor {
    margin-bottom: 0 !important;
}

.time-limit {
    text-align: right;
}

#functions-area button.danger {
    margin-left: 75px;
    margin-right: 0;
}