@CHARSET "UTF-8";



.form-label {
	margin-bottom:15px;
}

.th-col2 {
	/* width: 400px; */
	/* border: none;
	height: 30px; */
	padding-bottom:15px;
}

.switchbox-wrappers .radio-wrapper span {
	width: 80px;
	text-align: center;
}

#switchhelpbtn {
	margin-left: 10px;
}

#B10_2 {
  width: 100px;
}

.switchbox-wrappers {
  display: flex;
}