#content-header {
	position: relative;
	padding: 10px;
	border-bottom: solid 1px #B1B1B1;
}

#D_BTN_001 {
	margin-top: 2px;
	margin-left: 30px;
	width: 90px;
}

#D_BTN_002 {
	margin-left: 15px;
	width: 90px;
}

#SearchBackGround {
	background-color: #E0F59E;
	width: 330px;
	height: 100%;
	border-radius: 5px;
}

#contents-area {
	height: 440px;
}

#D_LBL_001 {
	margin: 10px 0px 0px 25px;
}

.clearBoth {
	clear: both;
}

#D_INP_001 {
	width: 100px;
}

input {
	border-radius: 3px;
	border: solid thin gray;
	height: 25px;
	padding: 1px 0px;
}

#SCH_001 {
	width: 70px;
	height: 40px;
	margin-left: 30px;
}

.D_LST_001 {
	padding: 10px 25px;
}

.D_LST_001_class {
	margin-top: 5px;
    margin-left: 25px;
}

.floatLeft {
	float: left;
}



#D_LBL_002, #D_LBL_003 {
	font-size: 1.3rem;
}

#D_LBL_003 {
	margin-left: 10px;
}

#D_LBL_004 {
	margin-top: 20px;
}

#D_INP_002, #D_INP_003, #D_INP_004, #D_INP_005 {
	display: inline-block;
}

#D_INP_002 input, #D_INP_003 input, #D_INP_004 input, #D_INP_005 input {
	width: 100px;
}

#D_INP_002 input, #D_INP_003 input, #D_INP_004 input, #D_INP_005 input,
	#D_INP_008 input, #D_INP_009 input, #D_INP_010 input, #D_INP_011 input
	{
	height: 29px;
}

#D_INP_007 input {
	height: 18px;
}

#D_LBL_005 {
	margin-left: -10px;
}

#D_INP_006 {
	margin-left: 30px;
	height: 18px;
	width: 166px;
}

#D_INP_007 {
	margin-left: 10px;
}

/* #D_INP_006 input {
	width: 190px;
} */
#D_INP_007 input {
	width: 100px;
}

#D_INP_008 {
	margin-left: 128px;
}

#D_INP_008 input, #D_INP_009 input, #D_INP_010 input, #D_INP_011 input {
	width: 100px;
}

#D_INP_009 {
	width: 100px;
	margin-left: 35px;
}

#D_INP_010, #D_INP_011 {
	width: 100px;
	margin-left: 30px;
}

#D_INP_006, #D_INP_007, #D_INP_008, #D_INP_009, #D_INP_010, #D_INP_011 {
	display: inline-block;
}

.form-label span {
	font-size: 0.8rem;
}

#D_SCH_001 input {
	width: 127px;
	height: 30px;
}

#D_SCH_001 {
	display: inline;
}

#D_LBL_006>label, #D_LBL_007>label, #D_LBL_008>label, #D_LBL_009>label,
	#D_LBL_014>label, #D_LBL_015>label, #D_LBL_016>label {
	line-height: 0px !important;
}

#header {
	display: none;
}

#D_SCH_001 .search-btn {
	width: 70px;
	height: 42px;
}

.fullHeight {
	height: 100%;
}