<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Table Design Importer & Exporter</title>
<link rel="stylesheet" type="text/css" href="main.css">
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" defer></script>
<script type="text/javascript" src="cnv000.js"></script>
</head>

<body>
<h1>Table Design Importer & Exporter</h1>
<table>
	<tr>
		<td><div>import file folder path:</div></td>
		<td style="width:30px;"></td>
		<td><div>export file folder path:</div></td>
	</tr>
	<tr>
		<td>
			<input type="text" id="folderpath_import" style="font-size:80%; width:340px;"/>
			<button id="import">import</button>
		</td>
		<td></td>
		<td>
			<input type="text" id="folderpath_export" style="font-size:80%; width:340px;"/>
			<button id="export">export</button>
		</td>
	</tr>
	<tr>
		<td>
			RDBMS:
			<input type="radio" id="uk_import" name="ddl_type_import" value="uk" checked="checked" style="font-size:80%">UK
			<input type="radio" id="mssql_import" name="ddl_type_import" value="sqlserver" style="font-size:80%">SqlServer
			<input type="radio" id="pg_import" name="ddl_type_import" value="postgres" style="font-size:80%">Postgres
		</td>
		<td></td>
		<td>
			RDBMS:
			<input type="radio" id="uk_export" name="ddl_type_export" value="uk" checked="checked" style="font-size:80%">UK
			<input type="radio" id="mssql_export" name="ddl_type_export" value="sqlserver" style="font-size:80%">SqlServer
			<input type="radio" id="pg_export" name="ddl_type_export" value="postgres" style="font-size:80%">Postgres
		</td>
	</tr>
</table>
<hr />
<textarea id="result" style="font-size:80%; width:800px; height:200px;" disabled></textarea>

</body>
</html>