.nts-searchbbox-wrapper {
	display: inline-block;
}

#treegrid1_container {
	margin-left: 115px;
}

div#grid_container_container.ui-widget.ui-helper-clearfix.ui-corner-all.ui-iggrid.nts-gridlist
	{
	margin: auto !important
}

#combo-box2 {
	vertical-align: middle;
}

#searchButton {
	vertical-align: top;
}

div.control-group-2 {
	margin-left: 55px;
}

.caret-background:not(.deprecate).caret-bottom, .caret-background:not(.deprecate).caret-top, .caret-background:not(.deprecate).caret-left, .caret-background:not(.deprecate).caret-right {
	margin: -20px;
}
