.panel {
	margin: 20px;
	width: 50%;
}

.bottom {
	float: left;'
}

.td-right, .td-left {
	vertical-align: top;
}

.right {
	margin-top: 20px;
}

.C3_2 {
	width: 50px;
}

.label-name {
	width: 199px;
}

.row {
	margin: 10px;
}

.C5, .C6 {
	display: inline-block;
	width: 40%;
}

.C5 {
	margin-right: 8%;
}


.move-button {
	margin: 10px !important;
}

#swap-list_container {
	display: inline-block;
	width: 89%;
}

#up-down {
	display: inline-block;
	width: 1%;
}

.C1_4 {
	margin-left: 10px;
}

.C7_13 {
	text-align: right;
	width: 93% !important;
}

.C8 {
	width: 80%;
	display:flex;
}

.check-box-list {
	/* width: 90%; */
	float: right;
}

.check-box-list > ul {
	columns: 4;
}

.td-right {
	width: 800px;
}

.nts-switch-button {
	width: 80px;
}

.check-box-list li.style-normal {
	padding-top: 1px;
	padding-bottom: 2px
}

/* popup error of kiban team show fail position --> override css */
#func-notifier-errors {
    top: 60px !important;
    left: 56px !important;
}

#save {
	margin-left: 10px;
	margin-right: 10px;
}

#delete {
	margin-left: 40px;
	margin-right: 10px;
}

.btn-control {
	width: 70px;
}

.remarkInput {
    outline: none;
    margin-top: 30px;
}

.c8_2{
	margin-left: 10px;
    margin-top: 15px;    
    display: flex;
    flex-direction: column;
}