@CHARSET "UTF-8";

.description-top {
	margin-top: 20px;
	white-space: pre-line;
	text-align: center;
}

.companyInfo {
	margin-left: 80px;
	margin-top: 50px;
}

.checkSetting {
	margin-top: 10px;
	margin-left: 45px;
}

.imageSettings {
	float: right;
	margin-right: 10%;
	margin-top: 15px;
	text-align: center;
	position: initial;
}