.div-line {
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
}
.column-label {
  width: 150px;
}
.column-value {
  width: 120px;
}
.menu-list {
  margin-left: 20px;
  margin-bottom: 10px;
}
.system-list {
  margin-left: 120px;
  margin-bottom: 20px;
}
#F2_1 {
  margin-right: 20px;
}
