/* #button1{
    display: inline-block;
    width: 70px;
    margin-left: 15px;
}
#button2{
    width: 70px;
    margin: 0px 0px 0px 88px;
} */
/* #buttonArea{
	border-top: solid 1px #B1B1B1;
    margin: 60px 20px 20px 0px;
    padding: 20px 20px 20px;
} */
#simpleList{
	margin-left: 28px;
}
#label1{
	margin-left: 28px;
	width: 300px;
}

#swap-list col[data-role='rs'] {
	width: 38px !important;
}

#swap-list .ui-icon-triangle-1-e {
	margin-top: 1px;
}