.tabpanel-1-contents-area-right-screen-c {
	width: 400px;
	margin-left: 40px;
	margin-top: 10px;
}

.table-basic-setting-list-td-label {
	background-color: #F7EFD4 !important;
}

.table-basic-setting-list {
	width: 400px;
}

.table-basic-setting-list, th, td {
	border: 1px solid gray;
}

.time-editor-custom-width {
	width: 75px !important;
	margin: 5px !important;
}
.table-basic-setting-list th {
	height: 35px;
}
