#LBL_002{
	margin-left: 50px;
}
#LBL_003{
	margin-left: 15px;
	margin-right: 10px;
}


.selectStyle{
	display: flex;
	margin-left: 30px;
}
.caution{
	margin-left: 30px;
	background-color: #FAEBD7;
	padding: 5px;
}
#LBL_008{
	margin-left: 30px;
}
#INP_001{
	width: 70px !important;
	padding-left: 0px !important;
}

.bottomStype{
	margin-top: 20px;
	margin-left: 150px;
}
#BTN_001{
	margin-right: 20px;
}
#header{
	display: none;
}
#SEL_001{
	width: 150px;
}