#contents-area {
	height: auto !important;
}

#contents-area .swap-list-updown-contaier>div {
	display: inline-block;
}

.form-group {
	margin-bottom: 15px;
}

.form-group.two-cols>div:nth-child(2) {
	margin-left: 140px;
}

.nts-searchbbox-wrapper {
	margin-bottom: 0;
}

#swap-list-search-area-input {
	width: 150px !important;
}

label.ntsControl.limited-label {
    width: 400px;
}

div.form-label.required {
    margin-left: 10px;
	margin-right: 10px;
}
.valign-center.control-group{
	height: 45px;
    width: 100%;
    border-bottom: solid 1px #B1B1B1;
}