
#master-wrapper div#contents-area.kwr-007c {
  padding: 30px;
}

.kwr-007c .d-flex {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.kwr-007c .d-flex:first-child {
  margin-bottom: 24px;  
}
.kwr-007c .d-flex > div {  
  width: 120px;
}
.kwr-007c .d-flex .form-label {
  margin-right: 16px;
  min-width: 120px;
  width: 180px;
}
.kwr-007c .d-flex .code {
  width: 20px;
  margin-right: 5px;
}
.kwr-007c .d-flex .textEditor {
  display: flex;
  align-items: center;
  width: auto;
}
.kwr-007c .d-flex:first-child .textEditor div {
  padding: 5px 7px;
  text-align: center;
}
.kwr-007c .d-flex:first-child .textEditor div:last-child {
  text-align: left;
}
