.kaf011 button.nts-switch-button{width:92px}
.kaf011 .remainInfor .remainLable{display:inline-block;vertical-align:top;color:red;min-width:115px}
.kaf011 .remainInfor .remainNumber{display:inline-block}
.kaf011 table.table td, table.table th{border:1px solid #000;text-align:center;height:25px;padding:0 10px}
.kaf011 .application{margin-top: 9px;max-width:800px; margin-bottom: -16px;}
.kaf011 .application2{margin-top:10px;max-width:800px; margin-bottom: 24px;}
.kaf011 .application .name{margin-left:10px}
.kaf011 .application .ruleLine{border-bottom:1px solid #999;margin:10px 0; margin-bottom: 12px; margin-top: 9px;}
.kaf011 .application2 .name{margin-left:10px}
.kaf011 .application2 .ruleLine{border-bottom:1px solid #999;margin:10px 0; margin-bottom: 12px; margin-top: 8px;}
.kaf011 .application2 .ruleLineHoliday{border-bottom:1px solid #999;margin:10px 0; margin-bottom: 12px; margin-top: 6px;}
.kaf011 .row{min-height:47px; margin-bottom: -4px}
.kaf011 .application .row div{vertical-align:top}
.kaf011 .application2 .row div{vertical-align:top}
.kaf011 .row>div:nth-child(1){min-width:115px}
.kaf011 .application .row.tableRelase table{margin:10px 0; margin-top: 10px}
.kaf011 .application .inputTime{width:70px}
.kaf011 .application2 .row.tableRelase table{margin:10px 0}
.kaf011 .application2 .inputTime{width:70px}
.kaf011 .holidaySetting{margin-left:40px; margin-top: 0px;}
.kaf011 .application .comment{margin-bottom: 19px;margin-top: -7px;}
.kaf011 .application2 .comment{margin-top: -7px;}

.kaf011 .dailogC{margin: 10px;}
.kaf011 .dailogC .row>div:nth-child(1){min-width:100px; vertical-align: top;}
.kaf011 .ntsLabelCustome {padding-right: 0px !important; width: 120px}
.kaf011 .marginNag {margin-left: -4px}

#switchButton label.radio-wrapper span {
	width: 97px;
    text-align: center;
}