@CHARSET "UTF-8";

.sidebar-html #master-content {
	height: calc(100% - 93px) !important;
}

hr {
	margin-bottom: 16px;
}

#monthdays {
	margin: -105px 304px;
    float: left;
}

#radio {
	margin-top: -31px;
	margin-left: 182px;
	padding: 5px !important;
	width: 278px;
}

table.data-items thead {
	background-color: #c7f391;
}

table.data-items tr {
	height: 32px;
}

table.data-items td {
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	padding: 4px 16px;
    text-align: center;
}

table.data-items thead, table.data-items tbody {
	display: block;
}

table.data-items tbody {
	height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #CCC;
}

table.data-items tr td:first-child{
	background-color: #c7f391;
}

.screen-b{
    padding: 0 40px 0px 40px;
}

.title {
    padding-right: 120px !important;
}

.hidden-right-border{
    border-right-style: hidden;
}

.setting-title{
	float: left;
	width: -webkit-fill-available;
    padding: 15px 0px;
}

.help-button{
	float: right;
	margin: -40px 0px;
}