div[class^=screen-h] {
	padding-top: 30px;
	padding-left: 30px;
}

#contents-area {
	height: auto !important;
}

.contents-area {
    padding: 20px 10px !important;
}

.screen-h .panel.ntsPanel {
	margin-right: 35px;
}

.screen-h .infomation,
.screen-h .panel.ntsPanel {
	float: left;
	display: block;
}

.screen-h .controls-group {
	padding-left: 30px;
}

.screen-h .form-group {
	margin-bottom: 10px;
}

.screen-h #tree-grid{
	width: 500px;
	float: left;
	margin-right: 30px; 
}

.screen-h .ntsSearchBox {
	min-width: 300px;
}

.contents-area{
	padding: 20px;
}

.left-contents{
	float: left;
    padding-left: 10px;
}

.base-date-inputs{
	float: left;
    width: 270px;
}

table.form-input-tbl {
	width: 630px;
}

.form-input-tbl tr{
	height: 20px;
}

.form-input-tbl td{
	vertical-align: top;
	width: 155px;
}

label.ntsRadioBox {
    height: 32px;
}

.input-code{
	width: 18px;
}

.left-text-header{
    float: left;
}

.left-help-btn{
    margin: -5px 15px;
    float: right;
}

hr.nav{
    margin: 35px 0px;
}

table.data-setting-time{
    margin-top: -15px;
}

table.data-setting-time thead {
	background-color: #c7f391;
}

table.data-setting-time tr {
	height: 32px;
}

table.data-setting-time td {
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	padding: 4px 16px;
    text-align: center;
}

table.data-setting-time thead, table.data-setting-time tbody {
	display: block;
}

table.data-setting-time tbody {
	height: 280px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #CCC;
}

table.data-setting-time tr td:first-child{
	background-color: #c7f391;
}

.bot-form {
    float: left;
    width: 760px;
    padding-top: 62px;
}

#monthdays {
	margin: -100px 140px;
}