#functions-area {
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#lblCode {
	padding-right: 20px;
}
#tbl-health-insuarance {
	max-width: 100%;
	border: none;
}
.border_none {
	border: none;
}
.no_left_border {
	border-left: none;
}

.no_right_border {
	border-right: none;
}

.no_top_border {
	border-top: none;
}

.no_bottom_border {
	border-bottom: none;
}
table, td, th {
	border: 1px solid black;
}
.text_center {
	text-align: center;
}
.footer td {
	border: none;
	padding-left: 600px;
	padding-top: 10px;
}
.btn-close {
	margin-left: 100px;
}
.inp-money input {
	max-width: 100px;
}