@CHARSET "UTF-8";

.kcpccg {
	margin-top: 15px;
	width: 550px;
	margin-left: 15px;
}

.endAction{
	margin-top: 20px;
}

.btnAction{
	width: 100px;
}

.beginAction{
	margin-top: 20px;
}

.labelccg {
	margin-top: 15px;
	margin-left: 15px;
}