#role {
	margin-left: 15px;
	margin-top: 5px;
}

#category {
	margin-left: 10px;
	width: 340px;
}

#search {
	margin-left: 5px;
}

input.ntsSearchBox {
	width: 180px !important;
	margin-left: 3px;
	margin-top: 10px;
}

button.search-btn, button.clear-btn {
	margin-top: 10px;
	width: 30px !important;
}

#registration {
	margin-left: 100px !important;
	margin-right: 5px;
}

.distane {
	margin-bottom: 5px;
}

#grid_container {
	margin-left: 12px !important;
	width: 300px !important;
}

#grid {
	height: initial !important;
	width: 300px;
}

.ui-widget-header {
	border: none;
	background: none;
}

.ui-iggrid .ui-iggrid-toolbar .ui-iggrid-results {
	margin-right: 85px;
	padding-right: 0px;
}

.ui-iggrid table tr td, .ui-iggrid table tr td.ui-iggrid-header,
	.ui-iggrid table tr td.ui-state-hover, .ui-iggrid table tr td.ui-state-active,
	.ui-iggrid table tr td.ui-state-focus, .ui-iggrid table tr td.ui-state-active.ui-state-focus,
	.ui-iggrid table tr th, .ui-iggrid table tr th.ui-iggrid-header,
	.ui-iggrid table tr th.ui-state-hover, .ui-iggrid table tr th.ui-state-active,
	.ui-iggrid table tr th.ui-state-focus, .ui-iggrid table tr th.ui-state-active.ui-state-focus
	{
	border: 1px solid rgba(25, 24, 24, 0.26);
}

.ui-iggrid table tr td {
	height: 35px !important;
}

#functions-area {
	border-bottom: none !important;
}