
.custom-class {
    padding: 5px 15px 15px 15px;
}
.class-padding-btm-5{
    padding-bottom: 5px;
}

.width-180{
    width: 180px;
}
.custom-header{
    padding-bottom: 15px;
}
.panel.ntsPanel {
    padding: 15px;
}
.label.warning.color-black {
    background-color: #f7efd4;
    border: 1px solid #B1B1B1;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 2rem;
    padding-left: 10px;
    margin-bottom: 5px;
    color: black;
}