<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
<h1>Table Design Importer</h1>
<table>
	<tr>
		<td colspan=3><div>Table Name:</div></td>
	</tr>
	<tr>
		<td>
			<input type="text" id="tablename" style="font-size:80%; width:340px;" />
			<button id="view">view</button>
		</td>
		<td />
		<td style="text-align:center">
			<button id="import" style="width:100px;">import</button>
		</td>
	</tr>
	<tr>
		<td>
			DBMS:
			<input type="radio" id="mssql" name="type" value="sqlserver" checked="checked" style="font-size:80%">SqlServer
			<input type="radio" id="pg" name="type" value="postgres" style="font-size:80%">Postgres
		</td>
	</tr>
	<tr>
		<td style="width:400px">
			<div>Table Design:</div>
			<textarea id="tabledesign" style="font-size:80%; width:100%; height:485px;" spellcheck="false" readonly></textarea>
		</td>
		<td></td>
		<td style="width:400px">
			<div>Create Table SQL:</div>
			<textarea id="createtablesql" style="font-size:80%; width:100%; height:359px;" spellcheck="false"></textarea>
			<div>Create Index SQL:</div>
			<textarea id="createindexsql" style="font-size:80%; width:100%; height:100px;" spellcheck="false"></textarea>
		</td>
	</tr>
</table>
<hr />
<textarea id="result" style="font-size:80%; width:800px; height:200px;" disabled></textarea>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script>
var server = "http://" + location.host;
var ajaxOption = {
	type: "POST",
	contentType: "application/json",
	dataType: "json",
	
	build: function (path, data) {
		this.dataType = "json";
		return $.extend({url:server + path, data: JSON.stringify(data)}, this);
	},
	build: function (path, dataType, data) {
		this.dataType = dataType;
		return $.extend({url:server + path, data: JSON.stringify(data)}, this);
	}
};
$(function () {	
	$("#import").click(function () {
		$.ajax(ajaxOption.build("/nts.uk.cnv.web/webapi/cnv/tabledesign/import", {
			createTableSql: $('#createtablesql').val(),
			createIndexSql: $('#createindexsql').val()
		})).done(function (res) {
			console.log(res);
			$('#result').val('処理が完了しました。' + res.message);
		}).fail(function(rej){
			console.log(rej);
			$('#result').val('処理は異常終了しました。' + rej.responseStatus + rej.stackTrace);
		});
	});
});
$(function () {	
	$("#view").click(function () {
		$('#tabledesign').val('');
		$.ajax(ajaxOption.build("/nts.uk.cnv.web/webapi/cnv/tabledesign/exportddl", "text", {
			tableName: $('#tablename').val(),
			type: $('[name="type"]:checked').val()
		})).done(function (res) {
			console.log(res);
			$('#tabledesign').val(res);
			if (typeof res.message === "undefined") {
				$('#result').val('処理が完了しました。');
			}
			else {
				$('#result').val('処理が完了しました。' + res.message);
			}
		}).fail(function(rej){
			console.log(rej);
			if (typeof rej.responseStatus === "undefined" || typeof rej.stackTrace === "undefined") {
				$('#result').val('処理は異常終了しました。');
			}
			else {
				$('#result').val('処理は異常終了しました。' + rej.responseStatus + rej.stackTrace);
			}
		});
	});
});
</script>
</body>
</html>