table, td, th {
	border: 1px solid #dddddd;
}

.button-radius {
	border-radius: 50%;
	width: 40px; 
	height: 40px; 
	font-size: 20px; 
	text-align: center;
	border: 1px solid black;
	box-shadow: none;
	transition: transform 2s;
  	position: relative;
  	margin: 0;
  	padding-top: -5px !important;
}

.button-radius:hover:enabled {
   background-color: #A4EEB0;
}

.kmr002-table tbody {
  display: block;
  height: 520px;
  overflow-y: scroll;
}

.kmr002-table thead, .kmr002-table tbody tr, .kmr002-table tfoot {
  display: table;
  table-layout: fixed;
}