table, th {
    border-top: 0.5px solid grey;
    border-bottom: 0.5px solid grey;
    border-right: 0.5px solid grey;
    border-left: 0.5px solid grey;
}
th, td {
    padding: 5px;
}
td {
    border-top: 0.5px solid grey;
    border-left: 0.5px solid grey;
}
.div-table {
    display:block;
    height:420px;
    overflow:auto;
}
.selected { background-color: #CEE6FF; }
td.border-custom { 
	border-top: none;
 }
td.border-custom2 { 
	border-bottom: none;
 }
.caret-bottom.outline {
    width: 5rem;
    height: 1em;
    margin-left: 125px;
    font-size: 2rem;
}