table, th {
    border-top: 0.5px solid grey;
    border-bottom: 0.5px solid grey;
    border-right: 0.5px solid grey;
    border-left: 0.5px solid grey;
}
th, td {
    padding: 5px;
}
td {
    border-top: 0.5px solid grey;
    border-left: 0.5px solid grey;
}
.div-table {
    display: block;
    
    height: 350px;
    margin: 20px;
}
thead, tbody {
	width: 775px;
	display: block;
}
thead {
	height: 100px;
}
thead label {
	font-weight: bold;
}
tbody {
	height: 410px;
	overflow-y: scroll;
    overflow-x: hidden;
}
.selected { background-color: #CEE6FF; }
td.border-custom { 
	border-top: none;
 }
.caret-bottom.outline {
    margin-left: 120px;
    font-size: 30px;
}
.nts-switch-button {
	width: 100px;
}