#D4_6.table-basic-setting-list tbody tr td.table-basic-setting-list-td-label span.nts-editor-wrapped.ntsControl {
	margin-top: 7px;
	margin-bottom: -7px;
}

#D4_3 {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 382px;
}

#D4_4 {
	width: 291px;
}

#D4_5 {
	width: 82px;
}

#D4_16, #D4_25, #D4_30 {
	color: blue;
}