@CHARSET "UTF-8";

.row {
    height: 50px;
}

#single-list-dataSource tr td {
    white-space: nowrap;
}

#content-area{
    width: 1260px;
}

.pad_left_5px{
    padding-left: 5px;
}

.pad_left_10px {
    padding-left: 10px;
}
.nts-switch-button {
	width:80px;

}
#conditionAtr-cbb {width: 10px;}
.table-template td{padding: 3px;}
.display-list-label{width: 139px;}
#compareOperator-cbb{width: 200px;}
.value-input {width: 70px}
.nts-editor-wrapped {display: initial !IMPORTANT;}

.ntsRadioBox {
	margin-right: 0px;
    margin-left: 24px;
}
.ntsRadioBox span.label {
  display: inline-block;
  padding-left: 5px;
}

.tx_radiobox_right {
	text-align:right;
}

.div_radiobox_right {
	float: right;
}
.ntsControl.symbol:after {
  position: absolute;
  content: attr(data-content);
  top: 0px;
  color: #999;
}

table#table-group2condition tbody tr td:nth-child(3n), table#table-group1condition tbody tr td:nth-child(3n) {
    text-align: center !important;
}
table#table-group2conditionmon tbody tr td:nth-child(3n), table#table-group1conditionmon tbody tr td:nth-child(3n) {
    text-align: center !important;
}

#checkCondition *{
	vertical-align: middle;
}
#b1_55{
	padding: 50px, 50px;
}
.btnSettingBA2_2{
	padding-left: 5px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#functions-area-bottom-category9{
	text-align: center!important;
}
#div_check_conditions_ba9 .nts-editor-wrapped.ntsControl.symbol.symbol-right{
	line-height: 25px!important; 
	width: auto !important;
}
.pad_left_678px{
    padding-left: 5px;
}
.pad_left_678px .nts-editor-wrapped.ntsControl.symbol.symbol-right{
	line-height: 25px!important; 
}
