@CHARSET "UTF-8";

.contents {
	margin-top: 20px;
	margin-left: 20px;
}

.contentkcp005 {
	margin-top: 40px;
	margin-left: 100px;
}

.contentDetail {
	margin-top: 40px;
	margin-left: 40px;
}

.lableData {
	width: 125px;
}
#list-box_grid_displayContainer {
	height: 110px !important;
}
#list-box_grid_scrollContainer {
	height: 110px !important;
}