@CHARSET "UTF-8";

/* Override base */
#header {display: none;}
#functions-area {position:relative; line-height:38px;}
.ui-draggable-dragging {cursor: move;}

.btn-register, .btn-preview, .btn-close {min-width: 75px;}
.btn-register {margin-left: 10px;}
.btn-close {margin-left: 50px;}

.placement-container {position:relative; float:left; width: 960px; height: 640px; overflow:hidden;}
.placement-container.overflow-y {width: 977px; margin-right:5px; overflow-y: scroll;}
.placement-container.overflow-x {height: 657px; margin-bottom:5px; overflow-x: scroll;}

.layout-container
.layout-row {overflow:visible; white-space:nowrap; font-size:0;}
.layout-cell {font-size:14px;font-size:1rem;display:inline-block; position:relative; background-color:#e0e0e0; width:150px; height:150px; margin: 0 10px 10px 0; box-sizing:border-box; border-radius: 10px; cursor: pointer; transition: background 0.1s, box-shadow 0.05s; vertical-align:top; white-space:normal;}
.layout-cell:hover {background-color:#eaeaea;}
.layout-cell:active {box-shadow: 0 0 10px 0 rgba(0,0,0,0.4) inset; }
.layout-cell:before {content: ''; position: absolute; display: inline-block; top: 50%; left: 50%; width: 36px; height: 6px; margin: -3px 0 0 -18px; background-color: #aaa; border-radius: 1px; }
.layout-cell:after {content: ''; position: absolute; display: inline-block; top: 50%; left: 50%; width: 6px; height: 36px; margin: -18px 0 0 -3px; background-color: #aaa; border-radius: 1px; }
.layout-cell:hover:before,
.layout-cell:hover:after {background-color: #a0a0a0;}
.layout-cell.hover {border: 1px dashed #a0a0a0; background-color: transparent;}
.layout-cell.hover:before,
.layout-cell.hover:after {}

.btn-addcolumn {height: 630px;}
.btn-addrow {width: 950px;}