@CHARSET "UTF-8";

/* Override base */
#header {display: none;}
#functions-area {position:relative;}

.ui-draggable-dragging {cursor: move;}

.btn-register, .btn-preview, .btn-close {min-width: 75px;}
.btn-register {margin-left: 10px;}
.btn-close {margin-left: 50px;}

.btn-addcolumn {height: 630px;}
.btn-addrow {width: 950px;}