@CHARSET "UTF-8";

#combo-box {
	margin-left: 20px;
}

.padding-bottom {
	padding-bottom: 5px;
}
.switch-btn-set {
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 1px;
}
#table-container {
	padding-top: 20px;
	padding-left: 20px;
}
.padding-left-35 {
	padding-left: 35px;
}
.description-label {
	padding-bottom: 5px;
	padding-left: 20px;
}
.switch-alone {
	padding-left: 40px;
	padding-bottom: 10px;
}
button.nts-switch-button {
	min-width: 100px;
}