#oViewModel #label, #oViewModel  #combo-box1, #oViewModel  #group-button,
	#oViewModel  #set-work-type {
	float: left;
}

#oViewModel #combo-box1 {
	top: 2px;
	margin-left: 35px
}

#oViewModel #time-edit1 {
	text-align: center !important;
	width: 43px !important;
	margin-left: 16px
}

#oViewModel #time-edit2 {
	text-align: center !important;
	width: 43px !important;
}

#oViewModel #set-work-time {
	float: left;
	margin-top: 2px;
}

#oViewModel .reserved {
	margin-left: 10px;
}

#oViewModel .switchButton-wrapper {
	margin-left: 30px;
}

#oViewModel #combo-box2 {
	top: 9px;
	margin-left: 16px;
	min-width: 516px !important;
}

#oViewModel #combo-box1 {
	min-width: 310px !important;
}

#oViewModel #group-button {
	margin-left: 255px;
}

#oViewModel #group-button>button:last-child {
	width: 20px;
	height: 20px;
}

#oViewModel #spelcial, #oViewModel #time-edit2 {
	margin-left: 10px;
}

#oViewModel #stick-undo {
	margin-right: 190px;
}

#oViewModel .cf1 .nts-switch-button {
	width: 114px !important;
}