#label, #combo-box1, #group-button, #set-work-type {
	float: left;
}

#combo-box1 {
	top: 2px;
	margin-left: 20px
}

#time-edit1 {
	text-align: center !important;
	width: 43px !important;
	margin-left: 16px
}

#time-edit2 {
	text-align: center !important;
	width: 43px !important;
}

#set-work-time {
	float: left;
	margin-top: 10px;
}

.reserved {
	margin-left: 10px;
}

.switchButton-wrapper {
	margin-left: 30px;
}

#combo-box2 {
	top: 9px;
	margin-left: 30px;
	min-width: 516px !important;
}

#combo-box1 {
	min-width: 335px !important;
}

#group-button {
	margin-left: 240px;
}

#group-button>button:last-child {
	width: 20px;
	top: -11px;
	height: 20px;
}

#group-button>* {
	top: -6px
}

#spelcial, #time-edit2 {
	margin-left: 10px;
}

#undo-button {
	margin-right: 150px;
}

.cf1 .nts-switch-button {
	width: 96px !important;
}