.krm001-a-button-link {
	min-width: 200px;
}

.arrow-right {
	width: 0;
	height: 0;
	left: 200px;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 35px solid green;
}
button.x-large {
	width: 130px;
}
