@CHARSET "UTF-8";

.contents-left, .contents-right {
	padding: 20px;
	vertical-align: top !important;
	min-width: 100px;
}

.contents-left {
	padding-left: 10px;
	padding-right: 10px;
}

.contents-right {
	padding-left: 20px !important;
	width: 300px;
}

#target-YM {
	padding-left: 20px !important;
}

#closure-content {
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
}

.icon-style {
	background:
		url('../a/images/2.png');
	width: 17px;
	height: 17px;
	background-size: 17px 17px;
	margin-left: 46px;
}

#functions-area-bottom {
  position: fixed !important;
  bottom: 0px;
}