@CHARSET "UTF-8";

.contentDialog {
	margin-top: 15px;
	margin-left: 15px;
}

.bg-dark-green {
	background-color: #C7F391;
}
.overtime-border td {
	border: solid grey 1px;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	min-width: 30px;
	max-width: 250px;
}
.overtime-border td:nth-child(3) span {
	width: auto !important;
}
.overtime-border .bg-dark-green td {
	text-align: center;
}
.overtime-border input {
	width: 150px;
}
.overtime-border td:nth-child(3) input {
	width: 50px !important;
	text-align: right;
	margin-right: 5px;
}
/*.tbOvertime {*/
	/*margin-top: 20px;*/
/*}*/

#master-wrapper {
	height: auto;
}