.control-group.valign-center > * { vertical-align: middle; }
.control-group.valign-top > * { vertical-align: top; }
.control-group.valign-bottom > * { vertical-align: bottom; }

#dialogLabel {
	margin-top: 20px;
	margin-left: 40px;
	margin-bottom: 20px;
}
#dialogLabel > * {
	font-size: large;
}
.column1 { 
	width: 170px;
	padding-left: 30px; 
}
.column1 > * {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}
.column1 > div:FIRST-CHILD { margin-left: 35px; }
.column1 span { font-size: large; }
img {
	position: absolute;
    width: 200px;
    height: 180px;
}
.column2 { width: 30px; }
.column3 > * { 
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 35px;
}
.column3 > div:FIRST-CHILD { margin-left: 20px; }
.column3 span { font-size: large; }

#contents-area {
	padding: 0px !important;
}
