#left-content {
	float: left;
	padding: 20px;
}

#right-content {
	float: left;
	padding: 0px 20px 20px 20px;
    margin-left: 25px;
}

#list-data {
	float: left;
}

.table_content td {
	padding-top: 20px;
}