#contents-area .header{border-bottom: 1px #000 solid; padding: 20px 0 10px 30px;}
#contents-area .start{width: 320px; float: left; padding: 30px 0 0 40px;}
#contents-area .end{width: 320px; float: left; padding: 30px 0 0 30px;}
#contents-area .day{margin: 30px 0 45px 25px;}
#contents-area .day .input-box{height: 25px; width: 50px; text-align: center; margin-left: 19px;}

#contents-area .month{margin: 50px 0 45px 25px;}
#contents-area .month input[type="radio"]{position: relative; top: -10px;}
#contents-area .month .ui-corner-all{border-radius: 0;}
#contents-area .month .combo-box{width: 100px;}
#contents-area .month .label{position: relative; top: -9px;}

#contents-area .centerSys{float: left; width: 0; position: relative; top: 130px; left: -30px;}

/* #contents-area .rowFirst{margin: 35px 0 40px 0;}
#contents-area #combo-box{width: 100px; margin: 0 55px 0 45px;}
#contents-area #radio-box .ntsRadioBox{margin: 0 17px 0 15px}
#contents-area #radio-box .ntsRadioBox .box{border-color: #000; width: 13px; height: 13px;}
#contents-area #radio-box .ntsRadioBox .box:AFTER {background: #000;width: 13px;height: 13px;top: -2px;left: -2px;}
#contents-area .rowSecond button{box-shadow: none;border-radius: 0;margin: 0;background: #2f2b2b3b;}
#contents-area .rowSecond .input-box{width: 110px;margin-left: -6px;border-radius: 0;height: 18px;margin-top: -1px;}
#contents-area #combo-box2{margin: 0 20px;}
#contents-area .ui-state-default{border-color:#999999;}
#functions-area-bottom button{left:-204px;top:10px}
#functions-area-bottom button:nth-child(2){left:-140px;} */