/* style */
#A1_1 tr:nth-child(1) {
	border-top: 3px solid #CCC;
}

table tr {
	height: 37px;
}

table th, td {
	padding-left: 20px !important;
}

.dipsRed {
	color: red;
}

#A1_1 {
  border-collapse: collapse;
}