.ksu-002a {
    width: 800px;
}

#functions-area .ksu-002a {
    padding-left: 5px;
}

.ksu-002a .btn-right {
    float: right;
}

.ksu-002a .title-date {
	display: block;
	float: left;
}

.ksu-002a .title-date+.btn-guide {
	float: left;
    margin-left: 5px;
    margin-top: 13px;
    width: 40px;
    height: 28px;
}