#left-content {
	padding: 27px 0px 0px 10px;
	float: left;
	background-color: #E0F59E;
	width: 240px;
    height: 410px;
    margin-top: 40px;
	border-radius: 7px;
    box-sizing: border-box;
}

#right-content {
	margin-left: 40px;
	float: left;
	margin-top: 13px;
}
.container{
	width: 1320px !important;
	
}
#check-condition-text{
	width: 890px;
	margin-bottom: 10px;
	display: inline-block;
}

#select-text{
	float: left;
    border-bottom: 1px solid;
    width: 390px;
    padding-bottom: 3px;
}
#selected-text{
	float: right;
    margin-right: 15px;
    border-bottom: 1px solid;
    width: 390px;
    padding-bottom: 3px;
}
