.wrap-content {
	padding: 40px;
}

#wkp-list {
	display: inline-block;
}

#display-detail {
	display: inline-block;
}

#display-detail .ntsRadioBox {
	display: block !IMPORTANT;
}

#ver27 {
	/* position: absolute; */
	/* height: 40px !important; */
	margin-left: 10px;
	margin-top: 10px;
}


#right-content{
	position: absolute;
	margin-top: 0px !important;
}