.wrap-content {
	padding: 40px;
}

#wkp-list {
	display: inline-block;
}

#display-detail {
	display: inline-block;
	position: absolute;
}

#display-detail .ntsRadioBox {
	display: block !IMPORTANT;
}