#kaf007-share {
	margin-top: 5px;
	margin-bottom: 5px;
}

#kaf007-share .col-1 {
	width: 120px;
}

#kaf007-share .col-2 {
	padding-left: 55px;
}

#kaf007-share .col-3 {
	width: 200px;
}

#kaf007-share .inputTime {
	width: 80px;
}