
.custom-table {
    width: 100%;
    margin-left: 15px;
}

.first-col {
    width: 13%;
}

.second-col {
    width: 15%;
}

#C1_4 {
    /*margin-left: 32px;*/
}

.top {
    top: -4px;
}

.third-col {
    width: 20%;
}