#contents-area {
	margin: 20px;
}
#master-wrapper {
    overflow: hidden;
}
div.form-label {
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
    width: 90px;
    border-style: solid;
    border-color: #97D155;
    border-width: 0 0 0 5px;
    padding: 0 10px 0 8px;
    margin:10px 5px 20px 50px;
}


div.label {
    width: 100%;
}

.label {
    display: inline-block;
    box-sizing: border-box;
}

.form-label lable {
	text-align: justify;
}

.title_content {
	margin-bottom: 30px;
}

.title_content_left{
	float:left;
}

.title_content_right{
	width:100px;
	float:right;
	
}

.nts_dataTypes {
	margin-left: 50px;
    width: 200px;
}


.clear {
	clear: both;
}
td{
	margin:5px 5px 10px 10px;
	height: 20px;
}

.td_center {
	width: 50px;
	text-align: center;
}

.td_center_sp {
		width: 35px;
}

.td_right {
	padding-left: 5px;	
}

.td_left {
	width: 120px;	
}

tr{
	margin-bottom: 10px;
	width: auto;
}

.checkbox_bottom {
	margin-left: 46px;
}

button.x-large {
    font-size: 22px;
    padding: 6px 35px;
    background-color: #A4EEB0;
    margin-bottom: 5px;
    height: 45px;
    box-shadow: 0 5px #999;
}

button.large {
    font-size: 15px;
    padding: 4px 10px;
    margin-bottom: 4px;
    height: 34px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.4);
}

