.control-group.valign-center > * { vertical-align: middle; }
.control-group.valign-top > * { vertical-align: top; }
.control-group.valign-bottom > * { vertical-align: bottom; }
.control-group { margin: 10px; }
.halign-left { text-align: left; }
.halign-right { text-align: right; }
.halign-center { text-align: center; }
.bg-green {background-color: #E0F59E;}

#head-label {
	margin-left: 20px;
}

.table {
	margin: 10px;
}

.formula {
	height: 70px;
}

.column1 {
	width: 200px;
	padding-left: 30px;
}
 
 .sub {
 	margin-left: 50px;
 }
 
button.nts-switch-button selected, button.nts-switch-button  {
	height: 30px;
	width: 165px;
	margin-left: 0px;
	margin-right: 0px;
}

#combo-box {
	width: 100px;
}

.ui-igcombo-button, .ui-igcombo-field, .ui-igcombo-fieldholder {
	background-color: #c5c5c5;
}

.ui-igcombo-field {
	text-align: center;
}

input {
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

button {
	margin-left: 5px;
	margin-right: 5px;
}

.short-button {
	width: 70px;
}

.division {
	width: 1000px;
	margin-left: 30px;
}

.formula-division {
	border-color: black;
	width: 300px;
}

#item-inp {
	margin-top: 10px;
}
 