.tab_8_round_setting {
	overflow: hidden;
}

.tab_8_radio_setting {
    margin-top: 10px;
}

.tab_8_radio_cell {
	width: 255px;
}

.official-setting-tab-content {
	width: 620px !important;
}

.personal-setting-tab-content {
	width: 630px !important;
}

#A33_40 {
  width: 110px;
}

#A33_41 > label {
  width: 100% !important;
}

#workTimeGoOutSetTabPanel {
  width: 670px !important;
}