.tab_8_round_setting {
	width: 300px;
	display: inline-block;
	overflow: hidden;
}

.tab_8_radio_setting {
    margin-top: 10px;
}

.tab_8_radio_cell {
	width: 225px;
}

.official-setting-tab-content {
	width: 620px !important;
}