.tab_8_round_setting {
	width: 300px;
	display: inline-block;
	overflow: hidden;
}

.tab_8_radio_setting {
    margin-top: 10px;
}

.tab_8_radio_cell {
	width: 255px;
}

.personal-setting-tab-content {
	width: 630px !important;
}

#workTimeGoOutSetTabPanel {
  width: 670px !important;
}