#I_LBL_003 {background-color: rgba(253, 159, 159, 0.44); height: 25px ; width: 25px ; float: left; margin : 5px 0px 0px 150px ;   }
#I_LBL_001 {float: left; font-size:1.4rem;}
#I_LBL_002 { margin : 15px 0px 0px 200px; }
#I_LBL_004 {margin-top: 150px }
#single-list_scrollContainer {height: 450px;}
#I_BTN_001 {margin: 350px 0px 0px 300px;}

}