.img-link {
	position: absolute;
	top: 5%;
	width: 100% !important;
	left: 0%;
}

.text-button {
	position: absolute;
	bottom: -5%;
	width: 100%;
	left: 0%;
}

.td-button {
	padding-left: 3px;
	padding-top: 5px;
}

.button {
	border-radius: 5px;
}

.stamp-rec-btn {
	height: 100%;
	width: 100%;
}

.btn1, .btn2 {
	height: 189px;
	width: 230px;
}

.btn1 img, .btn2 img {
	margin: 20px 0 0;
}

.btn3, .btn4, .btn5, .btn6 {
	height: 80px;
	width: 230px;
	margin-top: 3px;
}
.table2 .btn-name {
	margin-top: 5px;
	height: 84px;
	text-align: left;
	font-size: 18px;
}

.table2 div.label{
	width: 146px;
    margin-top: 24px;
    vertical-align: top;
    text-align: center;
    word-break: break-word;
}

.table2 img {
	text-align: left;	
}

.btn3 div, .btn4 div, .btn5 div, .btn6 div {
	margin-top: -4px;
}

.btn3 img, .btn4 img, .btn5 img, .btn6 img {
	margin-top: 6px;
}

.btn2, .btn4, .btn6 {
	margin-left: 15px;
}

.btn5, .btn3, .btn1 {
	margin-left: 5px;
}

.stamp-square-btn {
	width: 100px;
	height: 100px;
}

.btn_2, .btn_3, .btn_4 {
	margin-top: 18px;
	margin-left: 5px;
}

.btn_6, .btn_7, .btn_8 {
	margin-top: 20px;
	margin-left: 5px;
}

.btn_1 {
	margin-top: 18px;
	margin-left: 33px;
}

.btn_5 {
	margin-left: 33px;
	margin-top: 20px;
}

.btn-grid-container {
	width: 68vmin;
	margin: 0 auto;
}

.stamp-rec-btn-container {
	height: 10vmin;
	width: 33vmin;
	margin: 0.5vmin;
	font-size: 4vmin;
}

.btn-pos-1, .btn-pos-2 {
	height: 20vmin;
}

#stamp-input {
	width: 540px;
}

#stamp-info {
	min-width: 37vmin;
}

#stamp-desc {
	height: 73px;
	width: 73vmin;
	font-size: 1.5vmin;
	padding: 0 0 0 0.5vmin;
	word-break: break-word;
	word-wrap: break-word;
}

#stamp-header {
	padding-bottom: 10px;
	position: relative;
	overflow: hidden;
}

#stamp-header #stamp-date {
	padding: 5px 0;
	text-align: center;
}

#stamp-header #stamp-time {
	padding: 5px 0;
	margin-top: 10px;
	text-align: center;
}

#stamp-header #stamp-date #stamp-date-text {
	font-size: 5vmin !important;
}

#stamp-header #stamp-time #stamp-time-text {
	font-size: 10vmin !important;
}

#stamp-header .button-group {
	position: absolute;
	right: 0;
	bottom: 10px;
	padding: 0 5px 5px 0;
	text-align: right;
}

#stamp-header .button-group .btn-setting {
	height: 38px;
	width: 38px;
	border: 0;
	margin: 0;
	margin-bottom: 35px;
	box-shadow: none;
	background-size: auto;
	background-color: transparent;
}


.tab-button-panel .tabs-panel.no-content {
	width: 100%;
}


#tab-button-group .ui-tabs-panel {
	padding: 10px;
	box-sizing: border-box;
}

.tab-button-panel .grid-container {
	padding: 0 10px;
	box-sizing: border-box;
	padding-bottom: 5px;
}

.tab-button-panel .grid-container>div:not(:first-child) {
	margin-top: 10px;
}

.tab-button-panel .grid-container>div>button {
	width: calc((100% - 10px) / 2);
	height: 100%;
	box-sizing: border-box;
	display: block;
}


.tab-button-panel .grid-container>div>button {
	float: left;
}

.tab-button-panel .grid-container>div>button:not(:first-child) {
	margin-left: 10px;
}

.tab-button-panel .grid-container.btn-layout-type-0>div:nth-child(1)>button>i {
	width: 120px !important;
	height: 120px !important;
}

.tab-button-panel .grid-container.btn-layout-type-1>div>button>i {
	width: 68px !important;
	height: 68px !important;
}

.tab-button-panel .grid-container.btn-layout-type-0>div>button>div,
.tab-button-panel .grid-container.btn-layout-type-1>div>button>div {
	font-size: 20px;
}

.tab-button-panel .grid-container.btn-layout-type-0>div:first-child {
	height: 220px;
}

.tab-button-panel .grid-container.btn-layout-type-1>div,
.tab-button-panel .grid-container.btn-layout-type-0>div:not(:first-child) {
	height: 110px;
}

.tab-button-panel .grid-container.btn-layout-type-1>div>button {
	text-align: left;
	border-radius: 5px;
	box-shadow: 2px 2px 6px #808080;
    border-width: 0;
}

.tab-button-panel .grid-container.btn-layout-type-0>div>button {
	border-radius: 5px;
	box-shadow: 2px 2px 6px #808080;
    border-width: 0;
}

.tab-button-panel .grid-container.btn-layout-type-1>div>button>i {
	float: left;
	display: block;
	margin-top: 21px;
}

.tab-button-panel .grid-container.btn-layout-type-1>div>button>div {
	padding-left: 10px;
	text-align: center;
	line-height: 111px;
}

.stamp-square-btn-container {
	width: 15vmin;
	height: 15vmin;
	margin: 1vmin;
	font-size: 2.5vmin;
}

.square-container {
	width: 68vmin;
	padding: 4vmin 0vmin 4vmin 0vmin;
}

.button-group .btn-company {
	font-size: 1.7vmin;
    padding: 0.7vmin;
    height: auto;
}