.cm-middle {
	vertical-align: middle;
}
#cm-content {
	min-width: 1390px;
    margin-top: 10px;
} 
.cm-content-left {
	min-width: 800px;
	display: inline-block;
	margin-right: 20px;
}
.cm-content-right {
	width: 300px;
    display: inline-block;
    vertical-align: top;
}
.cm-table {
	margin-top: 5px;
	margin-bottom: 5px;
}
.cm-column1 {
	width: 150px;
	vertical-align: top;
}
.cm-column2-kaf002 {
	vertical-align: middle;
}
.cm-panel {
	width: 280px;
    height: 420px;
    margin-top: 10px;
}
.cm-time-editor {
	width: 100px;
}
.cm-memo {
	width: 550px;
	height: 100px;
}
.cm-title-div {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
}

