#contents-area {
  overflow-y: hidden !important;
}

.dynamic-zone {
  height: 210px;
  overflow-y: auto;
  margin-top: 10px;
}

.dynamic-zone > .div-line {
  margin-bottom: 10px;
}

.form-label {
  width: 100px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}