#functions-area .button-group .ntsControl {
	vertical-align: middle;
}

.sidebar-content{
	min-width: 1000px;
}

#sidebar-area{
	width: 150px;
}

#label-title, #stamping-his-label, #date-time-label, #stamp-result-label,
	#highlight-label, #stamp-button {
	margin-top: 20px;
	margin-left: 30px;
}

#correc-label {
	margin-left: 30px;
	margin-top: 30px;
}

#correc-text, #first-color-picker, #second-color-picker,
	#background-color {
	margin-left: 10px;
}


#stamping-his-radio {
	margin-left: 90px;
}

#letter-color {
	margin-left: 84px;
}

#stamp-texts, #text-note {
	margin-left: 32px;
}

#highlight-radio {
	margin-left: 69px;
}

#correc-text-b {
	margin-top: -34px;
	margin-left: 243px;
}

#stamp-texts-note {
	margin-top: -34px;
	margin-left: 212px;
}

#correc-text-b {
	width: 50px;
}

.label-top{
	margin: 10px 30px;
}
.inline-display{
	display: inline-block;
}
.display-none{
	display: none;	
}

.number-input{
	width: 24px;
}

.form-data td{
	height: 50px;
}
.form-data .row-label{
	margin: 10px 10px 0px 30px;
    width: 220px;
}
.form-data .colorpicker{
    margin-left: 10px;
}
.form-data .row-data{
	vertical-align: top;
    margin-top: 10px;
}
.form-data .text-note{
    margin: 0 10px 0 20px;
}
.label-middle{
	margin: 15px 30px 0px;
}
.radio-wrapper .ntsRadioBox{
	margin-right: 15px;
}
.form-data .ntsRadioBox:nth-child(1){
	min-width: 150px;
	margin-right: 0;
}
.margin-left5{
	margin-left: 50px;
}
.margin-left3{
	margin-left: 30px;
}
.option-authent .ntsRadioBox:nth-child(1){
	min-width: 80px;
}
.option-authent .row-data{
	margin-right: 60px;
	margin-top: 14px;
}
.vertical-align-top .nts-editor-wrapped{
	vertical-align: top;
}
.form-data .vertical-align-top .text-note{
    margin: 7px 20px 10px;
}
.radio-wrappers.min-with-120 label:nth-child(1){
	min-width: 80px;
}


/* screen B */
.screenB {
	
}

/* screen C */
.screenC {
	
}

/* screen D */
.screenE .label-top{
	margin: 10px 30px 5px;
}
.screenE .label-middle{
	margin: 10px 30px 0px;
}
.screenE .reason{
	height: 20px;
}
.screenE .reason .row-data{
    margin-left: 272px;
    margin-top: 5px;
}
.screenE .reason .row-data .radio-wrappers {
	margin-left: 20px;
}
.screenE .form-data .reason .ntsRadioBox:nth-child(1){
	min-width: auto;
	margin-right: 15px;
	margin-left: 15px;
}