#sidebar-area{
	width: 150px;
}

#label-title, #stamping-his-label, #date-time-label, #stamp-result-label,
	#highlight-label, #stamp-button {
	margin-top: 20px;
	margin-left: 30px;
}

#correc-label {
	margin-left: 30px;
	margin-top: 30px;
}

#correc-text, #first-color-picker, #second-color-picker,
	#background-color {
	margin-left: 10px;
}


#stamping-his-radio {
	margin-left: 90px;
}

#letter-color {
	margin-left: 84px;
}

#stamp-texts, #text-note {
	margin-left: 32px;
}

#highlight-radio {
	margin-left: 69px;
}

#correc-text-b {
	margin-top: -34px;
	margin-left: 243px;
}

#stamp-texts-note {
	margin-top: -34px;
	margin-left: 212px;
}

#correc-text-b {
	width: 50px;
}

.nts-input{
	width: 24px;
}

.label-top{
	margin: 10px 30px;
}
.form-data .inline-display{
	display: inline-block;
}
.form-data td{
	height: 50px;
}
.form-data .row-label{
	margin: 10px 10px 0px 30px;
    width: 198px;
}
.form-data .colorpicker{
    margin-left: 10px;
}
.form-data .row-data{
	vertical-align: top;
    margin-top: 15px;
}
.form-data .text-note{
    margin: 0 20px;
}
.label-middle{
	margin: 15px 30px 0px;
}
.radio-wrapper .ntsRadioBox{
	margin-right: 15px;
}
.form-data .ntsRadioBox:nth-child(1){
	min-width: 200px;
	margin-right: 0;
}
.margin-left5{
	margin-left: 50px;
}
.option-authent .ntsRadioBox:nth-child(1){
	min-width: 90px;
}
.option-authent .row-data{
	margin-right: 100px;
	margin-top: 14px;
}



/* screen A */
#tabpanel_a{
	
}

/* screen B */
#tabpanel_b{
	
}

/* screen C */
#tabpanel_c{
	
}

/* screen D */
#tabpanel_d{
	
}

/* screen F */
#tabpanel_f{
	
}

