@import url("base.css");

#year-list {
	/* display: inline-block; */
	/* width: 140px; */
	
}

#monthly-list {
	display: inline-block;
	margin-left: 20px;
}

#show-explan, #monthly-list {
	float: left;
}

.basic-settings, #expand-list {
	border: solid grey 1px;
	border-collapse: collapse;
}

.basic-settings:not(:first-child) {
	margin-top: -1px;
	padding-top: -1px;
}

.basic-settings th, .basic-settings td {
	border: solid grey 1px;
	padding: 3px 10px;
	text-align: center;
}

#expand-list th, #expand-list tr> td {
	border: solid grey 1px;
	
	
}

#expand-list th:first-child, #expand-list tr>td:first-child {
	padding: 3px;
}

#expand-list th:not(:first-child), #expand-list tr> td:not(:first-child) {
	padding: 3px 10px;
	min-width: 60px;
	max-width: 100px;
}

#sidebar-area ~ div {
	float: left;
	width: calc(100vw - 140px);
}

#right-layout {
	display: inline-block;
	margin-left: 30px;
}

#flex-title {
	font-size: 20px;
}

#selected-employee {
	height: 18px;
	display: block;
}

#work-place-list #nts-component-tree {
	padding: 20px !important;
}


#employee-list {
	padding: 30px 20px 0px 0px ;
}