@CHARSET "UTF-8";

.margin-top-bot-20{
	margin-top: 20px;
	margin-bottom: 20px;
}

.padding-top-10{
	padding-top: 20px;
}

.form-default td{
	padding-bottom: 6px;
}

.valign-top {
	vertical-align: top;
}