.image-left{
	float: left;
	margin-right: 20px;
}
.image-right{
	float: right;
	margin-right: 20px;
}

.clear {
	clear: both;
}

.button-image {
	margin-left: 100px;
	margin-right: 100px;	
}

.title {
	margin: 10px;
}

.title-left {
	margin-left: 150px;
	vertical-align: 20px;
}

.title-right {
	margin-right: 10px;
	vertical-align: 12px;
	padding-bottom: 20px;
	float: right;	
}

.import-creation {
	background-image: url("../resource/外部出力A1.jpg");
	background-size: 100%;
	height: 254px;
	width: 257px;
	background-repeat: no-repeat;
	margin-left: 50px;
}

.setting-creation {
	background-image: url("../resource/外部出力A2.jpg");
	background-size: 100%;
	height: 254px;
	width: 264px;
	background-repeat: no-repeat;
	margin-left: 50px;
}

.history-reference {
	background-image: url("../resource/外部出力A3.jpg");
	background-size: 100%;
	width: 286px;
	height: 109px;
	background-repeat: no-repeat;
	margin-right: 50px;
}

.clear {
	clear: both;
}