/* Override Base */
.ui-widget.ui-tabs.vertical>.ui-tabs-panel {
	overflow: hidden !important;
	width: auto;
}

#fixed-table-a4 tr {
	height: 38px !important;
}

td div {
	position: relative;
	vertical-align: middle;
}

.a4_7, .a4_8, #a7_row1 {
	width: 80px;
}

#a5_16{
	width: 135px;
}

.a4_checkbox .ntsCheckBox span.box {
	vertical-align: baseline;
}

.a5_14 .ntsRadioBox span.label {
	padding-right: 142px;
}

.a5_24 .ntsRadioBox span.label {
	padding-right: 34px;
}

.a17 .ntsRadioBox span.label {
	padding-right: 169px;
}

.a6_text {
	display: inline-block;
}

#a7_23 {
	width: 42px;
}

#7_27 {
	margin-left: 30px;
}

.ui-widget-header.full-header {
	text-overflow: inherit;
	white-space: normal;
	font-size: 13px;
}

.a9_9 .ntsRadioBox span.label {
	padding-right: 60px;
}

.a10_3 .ntsRadioBox span.label {
	padding-right: 140px;
}

.a12_5 .ntsRadioBox span.label {
	padding-right: 114px;
}

#b19 .ntsRadioBox {
	display: block;
}

.blockrow.ntsControl {
	display: block;
}

.blockrow span.label {
	padding-right: 111px;
}

#b29 span.label {
	padding-right: 111px;
}

#fixed-table-c span.label {
	padding-right: 100px;
}

#e11_5 {
	padding-left: 28px;
}

#b18 .ntsRadioBox span.label {
	padding-right: 72px;
}

.e11-radio_1 .ntsRadioBox span.label {
	padding-right: 45px;
}

.e11-radio_2 .ntsRadioBox span.label {
	padding-right: 69px;
}

.e11-radio_3 .ntsRadioBox span.label {
	padding-right: 118px;
}

.g11-radio_4 .ntsRadioBox span.label {
	padding-right: 145px;
}

.g11-radio_5 .ntsRadioBox span.label {
	padding-right: 96px;
}

#g24 .ntsRadioBox {
	display: block;
}

#g25 .ntsRadioBox {
	display: block;
}

.j4-radio_1 .ntsRadioBox span.label {
	padding-right: 73px;
}

.k12-radio_1 .ntsRadioBox span.label {
	padding-right: 90px;
}

.k13-radio_1 .ntsRadioBox span.label {
	padding-right: 118px;
}

.k14-radio_1 .ntsRadioBox span.label {
	padding-right: 90px;
}

.k16-radio_1 .ntsRadioBox span.label {
	padding-right: 69px;
}

.k21-radio_1 .ntsRadioBox span.label {
	padding-right: 69px;
}

.color-header {
	background-color: #CFF1A5;
}

/* .viewmodel-a {
	margin-bottom: 20px;
} */
.nts-fixed-table {
	margin-bottom: 20px;
}

#c27 .ntsRadioBox span.label {
	padding-right: 66px;
}

#c27>label:FIRST-CHILD {
	width: 151px;
}

#c27>label:NTH-CHILD(2) {
	width: 209px;
}

#c29 .ntsRadioBox span.label {
	padding-right: 51px;
}

#c30 .ntsRadioBox span.label {
	padding-right: 51px;
}

#c31 .ntsRadioBox span.label {
	padding-right: 51px;
}

#c32 .ntsRadioBox span.label {
	padding-right: 51px;
}

#c49 .ntsRadioBox span.label {
	padding-right: 51px;
}

div.form-label {
	border-width: 0 0 0 0px;
}

/* #fixed-table-a4 .ntsCheckBox span.box {
	margin-bottom: 5px;
} */
#a7_row1 {
	position: absolute;
}

.special-a7 {
	padding-left: 49px;
}

#fixed-table-a7 span.label-a27 {
	margin-left: 29px;
}

textarea {
	resize: none;
	height: 85px;
}

#i4 .ntsRadioBox span.label {
	padding-right: 51px;
}

#a5_5, #a5_6, #a5_7, #a5_9, #a5_10, #a5_11, #j6, #j7, #j8, #j9, #j10,
	#j12, #j13, #j14, #j15, #c10, #c11, #c12, #c13, #c14 {
	padding-left: 19px;
}

/* .tab-content-1, .tab-content-3, .tab-content-4, .tab-content-5,
	.tab-content-6, .tab-content-7, .tab-content-8, .tab-content-9,
	.tab-content-10, .tab-content-11, .tab-content-12 {
	height: 530px;
} */
.tab-content-1, .tab-content-3, .tab-content-4.tab-content-5,
	.tab-content-6, .tab-content-7, .tab-content-8, .tab-content-9,
	.tab-content-10, .tab-content-11, .tab-content-12 {
	height: 575px;
}

.tab-content-1, .tab-content-3 {
	overflow-y: scroll;
}

.contents-area-kaf022 {
	height: 620px;
}

#tab-1, #tab-2, #tab-3, #tab-4, #tab-5, #tab-6, #tab-7, #tab-8, #tab-9,
	#tab-10, #tab-11, #tab-12 {
	width: 970px !important;
}
