/* Override Base */
.ui-widget.ui-tabs.vertical>.ui-tabs-panel {
	overflow: hidden !important;
	width: auto;
}

#fixed-table-a4 tr {
	height: 38px !important;
}

td div {
	position: relative;
	vertical-align: middle;
}

.a4_8, #a7_row1 {
	width: 80px;
	margin: 5px;
}

#a5_16 {
	width: 85px;
}

.a4_checkbox .ntsCheckBox span.box {
	vertical-align: baseline;
}


.a5_24 .ntsRadioBox span.label {
	padding-right: 34px;
}

.a17 .ntsRadioBox span.label {
	padding-right: 169px;
}

#a17_7>label:nth-child(2) {
	margin-left: 17px;
}

.a6_text {
	display: inline-block;
}

#a7_23 {
	width: 42px;
	margin-left: 37px;
}

#7_27 {
	margin-left: 30px;
}

.ui-widget-header.full-header {
	text-overflow: inherit;
	white-space: normal;
	font-size: 13px;
}

.a9_9 .ntsRadioBox span.label {
	padding-right: 60px;
}

.a10_3 .ntsRadioBox span.label {
	padding-right: 140px;
}

.a12_5 .ntsRadioBox span.label {
	padding-right: 114px;
}

.blockrow.ntsControl {
	display: block;
}


#fixed-table-c span.label {
	padding-right: 100px;
}

/* #e11_5 {
	padding-left: 28px;
} */

#b18 .ntsRadioBox span.label {
	padding-right: 72px;
}

.e11-radio_1 .ntsRadioBox span.label {
	padding-right: 45px;
}

.e11-radio_2 .ntsRadioBox span.label {
	padding-right: 69px;
}

.e11-radio_3 .ntsRadioBox span.label {
	padding-right: 118px;
}


#g24 .ntsRadioBox {
	display: block;
}

#g25 .ntsRadioBox {
	display: block;
}

.j4-radio_1 .ntsRadioBox span.label {
	padding-right: 73px;
}



.k16-radio_1 .ntsRadioBox span.label {
	padding-right: 69px;
}

.k21-radio_1 .ntsRadioBox span.label {
	padding-right: 69px;
}

.color-header {
	background-color: #CFF1A5;
}

/* .viewmodel-a {
	margin-bottom: 20px;
} */
.nts-fixed-table {
	margin-bottom: 20px;
}

/* #c27 .ntsRadioBox span.label {
	padding-right: 66px;
} */

#c27>label:FIRST-CHILD {
	width: 151px;
}

#c27>label:NTH-CHILD(2) {
	width: 209px;
	/* margin-left: 38px; */
}


th>div.form-label,
td>div.form-label {
	border-width: 0px;
}

#a7_row1 {
	/* position: absolute; */
	margin-left: -65px;
	margin-right: 5px;
}

#fixed-table-a7 span.label-a27 {
	margin-left: 29px;
}

textarea {
	resize: none;
	height: 85px;
}

#i4 .ntsRadioBox span.label {
	padding-right: 51px;
}

#a5_5, #a5_6, #a5_7, #a5_9, #a5_10, #a5_11, #j6, #j7, #j8, #j9, #j10,
	#j12, #j13, #j14, #j15, #c10, #c11, #c12, #c13, #c14 {
	padding-left: 19px;
}

/* .tab-content-1, .tab-content-3, .tab-content-4, .tab-content-5,
	.tab-content-6, .tab-content-7, .tab-content-8, .tab-content-9,
	.tab-content-10, .tab-content-11, .tab-content-12 {
	height: 530px;
} */
.tab-content-1, .tab-content-3, .tab-content-4.tab-content-5,
	.tab-content-6, .tab-content-7, .tab-content-8, .tab-content-9,
	.tab-content-10, .tab-content-11, .tab-content-12, .tab-content-14 {
	height: 575px;
}

.tab-content-14{
	width: 951px;
}

.tab-content-1, .tab-content-3, .tab-content-7, .tab-content-14 {
	overflow-y: scroll;
}

.contents-area-kaf022 {
	height: 650px;
}

#tab-1, #tab-2, #tab-3, #tab-4, #tab-5, #tab-6, #tab-7, #tab-8, #tab-9,
	#tab-10, #tab-11, #tab-12 {
	width: 970px !important;
}

div.fixed-table-container {
	border: 1px solid #ccc;
}

div.fixed-table-container table[id^="fixed-table"] {
	width: 100%;
}

div.fixed-table-container table[id^="fixed-table"] td {
	border-collapse: collapse;
	border: 1px solid #ccc;
}

div.fixed-table-container table[id^="fixed-table"] th {
	line-height: 32px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}

div.fixed-table-container table[id^="fixed-table"] tbody {
	border-top: 0;
	display: block;
	/* overflow-y: scroll; */
	display: block;
}


div.fixed-table-container table[id^="fixed-table"] tbody tr td .ntsRadioBox {
	padding-top: 3px;
	padding-bottom: 3px;
}

div.fixed-table-container table[id^="fixed-table"] tbody tr td:not(.color-header) {
	padding-left: 10px;
}

div.fixed-table-container table[id^="fixed-table"] tbody tr:first-child td {
	border-top: 0;
}

div.fixed-table-container table[id^="fixed-table"] tbody td:first-child {
	border-left: 0;
}

div.fixed-table-container table[id^="fixed-table"] tbody td:last-child {
	border-right: 0;
}

div.fixed-table-container table[id^="fixed-table"] tbody tr:last-child td {
	border-bottom: 0;
}
#tabpanel-a .ntsRadioBox {
	min-width: 204px;
}

#tabpanel-a .blockrowg6 .ntsRadioBox{
	display: block;
}

#r2_22{
	width: 150px;
	margin-left: -56px;
}


#tabpanel-a .blockrowa .ntsRadioBox{
	min-width: 0px !important;
	margin-left: 10px;
}

#fixed-table-k3 > tbody > tr:nth-child(2) > td.k13-radio_1 > div > label:nth-child(2){
	margin-left: 60px;
}

#fixed-table-k3 > tbody > tr:nth-child(4) > td.k13-radio_1 > div > label:nth-child(2){
	margin-left: 5px;
}

.nts-fixed-table table.fixed-table>tbody>tr>td, .nts-fixed-table table.fixed-table>tbody>tr>th{
	white-space: normal !important;
}



.hdtype{
	margin-left: 30px;
}

#fixed-table-a8 > tbody > tr:nth-child(37) > td:nth-child(3){
	border-right: 1px solid #ccc;
}

#fixed-table-a8 > tbody > tr:nth-child(38) > td:nth-child(3){
	border-right: 1px solid #ccc;
}

#fixed-table-a8 > tbody > tr:nth-child(39) > td:nth-child(3){
	border-right: 1px solid #ccc;
}

#fixed-table-a8 > tbody > tr:nth-child(40) > td:nth-child(3){
	border-right: 1px solid #ccc;
}

#fixed-table-a8 > tbody > tr:nth-child(41) > td:nth-child(3){
	border-right: 1px solid #ccc;
}

#fixed-table-a8 > tbody > tr:nth-child(42) > td:nth-child(3){
	border-right: 1px solid #ccc;
}

#fixed-table-a8 > tbody > tr:nth-child(43) > td:nth-child(3){
	border-right: 1px solid #ccc;
}

#fixed-table-a8 > tbody > tr:nth-child(44) > td:nth-child(3){
	border-right: 1px solid #ccc;
}

#tab-1 > div > div:nth-child(5) > div.nts-fixed-body-container.ui-iggrid{
	overflow: hidden !important;
}