#all-list_container, #add-sub-list_container {
	display: inline-block;
}

.control-button-wrap {
    text-align: center;
    display: inline-block;
    margin-top: 60px;
    vertical-align: top;
}

.control-button-wrap button {
	margin: 0px 0 10px 0;
}

#add-sub-list_displayContainer, #add-sub-list_headers_v{
	margin-left: 22px !important;
}
.control-button-wrap{
	margin-left: 22px !important;
}
#all-list td[role="gridcell"] {
	white-space: nowrap;
}

#container_permision_grid .ui-tooltip {
	border: none;
	background: none;
	box-shadow: none;
	width: auto !important;
	max-width: 800px !important;
}

#container_permision_grid .ui-tooltip .ui-tooltip-content {
	white-space: nowrap;
	background: #ffc;
	border: solid 1px #b85;
	padding: 5px;
	width: auto !important;
	max-width: 800px !important;
} 
#add-sub-list_horizontalScrollContainer {
	overflow: hidden !important; 
}

#add-sub-list_displayContainer {
	min-height: 210.6px !important;
	
} 

#add-sub-list_scrollContainer {
	min-height: 212.6px !important;
}
