#conditionAtr-cbb {width: 10px;}
.table-template td{padding: 3px;}
.display-list-label{width: 139px;}
#compareOperator-cbb{width: 200px;}
.value-input {width: 70px}
.nts-editor-wrapped {display: initial !IMPORTANT; width: auto !IMPORTANT;}