.a4_8 {
    width: 85px;
    margin: 5px;
}

.time-input {
    width: 42px;
}

td .control-group {
    margin-bottom: 0;
}

.color-header {
    background-color: #CFF1A5;
    white-space: normal !important;
    padding-left: 10px !important;
}

.nts-fixed-table.cf {
    padding: 10px;
}

.panel-frame {
    margin: 10px;
}

.inline-radio {
    height: 30px
}

.hdtype {
    padding-left: 20px;
}

.two-radio  .ntsRadioBox:first-child {
    width: 200px;
}

.three-radio  .ntsRadioBox:first-child{
    width: 200px;
}

.three-radio  .ntsRadioBox:nth-child(2){
    width: 200px;
}

td .form-label {
    border: none;
    padding: 0;
}

.ui-widget-header {
    height: 30px !important;
}

.blockrow {
    display: block;
    height: 30px;
}

.blockrow:first-child {
    padding-top: 5px;
}

.radio-wrapper {
    margin-left: 10px;
    min-width: 115px;
}

#fixed-table-a7 .radio-wrapper {
    min-width: 0;
}

#fixed-table-k2 .two-radio .radio-wrapper:first-child {
    min-width: 115px;
}

#fixed-table-k2 .three-radio .radio-wrapper:first-child {
    min-width: 119px;
}

.switchbox-wrappers .radio-wrapper {
    min-width: 0;
    margin-left: 0;
}

.switchbox-wrappers span {
    min-width: 75px;
}

#b30 .label:nth-child(3) {
    width: 195px;
    white-space: normal;
}

.vertical-radio .radio-wrapper {
    display: block;
}

.panel.panel-frame {
    width: 860px;
}

#tab-01, #tab-02, #tab-03, #tab-04, #tab-05,
#tab-06, #tab-07, #tab-08, #tab-09, #tab-10,
#tab-11, #tab-12, #tab-13, #tab-14, #tab-15 {
    overflow: auto;
    max-height: calc(100vh - 200px);
    width: auto;
}

.ui-widget.ui-tabs.vertical > .ui-tabs-nav > li {
    height: 31px;
}

.grid-col-text-right {
    text-align: right;
}

.label-holiday {
    padding-left: 30px;
}

#contents-area {
    padding: 0 10px !important;
}

/*#tab-panel {*/
/*    height: inherit;*/
/*}*/

#tab-panel {
    height: inherit;
}

#tab-panel .tabs-content {
    height: 100%;
    overflow-y: auto;
}

div[class^="tab-content-"] .nts-fixed-table {
    display: table !important;
}

.tabs-list > .radio-wrapper {
    height: 25px;
}

#v-table > .nts-fixed-table {
    padding-left: 10px;
    padding-top: 6px;
}

.mail-setting {
  margin-bottom: 10px;
  margin-left: 10px;
}

.ml-10 {
  margin-left: 10px;
}