#contents-area {
	padding-left: 20px;
}

.table {
	margin-bottom: 5px;
}

.table.title .cell:NTH-CHILD(1) {
	width: 140px;
}

.table.title .cell:NTH-CHILD(2) {
	width: 360px;
}

.table.content{
	width: 1235px;
}

.table.content .cell.grid-list {
	padding-top: 15px;
}

.table.content .cell:NTH-CHILD(1) {
	width: 430px;
}

.table.content .cell:NTH-CHILD(2) {
	width: 70px;
}

.table.content .cell:NTH-CHILD(3) {
	width: 735px;
}

.table.content .search-item {
	width: 190px;
}

.table.content .arrow-item {
	text-align: center;
}

.table.content .arrow-item button {
	margin-bottom: 10px;
}

.D6_C3_1 {
	width: 132px;
	display: block;
}

#fixed-table tr {
	height: 38px;
}

#fixed-table tr td {
	padding: 2px;
}

.fixed-table tr td:NTH-CHILD(3) {
	border-right: none;
}

.fixed-table tr td:NTH-CHILD(4) {
	border-left: none;
}

.fixed-table .view-over {
	overflow: visible !important;
}

.fixed-table .view-control .ntsControl {
	display: inline;
}

.my-active-row {
	background: #007fff !important;
	color: #ffffff;
}

.my-active-row:hover {
	color: #000000;
}

.D6_C4_16 {
	width: 370px !important;
}