#contents-area {
	padding-left: 20px;
}

.table {
	margin-bottom: 5px;
}

.table.title .cell:NTH-CHILD(1) {
	width: 140px;
}

.table.title .cell:NTH-CHILD(2) {
	width: 360px;
}

.table.content{
	width: 1240px;
}

.table.content .cell.grid-list {
	padding-top: 15px;
}

.table.content .cell:NTH-CHILD(1) {
	width: 460px;
}

.table.content .cell:NTH-CHILD(2) {
	width: 65px;
}

.table.content .cell:NTH-CHILD(3) {
	width: 710px;
}

.table.content .search-item:NTH-CHILD(1) {
	width: 220px;
}

.table.content .search-item:NTH-CHILD(2) {
	width: 190px;
}

.table.content .arrow-item {
	text-align: center;
}

.table.content .arrow-item button {
	margin-bottom: 10px;
}

.D6_C3_1 {
	width: 132px;
	display: block;
}

.nts-fixed-body-container{
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

#fixed-table tr {
	height: 38px;
}

#fixed-table tr td {
	padding: 2px;
}

.fixed-table tr td:NTH-CHILD(4) {
	border-right: none;
}

.fixed-table tr td:NTH-CHILD(5) {
	border-left: none;
}

.fixed-table .view-over {
	overflow: visible !important;
}

.fixed-table .view-control .ntsControl {
	display: inline;
}

.my-active-row {
	background: #007fff !important;
	color: #ffffff;
}

.my-active-row:hover {
	color: #000000;
}

.D6_C4_16 {
	width: 360px !important;
}

.nts-help-button-image{
	margin-top: 20px!important;
    top: 24px!important;
    left: -251px!important;
}