#A2_3, #A2_6 {
	font-size: 18px !important;
	margin-top: 10px;
}

#btn-help-1 {
	margin-left: 20px;
	margin-top: 10px;
}

#btn-help-2 {
	margin-left: 92px;
	margin-top: 10px;
}

#area-left {
	float: left;
	margin-left: 50px;
}    
