@CHARSET "UTF-8";

#this-contents-area {
	margin: 20px;
		min-width: 460px;
}

#this-functions-area {
	margin-top: 20px;
}

.form-default td {
	padding-top: 10px;
}

.input-default {
	width: 100px;
}

.lbl_printingPositionBig {
	margin-left: 170px;
}

#content_settingMargin {
	display: inline-block;
	margin-left: 70px;
}