@CHARSET "UTF-8";

.contents-area {
	margin-top: 20px;
	margin-left: 50px;
	min-width: 560px;
	height: 700px;
}

.form-default {
	width: 100%;
}

.form-default td {
	padding-top: 10px;
}

.row_head {
	border-bottom: 1px solid #7F7F7F;
}

#left-content {
	width: 300px;
	min-height: 200px;
	padding: 25px;
	padding-top: 25px;
}

#right-content {
	padding-left: 30px;
	padding-top: 15px;
	width: 600px;
	vertical-align: top;
}

.set-row {
	margin-left: -134px;
	margin-top: 43px;
	width: 143%;
}