.content-1 {
	margin-left: 25px
}

.content-left {
	float: left;
}

.content-right {
	float: left;
	margin-left: 10px;
}
#C_LBL_001, #C_LBL_002 {
	margin: 5px 0px
}
#C_INP_001 {
	width: 370px;
	border: 1px solid #4F4F4F;
	border-radius: 5px;
	padding: 5px 0px
}

#C_SCH_001 {
	padding: 0px 20px
}

#C_BTN_001 {
 margin-left: 26px;
 width: 80px;
}

#C_BTN_002 {
 margin-left: 10px;
 width: 80px;
}


.caret-right {
	float: left;
	margin-top: 160px;
	font-size: 5rem;
	color: #97d44a
}

.caret-right:after {
	border-width: 1.4em 0.5em;
}

#hr-vertical {
	float: left;
	margin-left: 30px;
	height: 470px;
}

#hr-horizontal {
	float: left;
	width: 100%;
}