#contents-area {
	margin-left: 10px
}

#C1-2 {
	margin-top: 40px
}

#C1-3 {
	margin-left: 50px
}

#C1-6 {
	margin-right: 15px
}

#ui-id-2 {
	height: 220px !important
}

.nts-switch-button {
	width: 90px
}