.w-100 {
    width: calc(100% - 16px);
    margin: 25px 0;
}

.tab-content-1, .tab-content-2 {
    margin-left: 35px;
}

.custom-table {
    padding: 15px 0px 15px 0px;
    width: 71%;
}

.buton-configure {
    width: 80px;
    height: 30px;
}

.tabs-panel.has-content {
    width: 100%;
    overflow: hidden;
}

.width-70 {
    width: 70px;
}

.switchbox-wrappers.radio-wrappers label input + span {
    width: 65px;
    text-align: center;
}