@CHARSET "ISO-8859-1";
.external {
	margin-top: 10px;
	margin-left: 10px;
}

textarea {
    background-color: #dce4c4;
}

#multiline-textbox {
	width: 960px; 
	height: 70px;
}

#selected-list table, tbody, thead, tr, th, td {
	border: 0.5px solid grey;
}

#selected-list tbody, #selected-list thead {
	display: block;
}

#selected-list tbody {
	overflow-y: scroll;
	height: 430px;
}

tr#selected-list {
	height: 50px;
}