.contents_layout {
  display: inline-flex;
  width: 100%;
}

.contents_2 {
  width: 490px;
  height: 530px;
  padding: 5px 5px 5px 5px;
}

.contents_3 {
  width: 490px;
  height: 530px;
  padding: 5px 5px 5px 5px;
}

.widget_contents {
  width: 446px;
}

.contents_1 {
  padding: 5px 5px 5px 5px;
  width: 100%;
}

#resizable {
  width: calc(100% - 22px);
  height: 549px;
  max-height: 549px;
  border: 1px solid;
  margin: 10px 10px 0px 10px;
  overflow: hidden;
}

.scroll_resize {
  overflow: auto !important;
}