@CHARSET "UTF-8";

#image {
	float: left;
	margin-left: 5px;
	margin-top: 10px;
	height: 600px;
}

#part-2 {
	float: left;
	margin: 60px;
}

#part-3 {
	float: left;
	width: 30%
}

#B1_7 {
	margin-left: 32px;
}

#B1_6 {
	margin-left: 250px
}

#B1_4 {
	margin: 0 20px 0 50px;
}

.sidebar-content-header button {
	width: 110px;
}

#B1_7 {
	margin-left: 2px;
	vertical-align: middle;
}

#link-icon {
	width: 30px;
	vertical-align: middle;
}