

#component-employee-list{
    margin-left: 90px;
    margin-top: 15px;
}

.pattern-group td {
	padding-top: 20px;
	padding-left: 15px;
}
.pattern-group{
	margin-top: 50px;
}
.check_column{
	text-align: center !important;
}
.periodTime{
	padding-left: 20px !important;
}

#fixed-table{
    overflow-y: scroll;
}
.inputDate .periodTime{
	align: "center";
}

.nts-datepicker-wrapper .ntsDatepicker.yearmonth-picker {
    width: 86px !important;
}