

#component-employee-list{
    margin-left: 90px;
    margin-top: 15px;
}

.pattern-group td {
	padding-top: 20px;
	padding-left: 15px;
}
.control-group{
	margin-top: 70px;
}
.check_column{
	text-align: center !important;
}
.periodTime{
	padding-left: 15px !important;
}

#fixed-table{
    overflow-y: scroll
}