@CHARSET "UTF-8";

tr {
	height: 10px;
}

#contents-area {
	padding: 17px 32px;
}

.cal-panel {
	float: right;
}

.btn-cal {
	width: 80px;
    height: 36px;
}

.panel.panel-frame {
	width: 300px;
    float: right;
}

.cal-value {
	width: 85px;
}

.contents-table {
	width: 100%;
}

.contents-table td {
    border: 1px solid;
    text-align: center;
    height: 20px;
    padding: 10px 5px;
}

.bound {
	height: 20px;
	z-index: -999999;
    height: 140px;
}

.contents-table td .year-input, .contents-table td .months-input, .contents-table td .days-input, .contents-table td .days-input, .contents-table td .times-input {
    width: 60px;
}