#ksm007 {
    width: 1200px;
}
.form-label {
    width: 80px;
}
#register-form {
    margin-top: 15px;
}
.ntsRadioBox{
    margin-right: 10px;
}

.control-group .table .cell {
    padding-right: 20px;
}
.label-float-left {
  float: left;
}
#ksm007 .ntsSearchBox {
  width: 238px !important;
}