#D_BTN_001 {
	margin-top: 2px;
	width: 90px;
	margin-left: 8px;
}

#D_BTN_002 {
	margin-left: 15px;
	width: 90px;
}

#label-d1-003 {
	margin-top: 20px;
	margin-left: 40px;
}

.table-container {
	margin-top: 42px;
	margin-left: 35px;
	height: 400px;
	float: left;
	overflow: auto;
}

#H_LST_001_displayContainer {
	height: 433px !important;
	vertical-align: top !important;
	position: relative !important;
	overflow: hidden !important;

}

#H_LST_001_scrollContainer {
	overflow-y: scroll !important;
	overflow-x: hidden !important;
	width: 17px !important;
	height: 434px !important;
}
.bg-green{
	margin-top: 20px;
}
.table1 .fixed-width-1 {
	width: 16px;
}

.table1 .fixed-width-3 {
	width: 190px;
}

.table1 {
	margin-left: 40px;
	margin-top: 30px;
}

.table1 thead {
	display: block;
}
/*.table1 thead tr{display:block;}*/
.table1 th {
	background-color: #E0F59E;
	padding: 5px 0;
	width: 95px;
	border: 1px solid #ccc;
	text-align: center;
	box-sizing: border-box;
}

.table1 tbody {
	display: block;
	max-height: 291px;
	overflow-y: scroll;
}
/*.table1 tbody tr {
	display:block;
}*/
.table1 td {
	border: 1px solid #ccc;
	padding: 5px 0;
	width: 94px;
}

.table1 .fixed-width {
	
}

.table1 .fixed-width-2 {
	width: 190px;
}

.ntsDateRange_Container {
	margin-left: 95px;
	margin-top: -34px;
}

.caret-bottom {
	margin-left: 10px;
}