@CHARSET "UTF-8";
.separate-button {
	margin-left: 10px;
	margin-top: 10px;
}

.fix-button {
	min-width: 75px;
}

#left-content {
	margin: 10px 0px 0 20px !important;
	float: left;
}

#right-content {
	margin-left: 40px;
	margin-top: 10px;
	float: left;
	height: auto;
}
#right-content .upDown-container {
	padding-left: 10px;
}
#right-content .daysWorking .nts-input {
	width: auto !important;
    max-width: 30px;
    text-align: center;
}
#right-content .daysWorking1 {
	width: 0;
	position: relative;
	overflow: initial;
}
#right-content .daysWorking1 span {
	position: absolute;
	left: -10px;
	z-index: 1000;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
}
#right-content table.nts-grid tbody td:last-child,
#right-content table.ui-iggrid-headertable thead td:last-child {
	width: 0;
}
#nts-input-name {
	width: 0px !important;
}

.row {
	padding: 5px;
	height: 50px;
}

#inpPattern {
	width: 170px !important;
}
#single-list tr td {
	white-space: nowrap;
	nowrap: nowrap;
}
#inpCode{
	width: 25px !important;
	text-align: center;
}
.border-all td {
	border: solid grey 1px;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	min-width: 100px;
	max-width: 200px;
}
.tbl-monthly .ntsControl {
	width: 50px !important;
}