.caution {
	padding: 15px;
}

#functions-area {
	display: none;
}

#contents-area #J_LBL_001 {
	display: block;
	line-height: 40px;
	font-size: 1.3em;
}

#contents-area .dialog-button-group {
	text-align: center;
	border-top: 1px solid #ccc;
	padding-top: 10px;
	margin-top: 10px;
}

#contents-area .dialog-button-group #J_BTN_001,
#contents-area .dialog-button-group #J_BTN_003 {
	
}