.mergin-top {
    margin-top: 15px;
}

.panel, .table_row {
    border: 2px solid #ece3e3;
}



table tr td:nth-child(1), .custom_col_bg {
    background-color: #BFEA60;
    border-left: 0.5px solid #c2a0a0;;
}

.custom_col_bg {
    border-right: 0.5px solid #c2a0a0;
}

table tr td:nth-child(1) {
    border-right: 0.5px solid #c2a0a0;
}

.border-right {
    border-right: 0.5px solid #c2a0a0;
}

.border-left {
    border-left: 0.5px solid #c2a0a0;
}

.td-coom {
    width: 150px;
    text-align: center;
}

.padding-5 {
    padding: 5px;
}

.padding15_left {
    padding-left: 20px;
}

.first-customsell {
    width: 150px;
    text-align: left;
}

table tr {
    border: 0.5px solid #c2a0a0;;
}

table tr td {
    padding: 5px;
}

.border-right-none {
    border-right: none;
}

.width-120 {
    width: 120px;
}

.bg-yellow {
    background-color: #f2e481;
}