.selected-model{
	width: 680px
}
.selected-model .valign-center.control-group{
	padding-top: 20px
}
.selected-model .valign-center.control-group .form-label{
	width: 200px
}

#deleteExistDataMethod > div.ui-igcombo-dropdown.ui-widget.ui-widget-content.ui-corner-all.ui-igcombo-no-border,
#deleteExistDataMethod ul.ui-igcombo-listitemholder {
	width : 320px !important;
} 

