.d-fix {
  align-items: center;
  display: flex;
}
.tableList {
  margin-top: 10px;
}
.grid-list {
  padding: 15px;
}
.pull-left-right {
  padding-left: 32px;
}

.current-alarm .row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.current-alarm .row div {
  line-height: 37px;
}

.current-alarm .row > div {
  width: 150px;
}
.current-alarm .row > div:nth-child(3),
.current-alarm .row > div:first-child {
  width: 80px;
}
.category-name {
  flex: 2;
}

table th.text-center,
table td.text-center {
  text-align: center;
}

.pull-left-right .buttons {
  margin-bottom: 10px;
}

.pull-left-right .buttons button {
  margin-right: 15px;
}

#fixedTable  .switchbox-wrappers .radio-wrapper span {
  width: 60px !important;
}

#fixedTableCCDT .switchbox-wrappers .radio-wrapper span {
  width: 60px !important;
}

#fixedTableCCDT {
  margin-top: 10px;
}

#fixedTable .ui-iggrid table thead tr, #fixedTableCCDT .ui-iggrid table thead tr {
  height: 32px !important;
}

#fixedTableCCDT .nts-input:not(.radio-wrapper, .radio-wrappers, .checkbox-wrapper) {
  width: 168px !important;
}

#fixedTableCCDT .radio-wrapper {
  width: 60px !important;
  flex-direction: column;
}

.tab-content-2 .nts-fixed-table .nts-fixed-body-wrapper {
  overflow-x: hidden;
}

.ui-tabs-panel {
  width: fit-content;
}