.d-fix {
  align-items: center;
  display: flex;
}
.tableList {
  margin-top: 10px;
}
.grid-list {
  padding: 15px;
}
.pull-left-right {
  padding-left: 32px;
}

.current-alarm .row {
  display: flex;
  align-items: center;
  margin-bottom:15px;
}

.current-alarm .row div {
  line-height: 37px;
}

.current-alarm .row > div {
  width: 150px;
}

#KAL013_10.combo-box {
  margin-left: 24px;
}

.category-name {
  flex: 2;
}

table td.text-center {
  text-align: center;
}