
#contents-area {
  padding-top: 5px;
  padding-left: 5px;
  width: 440px;
  border: 1px groove;
}
.contents-area {
  padding-top: 5px;
  padding-left: 5px;
  width: 440px;
  border: 1px groove;
}
.grid {
  display: grid;
}
.block {
  display: block;
}
.big-text {
  font-size: 1.5rem;
  font-weight: bold;
}
.title-border {
  padding: 10px;
  border-left: 5px solid #48b5cb;
  border-top: 1px groove;
  border-bottom: 1px groove;
}
.mt-10 {
  margin-top: 10px;
}
.p-10 {
  padding: 10px;
}
.pl-0 {
  padding-left: 0px;
}
.non-statutory-color {
  color: #49bfa8;
}
.non-statutory-bg-color {
  background-color: #49bfa8;
}
.time-outside-color {
  color: #e05f4e;
}
.time-outside-bg-color {
  background-color: #e05f4e;
}
.pr-20 {
  padding-right: 20px;
}
.pb-0 {
  padding-bottom: 0px;
}
.scroll {
  overflow-y: auto;
  max-height: 225px;
  margin-bottom: 20px;
}
.scroll thead th {
  position: sticky;
  top: 0;
  background: white;
}
.pl-10 {
  padding-left: 10px;
}
.right {
  float: right;
}
.flex100 {
  display: flex;
  width: 100%;
}
.flex {
  display: flex;
}
.left65 {
  float: left;
  width: 65%;
}
.pl-20 {
  padding-left: 20px;
}
.dashed45 {
  width: 90px;
  height: 30px;
  position: absolute;
  border-right: 1px dashed;
}
.dashed80 {
  width: 160px;
  height: 30px;
  position: absolute;
  border-right: 1px dashed;
}
tr td .label {
  margin-top: 5px;
  height: 20px;
}
.w-200 {
  width: 200px;
}
.inline-flex {
  display:inline-flex;
}
.border-bot {
  border-bottom: 1px groove;
}
.fixed45 {
  padding-left: 90px;
  position: absolute;
}
.fixed80 {
  padding-left: 160px;
}
.data-text {
  padding: 3px 20px 3px 0px;
}
.mw-200 {
  max-width: 200px;
}
.gray-bg {
  background-color: #e0e0e0;
}
table thead tr th {
  z-index: 1;
}
.bold {
  font-weight: bold;
}
.relative {
  position: relative;
}
.text-right {
  text-align: right;
}
.h385 {
  height: 385px;
}
.mh-195 {
  max-height: 195px;
}
.h-350 {
  height: 350px;
}
.mh-200 {
  max-height: 200px;
}

/* 限度アラーム時間超過 */
.exceeding-limit-alarm {
  background-color: #f6f636; /* 36協定アラーム */
  color: #ff0000; /* 36協定アラーム文字 */
}
/* 限度エラー時間超過 */
.exceeding-limit-error {
  background-color: #0c0606; /* 36協定エラー */
  color: #ffffff; /* 36協定エラー文字 */
}
/* 限度アラーム時間超過（特例あり） */
.special-exceeding-limit {
  background-color: #eb9152; /* 36協定特例 */
}
/* 限度エラー時間超過（特例あり） */
.special-exceeding-limit-error {
  background-color: #eb9152; /* 36協定特例 */
}
/* 特例限度アラーム時間超過 */
.special-exceeded-limit-alarm  {
  background-color: #f6f636; /* 36協定アラーム */
  color: #ff0000; /* 36協定アラーム文字 */
}
/* 特例限度エラー時間超過 */
.special-exceeded-limit-error {
  background-color: #0c0606; /* 36協定エラー */
  color: #ffffff; /* 36協定エラー文字 */
}

