#screen-e #great-table {
	margin-left: 20px;
	margin-top: 20px;
}

#screen-e #left-side{
	width : 320px;
}

#screen-e #left-panel {
	margin-top : 30px;
}

#screen-e .ntsCheckBox{
	margin-left: 20px;
}