#screen-e #great-table {
	margin-left: 20px;
	margin-top: 20px;
}

#screen-e #left-side{
	width : 320px;
}

#screen-e #left-panel {
	margin-top : -48px;
}

#screen-e .ntsCheckBox{
	margin-left: 20px;
}
#left-panel{
	width: 310px !important;
	height: 400px !important;
}