@CHARSET "UTF-8";

.aligntLeft {
	display: inline-flex;
	float: left;
	margin: 8px 0px 0px 20px;
}

#functions-area {
	height: 50px !important;
}

#A_BTN_004 {
	margin-left: 200px !important;
}

.alignRight {
	float: right;
}

#contents-area {
	display: inline-flex;	
}

.nts-left-content {
	float: left;
	width: 470px;
	height: 470px;
	padding: 20px 15px;
}

.nts-right-content {
	float: left;
	padding: 20px;
	width: 450px;
	margin-left: 5px;
}

.tableRange {
	width: 100%;
}

.tableRange tr {
	height: 45px;
}

.tableRange td:first-child {
	width: 180px !important;
}

.ntsSearchDiv {
	width: 400px !important;
	margin: 20px 10px;
}

#content_data {
	float: left;
	width: 450px;
	height: 490px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.gridList {
	margin-top: 30px;
}

#SCH_001 {
	width: 100px;
	margin-left: 10px;
}

input {
	border-radius: 4px;
	border: solid thin gray;
}

#functions-area button {
	margin-left: 5px;
	margin-right: 5px;
	min-width: 95px !important;
}

.single-list {
	margin-left: 10px;
	margin-top: 20px;
}

#INP_002 {
	width: 35px !important;
	text-align: center !important;
}

#INP_003 {
	max-width: 180px !important;
}

#INP_004 {
	max-width: 140px !important;
}

div.form-label>i {
	width: 160px !important;
}