@import url("common.css");

#ckbSendMail {
	margin-left: 50px;
}

.div_line_col_1 {
	width: 130px;
}

.div_line_col_2 {
	width: 750px;
}

#number_Info tr>* {
	height: 20px;
	padding: 5px;
	border: 1px solid black;
	text-align: center;
	width: 100px;
}

#content_left {
	width: 1000px;
	display: inline-block;
}

.app_header {
	margin-left: 10px;
}

.working_hour>* {
	display: inline-block;
}

.change_woking_hours {
	margin-left: 40px;
}

#container {
	margin-left: 20px;
}