#functions-area-bottom #button9{
    margin-left: 55px;
}
.nts-grid-wrapper {
	margin-left: 45px;
	margin-top: 23px;
}

#label1 {
	display: inline-block;
	margin-left: 45px;
	margin-top: 11px;
}

/* .ui-iggrid-tablebody td[role="gridcell"], .ui-iggrid-tablebody td[role="gridcell"].ui-state-hover {
	padding-top: 3px;
}

.ui-iggrid-tablebody td[role="gridcell"] > div {
	display: inline-block;
} */