.a4_8 {
    width: 85px;
    margin: 5px;
}

.time-input {
    width: 42px;
}

td .control-group {
    margin-bottom: 0;
}

.color-header {
    background-color: #CFF1A5;
    white-space: normal !important;
    padding-left: 10px !important;
}

.nts-fixed-table.cf {
    padding: 10px;
}

.panel-frame {
    margin: 10px;
}

.inline-radio {
    height: 30px
}

.hdtype {
    padding-left: 20px;
}

.two-radio  .ntsRadioBox:first-child {
    width: 200px;
}

.three-radio  .ntsRadioBox:first-child{
    width: 200px;
}

.three-radio  .ntsRadioBox:nth-child(2){
    width: 200px;
}

td .form-label {
    border: none;
    padding: 0;
}

.ui-widget-header {
    height: 30px !important;
}

.blockrow {
    display: block;
    margin-left: 10px;
    height: 30px;
}

.blockrow:first-child {
    padding-top: 5px;
}

.radio-wrapper {
    margin-left: 10px;
}

#b30 .label:nth-child(3) {
    width: 195px;
    white-space: normal;
}

.vertical-radio .ntsRadioBox {
    display: block;
    padding: 5px 0;
    width: 100%;
}

.panel.panel-frame {
    width: 860px;
}

#tab-01, #tab-02, #tab-03, #tab-04, #tab-05,
#tab-06, #tab-07, #tab-08, #tab-09, #tab-10,
#tab-11, #tab-12, #tab-13, #tab-14, #tab-15 {
    overflow: auto;
    max-height: calc(100vh - 200px);
    width: auto;
}

.ui-widget.ui-tabs.vertical > .ui-tabs-nav > li {
    height: 31px;
}

.grid-col-text-right {
    text-align: right;
}

.label-holiday {
    padding-left: 30px;
}