#contents-area {
	height: initial !important;
}

#contents-area .swap-list-updown-contaier>div {
	display: inline-block;
}

.form-group {
	margin-bottom: 15px;
}

.form-group.two-cols>div:nth-child(2) {
	margin-left: 140px;
}

.nts-searchbbox-wrapper {
	margin-bottom: 0;
}

#swap-list-search-area-input {
	width: 150px !important;
}

#G1_002{
	margin-left: 930px !important;
}

#grid2_container{
	margin-left:10px !important;
}

td[aria-describedby='grid2_empCd']{
  width: 99%;
  /* display: inline-block; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td[aria-describedby='grid2_empName']{
  width: 99%;
  /* display: inline-block; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td[aria-describedby='grid2_message']{
  width: 99%;
  /* display: inline-block; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td[aria-describedby='grid2_itemName']{
  width: 99%;
  /* display: inline-block; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}