.control-group.valign-center > * { vertical-align: middle; }
.control-group.valign-top > * { vertical-align: top; }
.control-group.valign-bottom > * { vertical-align: bottom; }
.control-group { margin: 10px; }
.halign-left { text-align: left; }
.halign-right { text-align: right; }
.halign-center { text-align: center; }

#contents-area {
	width: 430px;
}

#center-top {
	margin-left: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
}

#center-middle {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.icon.icon-searchbox {
	margin-top: 58px;
	margin-left: 30px;
}

input.ntsSearchBox {
	margin-left: 40px;
	width: 285px;
}

.table {
	margin-bottom: 10px;
}

#division {
	width: 430px;
	margin-left: 5px;
}

#center-bottom {
	margin-left: 120px;
	margin-bottom: 0px;
}

#center-bottom > button {
	margin-right: 10px;
}