#basic-label, #imprint-leakage-label, #holiday-label, #overtime-label{
	margin-top: 20px;
	margin-left: 30px;
}

#highlight-label{
	margin-left: 30px;
}
#basic-label-2 {
	margin-top: 40px;
	margin-left: 30px;
}

#highlight-radio-1 {
	margin-top: 15px !important;;
	margin-left: 167px !important;;
}

#basic-label-3 {
	margin-left: 424px;
	margin-top: -12px;
}

#imprint-leakage-radio-e {
	margin-left: 2px;
}

#message-3, #message-2, #message-1 {
	margin-left: 105px;
}

#third-color-picker {
	margin-left: 10px;
}

#message-text-1, #message-text-2, #message-text-3 {
	width: 300px !important;
}

.text-end {
	margin-left: 180px;
	margin-top: 5px;
}

.text-color-1 {
	margin-top: -37px;
	margin-left: 320px;
}

#mess-color-1 {
	margin-top: -34px;
	margin-left: 235px;
}

.small {
	margin-left: 180px;
}

#imprint-leakage-radio-e {
    margin-left: 53px;
}

#holiday-radio-e, #overtime-radio-e {
	margin-left: 52px;
}

.text-adt{
	margin-left: 10px;
}