.kaf018a-emailSetting {
	margin-left: 200px !important;
}

.kaf018a-div-table {
	margin-top: 10px;
	margin-bottom: 10px;
}

.kaf018a-component {
	margin-top: 25px;
	margin-left: 20px;
}

.kaf018a-column1 {
	width: 110px;
}

.kaf018a-column2 {
	width: 550px;
}

.kaf018a-panel {
	padding: 0px !important;
}

.kaf018-a-checkBox {
	display: block;	
	padding-left: 0px;
	padding-bottom: 10px;
}