"src/main/webapp/view/kdw/003/a/kdw003.a.style.css"#function-content {
	width: 1200px;
}

#btnComfirmAttendance {
	vertical-align: text-bottom;
}

#btnVacationRemaining {
	margin-left: 50px;
	top: -12px;
}

#dislayFormatLbl {
	margin-left: 20px;
	top: -12px;
    position: relative;
}

#right-content {
	margin-left: 80px;
	width: auto;
}

#cbListDate {
	/* margin-top: 10px; */
}

#cbListDate {
	display: none;
}

#btn-signAll {
	margin: 3px 0 0 200px;
}

#btn-saveColumnWidth {
	/* float: right; */
	margin-top: 3px;
}

#btn-legend {
	/* float: left; */
	margin-top: 3px;
	margin-left: 200px;
}

#gid {
	margin: 15px 0 0 0px;
    margin-top: -6px;
    height: 700px;
}

.setting-container {
	display: inline-block;
	margin: 3px ;
	/* position: relative; */
	margin-left: 100px;
}

#setting-content {
	height: 200px;
	/* width: 290px; */
	border: 1px solid gray;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	background-color: white;
	margin-left: -267px;
    margin-top: 0px;
	padding: 15px;
	visibility: hidden;
	/* top: -9999px;
	left: -9999px; */
}

#cbCursorMoveDirection {
	width: 20px;
	min-width: 65px;
	vertical-align: middle;
	margin-bottom: 10px;
}

.vacationRemaining-container {
	display: inline-block;
	position: relative;
}

#vacationRemaining-content {
	height: 68px;
	width: 340px;
	border: 1px solid gray;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	background-color: white;
    margin-left: 816px;
    margin-top: 45px;
	padding: 15px;
	visibility: hidden;
}

#vacationRemaining-content button {
	width: 110px;
}

#vacationRemaining-content table td {
	padding: 2px 2px
}

.nts-legendbutton-panel {
	z-index: 2 !IMPORTANT;
}

#tooltip {
    display: none;
    width: 100px;
    cursor: pointer;
    background-color:  #ffffdd;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 5px;
    top: 5px;
}

#tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #ffffdd transparent transparent;
}
#fixed-table .ui-widget-header{
	background-color: #CFF1A5;
	border: 1px solid #CCC;
	text-align: center;
	height: 29px;
	width: auto;
	padding-left: 5px;
	padding-right: 5px
}
#fixed-table .ui-widget-body{
	border: 1px solid #CCC;
	text-align: right;
    height: 29px;
}
/* #fixed-table .ui-widget-body .text-holiday{ 
	margin-right: 10px;
} */
#fixed-table {
	border: 2px solid #CCC;
	text-align: center;
	padding: 0 2px;
	width: auto; 
}

#numberHoliday {
	/* margin-left: 5px;
	height: 80px;
	 */
	float: left;
	margin-left: 10px;
	margin-top: -20px;
	height: 80px;
}
	
#fixed-table tr td {
	border: none !important;
	border-right: 1px solid #CCC !important;
}

#emp-component{
	margin-top: -20px;
	margin-left: -10px;
    width: 820px;
    height: 30px !important;
}
.ui-iggrid .ui-iggrid-headercaption, .ui-iggrid .ui-iggrid-header, .ui-iggrid .ui-iggrid-toolbar {
    background-color: white;
    border-color: white;
}
#content-grid{
    position: absolute;
    top: 93px;
}
#content-grid-not{
/* 	height: 20px ;
	position: relative;
	bottom: -30px;
	margin-right: 300px; */
	margin-top: -3px;
}
.ui-iggrid-results{
	background-color: #e9e9e9;
    bottom: -9px;
    position: relative;
    right: -7px;
}
.nts-grid-wrapper table tr td.ui-state-hover, .nts-grid-wrapper table tr.ui-ig-altrecord td.ui-state-hover,  .nts-grid  tr.ui-ig-altrecord td.ui-state-hover{
	background-color: #f5f5dc ;
}
#right-content {
    margin-left: 80px;
     width: auto;
}
.nts-grid-sheet-buttons{
/* 	margin-top:32px; */
}
.right-align {
  text-align: right;
}
.center-align {
  text-align: center !important;
}
.ui-iggrid table tr th.ui-widget-header, .ui-iggrid table tr.ui-state-focus th.ui-widget-header, .ui-iggrid table tr.ui-ig-altrecord.ui-state-focus th.ui-widget-header {
    text-align: center;
}
#back-navigate{
    z-index: 999;
    position: fixed;
    overflow-x: inherit;
    margin-top: -16px;
}

#flex-table .ui-widget-header{
	background-color: #CFF1A5;
	border: 1px solid #CCC;
	text-align: center;
	/* height: 29px; */
}
#flex-table .ui-widget-body{
	border: 1px solid #CCC;
	text-align: right;
  /*   height: 29px; */
}
#flex-table {
	border: 2px solid #CCC;
	text-align: center;
	padding: 0 2px;
	margin-top: 10px;
}
#text-flex {
	left: 400px;
	position: relative;
	top: -112px;
	width: 216px;}
	
.italic-text{
	/*  font-style: italic; */
	 font-weight: bold;
	 background-color: black !important;
	 color: white !important;
}

.nts-grid tr td.ui-iggrid-selectedcell.ui-state-hover {
	/*  font-style: italic; */
	 background-color: #007fff !important;
	 color: black !important;
}

.image-icon{
	background: url('../a/image/icon.png');
/* 	display: block;
    float: left; */
    margin: 3px -3px;
    padding: 9px 19px;
}
#short-time{
	background-color: #CCC;
}

#agree-table .ui-widget-header {
	background-color: #CFF1A5;
	border: 1px solid #CCC;
	text-align: center;
	/* height: 29px; */
	width: 50px;
}

#agree-table .ui-widget-body {
	border: 2px solid #CCC;
	text-align: center;
	/* height: 29px; */
}

#agree-table {
	border: 2px solid #CCC;
	text-align: center;
	padding: 0 2px;
	/* margin-top: 10px; */
	/* width: 400px; */
}

#agree-time, #agree-excess {
	height: inherit;
	text-align: center;
}

.state-exception {
	background-color: #FCD5B4;
}

.state-alarm {
	background-color: #F6F636;
}

.state-error {
	background-color: #FD4D4D;
}

.Row {
	display: table;
	width: 100%; /*Optional*/
	table-layout: fixed; /*Optional*/
	border-spacing: 10px; /*Optional*/
	margin: -10px;
}

.Column {
	display: table-cell;
}

.mgrid-saturday{
	color: #4F81BD;
}

.mgrid-sunday{
	color: #e51010;
}

.ui-iggrid .ui-iggrid-tablebody td {
    height: 29px;
}

/* .nts-grid  tr.ui-ig-altrecord td.ui-state-active{
	background-color: #007fff !IMPORTANT;
} */

/* #contents-area, #function-content {width: 1280px;}
#left-content{width: 100px; height: 500px; float: left;} */

#functions-area {
    height: auto;}
    
#contents-area {
    /* margin-top: -15px; */
    padding: 5px !important;
}
#employ_view{
	margin: 1px !important;
    margin-left: 12px !important;
}
/* #functions-area button {
	height: 25px !important;
} */
/* button next/pre datetime */
button.auto-height {
    height: 23px !important;
}
button {
    height: 25px !important;
    min-width: 10px !important;
}
/* .mgrid :not(.mgrid-header) table tr td {
    font-size: 10px !important;
} */
/* .mgrid-fixed-table table tr {
    height: 19px !important;
} */
.mgrid .mgrid-fixed table tr, .mgrid .mgrid-free table tr {
   /*  height: 10px !important; */
} 
#contents-area * {
    font-size: 0.8rem;
}
#functions-area * {
    font-size: 0.8rem;
    height: 30px;
}
table#employ_view tr{
	height: 25px !important;
}
#ccg001 * {
    font-size: 1rem;
}
#cbDisplayFormat{
	height: 27px;
}
/* #dislayFormatLbl{
	height: 25px;
} */
.mgrid .mbutton {
	height: 20px !important;	
}
.ccg-lbl-vertical {
    font-size: 18pt !important; 
}
#functions-area button {
	margin-left: 4px;
	margin-right: 4px
}
#functions-area button.danger {
	margin-left: 4px;
	margin-right: 4px
}
.nts-datepicker-wrapper .ntsDatepicker {
    width: 67px;
}
.btn_show_list {
    width: auto !important;
}