"src/main/webapp/view/kdw/003/a/kdw003.a.style.css"#function-content {
	width: 1200px;
}

#btnVacationRemaining {
	margin-left: 50px;
}

#right-content {
	margin-left: 80px;
	width: auto;
}


#cbListDate {
	display: none;
	margin-top: -6px;
}


.btn-signAll2 {
	margin-left: 10px;
}

#gid {
	margin: 2px 0 0 0px;
    height: 700px;
}

.setting-container {
}

#setting-content {
	height: 200px;
	border: 1px solid gray;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	background-color: white;
	margin-left: -206px;
    margin-top: 0px;
	padding: 15px;
	visibility: hidden;
}

#cbCursorMoveDirection {
	width: 20px;
	min-width: 65px;
	vertical-align: middle;
	margin-bottom: 10px;
}

.vacationRemaining-container {
	display: inline-block;
	position: relative;
}

#vacationRemaining-content {
	height: 68px;
	width: 340px;
	border: 1px solid gray;
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	background-color: white;
    margin-left: 567px;
    margin-top: 128px;
	padding: 15px;
	visibility: hidden;
}

#vacationRemaining-content button {
	width: 110px;
}

#vacationRemaining-content table td {
	padding: 2px 2px
}

.nts-legendbutton-panel {
	z-index: 2 !IMPORTANT;
}

#tooltip {
    display: none;
    width: 100px;
    cursor: pointer;
    background-color:  #ffffdd;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 5px;
    top: 5px;
}

#tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #ffffdd transparent transparent;
}

#content-grid{
    position: absolute;
    top: 93px;
}
#content-grid-not{
	margin-top: -3px;
	width: 1175px;
}

.nts-grid-wrapper table tr td.ui-state-hover, .nts-grid-wrapper table tr.ui-ig-altrecord td.ui-state-hover,  .nts-grid  tr.ui-ig-altrecord td.ui-state-hover{
	background-color: #f5f5dc ;
}

#right-content {
    margin-left: 80px;
     width: auto;
}
.right-align {
  text-align: right;
}
.center-align {
  text-align: center !important;
}
#miGrid_fixed .ui-iggrid table tr th.ui-widget-header, .ui-iggrid table tr.ui-state-focus th.ui-widget-header, .ui-iggrid table tr.ui-ig-altrecord.ui-state-focus th.ui-widget-header {
    text-align: center;
}
#back-navigate{
    z-index: 999;
    position: fixed;
    overflow-x: inherit;
    margin-top: -8px;
}

#flex-table .ui-widget-header{
	background-color: #CFF1A5;
	border: 1px solid #CCC;
	text-align: center;
}
#flex-table .ui-widget-body{
	border: 1px solid #CCC;
	text-align: right;
}
#flex-table {
	border: 2px solid #CCC;
	text-align: center;
	padding: 0 2px;
	margin-top: 10px;
}
#text-flex {
	left: 400px;
	position: relative;
	top: -103px;
	width: 180px;}
	
.italic-text{
	 font-weight: bold;
	 background-color: black !important;
	 color: white !important;
}

.nts-grid tr td.ui-iggrid-selectedcell.ui-state-hover {
	 background-color: #007fff !important;
	 color: black !important;
}

.image-icon{
	background: url('../a/image/icon.png');
    margin: 3px -3px;
    padding: 9px 19px;
}
#short-time{
	background-color: #CCC;
}

.state-exception {
	background-color: #EB9152;
}

.state-alarm > span {
	background-color: #F6F636;
	width: calc(100% - 10px);
    display: block;
    margin-left: 5px;
}

.state-error > span {
	background-color: #FD4D4D;
	width: calc(100% - 10px);
    display: block;
    margin-left: 5px;
}

.text-alarm{
	color: #ff0000;
}

.text-error{
	color: #ffffff;
}

.Row {
	display: table;
	width: 100%; /*Optional*/
	table-layout: fixed; /*Optional*/
	border-spacing: 10px; /*Optional*/
	margin: -10px;
}

.agree-column {
	min-width: 145px;
    position: absolute;
    display: inline-block;
}

.Column {
	display: table-cell;
}


.mgrid-saturday{
	color: #4F81BD;
}

.mgrid-sunday{
	color: #e51010;
}

.ui-iggrid .ui-iggrid-tablebody td {
    height: 29px;
}

#functions-area {
    height: auto;
}
    
#contents-area {
    /* margin-top: -15px; */
    padding: 5px !important;
}
#employ_view{
	margin: 1px !important;
    margin-left: 12px !important;
}

#extraction-controls {
	display: flex;
}

#extraction-controls > div {
	height: 42px;
	margin: 0 10px 0 0;
}

#extraction-controls > div > div {
	display: flex;
	justify-content: center;
  	align-items: center;
  	height: 100%;
}

#extraction-controls > div > div > * {
	display: block;
}

#extraction-controls #daterangepicker span.label-span {
	position: relative;
	top: -2px;
}
#extraction-controls #daterangepicker #dislayFormatLbl {
	top: -3px;
}


/* ���t���� */
#daterangepicker .ntsDatepicker {
	width: 90px;
	height: 38px;
	padding: 0;
	border-width: 0;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

#daterangepicker .label-span {
}

/* �����f�[�^ */
#monthly-data-view {
	margin-top: 10px;
	width: calc(100% - 800px);
	overflow-x: scroll;
}

#monthly-data-view #miGrid_fixedContainerScroller {
	display: none;
}

#monthly-data-view #miGrid_scroll {
	/* overflow: hidden !important; */
	overflow-x: auto visible;
} 

#miGrid_container {
	width:auto;
}

/* �c���f�[�^ */
#holiday-agree {
	position: absolute;
	z-index: 1; /* �O���b�h�̉��ɂȂ��Ă��܂��̂���� */
	left: calc(100% - 800px);
	top: 70px;
	margin-left: 10px;
	max-width: 460px;
	height: 80px;
}


#holiday-agree th, #holiday-agree td,
#agree-table th, agree-table td {
	font-weight: normal;
	width: 100px;
	overflow: hidden;
	white-space: nowrap;
}

#monthly-data-view .ui-iggrid-header,
#monthly-data-view .ui-iggrid table tr td,
#holiday-agree .ui-widget-header,
#holiday-agree .ui-widget-body,
#agree-table th,
#agree-table td {
	border-width: 0;
	text-align: center;
}

#monthly-data-view .ui-iggrid-header,
#holiday-agree .ui-widget-header {
	background-color: #fff;
	color: #000;
}

#monthly-data-view .ui-iggrid-header .ui-iggrid-headertext,
#holiday-agree th span,
#agree-table th span {
	display: block;
	margin-left: 5px;
	margin-right: 5px;
	border-style: solid;
	border-width: 0 0 1px 0;
	font-weight: normal;
}

#monthly-data-view .ui-iggrid-header .ui-iggrid-headertext {
	border-color: #01956A;
}

#holiday-agree th span {
	border-color: #406158;
}

#agree-table th span {
	border-color: #DB4F51;
}

#monthly-data-view .ui-iggrid-fixedcontainer-left {
	border-right-width: 0 !important;
}

#monthly-data-view .ui-iggrid table tr td {
}


#grid-controls {
	display: flex;
	align-items: center;
	margin: 5px 0;
    padding-top: 17px;
}

#grid-controls > * {
	margin-right: 12px;
}

#grid-controls > button {
	width: 95px;
}

/* ���C���̃O���b�h */
.font-smaller * {
	font-size: 0.8rem !important;
}



table#employ_view tr{
	height: 25px !important;
}

#cbDisplayFormat{
    width: 110px;
    transform: scale(0.86);
}

#btn-setting {
	width: 25px;
	height: 25px;
}

#btn-setting:not(:hover) {
	background-color: transparent;
}

.mgrid .mbutton {
	height: 20px !important;	
}

#content-all-grid{
    position: relative;
    top: -5px;
}

.ntsDateNextButton  {
	margin-bottom: 4px !important;
}

 .ntsDatePrevButton  {
	margin-bottom: 4px !important;
}

#wkp_title_text-emp-component {
	width: 180px !important;
    margin-top: 20px;
	
}

#wkp_text-emp-component {
	width: 150px !important;
}

#btnExtraction {
	height: 30px;
	width: 100px;
}

.hyperlink,
.mgrid .mlink-button {
	text-decoration: none !important;
	color: #8d7565 !important;
}