.contents-container {
	margin-left: 10px;
}

.action-container {
	margin-bottom: 10px;
}

.btn-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-warning {
	margin-right: 3px;
	background-image: url(images/icon_warning.png);
	background-size: 20px;
  width: 20px;
	height: 20px;
}

.icon-start {
	margin-right: 3px;
	background-image: url(images/icon_start.png);
	background-size: 20px;
  width: 20px;
	height: 20px;
}

.icon-stop {
	margin-right: 3px;
	background-image: url(images/icon_stop.png);
	background-size: 20px;
	width: 20px;
	height: 20px;
}