.contents-container {
	margin-left: 10px;
}

.btn-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-process-start, .button-process-stop {
  border: none;
  box-shadow: none;
  transform: none !important;
  background-color: transparent !important;
  padding: 0 7px !important;
}