#name{
	margin-left: 20px;
}
#table{
	margin-left: 40px;
	margin-top: 20px;
}
.row2{
	padding-bottom: 20px;
}
#inpDay{
	width: 50px;
}

#inpHour{
	width: 50px;
}

.icon-78 {
    background: url(icon/icon78.png);
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
}

#content-area {
	width: 840px !important;
	margin-left: 20px;
}

#left-content {
	float: left;
	clear: right;
}

#right-content {
	float: left;
}