@import url("common.css");

#label {
	margin-left: 50px;
	margin-top: 30px;
}

#inpPattern {
	width: 170px;
}

#left-content {
	width: 365px;
	height: 410px;
	float: left;
	clear: right;
}

#content-area {
	padding: 20px !important;
}

#ckbThree {
	margin-left: 180px;
	margin-top: 25px;
}

.div_line_col_1 {
	width: 150px;
	display: inline-block;
}

.div_line_col_2 {
	display: inline-block;
}
.txt{
	line-height: 30px;
}
.nowrap{
	white-space: nowrap !important;
}