@CHARSET "UTF-8";
textarea {
	resize: none;
	background: transparent;
  	color: rgba(0, 0, 0, 0); 
}
#input-containner{
	width: 822px;
	height: 365px;
	position: relative;
}
#input-content-area{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
#input-area{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}