#contents-area .table{
    width: 1200px;
    padding: 15px;
}

#functions-area .ntsControl, #A2_6 {
    float: right;
}

#A1_2 {
    margin-right: 80px;
}

#A1_6 {
    margin-left: 10px;
    margin-right: 40px;
}

#A3_2, #A3_6, #A3_9, #A3_13 {
    width: 180px;
}

#A4_1, #A5_1, #A7_1, #A8_1 {
    margin-top: 20px;
}

#A7_2, #A8_2 {
    background: url("../resource/QMM019_1.png") no-repeat;
    border: 0;
    width: 27px;
    height: 24px;
}

#A4_2, #A5_2, #A7_3, #A8_3 {
    font-size: 22px;
}

#A7_3, #A8_3 {
    margin-left: 15px;
}