@CHARSET "UTF-8";

.lableData {
}

.checkbox-wrapper{
	display: flex;
}

.lableDataFull {
	margin-left: 20px;
	width: 96%;
	margin-top: 10px;
}

.setting {
	margin-top: 5px;
	margin-bottom: 25px;
	margin-left: 15px;
}

.line{
	border-bottom: solid grey 1px;
	max-width: 100%;
	height: 40px;
}

.listData{
	margin-top: 15px;
    margin-left: 32px;
}

.border-all td {
	border: solid grey 1px;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	min-width: 85px;
	max-width: 100px;
}

.bg-dark-green {
	background-color: #C7F391;
}

.detailSetting {
	margin-top: 25px;
	margin-left: 35px;
}

.detailSetting table td {
	vertical-align: unset;
	
}

.settingTime {
	margin-left: 20px;
}

#comboYearlyCon {
	width: 100px;
	margin-left: 10px;
}