.contents-area{
	margin-left: 10px;
	width: 615px;
}
.kdm002_2{
	margin-left: 15px;
}
.bggreen {
	background-color: #BFEA60;
}
.result{
	margin-bottom: 10px;
}

.table_result {
	margin-top: 10px;
	margin-left: 15px;
	box-sizing: border-box;
	border: 1px solid black;
}

.table_result td {
	border: 1px solid black;
}
td {
	padding-top: 5px;
	padding-bottom: 5px;
}

.error-ichiran{
	margin: 5px;
	display: grid;
}
.ichi-ran{
	margin-left: 10px;
	font-weight: normal;
	width: 600px;
}