.div-scan-result {
    border: 1px solid silver;
    padding-left: 0px;
    padding-right: 0px;
}
.content-qr {
	padding: 15px;
}
#reader > video {
	width: 100% !important;
	height: 100%;
}
.menu-header {
	margin: auto;
	margin-top: 36px; 
}
.qr-content {
	margin: auto;
	width: 830px;
	height: 280px;
	margin-top: 35px;
}
#render-result {
	width: 400px;
	height: 305px;
	background: #ffffff 0% 0% no-repeat padding-box;
	color: #2D2D2D;
    padding: 35px 57px;
    border: solid #7F7F7F;
    border-width: 1px 1px 0px 1px;
}
#divInfo {
	margin-left: 30px;
}
#render-result-success > div {
	margin-bottom: 20px;
}