.nts-searchbbox-wrapper {
	display: inline-block;
}

#treegrid1_container {
	margin-left: 115px;
}

div#grid_container_container.ui-widget.ui-helper-clearfix.ui-corner-all.ui-iggrid.nts-gridlist
	{
	margin: auto !important
}

.control-group {
	margin-left: 22px;
}