#contents-area .header {
    padding: 10px 0 0px 30px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-33 {
    margin-left: 33px;
}

#contents-area .month .combo-box {
    width: 100px;
}

.ui-igcombo.ui-widget.ui-state-default.ui-corner-all.ui-unselectable {
    max-width: 110px;
}

div#combo-box {
    width: 110px;
}

#B2_2 {
    padding-left: 48px;
}

.item-inputbox {
    width: 27px;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}

.strComboMonth, .endComboMonth {
    margin-left: 5px;
}