.let-select{
	margin-left: 35px;
    margin-top: 20px;
}

.return{
	margin-left: 35px;
	margin-top: 15px;
}

.combobox-return{
	vertical-align: bottom;
}

.comment{
	vertical-align: middle;
	width: 400px;
    height: 50px;
    margin-top: 20px;
}

.flex {
    display: flex;
    margin-left: 35px;
    margin-top: 20px;
}

#sendBackComment{
	width: 750px; 
	height: 95px;
}