.margin-left-20 {
	margin-left: 20px;
}
.form-data tr td:nth-child(1) {
	width: 110px;
}
.form-data {
	margin-left: 12px;
   	min-height: 333px;
}
.form-data tr {
	height: 40px;
}

.form-data tr:nth-child(1)  label.radio-wrapper:nth-child(2){
	margin-left: 70px;
} 
.rowHelpButton .ntsHelpButton{
	vertical-align: top;
}
.rowHelpButton .ntsHelpButton button{
	top: 0 !important;
}