#showtypeCbb {
	margin-bottom: 10px;
}

#delete-button {
	margin-left: 90px !important;
}

#labelName, #remark-no-label {
	margin-left: 80px;
}

#labelUseAtr {
	width: 121px;
}

#type-label, #remark-cancel-label, #color-label, #color-display-target-item-label,
	#message-label {
	width: 180px;
}

#noticed-label, #boldAtr {
	margin-left: 180px;
}

#noticed-label {
	margin-bottom: 10px;
	width: auto;
}

#boldAtr {
	margin-top: 5px;
}

#messageDisplay {
	vertical-align: text-top;
	height: 120px;
	width: 400px;
	margin-top: -20px;
}

.table-template td {
	padding: 2px;
}

.display-list-label {
	width: 500px;
}

#application-type-grid-list_container {
	margin: 12px 0 0 20px !IMPORTANT;
}

.formula-list {
	margin: 7px 0 7px 0;
}

.formula-list th {
	background-color: #CFF1A5;
	text-align: center;
	padding: 3px;
}

.formula-list tr {
	border: 1px solid lightslategray;
}

div[id^="tab"] {
	width: 740px;
}
#combo-box{
	width: 250px !important;
}

[dropdown-for="combo-box"] .nts-combo-column-0 {
  width: 240px !important;
}

.switchEnd{
    float: right;
    margin-right: -45px;
}