#scrB #tableCommonMonth table {
	border-collapse: collapse;
}

#scrB #tableCommonMonth table th, #scrB #tableCommonMonth table td{
	border: 1px solid  black;
	padding: 5px;
}

#scrB #tableCommonMonth table td > span > input{
	/* background-color:transparent;
    border: 0px solid; */
    text-align: center;
}

#scrB.contents-area {
	display: flex;
	padding-top: 30px;
	padding-left: 50px;
}

#scrB #includeTableMonthlyDay > div:nth-child(2) {
	padding-top: 20px;
	padding-bottom: 20px;
}

#scrB #nts-component-tree {
	padding: 20px !important;
}

#scrB #tableCommonMonth table thead tr th:nth-child(1) {
	width: 60px;
}
#opencdl028Dialog {
	margin-left: 60px;
}
