@CHARSET "UTF-8";

#contents-area{
  padding: 10px 20px 20px 20px;
}
.column-label {
  min-width: 130px;
}

.column-label-date-month {
  min-width: 127px;
}

.row-line {
  float: left;
  padding-top: 15px;
}

.row-line-header{
  float: left;
  padding-bottom: 15px;
}
.row-line>.width-small {
  width: 90%;
}

.row-indent {
  padding-left: 133px;
  width: 70%;
}

.radio-group>.ntsRadioBox {
  min-width: 100px;
}

.radio-group-small>.ntsRadioBox {
  min-width: 70px;
}

.date-picker {
  margin-left: 15px;
}

.checkbox-day {
  padding-right: 25px;
}

.checkbox-month {
  width: 31px;
}

.repeat-interval-and-end-date {
  min-width: 112px;
}
.margin-botton {
  margin-top: 10px;
}
.ntsTextEditor {
  resize: none;
}

#monthDays {
  display: flex;
  align-items: center;
}

#dialogDBtn {
  /* position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px; */
  margin-right: 5px;
}

.row td {
  padding: 1px 0;
}

.detailSettingDiv {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 15px;
  padding: 5px 0;
  height: 125px;
}

.open-dialog-d{
  float: left;
  padding-left: 130px;
}

.text-edit-month-day {
  float: left;
}

.ntsTextEditor{
  width: 370px;
  margin-left: 10px;
}

#oneDayRadio {
  float: left;
  margin-top: 6px;
}

#oneDayTime {
  margin-left: 6px;
  float: left;
}