#contents-area>div, #contents-area>table{
	margin-left: 13px;
}
.error{
	color: red;
}
#contents-area table tr td>div{
	min-height: 40px;
}
#contents-area table.basic-items tr td:first-child {
	vertical-align: text-top;
}