#content-left {
    margin-top: 15px !important;
    margin-right: 0 !important;
}

#A1_4 {
    margin-left: 60px;
}

#A1_2 {
    margin-left: 10px;
}

#A1_3 {
    margin-left: 10px;
}

#A1_5 {
    margin-left: 10px;
}

#A4_2 {
    width: 100px;

}

#A4_3 {
    margin-left: 8px;
}

#A4_4 {
    margin-top: 8px;
}

#A4_5 {
    width: 125px;
}

#A4_6 {
    margin-top: 8px;
}

#A4_7 {
    width: 125px;
}

#A4_8 {
    margin-top: 8px;
}

#A4_9 {
    width: 125px;
}

#A4_12 {
    width: 50px;
}

#A4_14 {
    margin-top: 8px;
}

#A4_15 {
    width: 410px !important;
}

#A4_16 {
    margin-left: 30px;
    margin-top: 10px;
    border-color: transparent;
}

#A4_17 {
    width: 410px !important;
}

#A4_18 {
    margin-top: 8px;
}

#A4_19 {
    width: 410px !important;
}

#A4_20 {
    margin-left: 30px;
    margin-top: 10px;
    border-color: transparent;
}

#A4_21 {
    margin-left: -30px;
    width: 410px !important;
}

#A4_22 {
    margin-top: 8px;
}

#A5_5 {
    margin-left: 5px;
}

#A5_8 {
    margin-left: 5px;
}

#A5_9 {
    margin-top: 8px;
}

#A5_15 {
    margin-top: 8px;
}

#A5_35 {
    width: 160px;
    margin-left: 10px;
}

#A5_38 {
    width: 160px;
    margin-left: 10px;
}

#A5_13 {
    margin-top: 8px;
}

#A5_6 {
    margin-top: 8px;
}

#A5_30 {
    margin-top: 8px;
}

#A5_33 {
    width: 370px;
    height: 60px;
}

.column-1 {
    width: 190px;
}

.column-1-tab-2 {
    width: 230px;
}

.margin-left-5px {
    margin-left: 5px;
}