#content-left {
    margin-top: 15px !important;
    margin-right: 0 !important;
}

#A1_4 {
    margin-left: 60px;
}

#A1_2 {
    margin-left: 10px;
}

#A1_3 {
    margin-left: 10px;
}

#A1_5 {
    margin-left: 10px;
}

#A4_2 {
    width: 100px;

}

#A4_3 {
    margin-left: 8px;
}

#A4_4 {
    width: 40px;
    margin-right: 10px;
}

#A4_6 {
    padding-left: 60px;
    margin-top: 10px;
    border-color: transparent;
}

#A4_5 {
    width: 290px !important;
}

#A4_7 {
    width: 290px !important;
    margin-left: 80px;
}
#A4_10 {
    margin-top: 5px;
}
#A4_11 {
    width: 290px !important;
}
#A4_13 {
    width: 290px !important;
}
#A4_12 {
    margin-top: 5px;
}
#A4_14 {
    margin-top: 5px;
}
#A4_23 {
    margin-top: 5px;
}
#A4_24 {
    width: 370px !important;
}
#A4_25 {
    margin-top: 5px;
}
#A4_26 {
    width: 370px !important;
}
#A4_27 {
    margin-top: 5px;
}
#A4_28 {
    width: 370px !important;
}
#A4_29 {
    margin-top: 5px;
}
#A4_30 {
    width: 370px !important;
}
#A4_24 {
    width: 300px;
}
#A4_31 {
    margin-top: 5px;
}
#A4_35 {
    width: 370px;
    height: 100px;
}
#A5_2,#A5_7 {
    width: 240px !important;
}
#A5_5,#A5_37,#A5_12,#A5_33,#A5_35,#A5_37 {
    width: 370px !important;
}
#A5_6 {
    margin-top: 5px;
}
#A5_8 {
    margin-top: 5px;
}
#A5_13 {
    margin-top: 5px;
}
#A5_18,#A5_20,#A5_22,#A5_26,#A5_28,#A5_30 {
    width: 180px  !important;
}
#A5_19 {
    margin-left: 174px;
}
#A5_21 {
    margin-left: 174px;
}
#A5_27 {
    margin-left: 174px;
}
#A5_29 {
    margin-left: 174px;
}

.labelSpan {
    margin-right: 5px;
    margin-left: -17px;
}
.column-1 {
    width: 190px;
}

.column-1-tab-2 {
    width: 230px;
}

.margin-left-5px {
    margin-left: 5px;
}