hr {
	margin-left: 30px;
	margin-right: 30px;
}

#top {
	margin-left: 30px;
	margin-top: 10px;
	margin-right: 60px;
}
button.nts-switch-button {
	min-width: 100px;
}
#workplace-group-pannel{
	margin-top: 10px;
}
.nts-searchbbox-wrapper input.ntsSearchBox{
	min-width: 235px;
}
#single-tree-grid-tree-grid_scrollContainer{
	height: 288px !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active),
@supports (-ms-accelerator:true) or (-ms-ime-align:auto) {
   #single-tree-grid-tree-grid_scrollContainer{
	height: 293px !important;
}
}