.divHeader {
	margin: 5px;
}

.btnStyle {
	width: 70px;
	margin-right: 5px;
}

.trFull5 {
	width: 5%;
}

.trFull10 {
	width: 10%;
}

.trFull15 {
	width: 15%;
}

.trFull25 {
	width: 25%;
}

.trFull30 {
	width: 30%;
}

.trFull35 {
	width: 35%;
}

.trFull45 {
	width: 45%;
}

.left20 {
	margin-left: 20px;
}

.labelRed {
	font-weight: bold;
	color: red;
}

.trFull15 {
	width: 15%;
}

#btn_delete {
	margin-left: 200px;
}

#lbl_registrationOfLaborInsurancePlant {
	float: right;
}

#contents-left, #contents-right {
	padding: 20px;
	vertical-align: top !important;
}

#contents-right {
	padding-left: 40px !important;
}

.leftTop {
	display: inline;
	width: 100%;
}

#SCH_001 {
	width: 100%;
}

.spanSearch {
	float: right;
	width: 20%;
}

.contentsRL {
	width: 50%;
	padding-bottom: 5px;
}

.contentsRR {
	width: 70%;
}

#tableRight {
	width: 100%;
}

#inp_code {
	width: 100px;
}

#inp_name {
	width: 30%;
	margin-left: 10px;
}

button.nts-switch-button {
	min-width: 80px;
}

#SEL-002, #SEL-004 {
	min-width: 0px !important;
	max-width: 160px !important;
}

#search_001 {
	margin-top: 20px;
}