.contents-area {
	overflow-y: auto; 
	height: calc(100vh - 161px);
	white-space: nowrap;
}
.sidebar-content {
	overflow: hidden !important;
}
.sidebar-content-header {
	min-width: 750px;
}
.sidebar-content-header > button {
	padding: 0px 15px;
}

.danger {
	margin-left: 50px;
}

.title {
	margin-right: 15px;
}
#sidebar-area {
	width: 60px;
}

.tabpanel-1-contents-area-left {
	width: 350px;
	margin-left: 25px;
	margin-top: 25px;
	display: inline-block;
	clean: right;
	vertical-align: top;
}

.tabpanel-1-contents-area-right {
	width: 686px;
	margin-top: 25px;
	display: inline-block;
	clean: right;
	vertical-align: top;
}

.tabpanel-1-contents-area-right.screen-b {
	margin-left: 25px;
	margin-top: 10px;
}

.table-basic-setting-list th, .table-basic-setting-list td {
	border: 1px solid gray;
}

.table-basic-setting-list {
	width: 673px;
}

.ml10 {
	margin-left: 10px;
}

.lbl-title-employeer-name {
	margin-bottom: 15px !important;
}

.lbl-title-employeer-name>div {
	margin-right: 20px;
}

#func-notifier-errors {
	top: 140px !important;
	left: 125px !important;
}

#sidebar {
	height: 99% !important;
}

.table-basic-setting-list-td-label {
	background-color: #F7EFD4 !important;
	padding: 3px;
}

td.table-basic-setting-list-td-label span.nts-editor-wrapped.ntsControl {
	width: auto !important;
}

td.table-basic-setting-list-td-label.no-bottom-border {
	border-bottom: 1px solid transparent;
}

td.table-basic-setting-list-td-label.no-right-border {
	border-right: 1px solid transparent;
}

td.force-left-border {
	border-left: 2px solid #a3a3a3;
}

.time-editor-custom-width {
	width: 58px !important;
	margin: 3px !important;
	padding: 3px 6px !important;
}

.table-basic-setting-list th {
	height: 35px;
}

th {
	text-align: center;
}

td.wrap-white-space-pre-line {
	white-space: pre-line !important;
	word-break: keep-all;
	padding: 3px;
}

td.align-bottom-td span.nts-editor-wrapped.ntsControl {
	margin-top: 7px;
	margin-bottom: -7px;
}

td.padding-bottom-td {
	padding-bottom: 7px;
}
