.link {display: inline; background-color: #a4eeb0; vertical-align: middle; }
.icon_link {width: 30px; }
#left-content { margin-left: 20px; margin-top: 12px; padding: 20px; float: left; width: 20%; height: auto;}
#right-content {padding-left: 94px; float: left; margin-top: 32px;}