.FormLabel {
	width: 80px;
}

table td {
	padding: 5px;
}

#TblHeader {
	margin-left: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.Content {
	margin-left: 25px;
}

.ui-widget-header {
	font-weight: normal !important;
}

.ui-iggrid .ui-iggrid-tablebody td{
	height: 44px !important;
}

