.row1{margin-bottom: 20px;}
.left-contents{margin-top: 30px;float:left;}
.right-contents{margin-top: 30px;float:left; margin-left: 60px;}
#contents-area{margin-left: 10px;}
.ntsControl.nts-datepicker-wrapper{margin-right: 65px;}
.row1-left{margin-bottom:10px;}
.row1-right{margin: 5px 0px 15px 0px;}
.row2-right{margin-bottom: 15px;}
#date{margin-left: 102px;}
.row3-right span {margin-left: 60px; vertical-align: top;}