#appType {
	margin-right: 45px;
}

.leftExtend {
	margin-top: 20px;
}

.selectApprover {
	padding-bottom: 0px;
	padding-top: 25px;
}

.approverSelect {
	float: right;
	margin-right: 320px;
	margin-top: 5px;
}