.title {
    margin-top: 6px;
    margin-bottom: 20px;
    margin-left: 35px;
}

.switchbox-wrappers.radio-wrappers label input+span {
    text-align: center;
    width: 62px;
}

.setMail {
    margin: 0 0 30px 36px;
}

.setMail .left {
    float: left;
    width: 190px;
}

.setMail .right {
    float: left;
}

.setMail .option .person-admin {
    margin-right: 30px;
}

.setMail .option .configured {
    margin-left: 48px;
}

.setMail .option {
    margin-bottom: 20px;
}

.setMail .option span {
    width: 70px;
    display: inline-block;
}

.setMail .option button {
    padding: 4px 25px;
}

.custom-table {
    padding: 15px 0px 15px 0px;
    width: 100%;
}

.custom-cell {
    width: 17%;
}

.custom-btn {
    margin-left: 30px;
    width: 80px;
    height: 30px;
}

.tab-2 {
    margin-left: 36px;
}

.tabs-panel.has-content {
    width: 42%;
    overflow: hidden;
    padding-left: 40px;
}


