#contents-area {
	margin-left: 25px
}

#time-edit1, #time-edit2 {
	text-align: center !important;
	width: 43px !important;
}

#set-work-type {
	margin: 15px 0px
}
 
#set-work-type>* {
	vertical-align: middle;
}

#combo-box2 {
	margin: 15px 0 10px 105px;
}

.mw-90 {
	min-width: 100px
}

#clear {
	float: right;
	margin-right: 25px;
	margin-bottom: 10px
}

#table-date {
	margin-bottom: 10px;
	margin-left: 104px;
}

#table-date table, #table-date th, #table-date td {
	border: 1px solid #ccc;
	border-collapse: collapse;
	width: 930px;
	height: 26px;
	text-align: center;
	min-width: 25px;
}

#table-date th {
	background-color: #EDFAC2
}

#table-date td {
	font-size: 14px;
}

#pairPatternName {
	vertical-align: middle;
}

#color-red {
	color: red
}

#combo-box2 {
	min-width: 770px !important
}
div.label{
	margin-bottom:5px;
}