#contents-area {
	width: 1200px !important;
}

.boder-style {
	float: left;
	clear: right;
	margin-top: 10px;
}

.contents-area-left {
	height: 400px;
	width: 254px;
	margin-left: 20px;
}

.contents-area-middle {
	height: 150px;
	width: 230px;
}

.contents-area-right {
	height: 150px;
	width: 230px;
}

.contents-area-caret-right {
	height: 300px;
	width: 65px;
	float: left;
	clear: right;
	padding-top: 20px;
}

.lbl-before-ready {
	padding: 20px;
	color: gray;
	background: #dcf4e7;
}

.panel-custom-font-size {
	font-size: 2em;
}

.lbl-unit-setting-explanation, .lbl-general-labor-explanation {
	margin-top: 7px;
}

.btn-area-middle, .btn-deformed-labor {
	margin-top: 10px;
}

.contents-area-right-caret {
	margin-left: 10px;
}

.lbl-general-labor-explanation-margin-top {
	margin-top: 30px;
}
