#totalTable {
	width: 250px;
}

#content-left {
  width: 350px;
  position: absolute;
  top: 130px;
}

#content-mid {
  width: 60px;
  position: absolute;
  top: 300px;
  left: 400px;
}

#button {
  margin-top: 40px;
}

#button-plus {
  margin-left: 15px;
}

#button-minus {
  margin-left: 15px;
  margin-top: 40px;
}

.ntsPanel {
  width: 350px;
}

.combo {
  height: 55px;
}

.combo-box {
  float: right;
  width: 140px;
  margin-top: 4px;
  margin-right: 95px;
}

.input {
  margin-left: 40px;
  width: 150px;
  margin-top: 5px;
}

.text-input {
display: inline-flex;
}

#content-right {
  position: absolute;
  left: 475px;
  top: 230px;
}
#content-top {
  float: top;
  height: 40px;
}

#contents-area {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

#table-Hd-Grant td {
	padding-left: 5px !important; 
}

.float-right {
	float: right !important;
}

hr {
	clear: both;
}

#message-area {
	padding: 10px;
}

.bold {
	font-weight: bold;
}

.text-center {
  text-align: center;
}