#screen-b #setting-unit {
    margin-top: 40px;
    margin-left: 50px;
}

#screen-b #comment {
    margin-top: 10px;
    margin-left: 50px;
}
#screen-b #comment .item-name {
     display: inline-block;
    width: 140px;
    vertical-align: top;
    margin-left: 20px;
}
#screen-b #comment-title {
	margin-top: 60px;
    margin-left: 50px;
}
#screen-b .item-name {
    display: inline-block;
    width: 160px;
    vertical-align: top;
}

#screen-b #comment-text {
    width: 300px;
    height: 100px;
}

#screen-b .cf > button.nts-switch-button {
    width: 90px;
}

.d-flex {
    display: flex;
}

#switchBtn1 {
    margin-left: 13px;
}

#switchBtn1 span {
    display: flex;
    justify-content: center;
    width: 75px;
}