#contents-area {
	overflow: visible;
}

#D_BTN_001 {
	margin-top: 2px;
	margin-left: 23px;
}

#D_BTN_002 {
	margin-left: 15px;
}

#label-d1-003 {
	margin-top: 20px;
	margin-left: 19px;
}

.proceed {
	margin-left: 25px !important;
}

.ntsDateRange_Container {
	margin-left: 80px;
	margin-top: -34px;
}

.caret-bottom {
	margin-left: 10px;
}

.nts-fixed-table.cf {
	margin-top: 15px;
}

.nts-fixed-table .ui-widget-header {
	text-align: center;
	height: 30px;
}

.nts-fixed-table .nts-fixed-body-table>tbody>tr>td {
	height: 22px;
}