.table-form, .table-panel {
	width: 100%;
}

.table-form td {
	padding-top: 5px;
	padding-bottom: 5px;
}

.table-panel td {
	padding: 5px;
	vertical-align: top;
}
.left-column{
	padding-left:10px;
	width:140px;
}
.input-column{
	width: 250px !important;
    margin-left: 20px;
}