/* ====================== main css =============================*/
#contents-area {
	width: 825px !important;
	padding: 5px 0px 0px 10px !important;
}

.control-group {
    margin-bottom: 7px !important;
}

/* ====================== div css =============================*/
.contents-area-right-left {
	width: 825px;
	display: inline-block;
}

#left-contents-area {
	width: 370px;
	float: left;
	padding: 15px;
	margin-right: 25px;
}

#right-contents-area {
	width: 370px;
	float: left;
	padding: 15px;
}

.d-div-label {
	margin-right: 30px;
}
.right-contents-area-label{
	width: 170px !important;
	height: 35px !important;
}
.select-print-year-month {
	margin-top: 10px;
}
#div-button-bottom {
	text-align: center !important;
	width: 820px;
	
}
#div-button-bottom > button {
	margin: 0px 10px;
	width: 100px !important;
}
/* ====================== radio css =============================*/
#zero-item-setting-list .ntsRadioBox {
	width: 99% !important;
}

/* ====================== checkbox css =============================*/
.zero-output-checkbox {
	margin-left: 137px;
}
/* ====================== label css =============================*/
.d-label-001, .d-label-005, .d-label-007 {
	margin-bottom: 10px;
}

.d-label-005 {
	margin-top: 70px !important;
}



/* ====================== Switch css =============================*/
.div-zero-setting {
	padding-left: 40px;
	padding-top: 10px;
}
button.nts-switch-button {
	width: 90px !important;
	height: 30px !important;
}

.right-contents-area-switch {
	margin: 10px 0px 0px 20px !important;
}

/* ====================== listbox css =============================*/
#combo-box-select-print-YM {
	margin: 10px 0px 0px 20px !important;
}
.right-contents-area-comobox{
	width: 180px !important;
}
