@CHARSET "UTF-8";

#contents-area {
	width: 1300px;
	margin-top: 10px;
}

hr {
	width: 680px;
	float: left;
	margin-bottom: 15px
}

.control-group {
	margin-bottom: 15px;
}

.left-content {
	float: left;
	width: 40%;
}

.right-content {
	float: left;
	width: 60%;
}

.right-content-left {
	float: left;
	width: 23%
}

.right-content-right {
	float: left;
	width: 77%
}

.consignor {
	margin-left: 5px
}

#A_LBL_002, #A_LBL_003, #A_LBL_009, #A_LBL_010, #A_LBL_011, #A_LBL_012,
	#A_LBL_013 {
	margin-bottom: 10px;
	display: block
}

#A_BTN_001 {
	margin: 4px 0px 0px 10px;
	padding: 0px 20px;
}

#A_BTN_002 {
	margin-left: 10px;
	padding: 0px 20px;
}

#A_BTN_003, #A_BTN_007 {
	margin-left: 10px;
	padding: 0px 10px;
}

#A_BTN_004 {
	margin: 0px 330px 0px 100px;
	padding: 0px 20px;
}

#A_LST_001 {
	border-radius: 5px;
	padding: 15px;
	width: 85%;
	height: 580px
}

#A_INP_004, #A_INP_005 {
	margin-bottom: 15px
}

#A_LBL_004, #A_LBL_007 {
	margin: 0px 5px
}

#A_LBL_005 {
	margin: 0px 5px 0px 0px
}

#A_LBL_006 {
	margin: 0px 15px
}

#A_INP_002 {
	margin-left: 5px
}

#A_SEL_001 .nts-switch-button {
	width: 90px;
	height: 33px
}