.container-content {
  padding: 15px;
}

.grid-list {
  margin-top: 15px;
}

.date-picker {
  margin-left: 15px;
  margin-right: 10px;
}

.two-panel {
  display: inline-flex;
}

.right-panel {
  width: 450px;
  margin-left: 40px;
}