#left-content{
	margin-top: 15px;
    height: 300px;
    margin-left: 10px;
	width: 450px;
}

#app-type{
	width: 140px;
}

#disp-order{
	margin-top: 20px;
	margin-left: 15px;
}

#grid-up-down{
	margin-left: 20px;
}

#right-content{
    float: left;
    margin-left: 30px;
    margin-top: 50px;
}

#reason-temp{
	margin-top: 20px;
}

#default-flg{
	margin-top: 20px;
}

#grid-test-single > tbody > tr> td:nth-child(1){
	text-align: center !important;
}

