#left-content{
	margin-top: 0px;
    height: 300px;
    margin-left: 10px;
	width: 440px;
}

#app-type{
	width: 180px;
}

#disp-order{
	margin-top: 5px;
	margin-left: 15px;
}

#grid-up-down{
	margin-left: 20px;
}

#right-content{
    float: left;
}

#reason-temp{
	margin-top: 20px;
}

#grid-test-single > tbody > tr> td:nth-child(1){
	text-align: right !important;
}

#grid-test-single > tbody > tr> td:nth-child(3){
	text-align: center !important;
}

#grid-test-single_scrollContainer {
	height: 361px !important;
}

