/* #contents-area{
	width:1200px;
} */
#left-content {
	padding: 10px 0px 0px 7px;
	float: left;
	width: 250px;
    height: 410px;
    
	border-radius: 7px;
    box-sizing: border-box;
}
#right-content {
	margin-left: 55px;
	float: left;
	margin-top: 8px;
}

.custom {
	position: relative;
	width: 40px;
	top: 17px;
	left: 16px;
}
.arrow-button{	
	padding: 80px 20px;	
	margin: 2px;
}

.btn-custom{
	width: 52px !important;
	height: 31px !important;
	padding: 0px !important	;
	margin-bottom: 20px !important;
}
.icon-btn-custom {
	width: 32px !important;
}
.container-custom {	
	display: flex;
	margin-top: 5px;
	width: 750px;
}
.container-table {
	display: flex;
}
.input {	
	margin-right: 20px;
	margin-left: 10px;		
}
.label {
	margin-top: 5px;		
}
.lblForm{
	margin-right: 281px;
}

#line {
	margin: 5px 0px 10px 0px;
	width: 750px;
	border:none;
	/* display: block; */
	height: 1px;
	background:#9A9A9A
	
}
i {
	background-size: auto !important;
}
