#header {
	height: 61px;
}

#selRecords {
	width: 280px;
}

fieldset {
	text-align: center;
	margin: 10px 10px;
}

legend {
	text-align: left;
	margin: 10px 10px;
}

textarea {
	resize: none
}

label.title {
	font-size: 24px;
	margin: 10px 10px;
}

div.form-label{
	margin: 10px 0px;
}

button {
	margin: 0px 10px;
}
