#header {
	height: 61px;
}

#left_frame{
	background-color: #EEFFEE;
	width: 330px;
	height: 500px;
	margin: 10px 10px;
}

#middle_frame{
	background-color: #FFFFFF;
	width: 340px;
	height: 500px;
	margin: 10px 0px;
}

#right_frame{
	width: 500px;
	height: 500px;
	margin: 10px 0px;
}

#uktable {
	width: 280px;
}

#ukcolumns {
	width: 280px;
}

fieldset {
	text-align: center;
	margin: 10px 10px;
}

legend {
	text-align: left;
	margin: 10px 10px;
}

textarea {
	resize: none
}

label.title {
	font-size: 24px;
	margin: 10px 10px;
}

div.form-label{
	margin: 10px 0px;
}

button {
	margin: 0px 10px;
}

.caret-left.outline {
	font-size: 10px;
	margin: 0px 0px;
	height: 30em;
}

.caret-left.outline:after {
	border-width: 1.4em 0.5em;
	font-size: 5em;
}
