.danger {
	margin-left: 100px !important;
	margin-right: 5px !important
}

hr {
	width: 250px;
	position: absolute;
}

#group-link-button-ja {
	height: 30px;
	width: 775px;
}

#group-link-button-ja a {
	font-size: 13px;
	margin-top: 5px;
	margin-left: 10px;
	display: inline-block;
}

#test2 {
	background-color: #FBE5D6;
	margin-top: 5px;
	width: 810px;
	padding: 3px;
}

#test2 button {
	width: 75px !important;
	height: 25px !important
}

#test2 table td {
	padding: 3px 3px !important;
}

#test * {
	font-size: 0.8rem
}

.caret-background.caret-bottom:after {
	left: 5% !important;
	border-width: 10px 30px !important;
}

.mt-10 {
	margin-top: 10px
}

#bt-clear {
	margin-left: 765px
}

#note {
	width: 650px !important;
}

#classification {
	margin-left: 150px
}

#name {
	vertical-align: middle;
	margin-right: 8px
}

.color-gray {
	color: gray
}

#h-50 {
	height: 50px
}

#popup-area {
	border: solid 6px #fff !important;
	border-radius: 3.5px !important;
	box-shadow: 1px 1px 5px 2px #888 !important;
	padding: 12px;
	background-color: #F8EFD4 !important;
	visibility: hidden;
	z-index: 1000
}

#popup-area>div {
	margin-top: 10px;
}
