.m5-table {
	margin-top: 5px;
	margin-bottom: 5px;
}
.m5-column1 {
	width: 150px;
	vertical-align: top;
}
.m5-column2 {
	vertical-align: middle;
}
.m5-combo-box {
	width: 80px;
}
.m5-time-editor {
	width: 83px;
}
.m5-inline-div {
	display: inline-block;
}
.m5-label {
	margin-top: 7px;
	margin-bottom: -5px;
	margin-left: 5px;
	width: 70px;
}
.m5-checkBox {
	margin-left: 3px;
	margin-right: -7px;
}
.m5-switch > .nts-switch-button {
	width: 90px;
}
.m5DisableEdit {
	color: #999999;
}

#m5-div-a {
	width: 832px;
	height: 370px;
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	position: relative;
}
#m5-table-a {
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	position: absolute;
	max-height: 370px;
}
#m5-table-a thead {
	background-color: #CFF1A5;
	height: 30px;
}
#m5-table-a td > div > *:FIRST-CHILD {
	margin-left: 3px;
}
#m5-table-a > thead > tr {
	height: 30px;
}
#m5-table-a > tbody > tr {
	border-top: 1px solid #999999;
	height: 34px;
}
#m5-table-a > thead > tr > td:FIRST-CHILD {
	border-right: 1px solid #999999;
	min-width: 100px;
}
#m5-table-a > thead > tr > td:NTH-CHILD(2) {
	border-right: 1px solid #999999;
}
#m5-table-a > tbody > tr > td:FIRST-CHILD {
	background-color: #CFF1A5;
	border-right: 1px solid #999999;
	min-width: 110px;
	width: 110px;
}
#m5-table-a > tbody > tr > td:NTH-CHILD(2) {
	min-width: 360px;
	width: 360px;
	border-left: 1px solid #999999;
}
#m5-table-a > tbody > tr > td:LAST-CHILD {
	min-width: 360px;
	width: 360px;
	border-left: 1px solid #999999;
}

#m5-div-b {
	width: 908px;
	height: 390px;
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	position: relative;
}
#m5-table-b {
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	position: absolute;
	max-height: 380px;
}
#m5-table-b thead {
	background-color: #CFF1A5;
	height: 30px;
}
#m5-table-b td > *:FIRST-CHILD {
	margin-left: 3px;
}
#m5-table-b > thead > tr {
	height: 30px;
}
#m5-table-b > tbody > tr {
	border-top: 1px solid #999999;
	height: 35px;
}
#m5-table-b > thead > tr > td:FIRST-CHILD {
	border-right: 1px solid #999999;
}
#m5-table-b > thead > tr > td:NTH-CHILD(2) {
	border-right: 1px solid #999999;
}
#m5-table-b > thead > tr > td:NTH-CHILD(3) {
	border-right: 1px solid #999999;
}
#m5-table-b > tbody > tr > td:FIRST-CHILD {
	background-color: #CFF1A5;
	border-right: 1px solid #999999;
	min-width: 100px;
	width: 100px;
}
#m5-table-b > tbody > tr > td:NTH-CHILD(2) {
	min-width: 85px;
	width: 85px;
}
#m5-table-b > tbody > tr > td:NTH-CHILD(3) {
	min-width: 360px;
	width: 360px;
	border-left: 1px solid #999999;
}
#m5-table-b > tbody > tr > td:LAST-CHILD {
	min-width: 360px;
	width: 360px;
	border-left: 1px solid #999999;
}

#m5-div-c {
	width: 462px;
	height: 350px;
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	position: relative;
}
#m5-table-c {
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	position: absolute;
	max-height: 350px;
}
#m5-table-c thead {
	background-color: #CFF1A5;
	height: 30px;
}
#m5-table-c td > *:FIRST-CHILD {
	margin-left: 3px;
}
#m5-table-c > thead > tr {
	height: 30px;
}
#m5-table-c > tbody > tr {
	border-top: 1px solid #999999;
	height: 32px;
}
#m5-table-c > thead > tr > td:FIRST-CHILD {
	border-right: 1px solid #999999;
}
#m5-table-c > thead > tr > td:NTH-CHILD(2) {
	border-right: 1px solid #999999;
}
#m5-table-c > tbody > tr > td:FIRST-CHILD {
	background-color: #CFF1A5;
	border-right: 1px solid #999999;
	min-width: 100px;
	width: 100px;
}
#m5-table-c > tbody > tr > td:NTH-CHILD(2) {
	min-width: 180px;
	width: 180px;
}
#m5-table-c > tbody > tr > td:LAST-CHILD {
	min-width: 180px;
	width: 180px;
	border-left: 1px solid #999999;
}

#m5-div-d {
	width: 462px;
	height: 350px;
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	position: relative;
}
#m5-table-d {
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	position: absolute;
	max-height: 350px;
}
#m5-table-d thead {
	background-color: #CFF1A5;
	height: 30px;
}
#m5-table-d td > *:FIRST-CHILD {
	margin-left: 3px;
}
#m5-table-d > thead > tr {
	height: 30px;
}
#m5-table-d > tbody > tr {
	border-top: 1px solid #999999;
	height: 32px;
}
#m5-table-d > thead > tr > td:FIRST-CHILD {
	border-right: 1px solid #999999;
}
#m5-table-d > thead > tr > td:NTH-CHILD(2) {
	border-right: 1px solid #999999;
}
#m5-table-d > tbody > tr > td:FIRST-CHILD {
	background-color: #CFF1A5;
	border-right: 1px solid #999999;
	min-width: 100px;
	width: 100px;
}
#m5-table-d > tbody > tr > td:NTH-CHILD(2) {
	min-width: 180px;
	width: 180px;
}
#m5-table-d > tbody > tr > td:LAST-CHILD {
	min-width: 180px;
	width: 180px;
	border-left: 1px solid #999999;
}

#m5-div-e {
	/* width: 874px; */
	height: 370px;
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	position: relative;
}
#m5-table-e {
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	max-height: 380px;
	position: absolute;
}
#m5-table-e thead {
	background-color: #CFF1A5;
	height: 30px;
}
#m5-table-e td > *:FIRST-CHILD {
	margin-left: 3px;
}
#m5-table-e > thead > tr {
	height: 30px;
}
#m5-table-e > tbody > tr {
	border-top: 1px solid #999999;
	height: 34px;
}
#m5-table-e > thead > tr > td:FIRST-CHILD {
	border-right: 1px solid #999999;
}
#m5-table-e > thead > tr > td:NTH-CHILD(2) {
	border-right: 1px solid #999999;
}
#m5-table-e > thead > tr > td:NTH-CHILD(3) {
	border-right: 1px solid #999999;
}
#m5-table-e > thead > tr > td:LAST-CHILD {
	border-left: 1px solid #999999;
}
#m5-table-e > tbody > tr > td:FIRST-CHILD {
	background-color: #CFF1A5;
	border-right: 1px solid #999999;
	min-width: 120px;
	width: 120px;
}
#m5-table-e > tbody > tr > td:NTH-CHILD(2) {
	min-width: 150px;
	width: 150px;
}
#m5-table-e > tbody > tr > td:NTH-CHILD(3) {
	min-width: 150px;
	width: 150px;
	border-left: 1px solid #999999;
}
#m5-table-e > tbody > tr > td:NTH-CHILD(4) {
	min-width: 250px;
	width: 250px;
	border-left: 1px solid #999999;
}
#m5-table-e > tbody > tr > td:LAST-CHILD {
	min-width: 220px;
	width: 220px;
	border-left: 1px solid #999999;
}

#m5-backgroud-a {
	background-color: #CFF1A5;
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	width: 110px;
	height: 370px;
	position: absolute;
}
#m5-backgroud-b {
	background-color: #CFF1A5;
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	width: 100px;
	height: 380px;
	position: absolute;
}
#m5-backgroud-c {
	background-color: #CFF1A5;
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	width: 100px;
	height: 350px;
	position: absolute;
}
#m5-backgroud-d {
	background-color: #CFF1A5;
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	width: 100px;
	height: 350px;
	position: absolute;
}
#m5-backgroud-e {
	background-color: #CFF1A5;
	outline-style: solid;
	outline-color: #999999;
	outline-width: 1px;
	width: 120px;
	height: 370px;
	position: absolute;
}