.kmr-time-editor{
    width: 60px;
}
.kmr001b table {
    margin: 5px;
}
.kmr001b tr td {
    padding: 5px 0;
}

.kmr001b tr td:nth-child(2) {
    padding: 0 20px;
}
.kmr001b .reservation {
    width: 60px;
}

