.control-group.valign-center > * { vertical-align: middle; }
.control-group.valign-top > * { vertical-align: top; }
.control-group.valign-bottom > * { vertical-align: bottom; }

#dialogLabel {
	margin-top: 20px;
	margin-left: 40px;
	margin-bottom: 20px;
}

.kmk008-h .wrapper { 
	padding: 25px 30px;
}

.kmk008-h .wrapper .head-title {
	margin-bottom: 15px;
}
.kmk008-h .wrapper .ntsCheckBox  {
	margin-bottom: 10px;
	margin-left: 30%;
	display: block;
}
.kmk008-h {
	padding: 0px !important;
}

.kmk008-h .wrapper .company {
	margin-left: 40%;
	margin-bottom: 15px;
}