#left-content {
	padding: 0px 5px 10px 12px;
	float: left;

}
#text_list{
	padding-left: 4px;
}
#list_role{
	background-color: #E0F59E;
	width: 390px;
    height: 410px;
    margin-top: 5px;
	border-radius: 7px;
    padding: 20px;
    box-sizing: border-box;
}

#right-content {
	margin-left: 50px;
	float: left;
	margin-top: 13px;
	width: calc(100% - 550px);
}

.control-group td {
	padding-bottom: 10px;
	padding-left: 10px;
}