#contents-area .group {
  margin-left: 25px;
  margin-bottom: 5px;
  max-width: 500px;
}

.cell-left {
  width: 100px;
}

.table .cell-left {
  width: 120px;
  padding-left: 15px;
}

.table .group .cell-left {
  width: 180px;
}

.sidebar-content {
  height: 100%;
}

.table .cell-left .form-label {
  line-height: 37px;
  width: 300px;
}

.table.mb-5 {
  margin-bottom: 15px;
}

.table .cell-left .form-label.normal {
  line-height: normal;
}

.table .divi {
  margin-top: 20px;
}

span.limited-label {
  border: solid 1px #999;
  border-radius: 4px;
  width: 250px;
  padding: 6px 10px;
  margin-left: 5px;
}

input.inp-same-stamp-rance-in-minutes {
  width: 15px;
}