@CHARSET "UTF-8";
.outer {outline:1px solid #FF6138;}
.fixed-height {height: 45px;}
.control-group.valign-center > * { vertical-align: middle; }
#header {
	color: #ccc;
}

#contents-area {
	width: 1300px;
}
#treegrid2_container{
	margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
#treegrid2_nodeText{
	margin-top: auto;
    margin-left: auto;
    margin-right: auto;	
}
#treegrid2_headers > thead > tr > th.ui-iggrid-rowselector-header.ui-iggrid-header.ui-widget-header{
	margin-top: auto;
    margin-left: 100px;
    margin-right: auto;		
}
.form-label {
	margin-bottom: 5px;
	vertical-align: baseline;
}
input.ntsSearchBox{
	width: 180px;
	margin-top: auto;
	margin-left: 40px;
	margin-right: 10px;
}
button.ntsSearchBox{
	width: 90px;
	margin-top: auto;
	margin-left: 10px;
	margin-right: 10px;
}
#D_LBL_001{
	margin-top: 10px;
	margin-left: 40px;
}
#D_BTN_001{
	background-color: #fed3c6;
	width: 90px;
    height: 50px;
    margin-top: 10px;
    margin-left: 60px;
}
#D_BTN_002{
	width: 80px;
	margin-top: 30px;
	margin-left: 20px;	
	height: 40px;
}
/* ************************************************************************ */


