@CHARSET "UTF-8";
/* .icon.icon-searchbox {
	position: relative;
    top: 37px;
    left: 45px;
} */
.icon.icon-searchbox {
	position: relative;
	top: 28px;
	left: 25px;
}

#contents-area {
	padding-bottom: 0px !important;
	padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#treegrid2_container {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 40px;
}

input.ntsSearchBox {
	width: 215px !important;
	margin-top: -15px !important;
	margin-left: 30x;
}

#contents-area>div:nth-child(3)>button {
	width: 60px;
}

#D_BTN_001 {
	width: 80px;
	height: 40px;
	margin-left: 95px;
}

#D_BTN_002 {
	width: 80px;
	margin-left: 10px;
}