#table-top {
	width: 440px;
	margin-left: 7px;
	margin-top: 7px;
}

#table-top tr td:nth-child(1){
	width: 80px;
}
#table-top tr td:nth-child(2){
	width: 360px;
}

#table-top .ntsCheckBox{
	margin-top: 1px;
	padding-left: 0px;
}

#daterangepicker .ntsControl.nts-datepicker-wrapper{
	display: block;
}

.nts-fixed-table{
	margin-left: 87px;
	margin-top: 4px;
}

.nts-fixed-table th{
	height: 37px;
}

.tbDay {
	padding: 3px 0px;
}

#checkedBtn {
	margin-left: 206px;
}

#bottom {
	margin-top: 7px;
	margin-left: 209px;
}
#okBtn{
	width: 130px;
    height: 47px;
}
#cancelBtn{
	width: 90px;
}

.nts-first-radio>.ntsRadioBox:first-child {
	background-color: #D5FFFF;
	
}
.nts-second-radio>.ntsRadioBox:nth-child(2) {
	background-color: #FDEADA;
	
}
.nts-thirt-radio>.ntsRadioBox:nth-child(3) {
	background-color: #FDEADA;
	
}
.ntsRadioBox{
	margin: 3px;
    padding: 5px;
}
.ntsCheckBox-label-bottom{
    margin: 5px 0 12px 0;
}

#functions-area-bottom{
	 height: 110px;
}

.nts-fixed-table table.fixed-table > tbody > tr:hover > td {
	background-color: #FFFFFF;
}

.nts-fixed-table table.fixed-table > tbody > tr > td:nth-child(2):hover {
	background-color: #c5f1f7;
}