@import url("../a/base.css");

#contents-area {
	text-align: center;
}

#content-header {
	position: relative;
	padding: 10px;
	border-bottom: solid 1px #B1B1B1;
	display: inline-block;
}

#H_Btn_CancelButton {
	margin-left: 20px;
}

#NavigationMessage1Title {
	width: 700px;
}

.divLineCol1 {
	width: 150px;
	min-height: 1px;
}

#content-header-top {
	border-bottom: solid 1px #B1B1B1;
	display: inline-block;
	padding-bottom: 15px;
}

#content-header-bottom {
	padding: 15px 0px;
}

.checkboxLightGreen, .checkboxBrightGreen {
	width: 70px;
	height: 30px;
	line-height: 25px;
	margin-right: 5px;
	padding-left: 5px;
}

.checkboxLightGreen {
	background-color: #edfac2;
}

.checkboxBrightGreen {
	background-color: #c7f391;
}

.switchMediumSize button {
	height: 30px;
	width: 90px;
	font-size: 0.8rem;
}

.divLine>*, .divLineCol2>*, .divLineCol1>* {
	display: inline-block;
	vertical-align: middle;
}

#H_Inp_StartYear, #H_Inp_EndYear {
	width: 56px;
}

#H_Inp_EndYear {
	margin-left: 8px;
}