#functions-area {
	height: 50px !important;
	overflow-y: hidden;
}

.infoDetail {
	overflow-y: auto;
	height: calc(100vh - 350px) !important;
    margin-top: 10px;
    width: 545px;
}

#tab-1, #tab-2{
    width: 637px;
	height: 516px;
	overflow: visible !important;
}

#gridListEmployeesContent {
	height: 450px;
	width: 716px;
	position: relative;
	z-index: 99;
}

.flex {
    display: flex;
    margin-top: 10px;
}

.header {
	border: 1px solid #B1B1B1;
	height: 150px;
	border-radius: 15px;
	margin-top: 0px;
	width: 545px;
}

.header-left{
	float: left;
	width: 86%;
	margin: 10px;
}

.header-right{
	float: right;
	margin-right: 7px;
    margin-top: 7px;
}

.avatar{
	width: 100px;
    height: 129px;
    cursor: pointer;
    border: 1px solid DarkGray;
    padding: 3px;
}

.employee {
	height: 25%;
}

.department {
	height: 25%;
}

.position {
	height: 25%;
}

.employment {
	height: 25%;
}

.line1{
	display: inline-block;
}

.line2{
	display: inline-block;
}

.line3{
	display: inline-block;
}

.line4{
	display: inline-block;
}

.line5{
	display: inline-block;
}



#retirementDate {
	width: 50px;
	margin-left: 7px !important; 
	margin-bottom: 0px !important;
}

.checkbox {
	padding-top: 11px;
}

.ntsCheckBox span.label {
    display: inline-block;
    padding-left: 10px;
    width: 200px;
}

.subText  {
	left: 34px;
	position: relative;
	bottom: 8px;
	color: #0070C0;
	text-decoration: underline;
}

.guideDisplay {
	margin-left: 870px;
    margin-top: 15px;
	color: #0070C0;
	text-decoration: underline;
}

#gridListEmployees_scroll {
	height: 323px !important;
	overflow-y: scroll !important;	
	overflow-x: hidden;
}

#gridListEmployees_container {
	height: 323px !important;
}

#gridListEmployeesContent {
    height: 300px !important;
}

#gridListEmployeesContentIcm007 .ui-iggrid tbody td {
	white-space: nowrap;
}
