.valign-center > * {
	vertical-align: top;	
}
.label-div {
	margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;	
}
.label-div > label {
	font-size: large;
}
.table {
	margin: 10px;
	margin-left: 25px;
}
.column1 {
	width: 135px;	
}
.column1 {
	width: 500;	
}
#appReasonArea {
	width: 500px;
    height: 140px;
}

#combo-box{
	width: 450px;
}