.color{width: 20px; height: 20px; background-color: #FCD5B4; display: inline-block;margin-left: 150px;}
.valign-center.control-group{margin: 20px 0px 20px 20px;}
.proceed{margin-bottom: 20px;}
.contents-area{margin-left: 20px;} 
.data{margin-left: 20px;}
.duplicate-row{background: #fcd5b4;margin: 0 -2px;height: 21px;line-height: 21px;}