
#F3_1_container  tr td:NTH-CHILD(4) {
    border-left: none;
}

#F3_1_container tr td:NTH-CHILD(3) {
    border-right: none;
}


#F3_1_container  tr td:NTH-CHILD(6) {
    border-left: none;
}

#F3_1_container tr td:NTH-CHILD(5) {
    border-right: none;
}

#F3_1_container tr th:NTH-CHILD(4) {
    border-left: none;
}

#F3_1_container tr th:NTH-CHILD(3) {
    border-right: none;
}

#F3_1_container tr th:NTH-CHILD(6) {
    border-left: none;
}

#F3_1_container tr th:NTH-CHILD(5) {
    border-right: none;
}