.panel.panel-frame {
	width: 470px;
}

#unit-combo-box {
	min-width: 0 !important;
	width: 90px !important;
}

#rounding-combo-box {
	min-width: 0 !important;
	width: 170px !important;
}

.nts-fixed-table .nts-fixed-body-container {
    height: 360px;
    max-width: 600px !important;
}

.right-box {
	vertical-align: top;
}

.round-box {
	border-radius: 5px;
	width: 440px;
	height: 100px;
	padding: 20px 10px 0px 20px;
	background-color: white;
}

.right-box-component {
	margin-right: 10px;
}

.caret-helpbutton.caret-top:before,
.caret-helpbutton.caret-top:after {
	left: 0;
}

.right-box > .panel.panel-frame {
	margin-left: 20px;
	width: 485px;
}