.contents-area {
	padding: 10px;
	margin-bottom: 75px;
}

.contents-area .form-group {
	padding: 0 25px;
}

.contents-area .form-group .ntsSearchBox {
	width: 250px !important;
}

.contents-area #M_LBL_001 {
	font-size: 1.2em;
	display: block;
	margin: 10px 0 20px 0;
}

.contents-area .form-group #M_LST_001_container {
	margin-top: 20px !important;
}

.dialog-button-group {
	border-top: 1px solid #ccc;
	padding: 10px 0;
	text-align: center;
	width: 100%;
	position: fixed;
	bottom: 0px;
	z-index: 99999;
	background-color: #fff;
}

.dialog-button-group .x-large {
	background-color: #a4eeb0;
}