.left-content-kaf006 {
	margin-top: 10px;
	float: left;
	width: 830px;
}

.right-contents-kaf006 {
	margin-top: 10px;
	width: 300px;
	float: left;
	margin-left: 30px;
}
.lblTitle-kaf006 {
	width: 110px;
}
.cm-column-kaf006 {
	width: 130px;
}
.control-group-kaf006.valign-center-kaf006>* {
	vertical-align: middle;
}
.lblEmployeeName-kaf006{
	margin-left: 13px;
}
.fix-margin-left-kaf006b{
	margin-left: 10px;
}
.fix-margin-left-appDate{
	margin-left: 5px;
}
.fix-margin-left-kaf006{
	margin-left:13px;
}
.link-label-kaf006 {
	/*margin-left: 30px;*/
	padding: 0px 10px 0px 10px;
}
.right-content-kaf006 {
	text-align: center !important;
}
.inputDate-kaf006{
	width: 85px !important;
}
.control-group-kaf006.valign-top-kaf006>* {
	vertical-align: top;
}
.cm-column2-kaf006 {
	width: 145px;
}
}

.row-cell-margin-kaf006 {
	margin: 5px 0px 5px 5px;
}

.block {
	display: block;
	margin: 30px 0px 50px 30px;
}

.header {
	border-bottom: 2px solid #808080;
	padding-bottom: 10px;
}
/*Set margin button */
.location-button {
	margin: 5px 0px 0px -45px;
}

.link-label-kaf005 {
	/*margin-left: 30px;*/
	padding: 0px 10px 0px 10px;
}

button.nts-switch-button {
	width: 92px;
}

input#inputdate.nts-editor.nts-input.reset-element {
	width: 85px;
}
/*Set Width*/
input.col1.nts-editor.nts-input.reset-element {
	margin-left: 22px;
}

input.col2.nts-editor.nts-input.reset-element {
	margin-left: 21px;
}

label.applicant {
	margin-left: 20px;
}

.ui-igcombo.ui-widget.ui-state-default.ui-corner-all.ui-unselecta
div#combo-box.reset-element.ui-igcombo-wrapper {
	margin-left: 17px;
}

textarea.nts-editor.nts-input.reset-element {
	height: 120px;
}

#multiline {
	display: inline-block;
	margin-left: 15px;
}

div.form-label.broken {
	vertical-align: top;
}
#fixed-table .nts-editor-wrapped {
	box-sizing: border-box;
}
.control-group-kaf006{
	margin-bottom: 10px;
}
.lblTitle-radio-kaf006{
	width: 134px;
}
.overlay-reason-kaf006 {
	position: relative;
	z-index: 1;
}
.combo-box-kaf006{
	margin-left: 15px;
}
.textarea-kaf006{
	height: 120px !important;
}
.margin-left-for-workChange-kaf006{
	    margin-left: 150px;
}
#tbl td{ padding: 5px 0px;}
#tbl td.thut{padding-left: 5px !important;}


.maxDay{
	margin-left: 10px;
	padding: 5px;
	border: 1px solid #999999;
	width: 100px;
	display: inline-block;
	margin-top: -20px;
	border-radius: 3px;
}
.line_1{
	display: inline-block;
}
.column1{
	width: 145px;
}
#numberOfRemaining1{
/* 	margin-left: 190px; */
	margin-bottom: -45px;
	float:right;
	margin-right: 35px;
}
#numberOfRemaining2{
	margin-left: 90px;
}
#reamaning tr td {
	border: 1px solid #999999;
	padding: 5px;
}
.flRight{
	text-align: right;
}
#totalEmp{
	margin-left: 145px;
}
#applicant{
	vertical-align: top;
}
.display1{
	display: none;
}
.limit-fix{
	margin-top: 1px;
	margin-left: 150px;
}