.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.table-border {
    border: 1px solid black;
}

button.nts-switch-button {
	width: 92px;
}

#kaf006component2 .col-1 {
    width: 120px;
}

#kaf006tab1 .col-1, #kaf006tab2 .col-1, #kaf006tab3 .col-1, #kaf006tab4 .col-1, #work-type-div .col-1 {
    width: 120px;
}

/* #kaf006tab1, #kaf006tab2, #kaf006tab3, #kaf006tab4 {
    margin-top: 5px;
} */

.py-10 {
    padding: 5px 10px;
}

.py-5 {
    padding: 5px;
}

#kaf006-b tr> th, #kaf006-b tr> td {
    text-align: center !important;
    border: 1px solid black !important;
}

#kaf006component2 label.radio-wrapper span {
    width: 92px;
    text-align: center;
}

.conponent1-container {
    border: solid 1px;
}

.text-right {
    float: right;
    width: fit-content !important;
    margin: 5px 10px;
}

.text-left {
    float: left;
    width: fit-content !important;
    margin: 0 10px;
}

.space-between-table {
	margin: 10px 5px 0 5px;
	padding: 5px 15px;
	border: 2px #B1B1B1 solid;
	border-radius: 7px;
}

#kaf006-shr-component1 .space-between-table .row-underline {
	border-bottom: solid #B1B1B1 1px;
	height: auto;
	padding-top: 5px;
    padding-bottom: 5px;
}

#kaf006-shr-component1 .space-between-table .row-underline:last-child {
	border-bottom: none;
}

#kaf006-shr-component1 .space-between-table .row-underline .form-label, a {
	height: 25px;
}

#kaf006-shr-component1 .space-between-table .row-underline  a {
	margin-top: 5px;
}