#contents-area {
	padding: 0px !important;
}

#functions-area {
	height: 50px;
}

/** wizard css */
.wizard {
	width: 1350px !important;
}

.nts-wizard.vertical>.steps {
	height: 535px !important;
	width: 23% !important;
}

.nts-wizard.vertical>.content {
	margin: 0px !important;
	width: 75% !important;
	background: white !important;
}

/** button css */
#btn-002 {
	margin: 10px 0px 0px 300px;
}

/** label css */
#B_LBL_002_003 {
    display: inline-block;
    width: calc(48%);
    border: 1px solid #bbb;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    transition: box-shadow 0.2s;
    padding: 5px;   
}
#B_LBL_002_003 >.label.with-image{
	padding:  0px !important;
}

#B_LBL_003 {
	margin-left: 50px;
}
#B_SEL_004 >.ntsRadioBox {
	margin-left: 50px !important;
}
/**  texfield css */
#B_SEL_004 >.ntsRadioBox input[type="radio"] {display:none !important;}
/** table css */