#contents-area{
	
	padding: 0px !important;
}

#functions-area {
	height: 50px;
}

/** wizard css */
.wizard {
	width: 1350px !important;
}


.nts-wizard.vertical > .steps {
	height: 535px !important	;
	width: 23% !important;
}

.nts-wizard.vertical > .content {
	margin: 0px !important;
	width:  75% !important;
	background: white !important;
}

/** button css */
#btn-002 {
	margin: 10px 0px 0px 300px;
}

/** label css */

/**  texfield css */

/** table css */