#contents-area {
	padding: 20px !important;
	width: 800px !important;
	overflow: hidden;
}

#tab_url, #tab_standar_widget, #tab_optional_widget, #tab_dash_board, #tab_flow_menu {
	height: 360px;
}

.float_left {
	float: left;
}
.ui-widget{
	height: 300px !important;
}

.switch_btn_style {
	margin-bottom: 20px;
}

.padding_top_3 {
	padding-top: 3px;
}