
.panel.ntsPanel.direction-bottom {
	margin-bottom: 30px;
}

.my-active-row {
    background: #007fff !important;
    color: #ffffff;
}

.my-active-row:hover {
    color: #000000;
}

.line-number .valign-center.control-group .form-label{
	width: 95px
}

#fixed-table > tbody > tr > td{
	padding-top: 0px;
}
#fixed-table > tbody > tr > td.csvItemName {
	padding: 0 2px;
}
.csvItemName div {
	display: inline-block;
	width: 75%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
}

#fixed-table .img-icon {
    display: block;
    margin: auto;
}