
.panel.ntsPanel.direction-bottom {
	margin-bottom: 30px;
}

.my-active-row {
    background: #007fff !important;
    color: #ffffff;
}

.my-active-row:hover {
    color: #000000;
}

.line-number .valign-center.control-group .form-label{
	width: 95px
}

