#contents-area {
	width: 100%;
	box-sizing: border-box;
}

.myLinkButton {
	margin-top: 20px;
	display: inline-block;
}

.myLinkButtonIcon {
	float: left;
}

.myLinkButtonText {
	background-color: #E2F79F;
	width: 130px;
	margin: 1px 0px 0px 15px;
	padding: 6px 20px;
	border: 2px solid #E2F79F;
	border-radius: 5px;
}

.myLinkButtonText>a {
	text-decoration: none;
	margin-left: 5px;
	color: black;
}

#grid_container {
	width: 682px !important;
}

/* .proceed {
	margin-left: 80px !important;
} */

.mylabel {
	margin-top: 56px;
	float: right;
	margin-right: 70px;
}

td:nth-child(3), td:nth-child(4), td:nth-child(5) {
	text-align: center
}

.readOnlyColor {
	background-color: #BFBFBF;
}

.readOnlyCheckBox {
	pointer-events: none;
}

.readOnlyColorIsUse {
	background-color: #BFBFBF;
	pointer-events: none;
}

.searchText {
	box-sizing: border-box;
	border: 1px solid #999;
	border-radius: 3px;
	font-size: 14px;
	padding: 6px 30px 6px 15px;
	vertical-align: top;
	transition: width 0.4s ease-in-out;
	margin-top: 20px;
	margin-bottom: 20px;
}

.searchButton {
	vertical-align: top;
	margin-left: 20px;
	min-width: 65px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.searchButton:hover {
	background-color: #f2f2f2;
}

.fixed-flex-layout-left {
	 width: 305px !important;
    height: 260px !important;
}

.leftLabel {
	
}
/*
.copy {
	margin-left: 540px !important;
}
*/
table#grid tbody td:nth-child(1) {
    text-align: right;
}