
.view-dialog .boxSquare {
	height: 200px;
	padding: 37px;
	border: 1px solid black;
}

.view-dialog .boxSquare .label-column {
	width: 120px;
	margin: 20px;
}

.view-dialog .boxSquare .label-column-select {
	width: 120px;
	margin: 20px;
	padding-top: 20px !important;
}

.view-dialog .view-button {
	padding-left: 60px;
	float: left;
	margin-top: 9px;
    margin-left: 7px;
}

#button_decide {
	height: 50px;
	font-size: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

#viewd-radio-box {
	padding-top: 20px !important;
}