
.titleColor {
	background-color: #CFF1A5;
}
.disableFlag .box {
	background-color: #888 !important;
	border: 2px solid #2FCC71 !important;
}

input {
	text-align: center !important;
}
.customeLink:hover {
	text-decoration:underline;
}
.nts-combo-container {
	height: 31px !important;
	margin-top: 3px;
}
td .ntsCheckBox-label {
	margin-top: 10px !important;
}