.divHeader {
	margin: 5px;
}

.btnStyle {
	width: 70px;
	margin-right: 5px;
}

#BTN_004 {
	margin-left: 200px;
}

#LBL_001 {
	float: right;
}

#contents-left, #contents-right {
	padding: 20px;
	vertical-align: top !important;
}

#contents-right {
	padding-left: 40px !important;
}

.leftTop {
	display: inline;
	width: 100%;
}

#SCH_001 {
	width: 100%;
}

.spanSearch {
	float: right;
	width: 20%;
}

.contentsRL {
	width: 20%;
	padding-bottom: 5px;
}

.contentsRR {
	width: 70%;
}

#tableRight {
	width: 100%;
}

#INP_002, #INP_004 {
	width: 80px;
}

#INP_003 {
	width: 240px !important;
}
#SEL_001{
	float: right;
	padding-right: 20%;
}

button.nts-switch-button {
	min-width: 80px;
}

#SEL-002, #SEL-004 {
	min-width: 0px !important;
	max-width: 160px !important;
}
#INP_005{
	width: 350px; 
	height: 150px; 
	margin-top: 5px;
}
#LST_001_container{
	padding-top: 20px !important;
}