@CHARSET "UTF-8";

#func-notifier-errors {
	top: 135px;
    left: 125px;
}

.border-all td {
	border: solid grey 1px;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	min-width: 60px;
	max-width: 100px;
}

.border-all input {
	width: 80px;
	text-align: center !important;
}

.contents-area {
	margin-top: 30px;
	margin-left: 50px;
}
.bg-dark-green {
	background-color: #C7F391;
}
.right-content {
}
#list-workplace {
	width: 480px;
}
.action-bar {
	margin-left: 30px;
}

#lblEmploymentCode {
	margin-left: 50px;
}

#lblEmploymentName {
	margin-left: 40px;
}
#lblWorkplaceCode {
	margin-left: 50px;
}
#lblWorkplaceName {
	margin-left: 40px;
}
.cbb-weekstart {
	display: inline-flex;
	margin-left: 20px;
}
.tbl-daily {
	display: inline;
	margin-left: 75px;
}
.tbl-monthly {
	margin-top: 10px;
}
.float-left {
	float: left;
}
.setting-panel {
	width: 200px;
	height: 200px;
	margin-bottom: 10px;
}
#aggr-setting-content {
	width: 250px;
	margin-top: 40px;
	margin-left: 20px;
}
	#aggr-setting-content .setting-panel:nth-child(2) {
		height: 170px;
	}
	
.open-Detail {
	float: right;
	margin-bottom: 20px;
	margin-top: 10px;
}
#tab-1 {
	height: 620px;
}
#radio-box-content .ntsRadioBox {
	height: 40px;
}

#tab-panel .ui-widget-content:not(.disappear) {
	min-height: 630px;
}

