.div_line {
	margin-top: 2px;
	clear: both;
	width: 100%;
}
.ilb {
	display: inline-block;
}

#contents-area {
	padding: 20px 0px 0px 20px;
}

.contentDialog {
	margin-left: 20px;
}
.contentDialog>div.div_line{
	margin-top: 7px;
	width: 650px;
}
.contentDialog td[role=gridcell] {
    border-bottom: 1px dotted black;
}
.ui-iggrid table tr th.ui-iggrid-header, .ui-iggrid table tr th.ui-state-hover, .ui-iggrid table tr th.ui-state-active, .ui-iggrid table tr th.ui-state-focus, .ui-iggrid table tr th.ui-state-active.ui-state-focus {
    padding: 0 2px;
}
.contentDialog td[role=gridcell] {
    border-bottom: 1px dotted black;
}

.contentDialog #tablerange{
	height: 168px;
	width: 565px;
}
#functions-area-bottom > button {
	margin-top: 11px;
}
.testcss {
	color: red;	
}