#dialogSize {
	padding-bottom: 15px;
}
#inline{
	width:100%;
	height:auto;
	display:flex;
}
.one{
	margin-left: 20px;
	margin-top:10px;
}
.two{
	margin-left: 10px;
	margin:10px;
}
#labelLeft{
	margin-left: 20px;
}
#labelRight{
	margin-left: 340px; 
	margin-bottom: 5px;
}
#swap-list{
	margin-left: 20px;
}
#btnLeft {
	margin-left: 345px; 
}
#btnRight {
	margin-left: 10px;
}

@supports (-ms-ime-align:auto) {
    #swap-list-grid1_displayContainer, #swap-list-grid2_displayContainer,
	#swap-list-grid1_scrollContainer, #swap-list-grid2_scrollContainer {
		height: 366px !important;
	}
}
.nts-searchbbox-wrapper.ntsSearchArea {
	margin-bottom: 0px;
}
.ntsMoveDataArea.ntsSwapComponent {
	width: 104px;
}