#dialogSize {
	padding-bottom: 15px;
}
#inline{
	width:100%;
	height:auto;
	display:flex;
}
.one{
	margin-left: 20px;
	margin-bottom: 25px;
	margin-top:10px;
}
.two{
	margin-left: 10px;
	margin:10px;
}
#labelLeft{
	margin-left: 20px;
}
#labelRight{
	margin-left: 340px; 
	margin-bottom: 25px;
}
#swap-list{
	margin-left: 20px;
}
#btnLeft {
	margin-left: 345px; 
	margin-top: 15px;
}
#btnRight {
	margin-left: 10px;
}
