.table{
    margin: 20px 20px 0 0;
    width: 800px;
}
.table th{
    border: 1px solid #CCC;
    height: 40px;
    text-align: center;
    width: 10%;
}
.table td {
    text-align: center !important;
    height: 60px;
}
.table table {
    table-layout: fixed;
}
