.kmr001-c {
    padding: 10px 25px !important;
}
 .kmr001-c #kmr001-c-7-2{
    max-width: 100px;
}

.kmr001-c #kmr001-c-8-2{
    max-width: 100px;
}

.kmr001-c #kmr001-c-9-2{
    max-width: 40px;
}

.kmr001-c #kmr001-c-10-2{
    max-width: 40px;
}

.kmr001-c .kmr001-c-left-content{
    float: left;
}
.kmr001-c .kmr001-c-right-content1{
    float: left;
    width: calc(100% - 550px);
    margin-left: 50px;
}
.kmr001-c .kmr001-c-right-content2{
    float: left;
    width: calc(100% - 550px);
    margin-top: 30px;
    margin-left: 50px;
}
.kmr001-c .btn-content {
    float: right;
}

.kmr001-c tr td {
    padding-top: 15px;
}
.kmr001-c .panel.ntsPanel.direction-bottom {
    margin-bottom: 25px;
}

.kmr001-c .kmr001_42 {
    width: 160px !important;
}
.kmr001-c .kmr001_44 span{
    width: auto !important;
}
.kmr001-c .reservation-time {
    width: 320px;
}

.kmr001-c .kmr001-c-right-content1 tr td:first-child div.form-label > label {
    display: block;
    line-height: normal;
    width: 100%;
}
.kmr001-c .kmr001-c-right-content1 tr td:first-child div.form-label i {
    margin-left: 0;
}
.kmr001-c .kmr001-c-right-content1 tr td:first-child div.form-label {
    line-height: normal !important;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.kmr001-c .kmr001-c-right-content1 tr td .checkbox-wrapper {
    width: 100px;
}
.kmr001-c .kmr001-c-right-content1 tr td .time-start,
.kmr001-c .kmr001-c-right-content1 tr td .time-end {
    width: 40px;
    text-align: right
}
.kmr001-c .kmr001-c-right-content1 tr td .time-space {
    padding-left: 10px;
    padding-right: 10px;
}
.kmr001-c .kmr001-c-right-content1 tr td.reservation-time {
    /* padding-top: 0; */
}

.kmr001-c .kmr001-c-right-content1 tr td .ntsCheckBox {
    padding: 0;
}