#A{
    margin-left: 100px;
    margin-top: 8px;
}

.sidebar-content{
    overflow:inherit !important;
}
#center {
    margin: auto;
    padding: 10px;
}

#multi-list_container {
    border: 1px solid #AAB7B8 !important;
}
