.image-left{
	float: left;
	margin-right: 20px;
}

.navigation-label {
	margin-left: 20px;
	vertical-align: 12px;
	padding-bottom: 20px;
}

.delete-data {
	background-image: url("../resource/データ削除A1.jpg");
	background-size: 100%;
	height: 256px;
	width: 256px;
	background-repeat: no-repeat;
	margin-left: 20px;
}

