.down-s {
	margin-bottom: 15px;
}

.down-m {
	margin-bottom: 25px;
}

.down-l {
	margin-bottom: 35px;
}

#contents-area {
	padding: 20px;
}

#D11_3 {
	width: 95px;
}

#D12_4 {
	width: 95px;
}

#D6_3 {
	width: 95px;
}

#D7_1 {
	width: 95px;
}

.labelTitle {
	width: 70px;
}