@CHARSET "UTF-8";

.wrapper {
	padding-left: 20px;
}

.lableDetail:first-child {
	margin-bottom: 10px;
	overflow: hidden;
}

.overtimeNote {
	width: 280px !important;
}

.methodSelect {
	vertical-align: -7px;
}

.buttonOther {
	margin-left: 50px !important;
}

.bg-dark-green {
	background-color: #C7F391;
}

.overtime-border td {
	border: solid grey 1px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
}

.overtime-border .tdno {
	text-align: center;
	width: 25px;
}

.overtime-border .tdbutton {
	text-align: center;
	width: 25px;
}

.overtime-border .tdname {
	min-width: 45px;
	max-width: 100px;
}

.overtime-border .tdbreakdown {
	text-align: center;
	width: 50px;
}

.overtime-border input {
	width: 150px;
}

.overtime-border .overtime {
	width: 50px;
}

.overtime-border .rate {
	width: 35px;
}

.overtimeSettingDetail {	
	width: 100%;
}

.overtimeDetail {
	float: left;
	margin-left: 20px;
	max-width: 30%;
	margin-bottom: 10px;
}

.overtimeName {
	text-align: left;
}

.sixtySetting {	
	margin-top: 10px;
	max-width: 860px;
	margin-left: 12px;
}
.sixtySetting thead td {
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
}
.sixtySetting table td:nth-child(1){
	width: 30%;
}
.sixtySetting table td:nth-child(2){
	width: auto;
}
.sixtySetting table td:nth-child(3){
	width: 5%;
	text-align: center;
}

#contents-left, #contents-right {
	padding: 20px;
	vertical-align: top !important;
	min-width: 200px;
}

.divHeader {
	margin: 5px;
	min-width: 1360px;
}

#contents-right {
	padding-left: 40px !important;
}

.lableData {
	width: 170px;
	float: left;
}

.lableDataEnd {
	width: 130px;
	margin-left: 50px;
	float: left;
}

.valueData {
	float: left;
}

.rateBotton60H {
	clear: both;
	height: 20px;
}

/* .overtimeRate60H {
	margin-left: 87px;
	border-radius: 5px;
	border-color: #565555;
	border-width: 1px;
	border-style: double;
	width: 970px;
	min-height: 150px;
} */

.labelOneRate {
	margin-top: 10px;
	margin-left: 15px;
}

.labelTwoRate {
	margin-top: 10px;
	margin-left: 35px;
}

.labelThreeRate {
	margin-top: 10px;
	margin-left: 35px;
}

.lableFourRate {
	margin-top: 15px;
	margin-left: 40px;
}
.lableFourRate .cell {
	padding-right: 10px;
}
.lableFourRate .cell:nth-child(2) {
	padding-right: 20px;
}
.selectUnit {
	width: 70px;
}

.overtimeSelect {
	width: 50px;
}

.selectRounding {
	width: 170px;
}

.oneOvertimeRate {
	float: left;
	width: 500px;
}

.overtimeRate60H2 {
	width: 5%;
	float: left;
	margin-top: 50px;
}

.overtimeRate60H3 {
	width: 400px;
	float: left;
	margin-top: 20px;
}

.labelFiveRate {
	margin-top: 10px;
	margin-left: 80px;
}

#switch-language {
	float: left;
	margin-left: 32px;
}

.selectionVaction {
	width: 96px;
}
table td .cell .limited-label {	
	width: 470px;
	border: solid 1px #d0d0d0;
	padding: 7px 5px;
	border-radius: 4px;
	margin-left: 5px;
	height: 17px;
	text-align: left;
}
.fixed-flex-layout-left {
	width: 100%;
}
html {
	overflow: hidden;
}
.sixtySetting table td .cell {
	margin: 0;
	vertical-align: middle;
}

.rounding-setting-overtime-hours {
	margin-top: 10px;
}

.methodSelect .ntsRadioBox {
	margin-right: 24px;
}

.lableDetail .overtimeNote {
	width: 380px !important;
	height: 60px;
}