.D1_1{
	width: 200px;
}

.row {
	margin: 10px 20px;
}

.confirm {
	width: fit-content;
	display: block;
	margin: auto;
}

.proceed {
	width: 100px;
	height: 40px;
	font-weight: 550px;
}

button {
	margin: 10px;
}

.D1_6 {
	width: 30px;
}

#combo-box {
	width: 250px;
}