@CHARSET "UTF-8";

#swap-list {
  display: inline-flex;
  margin-left: 20px;
  height: 320px;
}

.swap-contents{
	float: left;
    padding-left: 20px;
    margin-top: -24px;
}

.ntsUpButton{
	margin-bottom: 50px;
}

button.auto-height{
	height: 80px;
}