
th, td {
    border: 1px solid;
    padding: 5px;
}
table{
    width: 100%;
}
thead{
    background: #CFF1A5;
}

/* Set a fixed scrollable wrapper */
.tableWrap {
    height: 357px;
    overflow: auto;
}
/* Set header to stick to the top of the container. */
thead tr th {
    position: sticky;
    top: 0;
}

/* If we use border,
we must use table-collapse to avoid
a slight movement of the header row */
table {
    border-collapse: collapse;
}

.table_first_col{
    width: 30px;
}