
th, td {
    border: 1px solid;
    padding: 5px;
}

table {
    width: 100%;
}

thead {
    background: #CFF1A5;
}

/* If we use border,
we must use table-collapse to avoid
a slight movement of the header row */
table {
    border-collapse: collapse;
}

.table_first_col {
    width: 30px;
}

.ntsDateRange_Container .ntsDateRangeComponent {
    padding-left: 6px;
    float: left;
}

.nts-datepicker-wrapper .ntsDatepicker.yearmonth-picker {
    width: 85px;
}