.valign-center > * {
	vertical-align: top;	
}
.label-div {
	margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;	
}
.label-div > label {
	font-size: large;
}
.table {
	margin: 10px;
	margin-left: 25px;
}
.column1 {
	width: 135px;	
}
.column1 {
	width: 500;	
}
#combo-box {
	width: 240px;		
}
#A4_2 {
	width: 500px;
    height: 140px;
}

#message-area {
	background-color: #f8efd4;
	height: 68px;
	width: 798px;
}

.message-td {
	padding-left: 10px;
	padding-top: 10px;
}

#table-phase, #table-phase td, #table-phase th { 
	border: 1px solid black;
	text-align: center;
	height: 25px;
}

#table-phase td{
	height: 25px;
}
#label-1{
	margin-top: 20px;
    float: left;
}

#table-1{
	margin-top: 10px;
    margin-left: 150px;
}
.approverContent {
	text-align: left !important;
	padding-left: 5px;
}
.rowPer{
	height: 30px !important;
}
.rowBorder{
	border-bottom: 1px solid black;
}