.valign-center > * {
	vertical-align: top;	
}
.label-div {
	margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;	
}
.label-div > label {
	font-size: large;
}
.table {
	margin: 10px;
	margin-left: 25px;
}

#combo-box {
	width: 240px;		
}
#A4_2 {
	width: 500px;
    height: 175px;
}
.message-td {
	padding-left: 10px;
	padding-top: 10px;
}

#table-phase, #table-phase td, #table-phase th { 
	border: 1px solid black;
	padding-left: 2px;
	height: 25px;
}

#table-phase td{
	height: 25px;
}
#label-1{
	margin-top: 20px;
    float: left;
}

#table-1{
	margin-top: 10px;
    margin-left: 150px;
}
.approverContent {
	text-align: left !important;
	padding-left: 5px;
}
.rowPer{
	height: 30px !important;
}
.rowPerName{
	height: 25px !important;
	padding-top: 5px;
}
.rowBorder{
	border-bottom: 1px solid black;
}