.valign-center > * {
	vertical-align: top;	
}
.label-div {
	margin-top: 10px;
    margin-left: 20px;
}
.label-div > label {
	font-size: large;
}
.table {
	margin: 10px;
	margin-left: 25px;
}

#combo-box {
	width: 240px;		
}
#A4_2 {
	width: 643px;
}
.message-td {
	padding-left: 10px;
	padding-top: 10px;
}

.table-phase td, .table-phase th {
	border: 1px solid #CCC;
	border-left: none;
	height: 25px;
    padding-left: 2px;
}

#label-1{
	margin-top: 20px;
    float: left;
}

#table-1{
	margin-top: 10px;
    margin-left: 150px;
}
.approverContent {
	text-align: left !important;
	padding-left: 5px;
}
.rowPer{
	height: 30px !important;
}
.rowPerName{
	height: 25px !important;
	padding-top: 5px;
}
.rowBorder{
	border-bottom: 1px solid #CCC;
}

#table-applicant, #table-applicant td, #table-applicant th { 
	border: 1px solid #CCC;
	padding-left: 2px;
	height: 25px;
}
.rowPer1{
	height: 25px !important;
	margin-top: 5px;
	color: #FF0000;
}

/* list approver */
.phase-app{
	width: 70px !important;
}
.order-app{
	/* */
	width: 78px !important;
}
.name-app{
	width: 250px !important;
	
}
.status-app{
	width: 70px !important;
}
.isMail-appr{
	width: 170px !important;
}
/* list applicant */
.applicant{
	width: 150px !important;
}
.name-emp{
	width: 345px !important;
}
.isMail-app{
	width: 170px !important;
}
.nameApprover {
	width: 270px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table-phase, .table-phase td, .table-phase th { 
	border: 1px solid #CCC;
	height: 25px;
    padding-left: 2px;
}

.table-phase thead{
	background-color: #E0F59E;
}

.table-phase {
	border-style: hidden;
	border-bottom: solid 1px;
}

.table-phase tr td:first-child{
	width: 100px;
}

#table-body {
	margin-top: -1px;
	height: 168px;
	/*min-width: 774px;*/
	width: auto;
	overflow-y: auto;
	border: #cccccc solid 1px;
}

#table-body tr {
	height: 33px;
}

.border-b-none {
	border-bottom: none !important;
}

.min-774 {
	min-width: 774px !important;
}

.min-671 {
	min-width: 671px !important;
}

.break-all {
	word-break: break-all;
}