#B3_6.table-basic-setting-list tbody tr td.table-basic-setting-list-td-label span.nts-editor-wrapped.ntsControl {
	margin-top: 7px;
	margin-bottom: -7px;
}

#B3_3 {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 375px;
}

#B3_4 {
	width: 287px;
}

#B3_5 {
	width: 78px;
}

#B3_16, #B3_25, #B3_30 {
	color: blue;
}