.testc {
    color: red;
}

.top-container {
    display: flex;
}

.line {
    display: flex;
    margin-right: 30px;
}

.first {
    flex-basis: 300px;
    padding-top: 3px;
}

.first > p {
    margin-bottom: 5px;
}

.second {
    flex-basis: 300px;
}

.second > div {
    display: flex;
    margin-bottom: 6px;
}

.second > div > span:nth-child(1),
.second > div > span:nth-child(4) {
    width: 90px;
}

.second > div > span:nth-child(3) {
    width: 60px;
}

.third {
    display: flex;
    justify-content: flex-end;
    align-items: center;
	flex-basis: calc(100% - 600px);
}

.bl-0 {
    border-left: 0 !important;
}

.br-0 {
    border-right: 0 !important;
}



/* .second tr {
    margin-bottom: 10px;
} */

.bg-red {
    background-color: red;
}



.refresh {
	margin-left: 10px;
}

.d-flex {
    display: flex;
}

.name {
    width: 80px;
}

.content {
    justify-content: flex-end;
    width: 45px;
}

.ui-iggrid-tablebody {
	white-space: nowrap;
}
