.kml002-f .ntsMoveDataArea {
  padding-left: 10px;
  padding-right: 10px;
}

.kml002-f .text-title {
  margin-bottom: 10px;
}

.kml002-f .table-header { 
  margin-bottom: 10px;
}

.kml002-f .table-header .row-item {
  width: 100%;
}

.kml002-f .table-header .row-item .form-label {
  line-height: 37px;
}

.wrapper-times {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-times .time-editor:nth-child(2) {
  padding-left: 10px;
  padding-right: 10px;
}