.nts-datepicker-wrapper {
	margin-left: 10px;
}


div.nts-fixed-body-wrapper {
	max-width: 411px;
  max-height: 222px;
}

div.nts-fixed-body-container.ui-iggrid {
	padding-right: 0px !important;
	height: 230px;	
}
.title-border {
  padding: 10px;
  border-left: 5px solid #48b5cb;
  border-top: 1px groove;
  border-bottom: 1px groove;
}

.label-color{
  display: grid;
  margin-left: 110px;
}
.contentL1{
  display:flex ;
}

#inputYM{
  margin-top: 5px;
  margin-bottom: 15px;
  display: flex; 
}
.bigtext{
  font-size: 1rem;
  font-weight: bold;
}
.label1{
  color: #49bfa8;
}
.label2{
  color: #e05f4e;
}
.header{
  margin-left: 10px;
}
.header1{
  margin-left: 55px;
}