#contents-area {
  padding-top: 5px;
  padding-left: 5px;
  width: 445x;
  height: 450px;
}
.addSign {
	background: url("../image/addSign.png");
	margin: -8px 10px;
	border-radius: 5px;
	height: 125px;
	text-align: center;
  padding-bottom: 5px;
  background-position: center;
  background-repeat: no-repeat;
}
.sub {
	margin: 10px;
	border-radius: 5px;
	height: 28px;
	text-align: center;
	word-wrap: break-word;
}
.row-inline{
  display: inline-flex;
}
.custom-panel {
  width: 115px;
  height: 115px;
  margin: 5px;
  text-align: center;
  word-wrap: break-word;
}
.grid {
  display: grid;
}
.block {
  display: block;
}
.big-text {
  font-size: 1.5rem;
  font-weight: bold;
}
.title-border {
  padding: 10px;
  border-left: 5px solid #48b5cb;
  border-top: 1px groove;
  border-bottom: 1px groove;
  border-right: 1px groove;
}
.mt-10 {
  margin-top: 10px;
}
.p-10 {
  padding: 10px;
}
.pl-0 {
  width: 400px;
  padding-left: 0px;
}
.non-statutory-color {
  color: #49bfa8;
}
.non-statutory-bg-color {
  background-color: #49bfa8;
}
.time-outside-color {
  color: #e05f4e;
}
.time-outside-bg-color {
  background-color: #e05f4e;
}
.pr-20 {
  padding-right: 10px;
}
.pb-0 {
  padding-bottom: 0px;
}
.scroll {
  overflow-y: auto;
  height: 270px;
  margin-bottom: 20px;
}
.scroll thead th {
  position: sticky;
  top: 0;
  background: white;
}
.pl-10 {
  padding-left: 10px;
}
.right {
  float: right;
}
.flex100 {
  display: flex;
  width: 100%;
}
.flex {
  display: flex;
}
.left40 {
  float: left;
  width: 40%;
}
.pl-20 {
  padding-left: 10px;
}
.position-relative {
  position: relative !important;
}
.dashed45 {
  width: 90px;
  height: 30px;
  position: absolute;
  border-right: 1px dashed;
}
.dashed80 {
  width: 160px;
  height: 30px;
  position: absolute;
  border-right: 1px dashed;
}
tr td .label {
  margin-top: 5px;
  height: 20px;
}
.w-200 {
  width: 200px;
  z-index: 100000000;
}
.inline-flex {
  display:inline-flex;
}
.text-right {
  text-align: right;
}
.border-bot {
  border-bottom: 1px groove;
}
.fixed45 {
  padding-left: 93px;
  position: absolute;
}
.fixed80 {
  padding-left: 163px;
}
.data-text {
  padding: 5px 0px 5px 0px;
}
.mw-200 {
  max-width: 200px;
}
.gray-bg {
  background-color: #e0e0e0;
}
a:link, a:visited {
  color: inherit;
}

a:hover, a:active {
 color:forestgreen;
}