.kdp-001-a-content {
    max-width: 450px;
}

.kdp-001-a-content .kdp-001-a.widget-title
.text-time {
    position: absolute;
    font-size: 60px;
    color: #E5F7F9;
    left: 299px;
    top: 0px;
}

.kdp-001-a-content .kdp-001-a.widget-title
.time {
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
}

.kdp-001-a-content .kdp-001-a.widget-title
.date {
    color: #7F7F7F;
}

.kdp-001-a-content .kdp-001-a.widget-title
.hours-minutes {
    box-sizing: border-box;
    float: left;
    font-size: 50px;
    color: #7F7F7F;
}

.kdp-001-a-content .kdp-001-a.widget-title
.seconds {
    box-sizing: border-box;
    float: left;
    font-size: 30px;
    margin-top: 20px;
    color: #7F7F7F;
}

.kdp-001-a-content .kdp-001-a.widget-title {
    margin: 1px;
    border-radius: 2px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    height: 100px;
    text-align: center;
    background: white;
    padding-top: 12px;
    margin-bottom: 10px;
}

.kdp-001-a-content .kdp-001-a.widget-title .button-link {
    text-align: right;
}

.kdp-001-a-content .kdp-001-a .text-left {
    text-align: left;
}

.kdp-001-a-content .kdp-001-a .text-right {
    text-align: right;
}

.kdp-001-a-content .kdp-001-a.text-center,
.kdp-001-a .text-center {
    text-align: center;
}

.kdp-001-a-content .kdp-001-a.widget-title th {
    font-size: 16px;
}

.kdp-001-a-content .kdp-001-a.kdp-001-a-msg,
.kdp-001-a.kdp-001-a-btn {
    /* padding: 10px;
    border-top: 1px solid #b1b1b1; */
}

/* .kdp-001-a-content .kdp-001-a.kdp-001-a-msg {
    box-sizing: border-box;
    float: left;
} */

.kdp-001-a-content .kdp-001-a.kdp-001-a-btn button {
    width: 222.5px;
    height: 200px;
}

.kdp-001-a-content .kdp-001-a.kdp-001-a-btn .btn-1 .btn-left {
    box-sizing: border-box;
    float: left;
    font-size: 40px;
}

.kdp-001-a-content .kdp-001-a.kdp-001-a-btn .btn-2 .btn-right {
    box-sizing: border-box;
    float: left;
    margin-left: 5px;
    background: #D9D9D9;
    color: #fff;
    font-size: 40px;
    margin-bottom: 5px;
}

.kdp-001-a-content .kdp-001-a.kdp-001-a-btn .btn-3 .btn-left {
    box-sizing: border-box;
    float: left;
    color: #fff;
    font-size: 20px;
    width: 222.5px;
    height: 100px;
}

.kdp-001-a-content .kdp-001-a.kdp-001-a-btn .btn-4 .btn-right {
    box-sizing: border-box;
    float: left;
    margin-left: 5px;
    background: #D9D9D9;
    color: #fff;
    font-size: 20px;
    width: 222.5px;
    height: 100px;
    margin-bottom: 5px;
}

.kdp-001-a-content .kdp-001-a.kdp-001-a-btn .btn-left {
    color: #fff;
    background: #127D09;
    border: 5px;
}

/* .kdp-001-a-content .kdp-001-a.widget-content {
    border-top: 1px solid #b1b1b1;
} */

.kdp-001-a-content .kdp-001-a.widget-content table td.sunday {
    color: #FF0000;
}

.kdp-001-a-content .kdp-001-a.widget-content table td.saturday {
    color: #0000FF;
}

.kdp-001-a-content .kdp-001-a.widget-content table td:not(:first-child) {
    border-left: 1px solid #ccc;
}

.kdp-001-a-content .noti-error {
    text-align: center;
    font-size: 18px;
    color: red;
}