.top-panel {
	padding: 10px 0 20px 10px;
}

.top-panel>div:first-child {
	float: left;
	padding-left: 20px;
}

#lbl-range {	
	padding-right: 30px;
	padding-top: 5px;
}

#txt-area-notice {
    padding: 15px;
}

#update-date {
	padding-top: 5px;
}

#lbl-update-date {
	margin-left: 30px;
}

.footer-content {
	padding-top: 40px;
	text-align: center;
}

#master-wrapper div#contents-area{
	padding: 0 !important;
}

#lbl-wkp{
	padding-left: 20px;
}

.btn-footer{
	margin: 0 35px;
	padding: 0 20px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.ml-30 {
	margin-left: 73px !important;
}

.mr-30 {
	margin-right: 73px !important;
}

.ml-15 {
	margin-left: 15px !important;
}
 