#maxDisplaySelect {
	width: 85px; 
	margin-right: 7px;
	padding-left: 25px;
}

/* #maxDisplaySelect > option {
	direction: rtl;
	text-align: right;
} */

.kaf018-b-header-wkpName {
	text-align: center !important;
	vertical-align: middle !important;
}

.kaf018-b-column-wkpName {
	vertical-align: middle !important;
	padding-left: 15px !important;
}

.kaf018-b-header-numberPeople {
	text-align: center !important;
	vertical-align: middle !important;
	white-space: inherit !important;
}

.kaf018-b-column-numberPeople {
	text-align: center;
}

.kaf018-b-column-numberPeople.cell-selected {
	background-color: inherit;
}

.kaf018-b-header-appInfo {
	text-align: center !important;
	vertical-align: middle !important;
	white-space: inherit !important;
}

.kaf018-b-column-appInfo {
	text-align: center;
	color: #0066CC;
	text-decoration: underline;
}

.kaf018-b-column-appInfo.cell-selected {
	background-color: red;
}

.kaf018-b-header-mailButton {
	vertical-align: middle !important;
	height: 33px;
	text-align: inherit !important;
}

.kaf018-b-mailButton {
	height: inherit;
	padding: 0;
	width: 70px;
}