#contents-area{
	margin: 20px;
}
#tbl-control{
	width: 900px;
	margin-bottom: 10px;
}
#tbl-control td{
	padding: 5px;
}
.fixed-table thead th{
	text-align: center;
}

.fixed-table tbody td{
	text-align: center;
}

.fixed-table tbody td:NTH-CHILD(1){
	text-align: left;
}

.btn-question {
	text-align: right;
}