#button22 {
	font-size: 20px;
	height: 36px;
	width: 111px;
	margin-left: 502px;
	margin-top: 10px;
}

#kcp005 {
	height: 388px;
	width: 562px;
	margin-left: 100px;
	margin-top: 7px;
}

#panel11 {
	width: 562px;
	margin-left: 89px;
}

#daterangepicker {
	margin-left: 14px;
	display: inline-block;
}

#formLabe12 {
	float: left;
}

#button-1 {
	margin-left: 504px;
	margin-top: 12px;
}