#kaf000-b-component8 {
	display: inline-block;
}

#kaf000-b-component8 .limited-label {
	width: 100%;
}

.approver-block {
	display: inline-block;
	margin-right: 10px;
	text-align: left;
	max-width: 85px;
}