#kaf000-b-component8 {
	display: inline-block;
}

#kaf000-b-component8 .approver-block {
	text-align: left;
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
}

#kaf000-b-component8 .limited-label {
	width: 100%;
}