.contents-area {
	width: 630px;
	height: 390px;
}

#I1_1 {
	margin-left: 20px;
	margin-top: 10px;
	font-size: 1.5rem;
}

#tbl-control {
	margin-left: 30px;
	margin-top: 20px;
}

#tbl-control td {
	vertical-align: top;
	padding: 5px;
}

#tbl-control td .ntsControl {
	padding-bottom: 5px;
}
