#left-content { 
	margin-left: 20px; 
	margin-top: 12px; 
	padding: 20px; 
	float: left; 
	width: 380px; 
	height: 520px;
}
#right-content {
	padding-left: 40px; 
	float: left; 
	width: 660px;
	margin-top: 32px;
}

.right-layout td {border: solid #fff; border-width:0 10px 10px 0;}

.btn-upload,
.btn-download {min-width: 175px;}
.input-size {width: 20px;}