#button-del {
	margin-left: 10px !important;
}

#button-cancel {
	margin-left: -20px !important;
}

#combobox, #combobox1 {
	margin-top: 2px;
}

#correc-label1 {
	margin-top: 7px;
}

#correc-label {
	float: left;
}

#combobox1 {
	margin-left: -113px;
	width: 112px;
}

#correc-text {
	margin-left: 52px;
	width: 70px;
}

#comment-text {
	margin-right: 30px;
    margin-left: -113px;
}

#right-area {
	float: right;
	margin-top: -60px;
}

#combobox {
	width: 90px;
}

#first-color-picker {
	margin-left: 20px;
}

#item-panel {
	height: 260px;
	margin-top: 119px;
}

