#button-del {
	margin-left: 10px !important;
}

#button-cancel {
	margin-left: -20px !important;
}

#combobox, #combobox1 {
	margin-top: 2px;
}

#correc-label1 {
	margin-top: 7px;
}

#correc-label {
	float: left;
}

#combobox1 {
	margin-left: -166px !important;
	width: 112px;
}

#correc-text {
	margin-left: 37px !important;
	width: 140px !important;
}

#comment-text {
	width: 235px;
    margin-left:-152px !important;
}

#right-area {
	margin-left: 135px;
	margin-top: -60px;
}

#combobox {
	width: 90px;
}

#text-area-comment{
	margin-left: -13px;
}

#first-color-picker {
	margin-left: 8px  !important;
}

#item-panel {
	height: 260px;
	margin-top: 10px;
}

.btn_2, .btn_3, .btn_4 {
	margin-top: 18px;
	width: 100px;
	height: 100px;
	margin-left: 5px;
}

.btn_6, .btn_7, .btn_8 {
	width: 100px;
	height: 100px;
	margin-top: 20px;
	margin-left: 5px;
}

.btn_1 {
	margin-top: 18px;
	width: 100px;
	height: 100px;
	margin-left: 33px;
}

.btn_5 {
	width: 100px;
	height: 100px;
	margin-left: 33px;
	margin-top: 20px;
}

.sp-container{
	left: 130px !important;
}

.basic-items{
	width: 380px;
}

.btn-name{
	font-size: 25px;
}
.btn-name-2{
	font-size: 16px;
}