#button22 {
	font-size: 20px;
	height: 36px;
	width: 111px;
	margin-left: 502px;
    margin-top: 10px;
}

#kcp005{
	height: 355px;
	width: 562px;
    margin-left: 105px;
    margin-top: 7px;
}

#panel11{
	width: 562px;
    margin-left: 105px;
}

#daterangepicker{
	margin-left: 14px;
	display: inline-block;
}

#formLabe12{
	float: left;
}
#component-items-list{
	    margin-top: -25px;
}
#contents-area{
	overflow-y: hidden;
	overflow-x: hidden;
}