#master-wrapper #contents-area.ksm-007 {
  padding: 15px 20px;
  height: auto !important;
}

.workplace-group {
  width: 100%;
  max-width: 290px;
}

.ksm-007 .note {
  margin-top: 10px;
}

.direction-right .buttons {
  margin-bottom: 10px;
}

.direction-right .buttons button:last-child {
  float: right;
}

#history-list-panel_headers_v {
  display: none;
}

.control-group .form-label {
  width: 115px;
  float: left;
}

.nightShiftHours {
  width: 70px;
}


.nts-switch-button {
  width: 54px;
}
.ksm007-left-content {
  float: left;
  width: 38%;
  padding-left: 10px;
}

.ksm007-right-content {
  padding-left: 30px;
  float: left;
  width: 55%;  
}

.switchbox-wrappers.radio-wrappers label:first-child input+span {
  width: 60px;
  text-align: center;
}

.switchbox-wrappers.radio-wrappers label:not(:first-child) input+span {
  margin-left: 1px;
  width: 60px;
  text-align: center;
}

.set-spacing {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

#history-list-panel_displayContainer {
  height: 255px !important;
}

#history-list-panel_scrollContainer{
  height: 255px !important;
}