
.titleColor {
	background-color: #6A6A6A;
    color: #fff;
}
.disableFlag .box {
	background-color: #888 !important;
	border: 2px solid #2FCC71 !important;
}

input {
	text-align: center !important;
}
.customeLink:hover {
	text-decoration:underline;
}
.nts-combo-container {
	height: 31px !important;
	margin-top: 3px;
	margin-left: 10px;
}
#ntsCheckbox-002 .ntsCheckBox-label {
	margin-top: 10px !important;
}
.nts-grid-control-typeReason-1 {
	margin-bottom: 10px
}
.nts-grid-control-typeReason-2 {
	margin-bottom: 10px
}
.nts-grid-control-typeReason-3 {
	margin-bottom: 10px
}
.nts-grid-control-typeReason-4 {
	margin-bottom: 10px
}
.nts-grid-control-typeReason-5 {
	margin-bottom: 10px
}
.nts-grid-control-typeReason-6 {
	margin-bottom: 10px
}
.nts-grid-control-typeReason-7 {
	margin-bottom: 10px
}
.nts-grid-control-typeReason-8 {
	margin-bottom: 10px
}
.nts-grid-control-typeReason-9 {
	margin-bottom: 10px
}
.nts-grid-control-typeReason-10 {
	margin-bottom: 10px
}
#kaf002TabPanel th {
	text-align: center !important;
}

#kaf002TabPanel td :not(.titleColor) {
	text-align: center !important;
}
#kaf002TabPanel td .btn_worklocation div,
#kaf002TabPanel td .btn_workplace div {
	text-align: left !important;
}
#kaf002TabPanel td .btn_worklocation > div,
#kaf002TabPanel td .btn_workplace > div {
	padding: 0 10px !important;
}
#kaf002TabPanel > div > label > span {
	font-size: 110%;
}
.tabs-content {
	padding-bottom: 8px !important;
}
.btn_workplace .nts-button-container,
.btn_worklocation .nts-button-container {
	min-width: 75px;
}
.btn_workplace .nts-button-container button,
.btn_worklocation .nts-button-container button {
	min-width: 75px !important;
}
.btn_workplace > div,
.btn_worklocation > div {
	display: flex;
}
.btn_workplace > div > div,
.btn_worklocation > div > div {
	white-space: nowrap;
}

