.cf {
	margin-left: 340px;
}

.table1 {
	margin-top: 7px;
	margin-left: 5px;
}

.table1 td {
	border: 1px solid #CCC;
	height: 110px !important;
	display: block;
}


tbody {
	display: block;
	height: 222px;
    overflow: auto;
    width: 457px;
}

#finishDateTime {
    float: right;
    margin-right: 60px;
}

#processingName {
	margin-left: 100px;
	width: 100px;
	font-weight: bold;
}

#button1 {
	margin-left: 50px;
}

#processingResult {
	margin-left: 80px;
}

#button2 {
	margin-left: 380px;
	margin-right: 10px;
	margin-bottom: 10px;
}
