#contents-area{
	height: 247px !important;
}
.cf {
	margin-left: 340px;
}

.table1 {
	margin-top: 7px;
	margin-left: 5px;
}

.table1 td {
	border: 1px solid #CCC;
	height: 98px !important;
	display: block;
	width: 438px;
}


tbody {
	display: block;
	height: 210px;
    overflow: auto;
    width: 457px;
}

#finishDateTime {
    float: right;
    margin-right: 60px;
}

#processingName {
	margin-left: 100px;
	width: 142px;
	font-weight: bold;
    font-size: 18px;
}

#button1 {
	margin-left: 5px;
}

#processingResult {
	margin-left: 80px;
}

#button2 {
	margin-left: 380px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
	top: -10px;
}
