#functions-area button {
	margin-left: 110px;
	margin-top: 5px;
	width: 90px;
}
#functions-area button:NTH-CHILD(2) { margin-left: 155px; }

#contents-area > div:NTH-CHILD(1) img {
	position: fixed;
	margin-top: 55px;
	height: 500px;
}

#profile-div {
	width: 600px;
	border: 1px solid #c5c5c5;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#profile-div div:NTH-CHILD(1) {
	background-color: #E0F59E;
	border-right: 1px solid #c5c5c5;
	width: 123px;
}
#profile-div div:NTH-CHILD(1) button {
	box-shadow: none;
}
#profile-div div:NTH-CHILD(1) button:NTH-CHILD(1) {
	margin-left: 3px;
	vertical-align: bottom;
} 
#profile-div div:NTH-CHILD(1) button:NTH-CHILD(2) {
	width: 25px;
	font-size: xx-small;
} 
#profile-div div:NTH-CHILD(1) button:NTH-CHILD(3) {
	margin-left: -3px;
	width: 25px;
	font-size: xx-small;
} 
#profile-div div:NTH-CHILD(2) {
	width: 150px;
}
#profile-div div:NTH-CHILD(2) input{
	width: 100px;
	height: 20px;
	margin: 2px;
	padding-left: 10px;
	padding-right: 20px;
	border: 1px solid #999999;
}
#profile-div div:NTH-CHILD(2) span:NTH-CHILD(2) {
	margin-left: -25px; 
	font-size: 20px; 
	color: #c5c5c5;
}
#profile-div div:NTH-CHILD(4) img{
	width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 2px;
    margin-left: -32px;
}
#profile-div div:NTH-CHILD(5) {
	background-color: #E0F59E;
	width: 70px;
	text-align: center;
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
}
#profile-div div:NTH-CHILD(6) {
	width: 110px;
}

.column1 { width: 100px; }
.column2 { width: 252px; }
.column3 { width: 500px; }
.column4 { width: 465px; }

#contents-area input {
	padding-left: 2px;
	padding-right: 2px;
	border: none;
}
#contents-area button { height: 24px; }
#contents-area button:NTH-CHILD(1) { margin-left: 520px; }

#division { width: 690px;}

thead th {
	border: 1px solid #999999;
	background-color: #E0F59E;
	height: 20px;
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
}

tbody td {
	border: 1px solid #999999;
	text-align: center;
}
.table-division { margin-top: 0px; }
table { margin-top: -4px; }

#hr-12 { width: 98px; }
#table-12 { width: 100px; }

#hr-1 { width: 438px; }
#table-1 { width: 440px; }
#table-1 tbody td:NTH-CHILD(1) { width: 100px; }
#table-1 tbody td:NTH-CHILD(3), #combo-box1 { width: 120px; height: 18px; }
#table-1 tbody td:NTH-CHILD(4), #inp-2 { width: 90px; }


#hr-2 { width: 268px; }
#table-2 { width: 270px; }
#table-2 tbody td:NTH-CHILD(1), #inp-3 { width: 80px; }
#table-2 tbody td:NTH-CHILD(2), #inp-4 { width: 80px; }

#hr-3 { width: 498px; }
#table-3 { width: 500px; }
#table-3 tbody td:NTH-CHILD(1) { width: 100px; }
#table-3 tbody td:NTH-CHILD(3), #combo-box2 { width: 100px; height: 18px; }
#table-3 tbody td:NTH-CHILD(4), #combo-box3 { width: 130px; height: 18px; }

#hr-4, #hr-5, #hr-6 { width: 163px; }
#table-4, #table-5, #table-6 { width: 165px; }
#table-4 tbody td, #table-5 tbody td, #table-6 tbody td { height: 40px; } 
#inp-5 { 
	width: 155px; 
	height: 40px;
	text-align: center; 
}

#hr-7, #hr-8 { width: 383px }
#table-7, #table-8, #table-9 { width: 385px; }
#inp-6, #inp-7, #inp-8 { width: 110px; height: 40px; }
#table-8 tbody td:NTH-CHILD(1), #combo-box4 { width: 260px; height: 18px; }
#table-8 tbody td:NTH-CHILD(2), #combo-box5 { width: 110px; height: 18px; }

#table-9 { margin-top: 5px; }
#inp-9, #inp-10, #inp-11 {width: 110px; height: 18px; }

#btn-2 { margin-top: 10px; }

#hr-10 { width: 733px; }	
#table-10  { width: 735px; }
#table-10 tbody tr { height: 20px; }
#table-10 tbody td:NTH-CHILD(1) { width: 105px; }
#table-10 tbody td:NTH-CHILD(2), #table-10 tbody td:NTH-CHILD(3), #table-10 tbody td:NTH-CHILD(4) { background-color: #EBEBE4; }
#table-10 tbody td:NTH-CHILD(4) { width: 110px; }
#table-10 tbody td:NTH-CHILD(5) { 
	width: 120px;
	padding: 0px; 
}

#combo-box12a, #combo-box12b, #combo-box12c, #combo-box12d, #combo-box12e {
	height: 18px;
	width: 100px;
} 

#inp-12a, #inp-12b, #inp-12c, #inp-12d, #inp-12e {
	border-radius: 0px;
	padding-left: 2px;
	padding-right: 2px;
	width: 120px;
}

#hr-11 { width: 718px; }

textarea {
 	margin-top: -4px;
	width: 700px;
	height: 60px;
	text-align: justify;
}

#arrow-img {
	position: absolute;
	margin-left: 165px;
	margin-top: 5px;
	height: 180px;
}

.title-label {
	margin-top: 5px;
}

.ui-igcombo {
	border: none;
}

.ui-igcombo-button {
	background-color: white;
	border: none;
}
.ui-igcombo-button .ui-state-default {
	border: none;
}

.ui-igcombo-buttonicon {
	position: relative;
	top: 25%;
}

.ui-igcombo-fieldholder {
	background-color: white;
}

.ui-igcombo-field {
	text-align: center;
	background-color: white;
}

.ui-state-active {
	background: #f6f6f6;
	text-align: center;
}

.ui-state-default {
	text-align: center;
}

.const {
	background-color: #EBEBE4;
}

