#functions-area {

}

#functions-area .ntsControl {
    margin-left: 870px;
}

#content-qmm {
    width: 1170px;
    margin-left: 75px;
}

#A2_1 .cell {
    padding-right: 10px;
}

#A2_8 {
    margin-top: 5px;
    margin-bottom: 10px;
}

#grid .delete {
    background-color: #ff0000;
}

.nts-grid-sheet-buttons {
    display: none;
}