#functions-area {

}

#functions-area .ntsControl {
    margin-left: 870px;
}

#content-qmm {
    margin-left: 70px;
}

#A2_1 .cell {
    padding-right: 10px;
}

#A2_8{
    margin-top: 5px;
    margin-bottom: 10px;
}