@CHARSET "UTF-8";

#contents-area {
	width: 1101px;
}
#functions-area {
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 20px;
}

#left-content {
	margin-left: 30px;
	padding: 20px 10px 20px 20px;
	float: left;
	min-height: 400px;
	width: 310px;
}

#right-content {
	margin-left: 40px;
	float: left;
	min-height: 600px;
}

#inpCode {
	width: 40px !important;
}

#inpName {
	width: 250px !important;
}

#inpStartMonth {
	width: 80px !important;
}

#inpBudget {
	width: 120px !important;
}
.symbol-right {
	width: 120px !important;
}

.nts-switch-button {
	min-width: 80px;
	font-size: 13px !important;
	height: 30px !important;
	padding: 3px 7px !important;
	margin-bottom: 3px !important;
}

#sch_001 input{
	width: 160px;
}
#btn_005 {
	margin-right: 20px;
}
.btn-default {
	margin-left: 10px;
	min-width: 80px;
}
textarea {
	height: 120px;
}