div.form-label {
    display: inline-block;
    box-sizing: border-box;
    height: 37px;
    border-style: solid;
    border-color: #97D155;
    border-width: 0 0 0 5px;
    padding: 0 10px 0 8px;
    margin:10px 5px 20px 0px;
}


div.label {
    width: 100%;
}

.label {
    display: inline-block;
    box-sizing: border-box;
}

.form-label lable {
	text-align: justify;
}

#table_content {
	margin-left: 10px;
}

.title_content{
	margin:10px;
	 font-size: 1.5rem; 
}

td{
	margin:0px 5px 10px 10px;
	width: 100px;
	height: 50px;
}
tr{
	margin-bottom: 10px;
}

button.x-large {
    font-size: 22px;
    padding: 6px 35px;
    background-color: #A4EEB0;
    margin-bottom: 5px;
    height: 45px;
    box-shadow: 0 5px #999;
}

button.large {
    font-size: 15px;
    padding: 4px 10px;
    margin-bottom: 4px;
    height: 34px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.4);
}
