.nts-searchbbox-wrapper button.search-btn, .nts-searchbbox-wrapper button.clear-btn {
	margin-top: 3px;
}
#functions-area {
	padding-bottom: 10px;
}

#tableGrid{
	margin-left: 30px;
	width:812px;
	clear:both;
	}

.col-align-right {
	text-align: right;
}
input.ntsSearchBox {
	width: 285px !important;
}