div.form-label {
    display: inline-block;
    box-sizing: border-box;
    height: 37px;
    border-style: solid;
    border-color: #97D155;
    border-width: 0 0 0 5px;
    padding: 0 10px 0 8px;

}


div.label {
    width: 100%;
}

.label {
    display: inline-block;
    box-sizing: border-box;
}

.form-label lable {
	text-align: justify;
}

#table_content {
	margin-left: 20px;
}

.title_content{
	margin:20px;
	font-size: 1.5em;
}

td{
	width: 100px;
	height: 40px;
}


.col_left {
	width: 120px;
}

.col_center {
	width: 50px;
}

input {
	height: 20px;
}

button.x-large {
    font-size: 22px;
    padding: 6px 35px;
    background-color: #A4EEB0;
    margin-bottom: 5px;
    height: 45px;
    box-shadow: 0 5px #999;
}

button.large {
    font-size: 15px;
    padding: 4px 10px;
    margin-bottom: 4px;
    height: 34px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.4);
}

#tbl_devision {
	margin-top: 20px;
	margin-left: 20px;
}

.col_center_dv {
	width: 100px;
}

.col_right_dv {
	width: 40px;
}