#screen-c .title-content {
	margin-top: 30px;
	margin-left: 100px;
}

#screen-c .label-switch {
	display: inline-block;
}

#screen-c .switch-line {
	margin-left: 160px;
	margin-top: 30px;
}

#screen-c .checkBox-atr {
	margin-left: 160px;
	margin-top: 30px;
}

#screen-c .switchAtr {
	margin-left: 100px;
}

#screen-c .switchAtr > button.nts-switch-button {
	width: 80px;
}