#ksm015c{
    width: 900px;
} 
#tree-grid {
    margin: 17px 30px 0px 20px;
    width: 443px;
    float: left;
}
#register-form {
    padding-top: 30px;     
    width: 200px;
    float: left;
}
#form-title {
    border-bottom: 1px solid black;
    padding: 0px 0px 10px 0px;
    margin: -14px 0px 14px 0px;
}

.form-label{
	width: 33px !important;;
}

.row-search{
	margin-top: -17px !important;
}
.contents-area{
	    overflow-x: hidden!important;
}

#nts-component-tree{
	padding-left: 16px !important;
}
.ksm015-label {
  width: 120px !important;;
}