.container.cf{margin: 0 auto;}
.rightTable tr td{width: 160px; height: 36px;}
.contentTable{display: flex; margin-top: 20px;}
.rightTable tr td span{float: left; margin: 4px;}
.rightTable tr td .small{float: right; margin-right: 5px;}
.careerClassRole textarea{height: 130px; margin: 3px 0 0 7px; width: 218px;}
#fixed-table2 .careerClassRole td{height: 269px;}
.radioReqType .ntsRadioBox{display: flex; margin-bottom: 20px;}
.radioReqType{position: relative; top: 24px; left: 20px;}
.comboYearType{position: relative; top: -55px; left: 44px;}
.comboMasterType{position: relative; top: -5px; left: -75px;}

.inputTextYearType{position: relative; top: 5px; left: 4px;}
.buttonMasterType{position: relative; top: 25px; left: 7px;}
.buttonMasterType .limited-label{width:199px; vertical-align: middle;}
#fixed-table2 .careerClassRole .inputTextarea{position: relative; top: 40px; height: 100px;}
.scroll-header{display: none !important;}
.nts-fixed-table table.fixed-table > tbody > tr:hover > td, .nts-fixed-table table.fixed-table > tbody > tr:hover > th {background-color: #FFF;}
.textOrder{position: relative; display: flex; left: 20px; top: 10px;}
