table {
	padding-top :10px;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

.columnLeft {
	background-color: #CCFF99;
	width: 130px;
}

.columnRight {
	width: 300px;
}

.labeLeft {
	margin-left: 10px;
}

.labeRight {
	margin-left: 10px;
}
.textMargin {
	margin-left: 0px;
}
#contentD {
	overflow-y: hidden;
}
#titleScreen {
	margin-top: 20px;
	margin-left: 50px;
}


#bodyScreen {
	margin-top: 5px;
	margin-left: 50px;
	margin-bottom: 50px;
}

#D3_1 {
	margin-top: 20px;
}

#D3_2 {
	margin-top: 20px;
}