table, td, th {
	border: 1px solid black;
}

#lable_yearmonth {
	display: inline-block;
	width: calc(25%);
	border: 1px solid #bbb;
	border-radius: 5px;
	overflow: hidden;
	box-sizing: border-box;
	transition: box-shadow 0.2s;
	padding: 5px;
}

#label_notification {
	margin-top: 10px;
}

.comment-data {
	width: 98%;
	height: 30px;
}

#comment_notification {
	margin-top: 10px;
}

#comment_person {
	margin-top: 10px;
}