#content-header {
	position: relative;
	padding: 10px;
	border-bottom: solid 1px #B1B1B1;
}
#E_LBL_001 {
	margin-top: 10px;
}
#contents-area {

}
.E_LST_001 {
	padding: 10px 25px;
}

.floatLeft {
	float: left;
}
.fullHeight {
	height: 100%;
}

.fullWidth {
	width: 100%;
}
#E_SEL_001 {
	margin: 10px 0px 0px 12px;
	display: inline-block;
}

#E_SEL_001 button {
	height: 30px !important;
}

#E_BTN_001 {
	height: 55px;
	width: 140px;
	margin-left: 25px;
}
#E_BTN_002{
	height: 35px;
	width: 100px;
	margin-left: 10px;
}