#lstData {
	margin-left: 30px;
}

.btnMenu {
	width: 70px;
}

#btnSelectedClear {
	margin-bottom: 15px;
	margin-top: 5px;
}

#process {
	text-align: center;
	vertical-align: middle;
}

#label {
	line-height: 40px;
	text-align: left;
	margin-left: 10px;
}

hr {
	margin-top: 15px;
	width: 490px;
}

#inpSearch {
	width: 440px;
	margin-bottom: 15px;
}