.control-group.valign-center > * { vertical-align: middle; }
.control-group.valign-top > * { vertical-align: top; }
.control-group.valign-bottom > * { vertical-align: bottom; }

.tab-content-1, .tab-content-2 {
	width: 1160px;
}
.ui-tabs-tab {
	text-align: center;
    width: 130px;
}
table, tr, th, td {
	border: 1px solid #999999;
}
.switch-1 {
	width: 215px;
}
.switch-1  > button:NTH-CHILD(1) {
	width: 100px;
}
.switch-1  > button:NTH-CHILD(2) {
	width: 115px;
}
.switch-2 {
	width: 415px;
}
.switch-2 > button:NTH-CHILD(1) {
	width: 100px;
}
.switch-2 > button:NTH-CHILD(2) {
	width: 115px;
}
.switch-2 > button:NTH-CHILD(3) {
	width: 200px;
}
.switch-3 {
	width: 415px;
}
.switch-3 > button:NTH-CHILD(1) {
	width: 100px;
}
.switch-3 > button:NTH-CHILD(2) {
	width: 115px;
}
.switch-3 > button:NTH-CHILD(3) {
	width: 200px;
}
.textBody {
	margin-left: 15px;
}
#table-panel-1 > thead > tr > th:NTH-CHILD(1) {
	width: 87px;
}
#table-panel-1 > thead > tr > th:NTH-CHILD(2) {
	width: 216px;
}
#table-panel-1 > thead > tr > th:NTH-CHILD(3) {
	width: 416px;
}
#table-panel-1 > thead > tr > th:NTH-CHILD(4) {
	width: 416px;
}
#table-panel-1 > thead > tr:NTH-CHILD(1) > th {
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	background-color: #C7F391;
}
#table-panel-1 > thead > tr:NTH-CHILD(2) > th {
	vertical-align: top;
	padding: 2px;
	background: #F8ECD1;
}
#table-panel-1 > tbody > tr > td:NTH-CHILD(1) {
	width: 100px;
	padding: 3px;
	background-color: #EDFAC2;
}
#table-panel-1 > thead > tr:NTH-CHILD(2) > th:NTH-CHILD(1) {
	background: white;
}
#table-panel-1 > tbody > tr > td:NTH-CHILD(2) {
	padding: 3px;
}
#table-panel-1 > tbody > tr > td:NTH-CHILD(3) {
	padding: 3px;
}
#table-panel-1 > tbody > tr > td:NTH-CHILD(4) {
	padding: 3px;
}
#table-panel-2 > thead > tr > th:NTH-CHILD(1) {
	width: 87px;
}
#table-panel-2 > thead > tr > th:NTH-CHILD(2) {
	width: 216px;
}
#table-panel-2 > thead > tr > th:NTH-CHILD(3) {
	width: 416px;
}
#table-panel-2 > thead > tr > th:NTH-CHILD(4) {
	width: 416px;
}
#table-panel-2 > thead > tr:NTH-CHILD(1) > th {
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	background-color: #C7F391;
}
#table-panel-2 > thead > tr:NTH-CHILD(2) > th {
	vertical-align: top;
	padding: 2px;
	background: #F8ECD1;
}
#table-panel-2 > thead > tr:NTH-CHILD(2) > th:NTH-CHILD(1) {
	background: white;
}
#table-panel-2 > tbody > tr > td:NTH-CHILD(1) {
	width: 100px;
	padding: 3px;
	background-color: #EDFAC2;
}
#table-panel-2 > tbody > tr > td:NTH-CHILD(2) {
	padding: 3px;
}
#table-panel-2 > tbody > tr > td:NTH-CHILD(3) {
	padding: 3px;
}
#table-panel-2 > tbody > tr > td:NTH-CHILD(4) {
	padding: 3px;
}
#table-panel-2 > tbody > tr > td:NTH-CHILD(5) {
	padding: 3px;
}
#functions-area-bottom > button {
	margin-right: 10px;
}

