@CHARSET "UTF-8";
#left-content {
	margin-left: 30px;
	margin-top: 20px;
	padding: 25px;
	float: left;
	max-height: 600px;
}

#right-content {
	margin-left: 40px;
	float: left;
	margin-top: 20px;
}

.row {
	height: 50px;
}

#single-list-dataSource tr td {
	white-space: nowrap;
}
#content-area{
	width: 1260px;
