#kaf000-b-component1 {
	background-color: #f8efd4;
	width: 800px;
	margin-top: 5px;
	margin-bottom: 5px;	
}

#kaf000-b-component1 .message-td-1 {
	padding-left: 12px;
	width: 95px;
}

#kaf000-b-component1 .message-td {
	padding-top: 5px;
	padding-bottom: 5px;
	word-break: break-all;
}

