.div-line {
  margin-left: 20px;
  margin-bottom: 10px;
  display: flex;
}
.column-label {
  width: 150px;
}
.radio-button {
  margin-left: 30px;
}
.choose-button {
  margin-left: 55px;
  width: 130px;
}
.size-zone {
  margin-left: 75px;
  margin-right: 50px;
}
.pic-preview, .pic-choose {
  width: 60px;
  height: 60px;
  border: 1px solid black;
}
.pic-preview {
  margin-left: 100px;
}
.preview-line {
  min-height: 70px;
  margin-bottom: 0px !important;
}
#I2_2_1 .nts-input {
  display: none;
}
#I2_2_3 {
  margin-left: 115px;
}
.radio-wrapper .ntsRadioBox {
  margin: 3px 0px;
}
.div-line:last-child {
  margin-bottom: 0px !important;
}