#tab-panel {
	margin: 10px 0px 0px 45px;
	display: inline-block;
}

#A_SEL_002 {
	vertical-align: middle;
	width: 70px !important;
}

#label2 {
	margin-top: 5px;
}

#currentName {
	margin-left: 5px;
}

#label2, #label3, #label4, #label5, #checkbox1 {
	margin-left: 55px;
}

#single-list_container {
	float: left;
	display: inline-block;
}

#contents-area {
	padding-left: 20px;
	height: calc(100vh - 170px) !important;
}

/* #functions-area {
	padding-top: 20px;
	padding-bottom: 13px;
} */

/* #button3 {
	margin-left: 256px;
}

#button2 {
	margin-left: 20px;
}

#button1 {
	margin-left: 37px;
}
 */
#messageSwaplist {
	margin-left: 412px;
	width: 48%;
	margin-bottom: -10px;
}

#swap-list2_container, #swap-list_container {
	display: inline-block;;
}

#swap-list2 .ui-icon-triangle-1-e {
	margin-top: 1px;
}

#swap-list .ui-icon-triangle-1-e {
	margin-top: 1px;
}

#swap-list3 .ui-icon-triangle-1-e {
	margin-top: 1px;
}

#swap-list2-grid1_horizontalScrollContainer, #swap-list-grid1_horizontalScrollContainer,
#swap-list3-grid2_horizontalScrollContainer, #swap-list3-grid1_horizontalScrollContainer {
	height: 0px !important;
	overflow: hidden !important;
}

#swap-list2-grid1_displayContainer, #swap-list2-grid2_displayContainer,
	#swap-list2-grid1_scrollContainer, #swap-list2-grid2_scrollContainer {
	height: 293px !important;
}

#swap-list-grid1_displayContainer, #swap-list-grid2_displayContainer,
	#swap-list-grid1_scrollContainer, #swap-list-grid2_scrollContainer {
	height: 293px !important;
}
html {
	overflow: hidden;
}
#swap-list3-search-area {
	margin-bottom: 0px;
}
#tab-3, #tab-2, #tab-1 {
	margin-bottom: 10px;
}
#swap-list2-search-area {
	margin-bottom: 0px;
}
.nts-searchbbox-wrapper {
	margin-bottom: 0px;
}

#swap-list2-gridArea1,
#swap-list2-gridArea2,
#swap-list-gridArea1,
#swap-list-gridArea2,
#swap-list3-gridArea1,
#swap-list3-gridArea2 {
	width: 318px !important;
}

.ntsSwapSearchLeft #swap-list2-search-area-input,
.ntsSwapSearchLeft #swap-list-search-area-input,
.ntsSwapSearchLeft #swap-list3-search-area-input {
	width: 171px !important;
}

.ntsSwapSearchRight #swap-list2-search-area-input,
.ntsSwapSearchRight #swap-list-search-area-input,
.ntsSwapSearchRight #swap-list3-search-area-input {
	width: 210px !important;
}

.ntsSwapSearchRight {
	right: -90px !important;
}

.ntsMoveDataArea  {
	padding: 0 10px; 
}