#tab-panel {
	margin: 20px 0px 0px 51px;
	display: inline-block;
}

#A_SEL_002 {
	vertical-align: middle;
	width: 70px !important;
}

#label2{
	margin-top: 5px;
}

#currentName{
	margin-left: 44px;
}

#label2, #label3, #label4, #label5, #checkbox1 {
	margin-left: 55px;
}

#single-list_container {
	float: left;
	display: inline-block;
}

#contents-area {
	padding-left: 20px;
}

/* #functions-area {
	padding-top: 20px;
	padding-bottom: 13px;
} */

/* #button3 {
	margin-left: 256px;
}

#button2 {
	margin-left: 20px;
}

#button1 {
	margin-left: 37px;
}
 */
#messageSwaplist{
	    margin-left: 47%;
	        width: 53%;
}

#swap-list2_container, #swap-list_container {
	display: inline-block;;
}

#swap-list2 col[data-role='rs'] {
	width: 35px !important;
}

#swap-list2 .ui-icon-triangle-1-e {
	margin-top: 1px;
}

#swap-list col[data-role='rs'] {
	width: 35px !important;
}

#swap-list .ui-icon-triangle-1-e {
	margin-top: 1px;
}
#swap-list3 col[data-role='rs'] {
	width: 38px !important;
}

#swap-list3 .ui-icon-triangle-1-e {
	margin-top: 1px;
}