#ex_output_wizard .btn_select_mode {
	width: 300px;
	text-align: left;
	margin-bottom: 15px;
}

#ex_output_wizard {
	width: 1200px;
}

#ex_output_wizard > .steps> ul > li:first-child {
	display: none;
}

#ex_output_wizard>.steps {
	width: 250px;
}

#ex_output_wizard > .content > .body {
	left: 0px !important;
}

#ex_output_wizard>.content {
	width: 850px;
	height: 100%;
	background: none;
	margin-left: 0;
}
div#ex_output_wizard-p-2{
	padding: 0;
}
div#nts-component-list{
	margin-left: 60px;
}
.content clearfix{
	height: 100%;
}

#contents-area {
	height: 480px !important;
}
#Q6{
	margin-left: 10px;
}
