#contents-area {padding: 10px 20px; overflow: hidden;}

table.info-table {border-collapse: collapse; min-width:550px;}
table.info-table td {border: 1px solid #CCC; padding:2px 7px;}
table.info-table td.fix-width {width: 150px; background:#CFF1A5; padding:2px;}

.process-name {display:inline-block; width: 150px;}
.process-count {display:inline-block; width: 75px;}
.process-status {display:inline-block; width: 70px;}
.process-error {display:inline-block; width: 60px;}

.setting-info {display:inline-block; margin-bottom: 3px;}

.log-selection {min-height: 35px;}

.place-holder {width: 92% !important; height: 255px; background-color: #F3F3F3;}
