.ntsControl.radio-wrapper.reset-element {
	padding-top: 20px !important;
}

#listTitle {
	background-color: #E0F59E;
	height: 350px;
	width: 365px;
	padding-left: 20px;
	padding-bottom: 15px;
}

.ui-igcombo-wrapper {
	vertical-align: middle;
}

.ntsControl.radio-wrapper.reset-element {
	padding-top: 20px;
}

.ntsRadioBox {;
	margin-bottom: 10px;
	display: block;
}

table.control {
	margin-left: 5px;
}

.sp-preview {
	width: 20px;
}

#contents-area {
	margin-left: 10px;
}

img {
	width: 270px;
	height: 150px;
}

#imageName {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

table tr td {
	padding: 5px;
}

#description {
	height: 20px;
}

#titleMenu {
	margin: 5px 0px 5px 0px;
}

.col2{
	width: 180px;
}
#delBtn{
	position: relative;
    width: 80px;
}

.pull-right {text-align: right;}