.float_left {
	float: left !important;
}

.float_right {
	float: right !important;
}

.display_block {
	display: block;
}

#content-left {
	float: left;
	padding: 5px;
}

.div_line {
	margin-top: 10px;
	float: left;
	clear: both;
	width: 100%;
}


#titleModule {
    margin-top: 8px;
    margin-right: 20px;
}