#sidebar-area ~ div {
	float: left;
	width: calc(100vw - 140px);
}

.sidebar-content-header ~ div {
	padding: 20px;
}

.view-kmp .nts-searchbbox-wrapper .form-label {
	border: 0 !important;
}

.view-kmp .float-left {
	float: left;
}

.view-kmp .viewa {
	margin-left: 70px;
}

.view-kmp {
	float: left;
	margin-left: 25px;
	margin-top: 25px;
}

.view-kmp .model-component {
	margin-left: 50px;
}

.ntsSearchBox_Component {
	margin-top: 4px;
}

.view-kmp .model-component table.layout-grid td div {
	padding-bottom: 15px;
	float: left;
}

.view-kmp .model-component table td.label-column {
	width: 100px;
}

.view-kmp .model-component table td.label-column-a-left {
	width: 120px;
}

.view-kmp .model-component table td.label-column-a-right {
	width: 300px;
	float: left;
}

#right_name {
	margin-left: 15px;
}

.view-kmp .model-component table td.label-column-left {
	width: 180px;
}

#func-notifier-errors {
	top: 143px;
	left: 120px;
	position: fixed;
	width: 120px;
	height: 24px;
	z-index: 999999;
}

.view-kmp .model-component table td.label-column-left ~ div {
	font-size: 16px;
}

#info-employee {
	border: 2px #F2F2F2 solid;
	padding: 10px;
	padding-bottom: 60px;
	width: 430px
}

.view-kmp .model-component table td.label-column button {
	font-size: 18px;
}

.view-kmp .model-component .table_content {
	margin-top: 37px;
}

.view-kmp .model-component table td.data div {
	font-size: 16px;
	float: left;
}

.view-kmp .layout-date {
	margin-bottom: 10px;
}

#td-bottom {
	margin-bottom: 15px;
}

#ip-stamp-card {
	width: 200px !important;
}

#top_bottom {
	margin-left: 5px;
}

.search_label .sub_title {
	margin-right: 10px;
}

.list-card {
	margin-top: 50px;
}

#stampcard-list_container {
	margin-top: 15px;
	margin-left: 45px;
}

#stampcard-list_container .ui-icon.ui-icon-triangle-1-e {
	display: none;
}

#stampcard-list_container .ui-iggrid-rowselector-class,
	#stampcard-list_container .ui-iggrid-rowselector-header.ui-iggrid-header.ui-widget-header
	{
	text-align: center;
}

#stampcard-list_container .ui-iggrid-rowselector-class .ui-igcheckbox-normal,
	#stampcard-list_container .ui-iggrid-rowselector-header .ui-igcheckbox-normal
	{
	float: none !important;
}

#stampcard-list_container .ui-iggrid-rowselector-class .ui-igcheckbox-normal>.ui-igcheckbox-normal-on
	{
	left: 0;
	float: none !important;
}

.ui-iggrid-header ui-widget-header {
	background-color: orange;
}

.view-kmp .list-panel {
	float: left;
	margin-top: 15px;
}

.view-kmp .list-panel .supper {
	margin-right: 15px;
	margin-top: 15px;
	padding: 7px;
	width: 350px;
	height: 160px;
}

.view-kmp .list-panel .supper .panel-gray-bg .title {
	font-size: 25px;
	color: white;
}

.view-kmp .list-panel .supper .content {
	margin-top: 10px;
	height: 50px;
}

.view-kmp .list-panel .supper .button-select {
	text-align: right;
}

.view-kmp .view-e {
	min-width: 1244px;
}

.view-kmp .view-e .view-e-content {
	width: 682px;
	margin-top: 10px;
}

.view-kmp .view-e .view-e-content .ntsRadioBox {
	margin-top: 25px;
	margin-bottom: 10px;
}

.view-kmp .view-e .view-e-content .view-e-bg-button {
	width: 682px;
	text-align: right;
    margin-top: 25px;
}

.view-kmp .view-e .view-e-content .view-e-bg-button .view-e-button {
	text-align: center;
	width: 100px;
}

.view-kmp .view-h-title {
	width: 728px;
}

.panel.panel-gray-bg {
	background-color: #A5A5A5;
}

.view-kmp .search_label {
	padding-bottom: 0px;
	margin-bottom: 6px;
}

.caret-inline:after {
	margin-left: -2px;
}
.ui-iggrid table tr td, .ui-iggrid table tr td.ui-iggrid-header, .ui-iggrid table tr td.ui-state-hover, .ui-iggrid table tr td.ui-state-active, .ui-iggrid table tr td.ui-state-focus, .ui-iggrid table tr td.ui-state-active.ui-state-focus, .ui-iggrid table tr th, .ui-iggrid table tr th.ui-iggrid-header, .ui-iggrid table tr th.ui-state-hover, .ui-iggrid table tr th.ui-state-active, .ui-iggrid table tr th.ui-state-focus, .ui-iggrid table tr th.ui-state-active.ui-state-focus {
	white-space: pre;
}